app/dist/views/activate-user.html

<div class="container">
  <div class="block" ng-init="activateAccount()">
    <h1>{{:: "ACCOUNT_ACTIVATED" | translate}}</h1>
    <p ng-show="!error">{{:: "TEXT_MESSAGE_YOU_RE_LOGGED_IN" | translate}}</p>
    <p>{{:: "WE_GIVE_YOU_RETAILER_RIGHTS_AND_CONTACT_YOU_WITHIN_3_HOURS" | translate}}</p><br/><a class="btn btn-yellow btn-lg" ui-sref="layout.home">{{:: "BACK_TO_HOME" | translate}}</a>
  </div>
</div>

app/src/views/activate-user.pug
.container
    .block(ng-init="activateAccount()")
        h1 {{:: "ACCOUNT_ACTIVATED" | translate}}
        p(ng-show="!error") {{:: "TEXT_MESSAGE_YOU_RE_LOGGED_IN" | translate}}
        p {{:: "WE_GIVE_YOU_RETAILER_RIGHTS_AND_CONTACT_YOU_WITHIN_3_HOURS" | translate}}
        br
        a.btn.btn-yellow.btn-lg(ui-sref="layout.home") {{:: "BACK_TO_HOME" | translate}}
