app/src/views/algemene-voorwaarden.pug
.container
	.block
		h1 Recensieregels PrismaNote
		.block-small
			h5 Regels bij het plaatsen van een recensie
			p Je bent vrij om in een recensie je mening over of je ervaringen met een bedrijf te delen. Dit kan een hele positieve ervaring zijn, maar mag natuurlijk ook een negatieve ervaring zijn. Wel vinden we het belangrijk dat recensies correct zijn en dat bij het plaatsen van recensies de normale regels van fatsoen in acht worden genomen.
			p Je dient daarom bij het plaatsen van een recensie de volgende regels in acht te nemen:
				ul
					li Recensies dienen onderbouwd te zijn en een getrouw beeld te geven van de waarheid.
					li Recensies mogen geen smaad en/of laster bevatten.
					li Recensies mogen geen persoonsgegevens (zoals namen en e-mailadressen) of andere privacygevoelige gegevens van derden bevatten, zoals bijvoorbeeld van medewerkers van het bedrijf waar de recensie betrekking op heeft.
					li Recensies dienen fatsoenlijk taalgebruik te bevatten, er mag dus geen gebruik worden gemaakt van scheldwoorden of shockerende teksten.
					li Recensies mogen geen beledigende, discriminerende, haatzaaiende, bedreigende of aanstootgevende inhoud hebben.
					li Recensies mogen geen inbreuk maken op de (intellectuele of privacy) rechten van anderen.
					li Recensies mogen niet gebruikt worden om reclame te maken voor een ander bedrijf of website dan het bedrijf waar je de recensie over schrijft.
					li Recensies dienen niet gebruikt te worden om geschillen die je met een bedrijf hebt op te lossen. Neem daarvoor eerst contact op met het bedrijf zelf en geef het bedrijf de kans om voor een nette oplossing te zorgen.
					li Indien je recensie niet voldoet aan onze huisregels, dan hebben we te allen tijde het recht om de recensie te verwijderen of ontoegankelijk te maken. Als we een klacht krijgen over een recensie, dan zullen we als dat nodig lijkt voor verwijdering eerst contact met je opnemen, zodat je jouw zienswijze over de klacht kunt geven.
			p Wanneer evident is dat de recensie in strijd met de regels en wij en/of anderen daardoor schade leiden kunnen wij echter besluiten de recensie direct te verwijderen of ontoegankelijk te maken. Ook kunnen wij in uitzonderlijke omstandigheden juridisch gedwongen zijn je IP-adres en/of e-mailadres of andere persoonlijke informatie te verstrekken aan Justitie of aan een klager. In deze situatie zullen wij - tenzij dat niet haalbaar is - je daarover vooraf informeren.
		.block-small
			h5 Klachten over recensies
			p Eenieder kan een klacht indienen over een recensie op de website die niet voldoet aan de recensieregels of die om een andere reden onrechtmatig of in strijd met de wet is. Dit kan door ons een e-mail te sturen op het e-mailadres klachten@juweliergids.nl. Indien wij van oordeel zijn dat de klacht gerechtvaardigd is, dan zullen we de recensie verwijderen.
			p Wij willen graag tot een goed en eerlijk oordeel komen over klachten. Daarom vragen wij bij klachten altijd eerst de zienswijze van degene die de recensie op de website geplaatst heeft, voor wij overgaan tot verwijdering. Alleen in uitzonderingsgevallen zullen wij recensies direct verwijderen.
			p Om ervoor te zorgen dat wij klachten snel en goed in behandeling kunnen nemen, stellen wij een aantal eisen aan klachten die worden ingediend.
			p Wij verzoeken je vriendelijke de volgende eisen in acht te nemen:
				ul
					li Gebruik als onderwerp van de e-mail: 'Verzoek verwijderen recensie'
					li Stuur de link (URL) mee van de pagina waar de recensie staat.
					li Vermeld om welke recensie het gaat. Noem daarbij in ieder geval de datum van de recensie en de naam van de schrijver van de recensie.
					li Motiveer waarom de recensie volgens jou niet voldoet aan de huisregels en verwijderd dient te worden. Wij nemen deze motivering mee bij ons besluit om een recensie wel of niet te verwijderen, het is dus belangrijk dat je duidelijk beschrijft waarom de recensie volgens jou in strijd met onze huisregels is.
					li Vermeld in de e-mail je naam, eventuele bedrijfsgegevens en telefoonnummer, zodat wij contact met je op kunnen nemen indien wij nog vragen hebben over je klacht.
			p Indien voor ons niet duidelijk is op welke recensie de klacht betrekking heeft, de klacht niet gemotiveerd is of voor ons niet duidelijk is wie de afzender van de klacht is, dan is het voor ons niet mogelijk om de klacht in behandeling te nemen.
			p Je krijgt uiterlijk binnen 5 werkdagen nadat wij de klacht ontvangen hebben per e-mail een reactie van ons.
		.block-small
			h5 Disclaimer
			p Deze website is onderdeel van Juweliergids. Beweringen en meningen, geuit in de recensies op de webpagina's welke onderdeel zijn van Juweliergids, zijn van de personen welke deze recensies geschreven hebben en niet die van Juweliergids. Juweliergids aanvaardt dan ook geen enkele aansprakelijkheid voor beweringen en/of meningen welke door personen zijn geplaatst op haar webpagina's. Gebruikers van onze webpagina's worden met nadruk aangeraden informatie niet geïsoleerd te gebruiken maar de te gebruiken informatie te controleren.

app/dist/views/algemene-voorwaarden.html

<div class="container">
  <div class="block">
    <h1>Recensieregels PrismaNote</h1>
    <div class="block-small">
      <h5>Regels bij het plaatsen van een recensie</h5>
      <p>Je bent vrij om in een recensie je mening over of je ervaringen met een bedrijf te delen. Dit kan een hele positieve ervaring zijn, maar mag natuurlijk ook een negatieve ervaring zijn. Wel vinden we het belangrijk dat recensies correct zijn en dat bij het plaatsen van recensies de normale regels van fatsoen in acht worden genomen.</p>
      <p>Je dient daarom bij het plaatsen van een recensie de volgende regels in acht te nemen:
        <ul>
          <li>Recensies dienen onderbouwd te zijn en een getrouw beeld te geven van de waarheid.</li>
          <li>Recensies mogen geen smaad en/of laster bevatten.</li>
          <li>Recensies mogen geen persoonsgegevens (zoals namen en e-mailadressen) of andere privacygevoelige gegevens van derden bevatten, zoals bijvoorbeeld van medewerkers van het bedrijf waar de recensie betrekking op heeft.</li>
          <li>Recensies dienen fatsoenlijk taalgebruik te bevatten, er mag dus geen gebruik worden gemaakt van scheldwoorden of shockerende teksten.</li>
          <li>Recensies mogen geen beledigende, discriminerende, haatzaaiende, bedreigende of aanstootgevende inhoud hebben.</li>
          <li>Recensies mogen geen inbreuk maken op de (intellectuele of privacy) rechten van anderen.</li>
          <li>Recensies mogen niet gebruikt worden om reclame te maken voor een ander bedrijf of website dan het bedrijf waar je de recensie over schrijft.</li>
          <li>Recensies dienen niet gebruikt te worden om geschillen die je met een bedrijf hebt op te lossen. Neem daarvoor eerst contact op met het bedrijf zelf en geef het bedrijf de kans om voor een nette oplossing te zorgen.</li>
          <li>Indien je recensie niet voldoet aan onze huisregels, dan hebben we te allen tijde het recht om de recensie te verwijderen of ontoegankelijk te maken. Als we een klacht krijgen over een recensie, dan zullen we als dat nodig lijkt voor verwijdering eerst contact met je opnemen, zodat je jouw zienswijze over de klacht kunt geven.</li>
        </ul>
      </p>
      <p>Wanneer evident is dat de recensie in strijd met de regels en wij en/of anderen daardoor schade leiden kunnen wij echter besluiten de recensie direct te verwijderen of ontoegankelijk te maken. Ook kunnen wij in uitzonderlijke omstandigheden juridisch gedwongen zijn je IP-adres en/of e-mailadres of andere persoonlijke informatie te verstrekken aan Justitie of aan een klager. In deze situatie zullen wij - tenzij dat niet haalbaar is - je daarover vooraf informeren.</p>
    </div>
    <div class="block-small">
      <h5>Klachten over recensies</h5>
      <p>Eenieder kan een klacht indienen over een recensie op de website die niet voldoet aan de recensieregels of die om een andere reden onrechtmatig of in strijd met de wet is. Dit kan door ons een e-mail te sturen op het e-mailadres klachten@juweliergids.nl. Indien wij van oordeel zijn dat de klacht gerechtvaardigd is, dan zullen we de recensie verwijderen.</p>
      <p>Wij willen graag tot een goed en eerlijk oordeel komen over klachten. Daarom vragen wij bij klachten altijd eerst de zienswijze van degene die de recensie op de website geplaatst heeft, voor wij overgaan tot verwijdering. Alleen in uitzonderingsgevallen zullen wij recensies direct verwijderen.</p>
      <p>Om ervoor te zorgen dat wij klachten snel en goed in behandeling kunnen nemen, stellen wij een aantal eisen aan klachten die worden ingediend.</p>
      <p>Wij verzoeken je vriendelijke de volgende eisen in acht te nemen:
        <ul>
          <li>Gebruik als onderwerp van de e-mail: 'Verzoek verwijderen recensie'</li>
          <li>Stuur de link (URL) mee van de pagina waar de recensie staat.</li>
          <li>Vermeld om welke recensie het gaat. Noem daarbij in ieder geval de datum van de recensie en de naam van de schrijver van de recensie.</li>
          <li>Motiveer waarom de recensie volgens jou niet voldoet aan de huisregels en verwijderd dient te worden. Wij nemen deze motivering mee bij ons besluit om een recensie wel of niet te verwijderen, het is dus belangrijk dat je duidelijk beschrijft waarom de recensie volgens jou in strijd met onze huisregels is.</li>
          <li>Vermeld in de e-mail je naam, eventuele bedrijfsgegevens en telefoonnummer, zodat wij contact met je op kunnen nemen indien wij nog vragen hebben over je klacht.</li>
        </ul>
      </p>
      <p>Indien voor ons niet duidelijk is op welke recensie de klacht betrekking heeft, de klacht niet gemotiveerd is of voor ons niet duidelijk is wie de afzender van de klacht is, dan is het voor ons niet mogelijk om de klacht in behandeling te nemen.</p>
      <p>Je krijgt uiterlijk binnen 5 werkdagen nadat wij de klacht ontvangen hebben per e-mail een reactie van ons.</p>
    </div>
    <div class="block-small">
      <h5>Disclaimer</h5>
      <p>Deze website is onderdeel van Juweliergids. Beweringen en meningen, geuit in de recensies op de webpagina's welke onderdeel zijn van Juweliergids, zijn van de personen welke deze recensies geschreven hebben en niet die van Juweliergids. Juweliergids aanvaardt dan ook geen enkele aansprakelijkheid voor beweringen en/of meningen welke door personen zijn geplaatst op haar webpagina's. Gebruikers van onze webpagina's worden met nadruk aangeraden informatie niet geïsoleerd te gebruiken maar de te gebruiken informatie te controleren.</p>
    </div>
  </div>
</div>
