app/dist/views/brand.html

<div class="container brand-page">
  <div class="block brand-overview">
    <div class="row">
      <div class="col-xs-12 hidden-md hidden-lg">
        <h3 ng-bind="brand.name"></h3>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="uib-carousel hidden-xs hidden-sm" uib-carousel="uib-carousel" active="activeSlide" interval="7000">
          <div uib-slide="uib-slide" ng-repeat="slide in brand.images" index="$index" style="height: 548px"><img ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}"/></div>
        </div>
        <div class="brand-image hidden-md hidden-lg"><img ng-src="{{awsUrl + brand.images[0].src}}" alt="brand.images[0].alt"/></div>
      </div>
      <div class="col-xs-12 col-md-3">
        <h3 class="hidden-xs hidden-sm" ng-bind="brand.name"></h3>
        <p class="brand-description block-small" ng-bind-html="brand.description"></p>
        <p ng-bind="brand.foundingYear ? 'Oprichting: ' + brand.foundingYear : ''"></p>
        <p>{{:: "CATEGORY" | translate}}:&nbsp;<span ng-repeat="category in brand.categories" ng-bind="category + ' '"></span></p>
        <p><a href="mailto:{{brand.email}}">{{brand.email}}</a></p>
        <p><a ng-href="{{brand.website}}" target="_blank">{{brand.website}}</a></p>
      </div>
    </div>
  </div>
</div>

app/src/views/brand.pug
.container.brand-page
	.block.brand-overview
		.row
			.col-xs-12.hidden-md.hidden-lg
				h3(ng-bind="brand.name")
			.col-xs-12.col-md-9
				.uib-carousel.hidden-xs.hidden-sm(uib-carousel active="activeSlide" interval="7000")
					div(uib-slide ng-repeat="slide in brand.images" index="$index" style="height: 548px")
						img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
				.brand-image.hidden-md.hidden-lg
					img(ng-src="{{awsUrl + brand.images[0].src}}" alt="brand.images[0].alt")
			.col-xs-12.col-md-3
				h3(ng-bind="brand.name").hidden-xs.hidden-sm
				p.brand-description(ng-bind-html="brand.description").block-small
				p(ng-bind="brand.foundingYear ? 'Oprichting: ' + brand.foundingYear : ''")
				p {{:: "CATEGORY" | translate}}:&nbsp;
					span(ng-repeat="category in brand.categories" ng-bind="category + ' '")
				p
					a(href="mailto:{{brand.email}}") {{brand.email}}
				p
					a(ng-href="{{brand.website}}" target="_blank") {{brand.website}}
	//- h3 {{:: "TEXT_PRODUCTS_OF_THIS_BRANDS" | translate}}
	//- .block.brand-products
	//- 	.row
	//- 		.col-xs-12.col-sm-6.col-md-3(ng-repeat="item in brandProducts")
	//- 			product-block
	//- <div class="load-more text-center"><a class="btn btn-dark" href="/products" ng-class="{'btn-md': mobile, 'btn-lg': !mobile}">{{:: "TEXT_ALLPRODUCTS_OF_THIS_BRAND" | translate}}</a></div>
	//- 	br
	//- h3 {{:: "TEXT_DEALERS_OF_THIS_BRAND" | translate}}
	//- .compare-shops.block-small
	//- 	.row
	//- 		.col-xs-12.col-sm-4(ng-repeat="item in shops")
	//- 			shop-block
	//- .product-map.block-small
	//- <div class="load-more text-center"><a class="btn btn-dark" href="/home" ng-class="{'btn-md': mobile, 'btn-lg': !mobile}">{{:: "TEXT_ALL_DEALERS_OF_THIS_BRAND" | translate}}</a></div>
	//- br
	
