app/src/views/campaigns.pug
.container.shop-campaigns
	.block
		.row
			br
			br
		.row
			.col-xs-12.col-sm-6.col-md-3(ng-repeat="item in campaigns | orderBy: '-date'")
				task-block(ng-if="!item.news")
				news-item-block-shop(ng-if="item.news")

app/dist/views/campaigns.html

<div class="container shop-campaigns">
  <div class="block">
    <div class="row"><br/><br/></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in campaigns | orderBy: '-date'">
        <task-block ng-if="!item.news"></task-block>
        <news-item-block-shop ng-if="item.news"></news-item-block-shop>
      </div>
    </div>
  </div>
</div>
