app/src/views/campaign.pug
.container
	.news-item-page.block
		.row
			.col-xs-12.col-md-12
				//- img(ng-src='{{campaign.images[0].src}}' alt="{{campaign.images[0].alt}}")
				.block-small
					h2(ng-bind="campaign.name")
					p.date
						i.fa.fa-calendar-o
						|&nbsp;{{formatDate(campaign.startDate)}} - {{formatDate(campaign.endDate)}}
					.news-item-page-content(ng-bind-html="campaign.description")
				.block-small(ng-repeat="image in campaign.images") 
					img(ng-src="{{awsUrl + image.src}}" alt="{{image.alt}}")

app/dist/views/campaign.html

<div class="container">
  <div class="news-item-page block">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="block-small">
          <h2 ng-bind="campaign.name"></h2>
          <p class="date"><i class="fa fa-calendar-o"></i>&nbsp;{{formatDate(campaign.startDate)}} - {{formatDate(campaign.endDate)}}</p>
          <div class="news-item-page-content" ng-bind-html="campaign.description"></div>
        </div>
        <div class="block-small" ng-repeat="image in campaign.images"> <img ng-src="{{awsUrl + image.src}}" alt="{{image.alt}}"/></div>
      </div>
    </div>
  </div>
</div>
