app/dist/views/checkout.html

<div class="container">
  <h3 class="text-center steps"><span class="step-cart">{{:: "TEXT_CART" | translate}}&nbsp;</span><i class="fa fa-angle-right"></i><span class="step-checkout active">&nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;</span><i class="fa fa-angle-right"></i><span class="step-order-complete">&nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}</span></h3>
  <div class="row block" ng-init="initShoppingCart()">
    <div class="col-md-12">
      <form class="checkout row" name="checkoutForm" ng-class="{submitted:submitted}" novalidate="novalidate">
        <div class="col-md-9">
          <div ng-class="sendTo.shipToOtherAddress ? 'col-md-12 checkout-left': ''">
            <h4 class="heading-underline">{{sendTo.shipToOtherAddress ? "CHECKOUT_DELIVERY_ADDRESS" : "CHECKOUT_DELIVERY_INVOICE_ADDRESS" | translate }}</h4>
            <div class="row">
              <div class="col-md-4">
                <label for="shipping_first_name">{{:: "TEXT_FIRSTNAME" | translate}}</label>
                <input class="form-control" type="text" required="required" placeholder="{{:: &quot;TEXT_FIRSTNAME&quot; | translate}}" ng-model="sendTo.firstName" id="shipping_first_name"/>
              </div>
              <div class="col-md-4">
                <label for="shipping_lastname_prefix">{{:: "TEXT_INSERTION" | translate}}</label>
                <input class="form-control" type="text" placeholder="{{:: &quot;TEXT_INSERTION&quot; | translate}}" ng-model="sendTo.lastNamePrefix" id="shipping_lastname_prefix"/>
              </div>
              <div class="col-md-4">
                <label for="shipping_last_name">{{:: "TEXT_LASTNAME" | translate}}</label>
                <input class="form-control" type="text" required="required" placeholder="{{:: &quot;TEXT_LASTNAME&quot; | translate}}" ng-model="sendTo.lastName" id="shipping_last_name"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <label for="shipping_address">{{:: "TEXT_ADDRESS" | translate}}</label>
                <input class="form-control" type="text" required="required" placeholder="{{:: &quot;TEXT_ADDRESS&quot; | translate}}" ng-model="sendTo.address" id="shipping_address"/>
              </div>
              <div class="col-md-2">
                <label for="shipping_number">{{:: "TEXT_NUMBER" | translate}}</label>
                <input class="form-control" type="text" required="required" placeholder="{{:: &quot;TEXT_NUMBER&quot; | translate}}" ng-pattern="/^-?[0-9][^.]*$/" ng-model="sendTo.houseNumber" id="shipping_number"/>
              </div>
              <div class="col-md-2">
                <label for="shipping_number_addition">{{:: "TEXT_ADDITION" | translate}}</label>
                <input class="form-control" type="text" placeholder="{{:: &quot;TEXT_ADDITION&quot; | translate}}" ng-model="sendTo.houseNumberSuffix" id="shipping_number_addition"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="shipping_zipcode">{{:: "TEXT_ZIP" | translate}}</label>
                <input class="form-control" type="text" required="required" placeholder="{{:: &quot;TEXT_ZIP&quot; | translate}}" ng-model="sendTo.zipcode" id="shipping_zipcode"/>
              </div>
              <div class="col-md-6">
                <label for="shipping_city">{{:: "TEXT_CITY" | translate}}</label>
                <input class="form-control" type="text" required="required" placeholder="{{:: &quot;TEXT_CITY&quot; | translate}}" ng-model="sendTo.city" id="shipping_city"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <country-list ng-required="true" ng-model="sendTo.country"></country-list>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="shipping_email">{{:: "TEXT_EMAILADRESS" | translate}}</label>
                <input class="form-control" type="email" ng-disabled="user" ng-required="!user" placeholder="{{:: &quot;TEXT_EMAILADRESS&quot; | translate}}" ng-model="sendTo.email" id="shipping_email"/>
                <p class="help-block" ng-show="user">{{:: "YOU_CAN_CHANGE_YOUR_EMAIL_ADDRESS_FROM_YOUR_ACCOUNT" | translate}}</p>
                <label for="shipping_phone">{{:: "TEXT_PHONE" | translate}}</label>
                <input class="form-control" type="text" maxlength="16" placeholder="{{:: &quot;TEXT_PHONE&quot; | translate}}" ng-model="sendTo.phone" id="shipping_phone"/>
                <p class="help-block">Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).</p>
              </div>
            </div>
          </div>
          <div class="hidden">
            <input class="input-checkbox disabled" type="checkbox" id="shipto" ng-model="sendTo.shipToOtherAddress" value="1"/>
            <label for="shipto">{{:: "TEXT_BILLING_ADDRESS" | translate}}</label>
          </div>
          <div class="row">
            <div class="col-md-12" ng-show="sendTo.shipToOtherAddress">
              <h4 class="heading-underline">{{:: "TEXT_BILLING_ADDRESS" | translate}}</h4>
              <div class="row">
                <div class="col-md-4">
                  <label for="billing_first_name">{{:: "TEXT_FIRSTNAME" | translate}}</label>
                  <input class="form-control" type="text" ng-required="sendTo.shipToOtherAddress" placeholder="{{:: &quot;TEXT_FIRSTNAME&quot; | translate}}" ng-model="billTo.firstName" id="billing_first_name"/>
                </div>
                <div class="col-md-4">
                  <label for="billing_lastname_prefix">{{:: "TEXT_INSERTION" | translate}}</label>
                  <input class="form-control" type="text" placeholder="{{:: &quot;TEXT_INSERTION&quot; | translate}}" ng-model="billTo.lastNamePrefix" id="billing_lastname_prefix"/>
                </div>
                <div class="col-md-4">
                  <label for="billing_last_name">{{:: "TEXT_LASTNAME" | translate}}</label>
                  <input class="form-control" type="text" ng-required="sendTo.shipToOtherAddress" placeholder="{{:: &quot;TEXT_LASTNAME&quot; | translate}}" ng-model="billTo.lastName" id="billing_last_name"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <label for="billing_address">{{:: "TEXT_ADDRESS" | translate}}</label>
                  <input class="form-control" type="text" ng-required="sendTo.shipToOtherAddress" placeholder="{{:: &quot;TEXT_ADDRESS&quot; | translate}}" ng-model="billTo.address" id="billing_address"/>
                </div>
                <div class="col-md-2">
                  <label for="billing_number">{{:: "TEXT_NUMBER" | translate}}</label>
                  <input class="form-control" type="text" ng-required="sendTo.shipToOtherAddress" ng-pattern="/^-?[0-9][^.]*$/" placeholder="{{:: &quot;TEXT_NUMBER&quot; | translate}}" ng-model="billTo.houseNumber" id="billing_number"/>
                </div>
                <div class="col-md-2">
                  <label for="billing_number_addition">{{:: "TEXT_ADDITION" | translate}}</label>
                  <input class="form-control" type="text" placeholder="{{:: &quot;TEXT_ADDITION&quot; | translate}}" ng-model="billTo.houseNumberSuffix" id="billing_number_addition"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="billing_zipcode">{{:: "TEXT_ZIP" | translate}}</label>
                  <input class="form-control" type="text" ng-required="sendTo.shipToOtherAddress" placeholder="{{:: &quot;TEXT_ZIP&quot; | translate}}" ng-model="billTo.zipcode" id="billing_zipcode"/>
                </div>
                <div class="col-md-6">
                  <label for="billing_city">{{:: "TEXT_CITY" | translate}}</label>
                  <input class="form-control" type="text" ng-required="sendTo.shipToOtherAddress" placeholder="{{:: &quot;TEXT_CITY&quot; | translate}}" ng-model="billTo.city" id="billing_city"/>
                </div>
              </div>
              <label for="billing_email">{{:: "TEXT_EMAILADRESS" | translate}}</label>
              <input class="form-control" type="email" ng-required="sendTo.shipToOtherAddress" placeholder="{{:: &quot;TEXT_EMAILADRESS&quot; | translate}}" ng-model="billTo.email" id="billing_email"/>
              <label for="billing_phone">{{:: "TEXT_PHONE" | translate}}</label>
              <input class="form-control" type="text" maxlength="16" placeholder="{{:: &quot;TEXT_PHONE&quot; | translate}}" ng-model="billTo.phone" id="billing_phone"/>
              <p class="help-block">Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).</p>
              <country-list ng-required="sendTo.shipToOtherAddress" ng-model="billTo.country"></country-list>
            </div>
            <p class="form-row notes">
              <label for="comments">{{:: "TEXT_COMMENTS" | translate}}</label>
              <textarea class="form-control" id="comments" ng-model="comment" placeholder="{{:: &quot;TEXT_COMMENTS&quot; | translate}}" rows="2" cols="5"></textarea>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="cart_totals">
            <h3 class="heading-underline">{{:: "TEXT_PRICE_OVERVIEW" | translate}}</h3>
            <table class="table-wide">
              <tbody>
                <tr ng-repeat="product in cart">
                  <th><span class="count">{{product.quantity}} x {{product.name}}</span></th>
                  <td>
                    <spam class="amount">{{ product.price * product.quantity | currency: '&euro; '}}</spam>
                  </td>
                </tr>
                <tr class="cart-subtotal">
                  <th>{{:: "TEXT_SUBTOTAL" | translate}}</th>
                  <td><span class="amount">{{total | currency:'€ '}}</span></td>
                  <tr class="shipping">
                    <th>{{:: "TEXT_SHIPPING_PRICE" | translate}}</th>
                    <td><span> <i>{{:: "TEXT_FREE_SHIPPING" | translate}}</i></span></td>
                  </tr>
                </tr>
                <tr class="order-total">
                  <th><strong>{{:: "TEXT_TOTAL" | translate}}</strong></th>
                  <td><strong><span class="amount">{{total | currency:'€ '}}</span></strong></td>
                </tr>
              </tbody>
            </table>
            <div id="payment"><a class="btn btn-lg btn-green" ng-click="submitOrder()">{{:: "TEXT_CHECKOUT" | translate}}</a>
              <p class="pay-description">{{:: "THE_PAYMENT_IS_PROCESSED_THROUGH_MOLLIE_YOU_WILL_BE_FORWARDED" | translate}}</p>
              <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type">
                <p bind-html-compile="alert.msg"></p>
              </div><img src="images/loading.gif" style="width:100px; margin-right: 150px; margin-bottom: 10px" ng-show="loading"/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

app/src/views/checkout.pug
.container
    h3.text-center.steps
        span.step-cart {{:: "TEXT_CART" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-checkout.active &nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-order-complete &nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}
    .row.block(ng-init='initShoppingCart()')
        .col-md-12
            form.checkout.row(name="checkoutForm", ng-class="{submitted:submitted}", novalidate)
                .col-md-9
                    div(ng-class="sendTo.shipToOtherAddress ? 'col-md-12 checkout-left': ''")
                        h4.heading-underline {{sendTo.shipToOtherAddress ? "CHECKOUT_DELIVERY_ADDRESS" : "CHECKOUT_DELIVERY_INVOICE_ADDRESS" | translate }}
                        .row
                            .col-md-4
                                label(for='shipping_first_name') {{:: "TEXT_FIRSTNAME" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_FIRSTNAME" | translate}}' ng-model="sendTo.firstName" id='shipping_first_name').form-control
                            .col-md-4
                                label(for='shipping_lastname_prefix') {{:: "TEXT_INSERTION" | translate}}
                                input(type="text" placeholder='{{:: "TEXT_INSERTION" | translate}}' ng-model="sendTo.lastNamePrefix" id='shipping_lastname_prefix').form-control
                            .col-md-4
                                label(for='shipping_last_name') {{:: "TEXT_LASTNAME" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_LASTNAME" | translate}}' ng-model="sendTo.lastName" id='shipping_last_name').form-control
                        .row
                            .col-md-8
                                label(for='shipping_address') {{:: "TEXT_ADDRESS" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_ADDRESS" | translate}}' ng-model="sendTo.address" id='shipping_address').form-control
                            .col-md-2
                                label(for='shipping_number') {{:: "TEXT_NUMBER" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_NUMBER" | translate}}' ng-pattern="/^-?[0-9][^\.]*$/" ng-model="sendTo.houseNumber" id='shipping_number').form-control
                            .col-md-2
                                label(for='shipping_number_addition') {{:: "TEXT_ADDITION" | translate}}
                                input(type="text" placeholder='{{:: "TEXT_ADDITION" | translate}}' ng-model="sendTo.houseNumberSuffix" id='shipping_number_addition').form-control
                        .row
                            .col-md-6
                                label(for='shipping_zipcode') {{:: "TEXT_ZIP" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_ZIP" | translate}}' ng-model="sendTo.zipcode" id='shipping_zipcode').form-control
                            .col-md-6
                                label(for='shipping_city') {{:: "TEXT_CITY" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_CITY" | translate}}' ng-model="sendTo.city" id='shipping_city').form-control
                        .row
                            .col-md-12
                                country-list(ng-required="true" ng-model="sendTo.country")
                        .row
                            .col-md-12
                                label(for='shipping_email') {{:: "TEXT_EMAILADRESS" | translate}}
                                input(type="email" ng-disabled="user", ng-required="!user", placeholder='{{:: "TEXT_EMAILADRESS" | translate}}' ng-model="sendTo.email" id='shipping_email').form-control
                                p.help-block(ng-show="user") {{:: "YOU_CAN_CHANGE_YOUR_EMAIL_ADDRESS_FROM_YOUR_ACCOUNT" | translate}}
                                label(for='shipping_phone') {{:: "TEXT_PHONE" | translate}}
                                input(type="text" maxlength='16' placeholder='{{:: "TEXT_PHONE" | translate}}' ng-model="sendTo.phone" id='shipping_phone').form-control
                                p.help-block Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).
                                
                    div.hidden
                        input(type="checkbox" id="shipto" ng-model="sendTo.shipToOtherAddress" value="1").input-checkbox.disabled
                        label(for="shipto") {{:: "TEXT_BILLING_ADDRESS" | translate}}
                    .row
                        div(ng-show="sendTo.shipToOtherAddress").col-md-12
                            h4.heading-underline {{:: "TEXT_BILLING_ADDRESS" | translate}}
                            .row
                                .col-md-4
                                    label(for='billing_first_name') {{:: "TEXT_FIRSTNAME" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_FIRSTNAME" | translate}}' ng-model="billTo.firstName" id='billing_first_name').form-control
                                .col-md-4
                                    label(for='billing_lastname_prefix') {{:: "TEXT_INSERTION" | translate}}
                                    input(type="text" placeholder='{{:: "TEXT_INSERTION" | translate}}' ng-model="billTo.lastNamePrefix" id='billing_lastname_prefix').form-control
                                .col-md-4
                                    label(for='billing_last_name') {{:: "TEXT_LASTNAME" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_LASTNAME" | translate}}' ng-model="billTo.lastName" id='billing_last_name').form-control
                            .row
                                .col-md-8
                                    label(for='billing_address') {{:: "TEXT_ADDRESS" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_ADDRESS" | translate}}' ng-model="billTo.address" id='billing_address').form-control
                                .col-md-2
                                    label(for='billing_number') {{:: "TEXT_NUMBER" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" ng-pattern="/^-?[0-9][^\.]*$/" placeholder='{{:: "TEXT_NUMBER" | translate}}' ng-model="billTo.houseNumber" id='billing_number').form-control
                                .col-md-2
                                    label(for='billing_number_addition') {{:: "TEXT_ADDITION" | translate}}
                                    input(type="text" placeholder='{{:: "TEXT_ADDITION" | translate}}' ng-model="billTo.houseNumberSuffix" id='billing_number_addition').form-control
                            .row
                                .col-md-6
                                    label(for='billing_zipcode') {{:: "TEXT_ZIP" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_ZIP" | translate}}' ng-model="billTo.zipcode" id='billing_zipcode').form-control
                                .col-md-6
                                    label(for='billing_city') {{:: "TEXT_CITY" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_CITY" | translate}}' ng-model="billTo.city" id='billing_city').form-control
                            label(for='billing_email') {{:: "TEXT_EMAILADRESS" | translate}}
                            input(type="email" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_EMAILADRESS" | translate}}' ng-model="billTo.email" id='billing_email').form-control
                            label(for='billing_phone') {{:: "TEXT_PHONE" | translate}}
                            input(type="text" maxlength='16' placeholder='{{:: "TEXT_PHONE" | translate}}' ng-model="billTo.phone" id='billing_phone').form-control
                            p.help-block Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).
                            country-list(ng-required="sendTo.shipToOtherAddress" ng-model="billTo.country")
                        p.form-row.notes
                            label(for="comments") {{:: "TEXT_COMMENTS" | translate}}
                            textarea(id="comments" ng-model="comment" placeholder='{{:: "TEXT_COMMENTS" | translate}}' rows="2" cols="5" ).form-control
                .col-md-3.col-xs-12
                    .cart_totals
                        h3.heading-underline {{:: "TEXT_PRICE_OVERVIEW" | translate}}
                        table.table-wide
                            tbody
                                tr(ng-repeat="product in cart")
                                    th
                                        span.count {{product.quantity}} x {{product.name}}
                                    td
                                        spam.amount {{ product.price * product.quantity | currency: '&euro; '}}
                                tr.cart-subtotal
                                    th {{:: "TEXT_SUBTOTAL" | translate}}
                                    td
                                        span.amount {{total | currency:'€ '}}
                                    tr.shipping
                                        th {{:: "TEXT_SHIPPING_PRICE" | translate}}
                                        td
                                            span 
                                                i {{:: "TEXT_FREE_SHIPPING" | translate}}
                                tr.order-total
                                    th
                                        strong {{:: "TEXT_TOTAL" | translate}}
                                    td
                                        strong
                                            span.amount {{total | currency:'€ '}}
                        #payment
                            a.btn.btn-lg.btn-green(ng-click="submitOrder()") {{:: "TEXT_CHECKOUT" | translate}}
                            p.pay-description
                                | {{:: "THE_PAYMENT_IS_PROCESSED_THROUGH_MOLLIE_YOU_WILL_BE_FORWARDED" | translate}}
                            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                                p(bind-html-compile="alert.msg")
                            img(src="images/loading.gif", style="width:100px; margin-right: 150px; margin-bottom: 10px", ng-show="loading")
