app/dist/views/checkout-login.html

<div class="container">
  <h3 class="text-center steps"><span class="step-cart">{{:: "TEXT_CART" | translate}}&nbsp;</span><i class="fa fa-angle-right"></i><span class="step-checkout active">&nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;</span><i class="fa fa-angle-right"></i><span class="step-order-complete">&nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}</span></h3>
  <div class="row block">
    <div class="col-md-6">
      <h4>{{:: "TEXT_SIGN_IN" | translate}}</h4>
      <p>{{:: "TEXT_DO_YOU_HAVE_AN_ACCOUNT" | translate}}</p><a class="btn btn-green" ng-click="openLoginRegisterModal(&quot;login&quot;)">{{:: "MAIN_LOGIN" | translate}}</a>
    </div>
    <div class="col-md-6">
      <h4>{{:: "MAIN_LOGIN" | translate}}</h4>
      <p>{{:: "TEXT_CREATE_AN_ACCOUNT" | translate}}</p><a class="btn btn-green" ng-click="openLoginRegisterModal(&quot;register&quot;)">{{:: "TEXT_SIGN_IN" | translate}}</a>
    </div>
  </div>
</div>

app/src/views/checkout-login.pug
.container
    h3.text-center.steps
        span.step-cart {{:: "TEXT_CART" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-checkout.active &nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-order-complete &nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}
    .row.block
        .col-md-6
            h4 {{:: "TEXT_SIGN_IN" | translate}}
            p {{:: "TEXT_DO_YOU_HAVE_AN_ACCOUNT" | translate}}
            a.btn.btn-green(ng-click='openLoginRegisterModal("login")') {{:: "MAIN_LOGIN" | translate}}
        .col-md-6
            h4 {{:: "MAIN_LOGIN" | translate}}
            p {{:: "TEXT_CREATE_AN_ACCOUNT" | translate}}
            a.btn.btn-green(ng-click='openLoginRegisterModal("register")') {{:: "TEXT_SIGN_IN" | translate}}
