app/dist/views/instruction-crmApp.html

<div class="container portal retailer">
  <div class="row text-center" ng-init="showSteps = false">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a class="btn btn-dark pull-right" ui-sref="retailer.home" ng-show="user &amp;&amp; !showSteps">{{:: "BACK" | translate}}</a><a class="btn btn-dark pull-right" ng-click="step0()" ng-show="user &amp;&amp; showSteps">{{:: "BACK" | translate}} to video's</a>
      <div class="row"></div>
      <h3 class="text-center">{{:: "TEST_YOUR_APP_ON_YOUR_MOBILE" | translate}}</h3>
      <p class="text-center">{{:: "USE_THIS_FEATURE_FOR_ALL_BRANDS" | translate}}<i class="fa fa-arrow-circle-right"></i></p>
    </div>
    <div class="col-md-2"></div>
    <div class="row">
      <div ng-if="!showSteps"><br/><br/>
        <div><a class="btn btn-lg btn-default" ng-click="step1()">Skip intro, Add to homescreen directly</a></div><br/><b>Ipad/Safari</b>
        <div ng-if="language =='nl'" style="height: 272px">
          <div class="panel-body" style="padding: 0px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276883577?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='en'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276883577?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='de'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276883577?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='fr'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276883577?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='es'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276883577?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div><br/><br/><br/><b>Android/Chrome</b>
        <div ng-if="language =='nl'" style="height: 272px">
          <div class="panel-body" style="padding: 0px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276882669?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='en'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276882669?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='de'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276882669?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='fr'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276882669?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='es'" style="height: 272px">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
            <iframe src="https://player.vimeo.com/video/276882669?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div><br/>
        <div><a class="btn btn-lg btn-default" ng-click="step1()">Skip intro, Add to homescreen directly</a></div><br/><br/>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="text-center" ng-if="showSteps">
        <div class="col-md-1"></div>
        <div class="col-md-10"><br/>
          <div ng-if="!user">
            <h5>{{:: "A_SCAN_CODE_OR_GO_TO_YOUR_SMARTPHONE_TO" | translate}} <a href="https://prismanote.com/shops" target="blank">PrismaNote.com/shops</a>, {{:: "FIND_YOUR_STORE_AND_CLICK_ON_SHOP_NAME" | translate}}</h5>
            <div class="col-md-1"></div>
            <div class="col-md-5"><img src="https://chart.googleapis.com/chart?cht=qr&amp;chl=prismanote.com%2Fshops&amp;chs=180x180&amp;choe=UTF-8&amp;chld=L|2" alt="qr code" width="250px"/><br/></div>
            <div class="col-md-5"><img src="https://prismanote.s3.amazonaws.com/notenews/mockup_app_purchase_registration.png" rel="nofollow" alt="qr code" width="250px"/><br/></div>
            <div class="col-md-1"></div>
          </div>
          <div ng-if="user">
            <h5>{{:: "ASELECT_THE_CORRECT_STORE_WHERE_YOU_WANT_TO_USE_THE_APP" | translate}}</h5>
            <select class="form-control" ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops" ng-change="getShop(selectedShop)" ng-show="user.shops.length"></select>
            <div ng-if="selectedShop">
              <h5>{{:: "GO_TO_LINK_BELOW_WITH_YOUR_MOBILE_OR_TABLET" | translate}} </h5><br/><a href="https://prismanote.com/shop/{{selectedShop}}/loyalty-program " target="blank">https://PrismaNote.com/shop/
                <input ng-model="selectedShop"/>/loyalty-program</a>
            </div>
            <p>{{:: "DO_NOT_FORGET_TO_USE_HTTPS_FOR_THIS_PURPOSE" | translate}}</p>{{:: "AFTER_CLICKING_ON_THE_LINK_FOLLOW_THE_INSTRUCTIONS_BELOW" | translate}}
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="row"><br/><br/></div>
        <div class="row"><br/><br/>
          <hr/>
          <h5>B. {{:: "ADD_WEBPAGE_TO_SMARTPHONE_HOMEPAGE_AND_USE_APP_AT_EVERY_CLIENT_CHECK_IF_STORE_NAME_IS_CORRECT" | translate}}</h5>
        </div>
        <div class="row">
          <div class="col-md-6"><img src="https://prismanote.s3.amazonaws.com/notenews/horloges.png" rel="nofollow" alt="qr code" width="250px"/><br/></div>
          <div class="col-md-6"><br/>
            <p>{{:: "WHICH_BROWSER_ARE_YOU_USING" | translate}}</p><b>Chrome</b>
            <p>{{:: "GO_TO_SETTING_MENU_ADD_TO_HOME" | translate}}</p><img src="https://prismanote.s3.amazonaws.com/notenews/instellingen_toevoegen_home.png" rel="nofollow" alt="qr code" width="250px"/><img src="https://prismanote.s3.amazonaws.com/notenews/Toevoegen_aan_startscherm.png" rel="nofollow" alt="qr code" width="250px"/><br/><b>Safari (iPhone, iPad, & iPod Touch)</b>
            <p>{{:: "CLICK_ON_SHARING_ICON_CLICK_ADD_TO_HOME_SCREEN_USE_SAFARI_ON_APPLE" | translate}}</p><br/><b>Firefox for Android</b>
            <p>{{:: "GO_TO_PAGE_OPTION_FROM_MENU" | translate}}</p><br/><b>Windows Phone (iPhone, iPad, & iPod Touch)</b>
            <p>{{:: "CLICK_ON_3_DOTS_PIN_TO_START" | translate}}</p><br/>
            <p>{{:: "DIFFERENT_BROWSER_CLICK_MENU_LOOK_FOR_OPTION_LIKE_ADD_TO_HOME_SCREEN" | translate}}</p><b>{{:: "APP_HAS_BEEN_ADDED_TO_HOMEPAGE_CLICK_ON_ICON" | translate}}</b>
            <div class="row"></div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8"><br/><br/>
            <h5>{{:: "C_FILL_IN_THE_FORM_TOGETHER_WITH_THE_CUSTOMER" | translate}}</h5>
          </div>
          <div class="col-md-2"></div><br/>
          <div class="row">
            <div class="col-md-4"><img src="https://prismanote.s3.amazonaws.com/notenews/horloges.png" rel="nofollow" alt="qr code" width="250px"/>
              <p>{{:: "CHOOSE_WATCHES_IF_YOU_WANT_TO_TAKE_PICTURE_OF_WARRANTY_CARD" | translate}}</p><br/>
            </div>
            <div class="col-md-4"><img src="https://prismanote.s3.amazonaws.com/notenews/emailform.png" rel="nofollow" alt="qr code" width="250px"/>
              <p>{{:: "TAKE_PICTURE_WARRANTY_CERTIFICATE_FILL_IN_CUSTOMER_EMAIL_ADDRESS" | translate}}</p><br/>
            </div>
            <div class="col-md-4"><img src="https://prismanote.s3.amazonaws.com/notenews/email.png" rel="nofollow" alt="qr code" width="250px"/>
              <p>{{:: "CUSTOMER_WILL_RECEIVE_EMAIL_WITH_FORM_ALL_DATA_OF_CUSTOMERS_IS_AVAILABLE_VIA_PORTAL" | translate}}</p><br/>
            </div>
          </div>
          <div class="row"></div>
          <div class="col-md-12">
            <p></p>{{:: "SATISFIED_USE_ON_YOUR_COMPUTER_ORDER_THE_" | translate}}<a href="https://clarity-success.com/fileadmin/CS/downloads/Infomaterial/Clarity-Success_Easypro_Picture_UK.pdf" target="_blank">Easy Capture Pro camera </a>{{:: "TO_USE_THE_APP_ON_COMPUTER" | translate}}
          </div>
        </div>
        <div class="row"></div><br/>
      </div>
    </div>
  </div>
</div>

app/src/views/instruction-crmApp.pug
.container.portal.retailer
	.row.text-center(ng-init="showSteps = false")
		.col-md-2
		.col-md-8
			a.btn.btn-dark.pull-right(ui-sref='retailer.home' ng-show="user && !showSteps") {{:: "BACK" | translate}}
			a.btn.btn-dark.pull-right(ng-click="step0()" ng-show="user && showSteps") {{:: "BACK" | translate}} to video's
			.row
			h3.text-center {{:: "TEST_YOUR_APP_ON_YOUR_MOBILE" | translate}}
			p.text-center {{:: "USE_THIS_FEATURE_FOR_ALL_BRANDS" | translate}}
					i.fa.fa-arrow-circle-right
		.col-md-2

		.row
			div(ng-if="!showSteps")
				br
				br
				div
					a.btn.btn-lg.btn-default(ng-click="step1()") Skip intro, Add to homescreen directly
				br
				b Ipad/Safari
				div(ng-if="language =='nl'" style="height: 272px")
					.panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='en'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='de'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='fr'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='es'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				br
				br
				br
				b Android/Chrome
				div(ng-if="language =='nl'" style="height: 272px")
					.panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='en'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='de'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='fr'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='es'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				br
				div
					a.btn.btn-lg.btn-default(ng-click="step1()") Skip intro, Add to homescreen directly
				br
				br
		.col-md-2
		.col-md-8
			div(ng-if="showSteps").text-center
				.col-md-1
				.col-md-10
					br
					div(ng-if="!user")
						h5 {{:: "A_SCAN_CODE_OR_GO_TO_YOUR_SMARTPHONE_TO" | translate}} 
							a(href="https://prismanote.com/shops", target="blank") PrismaNote.com/shops
							|, {{:: "FIND_YOUR_STORE_AND_CLICK_ON_SHOP_NAME" | translate}}
						.col-md-1
						.col-md-5
							img(src='https://chart.googleapis.com/chart?cht=qr&chl=prismanote.com%2Fshops&chs=180x180&choe=UTF-8&chld=L|2', alt='qr code', width='250px')
							br
						.col-md-5
							img(src='https://prismanote.s3.amazonaws.com/notenews/mockup_app_purchase_registration.png', rel='nofollow', alt='qr code', width='250px')
							br
						.col-md-1
					div(ng-if="user")
						h5 {{:: "ASELECT_THE_CORRECT_STORE_WHERE_YOU_WANT_TO_USE_THE_APP" | translate}}
						select(ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops", ng-change="getShop(selectedShop)", ng-show="user.shops.length").form-control
						div(ng-if="selectedShop")
							h5 {{:: "GO_TO_LINK_BELOW_WITH_YOUR_MOBILE_OR_TABLET" | translate}} 
							br
							a(href="https://prismanote.com/shop/{{selectedShop}}/loyalty-program ", target="blank") https://PrismaNote.com/shop/
								input(ng-model="selectedShop")
								|/loyalty-program
								//-|, {{:: "FIND_YOUR_STORE_AND_CLICK_ON_SHOP_NAME" | translate}}
						p {{:: "DO_NOT_FORGET_TO_USE_HTTPS_FOR_THIS_PURPOSE" | translate}}
						| {{:: "AFTER_CLICKING_ON_THE_LINK_FOLLOW_THE_INSTRUCTIONS_BELOW" | translate}}
				.col-md-1
				.row
					br
					br
				.row
					br
					br
					hr
					h5 B. {{:: "ADD_WEBPAGE_TO_SMARTPHONE_HOMEPAGE_AND_USE_APP_AT_EVERY_CLIENT_CHECK_IF_STORE_NAME_IS_CORRECT" | translate}}
				.row
					.col-md-6
						img(src='https://prismanote.s3.amazonaws.com/notenews/horloges.png', rel='nofollow', alt='qr code', width='250px')
						br
					.col-md-6
						br
						p {{:: "WHICH_BROWSER_ARE_YOU_USING" | translate}}
						b Chrome
						p {{:: "GO_TO_SETTING_MENU_ADD_TO_HOME" | translate}}
						img(src='https://prismanote.s3.amazonaws.com/notenews/instellingen_toevoegen_home.png', rel='nofollow', alt='qr code', width='250px')
						img(src='https://prismanote.s3.amazonaws.com/notenews/Toevoegen_aan_startscherm.png', rel='nofollow', alt='qr code', width='250px')
						br
						b Safari (iPhone, iPad, & iPod Touch)
						p {{:: "CLICK_ON_SHARING_ICON_CLICK_ADD_TO_HOME_SCREEN_USE_SAFARI_ON_APPLE" | translate}}
						br
						b Firefox for Android
						p {{:: "GO_TO_PAGE_OPTION_FROM_MENU" | translate}}
						br
						b Windows Phone (iPhone, iPad, & iPod Touch)
						p {{:: "CLICK_ON_3_DOTS_PIN_TO_START" | translate}}
						br
						p {{:: "DIFFERENT_BROWSER_CLICK_MENU_LOOK_FOR_OPTION_LIKE_ADD_TO_HOME_SCREEN" | translate}}
						b {{:: "APP_HAS_BEEN_ADDED_TO_HOMEPAGE_CLICK_ON_ICON" | translate}}
						.row
				hr
				.row
					.col-md-2
					.col-md-8
						br
						br
						h5 {{:: "C_FILL_IN_THE_FORM_TOGETHER_WITH_THE_CUSTOMER" | translate}}
					.col-md-2
					br
					.row
						.col-md-4
							img(src='https://prismanote.s3.amazonaws.com/notenews/horloges.png', rel='nofollow', alt='qr code', width='250px')
							p {{:: "CHOOSE_WATCHES_IF_YOU_WANT_TO_TAKE_PICTURE_OF_WARRANTY_CARD" | translate}}
							br
						.col-md-4
							img(src='https://prismanote.s3.amazonaws.com/notenews/emailform.png', rel='nofollow', alt='qr code', width='250px')
							p {{:: "TAKE_PICTURE_WARRANTY_CERTIFICATE_FILL_IN_CUSTOMER_EMAIL_ADDRESS" | translate}}
							br
						.col-md-4
							img(src='https://prismanote.s3.amazonaws.com/notenews/email.png', rel='nofollow', alt='qr code', width='250px')
							p {{:: "CUSTOMER_WILL_RECEIVE_EMAIL_WITH_FORM_ALL_DATA_OF_CUSTOMERS_IS_AVAILABLE_VIA_PORTAL" | translate}}
							br
					.row
					.col-md-12
						p
						| {{:: "SATISFIED_USE_ON_YOUR_COMPUTER_ORDER_THE_" | translate}}
						a(href="https://clarity-success.com/fileadmin/CS/downloads/Infomaterial/Clarity-Success_Easypro_Picture_UK.pdf", target="_blank") Easy Capture Pro camera 
						| {{:: "TO_USE_THE_APP_ON_COMPUTER" | translate}}
				.row
				br
