app/dist/views/payment.html

<div class="container">
  <h3 class="text-center steps"><span class="step-cart">{{:: "TEXT_CART" | translate}}&nbsp;</span><i class="fa fa-angle-right"></i><span class="step-checkout">&nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;</span><i class="fa fa-angle-right"></i><span class="step-order-complete active">&nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}</span></h3>
  <div class="row block text-center">
    <div class="col-md-12" ng-init="checkPayment()"><img src="images/loading.gif" style="width:100px; margin-right: 150px; margin-bottom: 10px" ng-show="loading"/>
      <p ng-show="!loading"> </p>
      <p bind-html-compile="paymentResult"></p>
    </div>
  </div>
</div>

app/src/views/payment.pug
.container
    h3.text-center.steps
        span.step-cart {{:: "TEXT_CART" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-checkout &nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-order-complete.active &nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}
    .row.block.text-center
        .col-md-12(ng-init="checkPayment()")
            img(src="images/loading.gif", style="width:100px; margin-right: 150px; margin-bottom: 10px", ng-show="loading")
            p(ng-show="!loading") 
            p(bind-html-compile="paymentResult")
