app/dist/views/product.html

<div class="container product-page">
  <div class="block">
    <div class="row product-overview">
      <div class="col-xs-12 col-md-6">
        <div class="block-small"><img ng-src="{{awsUrl + product.images[0].src}}" style="width: 140%"/></div>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <div class="block-small"><br/><br/><br/>
          <h3 class="product-title" ng-bind="product[language].name"></h3>
          <div ng-show="!product[language].name">
            <h3 class="product-title" ng-bind="product.en.name" ng-hide="language == 'en'"></h3>
          </div>
          <p ng-if="product.stock &gt; 0"><strong>{{product.stock}} {{:: "PRODUCT_STOCK_TEXT" | translate}}</strong></p>
          <p ng-if="product.stock == 0"><strong>{{:: "ONLINE_AVAILABLE" | translate}}</strong></p><span ng-controller="cartController"><a class="btn btn-md btn-dark add-to-cart" href="" ng-click="addToCart(product)"><i class="fa fa-plus fa-lg"></i><span>&nbsp;&nbsp;{{:: "BUTTON_ADD_TO_CART" | translate}}</span></a></span><span><a class="btn btn-md btn-dark add-to-cart hidden" href="" ng-click="addToWishlist(product)"><i class="fa fa-heart fa-lg"></i><span>&nbsp;&nbsp;{{:: "BUTTON_ADD_TO_WISHLIST" | translate}}</span></a></span><span><a class="btn btn-md btn-dark reserve hidden" href="" ng-click="reserve(product)"><i class="fa fa-archive fa-lg"></i><span>&nbsp;&nbsp;{{:: "BUTTON_RESERVE" | translate}}</span></a></span>
          <p class="product-description" ng-bind-html="product[language].shortDescription ? nl2br(product[language].shortDescription) : null"></p>
          <div ng-show="!product[language].shortDescription">
            <p class="product-description" ng-bind-html="product[language].shortDescription ? nl2br(product.en.shortDescription) : null" ng-hide="language == 'en'"></p>
          </div>
        </div>
      </div>
    </div>
    <uib-tabset active="active">
      <uib-tab ng-if="!isShop" index="0">
        <uib-tab-heading>
          <h5>{{:: "RECOMMENDATION_TO_BUY" | translate}}</h5>
        </uib-tab-heading>
        <div class="compare-shops block-small">
          <div class="row">
            <div class="col-xs-12 col-sm-4" ng-repeat="item in shops">
              <shop-block></shop-block>
            </div>
          </div>
        </div>
        <div class="product-map block-small">
          <h4 class="text-center">{{:: "FIND_POINT_OF_SALE" | translate}}</h4>
          <div class="block-small">
            <iframe class="maps" ng-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.889285044476!2d5.11207301587905!3d51.881233491121634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c68a3a538d5b75%3A0x449aeea792116a4!2sExcellent+Electronics!5e0!3m2!1sen!2snl!4v1486473036179" width="100%" height="400px" frameborder="0" style="border: 0"></iframe>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1">
        <uib-tab-heading>
          <h5>{{:: "PRODUCT_SPECIFICATIONS" | translate}}</h5>
        </uib-tab-heading>
        <div class="product-specs block-small">
          <p ng-bind-html="product[language].longDescription ? nl2br(product[language].longDescription) : null"></p>
        </div>
      </uib-tab>
      <uib-tab index="2">
        <uib-tab-heading>
          <h5>{{:: "PRODUCT_REVIEWS" | translate}}</h5>
        </uib-tab-heading>
        <div class="product-reviews block-small">
          <p>{{:: "PRODUCT_REVIEWS_NO_REVIEWS" | translate}}</p><a href="">{{:: "PRODUCT_REVIEWS_PLACE_FIRST" | translate}}</a>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

app/src/views/product.pug
.container.product-page
	.block
		.row.product-overview
			.col-xs-12.col-md-6
				.block-small
					img(ng-src='{{awsUrl + product.images[0].src}}' style="width: 140%")
			.col-xs-12.col-md-4.col-md-offset-2
				.block-small
					br
					br
					br
					h3.product-title(ng-bind="product[language].name")
					div(ng-show="!product[language].name")
						h3.product-title(ng-bind="product.en.name" ng-hide="language == 'en'")
					p(ng-if="product.stock > 0")
						strong {{product.stock}} {{:: "PRODUCT_STOCK_TEXT" | translate}}
					p(ng-if="product.stock == 0")
						strong {{:: "ONLINE_AVAILABLE" | translate}}
					span(ng-controller="cartController")
						a.btn.btn-md.btn-dark.add-to-cart(href="" ng-click="addToCart(product)")
							i.fa.fa-plus.fa-lg
							span &nbsp;&nbsp;{{:: "BUTTON_ADD_TO_CART" | translate}}
					span
						a.btn.btn-md.btn-dark.add-to-cart.hidden(href="" ng-click="addToWishlist(product)")
							i.fa.fa-heart.fa-lg
							span &nbsp;&nbsp;{{:: "BUTTON_ADD_TO_WISHLIST" | translate}}
					span
						a.btn.btn-md.btn-dark.reserve.hidden(href="" ng-click="reserve(product)")
							i.fa.fa-archive.fa-lg
							span &nbsp;&nbsp;{{:: "BUTTON_RESERVE" | translate}}
					p.product-description(ng-bind-html="product[language].shortDescription ? nl2br(product[language].shortDescription) : null")
					div(ng-show="!product[language].shortDescription")
						p.product-description(ng-bind-html="product[language].shortDescription ? nl2br(product.en.shortDescription) : null", ng-hide="language == 'en'")
		uib-tabset(active="active")
			uib-tab(ng-if="!isShop" index="0")
				uib-tab-heading
					h5 {{:: "RECOMMENDATION_TO_BUY" | translate}}
				.compare-shops.block-small
					.row
						.col-xs-12.col-sm-4(ng-repeat="item in shops")
							shop-block
				.product-map.block-small
					h4.text-center {{:: "FIND_POINT_OF_SALE" | translate}}
					.block-small
						iframe.maps(ng-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.889285044476!2d5.11207301587905!3d51.881233491121634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c68a3a538d5b75%3A0x449aeea792116a4!2sExcellent+Electronics!5e0!3m2!1sen!2snl!4v1486473036179', width='100%', height='400px' frameborder="0" style="border: 0")
			uib-tab(index="1")
				uib-tab-heading
					h5 {{:: "PRODUCT_SPECIFICATIONS" | translate}}
				.product-specs.block-small
					p(ng-bind-html="product[language].longDescription ? nl2br(product[language].longDescription) : null")
			uib-tab(index="2")
				uib-tab-heading
					h5 {{:: "PRODUCT_REVIEWS" | translate}}
				.product-reviews.block-small
					p {{:: "PRODUCT_REVIEWS_NO_REVIEWS" | translate}}
					a(href="") {{:: "PRODUCT_REVIEWS_PLACE_FIRST" | translate}}
