app/src/views/reset-password.pug
.container(ng-controller="authController")
    h3 {{:: "RESET_PASSWORD" | translate}}

    .row.block
        .col-md-6
            p {{:: "ENTER_YOUR_NEW_PASSWORD" | translate}}
            form(name="resetPasswordForm")
                p
                    input(type='password', name="password", id="password", placeholder='{{:: "PASSWORD_1" | translate}}', required, ng-model="data.password").input-text.form-control
                p
                    input(type='password', name="confirmPassword", id="confirmPassword", placeholder='{{:: "PASSWORD_2" | translate}}', required, ng-model="data.confirmPassword" ng-match="data.password" ng-keyup="$event.keyCode == 13 && login()").input-text.form-control
                p(ng-show="resetPasswordForm.confirmPassword.$error.match").help-block
                    | {{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}
                div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                    | {{alert.msg}}
                p
                    a(ng-click="resetPassword(false)", ng-disabled="resetPasswordForm.$invalid" href="").btn.btn-lg.btn-green {{:: "RESET_PASSWORD" | translate}}

app/dist/views/reset-password.html

<div class="container" ng-controller="authController">
  <h3>{{:: "RESET_PASSWORD" | translate}}</h3>
  <div class="row block">
    <div class="col-md-6">
      <p>{{:: "ENTER_YOUR_NEW_PASSWORD" | translate}}</p>
      <form name="resetPasswordForm">
        <p>
          <input class="input-text form-control" type="password" name="password" id="password" placeholder="{{:: &quot;PASSWORD_1&quot; | translate}}" required="required" ng-model="data.password"/>
        </p>
        <p>
          <input class="input-text form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="{{:: &quot;PASSWORD_2&quot; | translate}}" required="required" ng-model="data.confirmPassword" ng-match="data.password" ng-keyup="$event.keyCode == 13 &amp;&amp; login()"/>
        </p>
        <p class="help-block" ng-show="resetPasswordForm.confirmPassword.$error.match">{{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}</p>
        <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
        <p><a class="btn btn-lg btn-green" ng-click="resetPassword(false)" ng-disabled="resetPasswordForm.$invalid" href="">{{:: "RESET_PASSWORD" | translate}}</a></p>
      </form>
    </div>
  </div>
</div>
