app/src/views/unsubscribe-brand.pug
.container
    h3 {{:: "UNSUBSCRIBE_OF_BRAND" | translate}}

    .row
        .col-md-12
            p {{:: "CLICK_ON_THE_BUTTON_BELOW_IF_YOU_DO_NOT_WANT_TO_RECEIVE_CAMPAIGN_REQUESTS_FROM" | translate}} {{brand}}.
            button.btn.btn-lg(ng-click="unsubscribe()") {{:: "UNSUBSCRIBE" | translate}}
            br
            br
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                | {{alert.msg}}

app/dist/views/unsubscribe-brand.html

<div class="container">
  <h3>{{:: "UNSUBSCRIBE_OF_BRAND" | translate}}</h3>
  <div class="row">
    <div class="col-md-12">
      <p>{{:: "CLICK_ON_THE_BUTTON_BELOW_IF_YOU_DO_NOT_WANT_TO_RECEIVE_CAMPAIGN_REQUESTS_FROM" | translate}} {{brand}}.</p>
      <button class="btn btn-lg" ng-click="unsubscribe()">{{:: "UNSUBSCRIBE" | translate}}</button><br/><br/>
      <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type">{{alert.msg}}</div>
    </div>
  </div>
</div>
