app/src/views/welcome-retailer.pug
.container.edit-campaign
    h3 {{:: "STILL_FOUR_CLICKS_TO_EXECUTE_THIS_CAMPAIGN" | translate}}...
    br
    img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
    .row(ng-init="loadPage()")
        .col-md-12(ng-hide="loading")
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                | {{alert.msg}}
            div(ng-show="accessDenied")
                p {{:: "PLEASE_LOG_IN_TO_RUN_THIS_CAMPAIGN" | translate}}
                hr
                div(ng-controller="authController")
                    uib-tabset(active='activeTab' ng-hide="user.role=='wholesaler' || user.role=='retailer'")
                        uib-tab(index='0', ui-sref='tab0', heading='{{:: "LOGIN_REGISTER_WITH_FACEBOOK" | translate}}')
                            h3 {{:: "LOGIN_REGISTER_WITH_FACEBOOK" | translate}}
                            .block-small
                                div
                                    .col-md-12
                                        div(ng-hide="user.facebook")
                                            .row
                                                p {{:: "LOG_IN_WITH_THE_ACCOUNT_THAT_HAS_RIGHTS_TO_MANAGE_YOUR_COMPANY_PAGE_OR_GRANT_THESE_RIGHTS_TO_THE_USER_BEFORE_YOU_LINK_THE_ACCOUNT" | translate}}
                                                p {{:: "AFTER_PAIRING_CLOSE_AND_RELOAD_THE_OPENED_PAGE_OR_CLICK_THE_EMAIL_LINK_AGAIN" | translate}}
                                                a(ui-sref="layout.terms-of-service" target="_blank")
                                                    | {{:: "ACCEPT_TERMS_OF_SERVICE_CONDITIONS" | translate}}
                                                br
                                                br
                                                a.btn.btn-primary(href="/api/auth/facebook", target="_blank") 
                                                    span.fa.fa-facebook
                                                    | &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
                                        div(ng-show="user.facebook")
                                            .row 
                                                .col-md-6(ng-init="setFacebook(user.facebook.postTo, false)")
                                                    a.btn.btn-primary(ng-click="setFacebook('wall', true)", ng-disabled='user.facebook.postTo == "wall"') {{:: "POSTING_ON_MY_PROFILE" | translate}}
                                                    br
                                                    a.btn.btn-primary(ng-click="setFacebook('page', true)", ng-disabled='user.facebook.postTo == "page"') {{:: "POSTING_ON_MY_PAGE" | translate}}
                                                    div(ng-show='user.facebook && user.facebook.postTo == "page"')
                                                        h5 {{:: "SELECT_PAGE" | translate}}
                                                        p(ng-show="user.facebook.pageName") {{:: "CURRENT_SET_ON" | translate}}
                                                            strong {{user.facebook.pageName}}
                                                        select(ng-model="selectedPage", ng-change="setFacebookPage(selectedPage)").form-control
                                                            option(ng-repeat="page in pages" ng-value="page") 
                                                                |{{page.name}}
                                                    p {{:: "MESSAGES_ARE_PLACED_ON_THE_PAGE_AUTOMATICALLY" | translate}}
                                                    a.btn.btn-primary(href="/api/auth/facebook/rerequest", target="_blank") 
                                                        span.fa.fa-facebook
                                                        | &nbsp; {{:: "CONNECT_FACEBOOK_AGAIN" | translate}}
                                                    a.btn.btn-default(ng-click="deleteFacebook()")
                                                        span.fa.fa-facebook
                                                        | &nbsp; {{:: "UNDO_CONNECT_FACEBOOK" | translate}}
                                                    hr
                                                    div(ng-show="user.facebook.postTo == 'wall' || (user.facebook.postTo == 'page' && user.facebook.pageId)")
                                                        h5 {{:: "PLACE_TEST_MESSAGE" | translate}}
                                                        a.btn.btn-success(ng-click="testFacebook()") 
                                                            span.fa.fa-facebook
                                                            | &nbsp; {{:: "TEST_FACEBOOK_CONNECTION" | translate}}
                                                        br
                                                        br
                                                        div(uib-alert, ng-show="testResult", ng-class="'alert-' + testResult.type")
                                                            p(bind-html-compile="testResult.msg")
                        uib-tab(index='1', ui-sref='tab1', heading='{{:: "LOGIN_WITH_PRISMANOTE" | translate}}')
                            br
                            br
                            a.btn.btn-green.btn-lg(ng-click="openLoginModal('login', 'reload', {username})") {{:: "MAIN_LOGIN" | translate}}
                            p {{:: "DONT_HAVE_AN_ACCOUNT_YET_REGISTER_WITH_FACEBOOK" | translate}}
                            //- register popup button is temporal disabled because registering an account works but after registering it's required to register again with Facebook.
                            a.hidden.btn.btn-green.btn-lg(ng-click="openLoginModal('register','reload', {username, role: 'retailer', verify: false})") {{:: "MAIN_REGISTER" | translate}}
                           
            div(ng-show="differentUser && user")
                p {{:: "YOU_ARE_LOGGED_IN_AS" | translate}} {{user.firstName}} {{user.lastNamePrefix ? user.lastNamePrefix : ""}} {{user.lastName}}
                //-p Make sure that this user has the correct Social Portal.
                a.btn.btn-md.btn-green(ng-click="continue()") {{:: "CONTINUE" | translate}}
                br
                br
                p {{:: "ISNT_THIS_THE_CASE" | translate}}
                a.btn.btn-md.btn-default(ng-controller="authController" ng-click="logout(); $state.reload()") {{:: "LOG_OUT" | translate}}
            .col-md-12(ng-show="addToShop")
                h5(ng-show="!user.facebook && (!user.facebook.pageId || !user.facebook.postTo != 'page')") {{:: "BUT_FIRST_OF_ALL_THIS" | translate}}
                div(ng-show="!user.facebook || user.facebook && !user.facebook.profileId")
                    p {{:: "YOU_HAVE_NOT_YET_MADE_A_FACEBOOK_LINK_WITH_PRISMANOTE_" | translate}}
                    p {{:: "MAKE_THIS_LINK_BEFORE_YOU_CAN_CARRY_OUT_THIS_CAMPAIGN" | translate}}
                    p {{:: "AFTER_LINKING_YOU_CAN_CLOSE_THAT_WINDOW_AND_REFRESH_THIS_PAGE_OR_CLICK_ON_THE_LINK_IN_THE_MAIL_AGAIN" | translate}}
                    a.btn.btn-primary(ng-href="/api/auth/facebook", target="_blank")
                        span.fa.fa-facebook
                        | &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
                div(ng-show="user.facebook")
                    div(ng-show="user.facebook && user.facebook.postTo == 'page' && readyToGo")
                        p {{:: "YOU_ARE_READY_TO_CARRY_OUT_THIS_CAMPAIGN" | translate}}
                        a.btn.btn-lg.btn-green(ng-click="execute()") {{:: "EXECUTE_CAMPAIGN" | translate}}

                    //- the below option, choosing the right page, is depricated because this will be done when executing the campaign. So It can be removed.
                    div(ng-show="user.facebook && user.facebook.postTo != 'page' && user.facebook.profileId")
                        p {{:: "YOU_HAVE_A_FACEBOOK_LINK_BUT_IT_IS_NOT_SET_UP_ON_A_PAGE" | translate}}
                        p {{:: "CHOOSE_A_PAGE_ON_WHICH_YOU_WANT_TO_PLACE_THE_MESSAGES_TO_CONTINUE" | translate}}
                        select(ng-model="selectedPage").form-control
                            option(ng-repeat="page in pages" ng-value="page") 
                                |{{page.name}}
                        a.btn.btn-md.btn-green(ng-click="setFacebookPage(selectedPage)") {{:: "SAVE" | translate}}

app/dist/views/welcome-retailer.html

<div class="container edit-campaign">
  <h3>{{:: "STILL_FOUR_CLICKS_TO_EXECUTE_THIS_CAMPAIGN" | translate}}...</h3><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
  <div class="row" ng-init="loadPage()">
    <div class="col-md-12" ng-hide="loading">
      <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
      <div ng-show="accessDenied">
        <p>{{:: "PLEASE_LOG_IN_TO_RUN_THIS_CAMPAIGN" | translate}}</p>
        <hr/>
        <div ng-controller="authController">
          <uib-tabset active="activeTab" ng-hide="user.role=='wholesaler' || user.role=='retailer'">
            <uib-tab index="0" ui-sref="tab0" heading="{{:: &quot;LOGIN_REGISTER_WITH_FACEBOOK&quot; | translate}}">
              <h3>{{:: "LOGIN_REGISTER_WITH_FACEBOOK" | translate}}</h3>
              <div class="block-small">
                <div>
                  <div class="col-md-12">
                    <div ng-hide="user.facebook">
                      <div class="row">
                        <p>{{:: "LOG_IN_WITH_THE_ACCOUNT_THAT_HAS_RIGHTS_TO_MANAGE_YOUR_COMPANY_PAGE_OR_GRANT_THESE_RIGHTS_TO_THE_USER_BEFORE_YOU_LINK_THE_ACCOUNT" | translate}}</p>
                        <p>{{:: "AFTER_PAIRING_CLOSE_AND_RELOAD_THE_OPENED_PAGE_OR_CLICK_THE_EMAIL_LINK_AGAIN" | translate}}</p><a ui-sref="layout.terms-of-service" target="_blank">{{:: "ACCEPT_TERMS_OF_SERVICE_CONDITIONS" | translate}}</a><br/><br/><a class="btn btn-primary" href="/api/auth/facebook" target="_blank"> <span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK" | translate}}</a>
                      </div>
                    </div>
                    <div ng-show="user.facebook">
                      <div class="row"> 
                        <div class="col-md-6" ng-init="setFacebook(user.facebook.postTo, false)"><a class="btn btn-primary" ng-click="setFacebook('wall', true)" ng-disabled="user.facebook.postTo == &quot;wall&quot;">{{:: "POSTING_ON_MY_PROFILE" | translate}}</a><br/><a class="btn btn-primary" ng-click="setFacebook('page', true)" ng-disabled="user.facebook.postTo == &quot;page&quot;">{{:: "POSTING_ON_MY_PAGE" | translate}}</a>
                          <div ng-show="user.facebook &amp;&amp; user.facebook.postTo == &quot;page&quot;">
                            <h5>{{:: "SELECT_PAGE" | translate}}</h5>
                            <p ng-show="user.facebook.pageName">{{:: "CURRENT_SET_ON" | translate}}<strong>{{user.facebook.pageName}}</strong></p>
                            <select class="form-control" ng-model="selectedPage" ng-change="setFacebookPage(selectedPage)">
                              <option ng-repeat="page in pages" ng-value="page">
                                 {{page.name}}</option>
                            </select>
                          </div>
                          <p>{{:: "MESSAGES_ARE_PLACED_ON_THE_PAGE_AUTOMATICALLY" | translate}}</p><a class="btn btn-primary" href="/api/auth/facebook/rerequest" target="_blank"> <span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK_AGAIN" | translate}}</a><a class="btn btn-default" ng-click="deleteFacebook()"><span class="fa fa-facebook"></span>&nbsp; {{:: "UNDO_CONNECT_FACEBOOK" | translate}}</a>
                          <hr/>
                          <div ng-show="user.facebook.postTo == 'wall' || (user.facebook.postTo == 'page' &amp;&amp; user.facebook.pageId)">
                            <h5>{{:: "PLACE_TEST_MESSAGE" | translate}}</h5><a class="btn btn-success" ng-click="testFacebook()"> <span class="fa fa-facebook"></span>&nbsp; {{:: "TEST_FACEBOOK_CONNECTION" | translate}}</a><br/><br/>
                            <div uib-alert="uib-alert" ng-show="testResult" ng-class="'alert-' + testResult.type">
                              <p bind-html-compile="testResult.msg"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="1" ui-sref="tab1" heading="{{:: &quot;LOGIN_WITH_PRISMANOTE&quot; | translate}}"><br/><br/><a class="btn btn-green btn-lg" ng-click="openLoginModal('login', 'reload', {username})">{{:: "MAIN_LOGIN" | translate}}</a>
              <p>{{:: "DONT_HAVE_AN_ACCOUNT_YET_REGISTER_WITH_FACEBOOK" | translate}}</p><a class="hidden btn btn-green btn-lg" ng-click="openLoginModal('register','reload', {username, role: 'retailer', verify: false})">{{:: "MAIN_REGISTER" | translate}}</a>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
      <div ng-show="differentUser &amp;&amp; user">
        <p>{{:: "YOU_ARE_LOGGED_IN_AS" | translate}} {{user.firstName}} {{user.lastNamePrefix ? user.lastNamePrefix : ""}} {{user.lastName}}</p><a class="btn btn-md btn-green" ng-click="continue()">{{:: "CONTINUE" | translate}}</a><br/><br/>
        <p>{{:: "ISNT_THIS_THE_CASE" | translate}}</p><a class="btn btn-md btn-default" ng-controller="authController" ng-click="logout(); $state.reload()">{{:: "LOG_OUT" | translate}}</a>
      </div>
      <div class="col-md-12" ng-show="addToShop">
        <h5 ng-show="!user.facebook &amp;&amp; (!user.facebook.pageId || !user.facebook.postTo != 'page')">{{:: "BUT_FIRST_OF_ALL_THIS" | translate}}</h5>
        <div ng-show="!user.facebook || user.facebook &amp;&amp; !user.facebook.profileId">
          <p>{{:: "YOU_HAVE_NOT_YET_MADE_A_FACEBOOK_LINK_WITH_PRISMANOTE_" | translate}}</p>
          <p>{{:: "MAKE_THIS_LINK_BEFORE_YOU_CAN_CARRY_OUT_THIS_CAMPAIGN" | translate}}</p>
          <p>{{:: "AFTER_LINKING_YOU_CAN_CLOSE_THAT_WINDOW_AND_REFRESH_THIS_PAGE_OR_CLICK_ON_THE_LINK_IN_THE_MAIL_AGAIN" | translate}}</p><a class="btn btn-primary" ng-href="/api/auth/facebook" target="_blank"><span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK" | translate}}</a>
        </div>
        <div ng-show="user.facebook">
          <div ng-show="user.facebook &amp;&amp; user.facebook.postTo == 'page' &amp;&amp; readyToGo">
            <p>{{:: "YOU_ARE_READY_TO_CARRY_OUT_THIS_CAMPAIGN" | translate}}</p><a class="btn btn-lg btn-green" ng-click="execute()">{{:: "EXECUTE_CAMPAIGN" | translate}}</a>
          </div>
          <div ng-show="user.facebook &amp;&amp; user.facebook.postTo != 'page' &amp;&amp; user.facebook.profileId">
            <p>{{:: "YOU_HAVE_A_FACEBOOK_LINK_BUT_IT_IS_NOT_SET_UP_ON_A_PAGE" | translate}}</p>
            <p>{{:: "CHOOSE_A_PAGE_ON_WHICH_YOU_WANT_TO_PLACE_THE_MESSAGES_TO_CONTINUE" | translate}}</p>
            <select class="form-control" ng-model="selectedPage">
              <option ng-repeat="page in pages" ng-value="page">
                 {{page.name}}</option>
            </select><a class="btn btn-md btn-green" ng-click="setFacebookPage(selectedPage)">{{:: "SAVE" | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
