app/src/views/welcome-campaigns.pug
.container.edit-campaign
    //- toggle-switch.pull-right(on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="exlusiveCosts")
    h3 {{:: "MARKETING_SUPPORT_OF" | translate}} {{nameSlugOfpage | translate}}
    br
    img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
    .row()
        .col-md-12(ng-hide="loading")
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                | {{alert.msg | translate}}
            div
                div(ng-controller="authController")
                    uib-tabset(active='activeTab' ng-hide="user.role=='wholesaler' || user.role=='retailer'")
                        uib-tab(index='0', ui-sref='tab0', heading='{{:: "LOGIN_REGISTER_WITH_FACEBOOK" | translate}}')
                            b {{:: "LOG_IN_WITH_FACEBOOK_TO_VIEW_THE_CAMPAIGNS_OF" | translate}} {{nameSlugOfpage | translate}} {{:: "TO_VIEW" | translate}}
                            br
                            hr
                            br
                            h3 {{:: "LOGIN_REGISTER_WITH_FACEBOOK" | translate}}
                            .block-small
                                div
                                    .col-md-12
                                        div(ng-hide="user.facebook")
                                            .row
                                                p {{:: "LOG_IN_WITH_ACCOUNT_WITH_RIGHTS_MANAGE_YOUR_COMPANY_OR_GRANT_THESE_RIGHTS_BEFORE_CONNECTING" | translate}}
                                                p {{:: "AFTER_PAIRING_CLOSE_AND_RELOAD_THE_OPENED_PAGE_OR_CLICK_AGAIN_ON_EMAIL_LINK" | translate}}
                                                a(ui-sref="layout.terms-of-service" target="_blank")
                                                    | {{:: "ACCEPT_TERMS_OF_SERVICE_CONDITIONS" | translate}}
                                                br
                                                br
                                                a.btn.btn-primary(href="/api/auth/facebook", target="_blank") 
                                                    span.fa.fa-facebook
                                                    | &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
                                        div(ng-show="user.facebook")
                                            .row 
                                                .col-md-6(ng-init="setFacebook(user.facebook.postTo, false)")
                                                    a.btn.btn-primary(ng-click="setFacebook('wall', true)", ng-disabled='user.facebook.postTo == "wall"') {{:: "POSTING_ON_MY_PROFILE" | translate}}
                                                    br
                                                    a.btn.btn-primary(ng-click="setFacebook('page', true)", ng-disabled='user.facebook.postTo == "page"') {{:: "POSTING_ON_MY_PAGE" | translate}}
                                                    div(ng-show='user.facebook && user.facebook.postTo == "page"')
                                                        h5 {{:: "SELECT_PAGE" | translate}}
                                                        p(ng-show="user.facebook.pageName") {{:: "CURRENT_SET_ON" | translate}}
                                                            strong {{user.facebook.pageName}}
                                                        select(ng-model="selectedPage", ng-change="setFacebookPage(selectedPage)").form-control
                                                            option(ng-repeat="page in pages" ng-value="page") 
                                                                |{{page.name}}
                                                    p {{:: "MESSAGES_ARE_PLACED_ON_THE_PAGE_AUTOMATICALLY" | translate}}
                                                    a.btn.btn-primary(href="/api/auth/facebook/rerequest", target="_blank") 
                                                        span.fa.fa-facebook
                                                        | &nbsp; {{:: "CONNECT_FACEBOOK_AGAIN" | translate}}
                                                    a.btn.btn-default(ng-click="deleteFacebook()")
                                                        span.fa.fa-facebook
                                                        | &nbsp; {{:: "UNDO_CONNECT_FACEBOOK" | translate}}
                                                    hr
                                                    div(ng-show="user.facebook.postTo == 'wall' || (user.facebook.postTo == 'page' && user.facebook.pageId)")
                                                        h5 {{:: "PLACE_TEST_MESSAGE" | translate}}
                                                        a.btn.btn-success(ng-click="testFacebook()") 
                                                            span.fa.fa-facebook
                                                            | &nbsp; {{:: "TEST_FACEBOOK_CONNECTION" | translate}}
                                                        br
                                                        br
                                                        div(uib-alert, ng-show="testResult", ng-class="'alert-' + testResult.type")
                                                            p(bind-html-compile="testResult.msg")
                        uib-tab(index='1', ui-sref='tab1', heading='{{:: "LOGIN_WITH_PRISMANOTE" | translate}}')
                            br
                            br
                            a.btn.btn-green.btn-lg(ng-click="openLoginModal('login', 'reload', {username})") {{:: "MAIN_LOGIN" | translate}}
                            p {{:: "IF_YOU_DONT_HAVE_AN_ACCOUNT_REGISTER_WITH_FACEBOOK" | translate}}
                            //- register popup button is temporal disabled because registering an account works but after registering it's required to register again with Facebook.
                            a.hidden.btn.btn-green.btn-lg(ng-click="openLoginModal('register','reload', {username, role: 'retailer', verify: false})") {{:: "MAIN_REGISTER" | translate}}

            //-div(ng-show="differentUser && user")
            div(ng-show="user && differentUser")
                p {{:: "YOU_ARE_LOGGED_IN_AS" | translate}} {{user.firstName}} {{user.lastNamePrefix ? user.lastNamePrefix : ""}} {{user.lastName}}
                p {{:: "MAKE_SURE_THIS_USER_HAS_CORRECT_SOCIAL_PORTAL" | translate}}
                a.btn.btn-md.btn-green#doorGan(ng-click="differentUser = false; showCampaigns = true") {{:: "CONTINUE" | translate}}
                br
                br
                p {{:: "YOURE_NOT_THIS_PERSON" | translate}}
                a.btn.btn-md.btn-default(ng-controller="authController" ng-click="logout(); $state.reload()") {{:: "LOG_OUT" | translate}}
            .col-md-12(ng-show="addToShop")
                h5(ng-show="!user.facebook && (!user.facebook.pageId || !user.facebook.postTo != 'page')") {{:: "BUT_FIRST_OF_ALL_THIS_" | translate}}
                div(ng-show="!user.facebook || user.facebook && !user.facebook.profileId")
                    p {{:: "YOU_HAVE_NOT_YET_MADE_A_FACEBOOK_CONNECTION_WITH_PRISMANOTE" | translate}}
                    p {{:: "MAKE_THIS_CONNECTION_BEFORE_YOU_EXECUTE_THIS_CAMPAIGN" | translate}}
                    p {{:: "ATER_LINKING_CLOSE_THE_WINDOW_AND_REFRESH_PAGE_OR_CLICK_ON_EMAIL_LINK_AGAIN" | translate}}
                    a.btn.btn-primary(ng-href="/api/auth/facebook", target="_blank")
                        span.fa.fa-facebook
                        | &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
                div(ng-show="user.facebook")
                    div(ng-show="user.facebook && user.facebook.postTo == 'page' && readyToGo")
                        p {{:: "YOU_ARE_READY_TO_EXECUTE_CAMPAIGN" | translate}}
                        a.btn.btn-lg.btn-green(ng-click="execute()") {{:: "EXECUTE_A_CAMPAIGN" | translate}}
                    div(ng-show="user.facebook && user.facebook.postTo != 'page' && user.facebook.profileId")
                        p {{:: "YOU_HAVE_A_FACEBOOK_LINK_BUT_IT_IS_NOT_SET_UP_ON_A_PAGE" | translate}}
                        p {{:: "CHOOSE_A_PAGE_ON_WHICH_YOU_WANT_TO_PLACE_MESSAGES_TO_CONTINUE" | translate}}

                        select(ng-model="selectedPage").form-control
                            option(ng-repeat="page in pages" ng-value="page") 
                                |{{page.name | translate}}
                        a.btn.btn-md.btn-green(ng-click="setFacebookPage(selectedPage)") {{:: "SAVE" | translate}}
            div(ng-show="showCampaigns")
                b {{:: "CONDUCT_LOCAL_MARKETING_CAMPAIGNS_OF" | translate}} {{nameSlugOfpage | translate}} 
                    div(ng-if="exlusiveCosts")
                        | {{:: "CAN_BE_DONE_WITH_JOINT_MARKETING_BUDGET_THAT" | translate}} {{nameSlugOfpage | translate}} {{:: "AND_MAKE_YOU_AVAILABLE_TOGETHER" | translate}} 
                br
                |  + {{nameSlugOfpage | translate}} {{:: "PROVIDES_BUDGET_MARKETING_CAMPAIGNS_AND_PERSONAL_ASSISTANT_AVAILABLE_REMOTLY" | translate}} 
                br
                | + {{:: "BY_GRANTING_THIS_ASSISTANT_ACCESS_TO_THE" | translate}} {{nameSlugOfpage | translate}} {{:: "CAMPAIGNS_YOU_DONT_HAVE_TO_DO_ANYTHING_YOURSELF_ANYMORE" | translate}}
                br
                div(ng-if="exlusiveCosts")
                    | + {{:: "YOU_CAN_MAKE_YOUR_CONTRIBUTION_TO_THESE_CAMPAIGNS_AVAILABLE_BY_INCREASING_YOUR_CREDIT_ON_THIS_PAGE" | translate}}
                br
                br
                br
                hr
                b {{:: "CAMPAIGN_PLANNING_FROM" | translate}} {{nameSlugOfpage | translate}}
                .row(ng-repeat="obj in usercampaigns")
                    br
                    .col-md-12
                        .row
                        .col-md-4
                            b {{obj.startdate | date}}
                        .col-md-4(ng-if="$index == 0")
                            b {{nameSlugOfpage | translate}} {{:: "PAID_HEREOF" | translate}} 
                        .col-md-4(ng-if="exlusiveCosts && $index == 0")
                            b {{:: "YOU_PAY_FOR_THIS" | translate}} 
                        .row
                    .col-md-12
                        .col-md-4
                            p {{obj.name | translate}} ({{:: "TOTAL" | translate}} : {{obj.budget}}€)
                        .col-md-4
                            p
                            div(ng-if="exlusiveCosts") | {{((obj.contribution.percent * obj.budget) / 100)}}€
                            div(ng-if="!exlusiveCosts") | {{obj.budget}}€
                            br
                        .col-md-4
                            p
                            div(ng-if="exlusiveCosts") | {{(((100 - obj.contribution.percent) * obj.budget) / 100)}}€
                            br
                            br
                    .row
                .row
                    br
                    br
                    br
                    b {{:: "TOTAL_ADVERTISING_BUDGET" | translate}} {{totalCost}} euro {{:: "EXPECTED_RESULT_" | translate}} 20.000 {{:: "VIEWS_IN_YOUR_AREA" | translate}}
                    br
                    b(ng-if="exlusiveCosts") {{:: "TOTAL_CONTRIBUTION_THAT" | translate}} {{:: "YOULL_PAY" | translate}} : {{totalPay}} euro
                    hr
                .row
                    .col-md-6
                        br
                        br
                        b {{:: "WHO_EXECUTES_THESE_CAMPAIGNS_FOR_YOU" | translate}}
                        br
                        br
                        label {{uniqMarketingUser.firstName}} {{uniqMarketingUser.lastNamePrefix}} {{uniqMarketingUser.lastName}}
                        br
                        | {{uniqMarketingUser.marketingUserMission}}
                        br
                        br
                        label {{:: "HELPS_YOU_CARRY_OUT" | translate}} {{nameSlugOfpage | translate}} {{:: "S_ABOVE_MARKETING_CAMPAIGNS_FREE_OF_CHARGE" | translate}} 
                        br
                    .col-md-6
                        br
                        br
                        img(ng-src="{{uniqMarketingUser.marketingUserImage}}" style="width:75%")
                        br
                        br
                br
                br
                hr
                br
                br
                .row(ng-if="campaignFound")
                    .col-md-6(ng-if="exlusiveCosts")
                        span {{:: "STEP_1_PAY" | translate}}
                        br
                        br
                        b {{:: "TOTAL_CONTRIBUTION_YOULL_PAY" | translate}} {{totalPay}} euro
                        br
                        br
                        .actions
                            .action-checkout
                                a.btn.btn-lg.btn-green(ng-disabled="!isCredited" ng-click="paymentFunc()")
                                    i.fa.fa-credit-card
                                    span.checkout-text {{:: "TEXT_CHECKOUT" | translate}}
                                //- a.btn.btn-lg.btn-green(ui-sref='layout.checkout' ng-click="top()" ng-if="!shop")
                                //-     i.fa.fa-credit-card
                                //-     span.checkout-text {{:: "TEXT_CHECKOUT" | translate}}
                                //- a.btn.btn-lg.btn-green(ui-sref='{{getShopType()}}.checkout()' ng-click="top()" ng-if="shop")
                                //-     i.fa.fa-credit-card
                                //-     span.checkout-text {{:: "TEXT_CHECKOUT" | translate}}
                        br
                        | {{:: "YOU_WILL_BE_REIMBURSED_THE" | translate}} {{totalCost}} euro {{:: "ON_YOUR" | translate}} {{nameSlugOfpage | translate}} {{:: "MARKETING_ACTIVITIES_IF_YOU_TRANSFER" | translate}}  
                        br
                        b {{Math.ceil(((40 * totalCost) / 100))}} euro 
                        | {{:: "TO_YOUR_PRISMANOTE_ACCOUNT_TOGETHER_WITH_CONTRIBUTION_FROM" | translate}} {{nameSlugOfpage | translate}} {{:: "WILL_BE_TRANSFERRED_DIRECTLY_TO_FACEBOOK" | translate}} 
                        br
                        b {{nameSlugOfpage | uppercase | translate}} {{:: "CAMPAGNES" | translate}} {{nameSlugToken}}
                    .col-md-6
                        div(ng-if="exlusiveCosts")
                            | {{:: "STEP_2_GIVE_" | translate}} {{nameSlugOfpage | translate}} {{:: "ACCESS_TO_SHARE_THEIR_CAMPAIGNS" | translate}}
                        br
                        br
                        b {{:: "PLACING_OF_THE_ABOVE_CAMPAIGNS_AND_VIEWING_OF_RESULTS" | translate}} 
                        br
                        br
                        //a.btn.btn-lg.btn-green(ng-disabled="isCredited" ng-click="executeCampaign()") {{nameSlugOfpage | translate}} medewerker toestemming geven deze campagnes uit te voeren
                        a.btn.btn-lg.btn-green(ng-disabled="isCredited", ng-if="verified", ng-click="executeCampaign('verify')") {{:: "GIVE_THE" | translate}} {{nameSlugOfpage | translate}} {{:: "GIVE_THE_EMPLOYEE_PERMISSION_TO_CARRY_OUT_THESE_CAMPAIGNS" | translate}}
                        .alert.alert-success(ng-if="!verified") {{:: "SUCCESSFULLY_GIVEN_ACCESS_TO_THE_MARKETING_USER" | translate}}
                        input.btn.btn-danger(ng-if="!verified", type="submit", ng-click="executeCampaign('revert')" value='{{:: "REVERT_ACCESS" | translate}}')
                        br
                        br
                        p {{:: "YOU_CAN_ALWAYS_DISABLE_ACCESS_INDEPENDENTLY_FROM_YOUR_PRISMANOTE_ACCOUNT" | translate}}
                br
                br
                br
                br

app/dist/views/welcome-campaigns.html

<div class="container edit-campaign">
  <h3>{{:: "MARKETING_SUPPORT_OF" | translate}} {{nameSlugOfpage | translate}}</h3><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
  <div class="row">
    <div class="col-md-12" ng-hide="loading">
      <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg | translate}}</div>
      <div>
        <div ng-controller="authController">
          <uib-tabset active="activeTab" ng-hide="user.role=='wholesaler' || user.role=='retailer'">
            <uib-tab index="0" ui-sref="tab0" heading="{{:: &quot;LOGIN_REGISTER_WITH_FACEBOOK&quot; | translate}}"><b>{{:: "LOG_IN_WITH_FACEBOOK_TO_VIEW_THE_CAMPAIGNS_OF" | translate}} {{nameSlugOfpage | translate}} {{:: "TO_VIEW" | translate}}</b><br/>
              <hr/><br/>
              <h3>{{:: "LOGIN_REGISTER_WITH_FACEBOOK" | translate}}</h3>
              <div class="block-small">
                <div>
                  <div class="col-md-12">
                    <div ng-hide="user.facebook">
                      <div class="row">
                        <p>{{:: "LOG_IN_WITH_ACCOUNT_WITH_RIGHTS_MANAGE_YOUR_COMPANY_OR_GRANT_THESE_RIGHTS_BEFORE_CONNECTING" | translate}}</p>
                        <p>{{:: "AFTER_PAIRING_CLOSE_AND_RELOAD_THE_OPENED_PAGE_OR_CLICK_AGAIN_ON_EMAIL_LINK" | translate}}</p><a ui-sref="layout.terms-of-service" target="_blank">{{:: "ACCEPT_TERMS_OF_SERVICE_CONDITIONS" | translate}}</a><br/><br/><a class="btn btn-primary" href="/api/auth/facebook" target="_blank"> <span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK" | translate}}</a>
                      </div>
                    </div>
                    <div ng-show="user.facebook">
                      <div class="row"> 
                        <div class="col-md-6" ng-init="setFacebook(user.facebook.postTo, false)"><a class="btn btn-primary" ng-click="setFacebook('wall', true)" ng-disabled="user.facebook.postTo == &quot;wall&quot;">{{:: "POSTING_ON_MY_PROFILE" | translate}}</a><br/><a class="btn btn-primary" ng-click="setFacebook('page', true)" ng-disabled="user.facebook.postTo == &quot;page&quot;">{{:: "POSTING_ON_MY_PAGE" | translate}}</a>
                          <div ng-show="user.facebook &amp;&amp; user.facebook.postTo == &quot;page&quot;">
                            <h5>{{:: "SELECT_PAGE" | translate}}</h5>
                            <p ng-show="user.facebook.pageName">{{:: "CURRENT_SET_ON" | translate}}<strong>{{user.facebook.pageName}}</strong></p>
                            <select class="form-control" ng-model="selectedPage" ng-change="setFacebookPage(selectedPage)">
                              <option ng-repeat="page in pages" ng-value="page">
                                 {{page.name}}</option>
                            </select>
                          </div>
                          <p>{{:: "MESSAGES_ARE_PLACED_ON_THE_PAGE_AUTOMATICALLY" | translate}}</p><a class="btn btn-primary" href="/api/auth/facebook/rerequest" target="_blank"> <span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK_AGAIN" | translate}}</a><a class="btn btn-default" ng-click="deleteFacebook()"><span class="fa fa-facebook"></span>&nbsp; {{:: "UNDO_CONNECT_FACEBOOK" | translate}}</a>
                          <hr/>
                          <div ng-show="user.facebook.postTo == 'wall' || (user.facebook.postTo == 'page' &amp;&amp; user.facebook.pageId)">
                            <h5>{{:: "PLACE_TEST_MESSAGE" | translate}}</h5><a class="btn btn-success" ng-click="testFacebook()"> <span class="fa fa-facebook"></span>&nbsp; {{:: "TEST_FACEBOOK_CONNECTION" | translate}}</a><br/><br/>
                            <div uib-alert="uib-alert" ng-show="testResult" ng-class="'alert-' + testResult.type">
                              <p bind-html-compile="testResult.msg"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="1" ui-sref="tab1" heading="{{:: &quot;LOGIN_WITH_PRISMANOTE&quot; | translate}}"><br/><br/><a class="btn btn-green btn-lg" ng-click="openLoginModal('login', 'reload', {username})">{{:: "MAIN_LOGIN" | translate}}</a>
              <p>{{:: "IF_YOU_DONT_HAVE_AN_ACCOUNT_REGISTER_WITH_FACEBOOK" | translate}}</p><a class="hidden btn btn-green btn-lg" ng-click="openLoginModal('register','reload', {username, role: 'retailer', verify: false})">{{:: "MAIN_REGISTER" | translate}}</a>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
      <div ng-show="user &amp;&amp; differentUser">
        <p>{{:: "YOU_ARE_LOGGED_IN_AS" | translate}} {{user.firstName}} {{user.lastNamePrefix ? user.lastNamePrefix : ""}} {{user.lastName}}</p>
        <p>{{:: "MAKE_SURE_THIS_USER_HAS_CORRECT_SOCIAL_PORTAL" | translate}}</p><a class="btn btn-md btn-green" id="doorGan" ng-click="differentUser = false; showCampaigns = true">{{:: "CONTINUE" | translate}}</a><br/><br/>
        <p>{{:: "YOURE_NOT_THIS_PERSON" | translate}}</p><a class="btn btn-md btn-default" ng-controller="authController" ng-click="logout(); $state.reload()">{{:: "LOG_OUT" | translate}}</a>
      </div>
      <div class="col-md-12" ng-show="addToShop">
        <h5 ng-show="!user.facebook &amp;&amp; (!user.facebook.pageId || !user.facebook.postTo != 'page')">{{:: "BUT_FIRST_OF_ALL_THIS_" | translate}}</h5>
        <div ng-show="!user.facebook || user.facebook &amp;&amp; !user.facebook.profileId">
          <p>{{:: "YOU_HAVE_NOT_YET_MADE_A_FACEBOOK_CONNECTION_WITH_PRISMANOTE" | translate}}</p>
          <p>{{:: "MAKE_THIS_CONNECTION_BEFORE_YOU_EXECUTE_THIS_CAMPAIGN" | translate}}</p>
          <p>{{:: "ATER_LINKING_CLOSE_THE_WINDOW_AND_REFRESH_PAGE_OR_CLICK_ON_EMAIL_LINK_AGAIN" | translate}}</p><a class="btn btn-primary" ng-href="/api/auth/facebook" target="_blank"><span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK" | translate}}</a>
        </div>
        <div ng-show="user.facebook">
          <div ng-show="user.facebook &amp;&amp; user.facebook.postTo == 'page' &amp;&amp; readyToGo">
            <p>{{:: "YOU_ARE_READY_TO_EXECUTE_CAMPAIGN" | translate}}</p><a class="btn btn-lg btn-green" ng-click="execute()">{{:: "EXECUTE_A_CAMPAIGN" | translate}}</a>
          </div>
          <div ng-show="user.facebook &amp;&amp; user.facebook.postTo != 'page' &amp;&amp; user.facebook.profileId">
            <p>{{:: "YOU_HAVE_A_FACEBOOK_LINK_BUT_IT_IS_NOT_SET_UP_ON_A_PAGE" | translate}}</p>
            <p>{{:: "CHOOSE_A_PAGE_ON_WHICH_YOU_WANT_TO_PLACE_MESSAGES_TO_CONTINUE" | translate}}</p>
            <select class="form-control" ng-model="selectedPage">
              <option ng-repeat="page in pages" ng-value="page">
                 {{page.name | translate}}</option>
            </select><a class="btn btn-md btn-green" ng-click="setFacebookPage(selectedPage)">{{:: "SAVE" | translate}}</a>
          </div>
        </div>
      </div>
      <div ng-show="showCampaigns"><b>{{:: "CONDUCT_LOCAL_MARKETING_CAMPAIGNS_OF" | translate}} {{nameSlugOfpage | translate}} 
          <div ng-if="exlusiveCosts">{{:: "CAN_BE_DONE_WITH_JOINT_MARKETING_BUDGET_THAT" | translate}} {{nameSlugOfpage | translate}} {{:: "AND_MAKE_YOU_AVAILABLE_TOGETHER" | translate}} </div></b><br/> + {{nameSlugOfpage | translate}} {{:: "PROVIDES_BUDGET_MARKETING_CAMPAIGNS_AND_PERSONAL_ASSISTANT_AVAILABLE_REMOTLY" | translate}} <br/>+ {{:: "BY_GRANTING_THIS_ASSISTANT_ACCESS_TO_THE" | translate}} {{nameSlugOfpage | translate}} {{:: "CAMPAIGNS_YOU_DONT_HAVE_TO_DO_ANYTHING_YOURSELF_ANYMORE" | translate}}<br/>
        <div ng-if="exlusiveCosts">+ {{:: "YOU_CAN_MAKE_YOUR_CONTRIBUTION_TO_THESE_CAMPAIGNS_AVAILABLE_BY_INCREASING_YOUR_CREDIT_ON_THIS_PAGE" | translate}}</div><br/><br/><br/>
        <hr/><b>{{:: "CAMPAIGN_PLANNING_FROM" | translate}} {{nameSlugOfpage | translate}}</b>
        <div class="row" ng-repeat="obj in usercampaigns"><br/>
          <div class="col-md-12">
            <div class="row"></div>
            <div class="col-md-4"><b>{{obj.startdate | date}}</b></div>
            <div class="col-md-4" ng-if="$index == 0"><b>{{nameSlugOfpage | translate}} {{:: "PAID_HEREOF" | translate}} </b></div>
            <div class="col-md-4" ng-if="exlusiveCosts &amp;&amp; $index == 0"><b>{{:: "YOU_PAY_FOR_THIS" | translate}} </b></div>
            <div class="row"></div>
          </div>
          <div class="col-md-12">
            <div class="col-md-4">
              <p>{{obj.name | translate}} ({{:: "TOTAL" | translate}} : {{obj.budget}}€)</p>
            </div>
            <div class="col-md-4">
              <p></p>
              <div ng-if="exlusiveCosts">| {{((obj.contribution.percent * obj.budget) / 100)}}€</div>
              <div ng-if="!exlusiveCosts">| {{obj.budget}}€</div><br/>
            </div>
            <div class="col-md-4">
              <p></p>
              <div ng-if="exlusiveCosts">| {{(((100 - obj.contribution.percent) * obj.budget) / 100)}}€</div><br/><br/>
            </div>
          </div>
          <div class="row"></div>
        </div>
        <div class="row"><br/><br/><br/><b>{{:: "TOTAL_ADVERTISING_BUDGET" | translate}} {{totalCost}} euro {{:: "EXPECTED_RESULT_" | translate}} 20.000 {{:: "VIEWS_IN_YOUR_AREA" | translate}}</b><br/><b ng-if="exlusiveCosts">{{:: "TOTAL_CONTRIBUTION_THAT" | translate}} {{:: "YOULL_PAY" | translate}} : {{totalPay}} euro</b>
          <hr/>
        </div>
        <div class="row">
          <div class="col-md-6"><br/><br/><b>{{:: "WHO_EXECUTES_THESE_CAMPAIGNS_FOR_YOU" | translate}}</b><br/><br/>
            <label>{{uniqMarketingUser.firstName}} {{uniqMarketingUser.lastNamePrefix}} {{uniqMarketingUser.lastName}}</label><br/>{{uniqMarketingUser.marketingUserMission}}<br/><br/>
            <label>{{:: "HELPS_YOU_CARRY_OUT" | translate}} {{nameSlugOfpage | translate}} {{:: "S_ABOVE_MARKETING_CAMPAIGNS_FREE_OF_CHARGE" | translate}} </label><br/>
          </div>
          <div class="col-md-6"><br/><br/><img ng-src="{{uniqMarketingUser.marketingUserImage}}" style="width:75%"/><br/><br/></div>
        </div><br/><br/>
        <hr/><br/><br/>
        <div class="row" ng-if="campaignFound">
          <div class="col-md-6" ng-if="exlusiveCosts"><span>{{:: "STEP_1_PAY" | translate}}</span><br/><br/><b>{{:: "TOTAL_CONTRIBUTION_YOULL_PAY" | translate}} {{totalPay}} euro</b><br/><br/>
            <div class="actions">
              <div class="action-checkout"><a class="btn btn-lg btn-green" ng-disabled="!isCredited" ng-click="paymentFunc()"><i class="fa fa-credit-card"></i><span class="checkout-text">{{:: "TEXT_CHECKOUT" | translate}}</span></a></div>
            </div><br/>{{:: "YOU_WILL_BE_REIMBURSED_THE" | translate}} {{totalCost}} euro {{:: "ON_YOUR" | translate}} {{nameSlugOfpage | translate}} {{:: "MARKETING_ACTIVITIES_IF_YOU_TRANSFER" | translate}}  <br/><b>{{Math.ceil(((40 * totalCost) / 100))}} euro </b>{{:: "TO_YOUR_PRISMANOTE_ACCOUNT_TOGETHER_WITH_CONTRIBUTION_FROM" | translate}} {{nameSlugOfpage | translate}} {{:: "WILL_BE_TRANSFERRED_DIRECTLY_TO_FACEBOOK" | translate}} <br/><b>{{nameSlugOfpage | uppercase | translate}} {{:: "CAMPAGNES" | translate}} {{nameSlugToken}}</b>
          </div>
          <div class="col-md-6">
            <div ng-if="exlusiveCosts">{{:: "STEP_2_GIVE_" | translate}} {{nameSlugOfpage | translate}} {{:: "ACCESS_TO_SHARE_THEIR_CAMPAIGNS" | translate}}</div><br/><br/><b>{{:: "PLACING_OF_THE_ABOVE_CAMPAIGNS_AND_VIEWING_OF_RESULTS" | translate}} </b><br/><br/>
            <!--a.btn.btn-lg.btn-green(ng-disabled="isCredited" ng-click="executeCampaign()") {{nameSlugOfpage | translate}} medewerker toestemming geven deze campagnes uit te voeren--><a class="btn btn-lg btn-green" ng-disabled="isCredited" ng-if="verified" ng-click="executeCampaign('verify')">{{:: "GIVE_THE" | translate}} {{nameSlugOfpage | translate}} {{:: "GIVE_THE_EMPLOYEE_PERMISSION_TO_CARRY_OUT_THESE_CAMPAIGNS" | translate}}</a>
            <div class="alert alert-success" ng-if="!verified">{{:: "SUCCESSFULLY_GIVEN_ACCESS_TO_THE_MARKETING_USER" | translate}}</div>
            <input class="btn btn-danger" ng-if="!verified" type="submit" ng-click="executeCampaign('revert')" value="{{:: &quot;REVERT_ACCESS&quot; | translate}}"/><br/><br/>
            <p>{{:: "YOU_CAN_ALWAYS_DISABLE_ACCESS_INDEPENDENTLY_FROM_YOUR_PRISMANOTE_ACCOUNT" | translate}}</p>
          </div>
        </div><br/><br/><br/><br/>
      </div>
    </div>
  </div>
</div>
