app/src/views/directives/campaign-brand-block.pug
.campaign-block
    a.campaign-block-image(ui-sref='brand.campaign({nameSlug:item.nameSlug})' style="background-image: url('{{item.images[0].src}}')")
    div(uib-alert, ng-show="!item.isVerified").alert.alert-danger.text-center
        | {{:: "THIS_CAMPAIGN_HAS_NOT_YET_BEEN_APPROVED" | translate}}
    .campaign-block-content
        a(ui-sref='brand.campaign({nameSlug:item.nameSlug})')
            h5.campaign-block-title {{item.name}}&nbsp;&nbsp;
        i.fa.fa-star.rating(ng-show="item.ranking > 1" ng-repeat="n in getNumber(item.ranking) track by $index")
        p.hidden
            span
                i.fa.fa-euro(ng-hide="item.contribution ==true")
                span(ng-hide="item.contribution ==true" uib-tooltip-html='"{{:: "EXPLAIN_CONTRIBUTION_CAMPAIGN" | translate}}"') &nbsp; {{:: "SUPPLIERS_CONTRIBUTION_EURO" | translate}}
        p
            span
                i.fa.fa-bullhorn(ng-if="item.strategy =='target-search'")
                span(ng-if='item.strategy =="target-search"' uib-tooltip-html='"{{:: "EXPLAIN_TARGET_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}}
                    i.fa.fa-rocket

                i.fa.fa-bullhorn(ng-if="item.strategy =='local-plump'")
                span(ng-if='item.strategy =="local-plump"' uib-tooltip-html='"{{:: "EXPLAIN_LOCALPLUMP_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}}
                    i.fa.fa-tint

                i.fa.fa-home(ng-if="item.strategy =='store-promotion'")
                span(ng-if='item.strategy =="store-promotion"' uib-tooltip-html='"{{:: "EXPLAIN_MYSTORE_CAMPAIGN" | translate}}"') &nbsp; {{:: "MY_STORE_PROMOTION" | translate}}

                i.fa.fa-bullhorn(ng-if="item.update ==true")
                span(ng-if="item.update ==true" uib-tooltip-html='"{{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}"') &nbsp; {{:: "ORDINARY_UPDATE" | translate}}
        a.date
            i.fa.fa-share
            span &nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}
        p.date
            i.fa.fa-calendar-o
            span &nbsp; {{formatDate(item.startDate, true)}} {{:: "TILL" | translate}} {{formatDate(item.endDate, true)}}
        b &nbsp; # {{item.brand.name}}

app/dist/views/directives/campaign-brand-block.html

<div class="campaign-block"><a class="campaign-block-image" ui-sref="brand.campaign({nameSlug:item.nameSlug})" style="background-image: url('{{item.images[0].src}}')"></a>
  <div class="alert alert-danger text-center" uib-alert="uib-alert" ng-show="!item.isVerified">{{:: "THIS_CAMPAIGN_HAS_NOT_YET_BEEN_APPROVED" | translate}}</div>
  <div class="campaign-block-content"><a ui-sref="brand.campaign({nameSlug:item.nameSlug})">
      <h5 class="campaign-block-title">{{item.name}}&nbsp;&nbsp;</h5></a><i class="fa fa-star rating" ng-show="item.ranking &gt; 1" ng-repeat="n in getNumber(item.ranking) track by $index"></i>
    <p class="hidden"><span><i class="fa fa-euro" ng-hide="item.contribution ==true"></i><span ng-hide="item.contribution ==true" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_CONTRIBUTION_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "SUPPLIERS_CONTRIBUTION_EURO" | translate}}</span></span></p>
    <p><span><i class="fa fa-bullhorn" ng-if="item.strategy =='target-search'"></i><span ng-if="item.strategy ==&quot;target-search&quot;" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_TARGET_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "PROMOTION_STRATEGY" | translate}}<i class="fa fa-rocket"></i></span><i class="fa fa-bullhorn" ng-if="item.strategy =='local-plump'"></i><span ng-if="item.strategy ==&quot;local-plump&quot;" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_LOCALPLUMP_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "PROMOTION_STRATEGY" | translate}}<i class="fa fa-tint"></i></span><i class="fa fa-home" ng-if="item.strategy =='store-promotion'"></i><span ng-if="item.strategy ==&quot;store-promotion&quot;" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_MYSTORE_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "MY_STORE_PROMOTION" | translate}}</span><i class="fa fa-bullhorn" ng-if="item.update ==true"></i><span ng-if="item.update ==true" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE&quot; | translate}}&quot;">&nbsp; {{:: "ORDINARY_UPDATE" | translate}}</span></span></p><a class="date"><i class="fa fa-share"></i><span>&nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}</span></a>
    <p class="date"><i class="fa fa-calendar-o"></i><span>&nbsp; {{formatDate(item.startDate, true)}} {{:: "TILL" | translate}} {{formatDate(item.endDate, true)}}</span></p><b>&nbsp; # {{item.brand.name}}</b>
  </div>
</div>
