app/src/views/directives/campaign-block.pug
.campaign-block
	a.campaign-block-image(ui-sref='admin.campaign({nameSlug:item.nameSlug})' style="background-image: url('{{item.images[0].src}}')")
	.campaign-block-content
		a(ui-sref='admin.campaign({nameSlug:item.nameSlug})')
			h5.campaign-block-title {{item.name}}
		p.date
			i.fa.fa-calendar-o
			span &nbsp; {{formatDate(item.startDate, true)}} {{:: "UNTIL" | translate}} {{formatDate(item.endDate, true)}}
		a.date(ui-sref="admin.campaign({nameSlug:item.nameSlug, tab:'tasks'})")
			i.fa.fa-share
			span &nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}

app/dist/views/directives/campaign-block.html

<div class="campaign-block"><a class="campaign-block-image" ui-sref="admin.campaign({nameSlug:item.nameSlug})" style="background-image: url('{{item.images[0].src}}')"></a>
  <div class="campaign-block-content"><a ui-sref="admin.campaign({nameSlug:item.nameSlug})">
      <h5 class="campaign-block-title">{{item.name}}</h5></a>
    <p class="date"><i class="fa fa-calendar-o"></i><span>&nbsp; {{formatDate(item.startDate, true)}} {{:: "UNTIL" | translate}} {{formatDate(item.endDate, true)}}</span></p><a class="date" ui-sref="admin.campaign({nameSlug:item.nameSlug, tab:'tasks'})"><i class="fa fa-share"></i><span>&nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}</span></a>
  </div>
</div>
