app/src/views/directives/campaign-retailer-block-modal.pug
.campaign-block
	a.campaign-block-image(ng-click="openPreviewCampaignModal(item)" style="background-image: url('{{item.images[0].src}}')")
	.campaign-block-content
		a(ng-click="openPreviewCampaignModal(item)")
			h5.campaign-block-title {{item.name}}&nbsp;&nbsp;
				//-i.fa.fa-star.rating(ng-repeat="n in range(item.rating)")
				i.fa.fa-star.rating.hidden
				i.fa.fa-star.rating.hidden
				i.fa.fa-star.rating.hidden
				i.fa.fa-star.rating.hidden
		p.hidden
			span
				i.fa.fa-euro(ng-hide="item.contribution ==true")
				span(ng-hide="item.contribution ==true" uib-tooltip-html='"{{:: "EXPLAIN_CONTRIBUTION_CAMPAIGN" | translate}}"') &nbsp; {{:: "SUPPLIERS_CONTRIBUTION_EURO" | translate}}
		p
			span
				i.fa.fa-bullhorn(ng-if="item.strategy =='target-search'")
				span(ng-if="item.strategy =='target-search'" uib-tooltip-html='"{{:: "EXPLAIN_TARGET_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}} 
					i.fa.fa-rocket

				i.fa.fa-bullhorn(ng-if="item.strategy =='local-plump'")
				span(ng-if="item.strategy =='local-plump'" uib-tooltip-html='"{{:: "EXPLAIN_LOCALPLUMP_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}} 
					i.fa.fa-tint

				i.fa.fa-home(ng-if="item.strategy =='store-promotion'")
				span(ng-if="item.strategy =='store-promotion'" uib-tooltip-html='"{{:: "EXPLAIN_MYSTORE_CAMPAIGN" | translate}}"') &nbsp; {{:: "MY_STORE_PROMOTION" | translate}}

				i.fa.fa-bullhorn(ng-if="item.update ==true")
				span(ng-if="item.update ==true" uib-tooltip-html='"{{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}"') &nbsp; {{:: "ORDINARY_UPDATE" | translate}}

		a.date
			i.fa.fa-share
			span &nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}
		p.date
			i.fa.fa-calendar-o
			span &nbsp; {{formatDate(item.startDate, true)}} {{:: "TILL" | translate}} {{formatDate(item.endDate, true)}}
		b &nbsp; # {{item.brand.name}}
		//-a.btn.btn-md.btn-light(ng-click="openPreviewCampaignModal(item)") {{:: "VIEW" | translate}}

app/dist/views/directives/campaign-retailer-block-modal.html

<div class="campaign-block"><a class="campaign-block-image" ng-click="openPreviewCampaignModal(item)" style="background-image: url('{{item.images[0].src}}')"></a>
  <div class="campaign-block-content"><a ng-click="openPreviewCampaignModal(item)">
      <h5 class="campaign-block-title">{{item.name}}&nbsp;&nbsp;<i class="fa fa-star rating hidden"></i><i class="fa fa-star rating hidden"></i><i class="fa fa-star rating hidden"></i><i class="fa fa-star rating hidden"></i></h5></a>
    <p class="hidden"><span><i class="fa fa-euro" ng-hide="item.contribution ==true"></i><span ng-hide="item.contribution ==true" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_CONTRIBUTION_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "SUPPLIERS_CONTRIBUTION_EURO" | translate}}</span></span></p>
    <p><span><i class="fa fa-bullhorn" ng-if="item.strategy =='target-search'"></i><span ng-if="item.strategy =='target-search'" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_TARGET_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "PROMOTION_STRATEGY" | translate}} <i class="fa fa-rocket"></i></span><i class="fa fa-bullhorn" ng-if="item.strategy =='local-plump'"></i><span ng-if="item.strategy =='local-plump'" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_LOCALPLUMP_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "PROMOTION_STRATEGY" | translate}} <i class="fa fa-tint"></i></span><i class="fa fa-home" ng-if="item.strategy =='store-promotion'"></i><span ng-if="item.strategy =='store-promotion'" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_MYSTORE_CAMPAIGN&quot; | translate}}&quot;">&nbsp; {{:: "MY_STORE_PROMOTION" | translate}}</span><i class="fa fa-bullhorn" ng-if="item.update ==true"></i><span ng-if="item.update ==true" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE&quot; | translate}}&quot;">&nbsp; {{:: "ORDINARY_UPDATE" | translate}}</span></span></p><a class="date"><i class="fa fa-share"></i><span>&nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}</span></a>
    <p class="date"><i class="fa fa-calendar-o"></i><span>&nbsp; {{formatDate(item.startDate, true)}} {{:: "TILL" | translate}} {{formatDate(item.endDate, true)}}</span></p><b>&nbsp; # {{item.brand.name}}</b>
  </div>
</div>
