app/src/views/directives/make-purchase-order.pug
.product-filter.filter
	a(href='' ng-init="showPurchaseOrder = false" ng-click="showPurchaseOrder = !showPurchaseOrder")
		h5 {{:: "TO_ORDER" | translate}} (Demo)&nbsp;
			i.fa.fa-chevron-up(ng-show="showPurchaseOrder")
			i.fa.fa-chevron-down(ng-show="!showPurchaseOrder")
	.filter-content(uib-collapse="!showPurchaseOrder")
		label(for="item.make-purchase-order") {{:: "MAKE_A_PURCHASE_ORDER" | translate}}
			.row
			a.btn.btn-sm.btn-dark.pull-right(href="" ui-sref="retailer.purchase-orders") {{:: "ALL_PURCHASE_ORDERS" | translate}}
			a.btn.btn-sm.btn-dark.button-margin-right(ui-sref="retailer.purchase-order") {{:: "TO_NEW_PURCHASE_ORDERORDER" | translate}}

app/dist/views/directives/make-purchase-order.html

<div class="product-filter filter"><a href="" ng-init="showPurchaseOrder = false" ng-click="showPurchaseOrder = !showPurchaseOrder">
    <h5>{{:: "TO_ORDER" | translate}} (Demo)&nbsp;<i class="fa fa-chevron-up" ng-show="showPurchaseOrder"></i><i class="fa fa-chevron-down" ng-show="!showPurchaseOrder"></i></h5></a>
  <div class="filter-content" uib-collapse="!showPurchaseOrder">
    <label for="item.make-purchase-order">{{:: "MAKE_A_PURCHASE_ORDER" | translate}}
      <div class="row"></div><a class="btn btn-sm btn-dark pull-right" href="" ui-sref="retailer.purchase-orders">{{:: "ALL_PURCHASE_ORDERS" | translate}}</a><a class="btn btn-sm btn-dark button-margin-right" ui-sref="retailer.purchase-order">{{:: "TO_NEW_PURCHASE_ORDERORDER" | translate}}</a>
    </label>
  </div>
</div>
