app/dist/views/directives/news-item-block-retailer-portal-modal.html

<div class="news-item-block"><a ng-click="openPreviewNewsItemModal(item)"><img ng-src="{{awsUrl + item.images[0].src}}" alt="{{item.images[0].alt}}" onerror="this.src = &quot;../images/no-photo-available.jpg&quot;"/></a>
  <div class="news-item-block-content"><a ng-click="openPreviewNewsItemModal(item)">
      <h4 class="news-item-block-title">{{item.name}}</h4></a>
    <p class="date hidden"><i class="fa fa-calendar-o"></i>&nbsp;{{formatDate(item.publicationDate)}}</p>
    <p ng-bind-html="truncateText(item.summary)"></p><a class="btn btn-md btn-dark" ng-click="openPreviewNewsItemModal(item)">{{:: "EDIT" | translate}}</a>
  </div>
</div>

app/src/views/directives/news-item-block-retailer-portal-modal.pug
.news-item-block
	a(ng-click="openPreviewNewsItemModal(item)")
		img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
	.news-item-block-content
		a(ng-click="openPreviewNewsItemModal(item)")
			h4.news-item-block-title {{item.name}}
		p.date.hidden
			i.fa.fa-calendar-o
			|&nbsp;{{formatDate(item.publicationDate)}}
		p(ng-bind-html="truncateText(item.summary)")
		a(ng-click="openPreviewNewsItemModal(item)").btn.btn-md.btn-dark {{:: "EDIT" | translate}}
