app/src/views/directives/news-item-block-retailer-portal.pug
.news-item-block
	a(ui-sref='retailer.news-item({nameSlug:item.nameSlug})')
		img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
	.news-item-block-content
		a(ui-sref='retailer.news-item({nameSlug:item.nameSlug})')
			h4.news-item-block-title {{item.name}}
		p.date.hidden
			i.fa.fa-calendar-o
			|&nbsp;{{formatDate(item.publicationDate)}}
		p(ng-bind-html="truncateText(item.summary)")
		a(ui-sref='retailer.news-item({nameSlug:item.nameSlug})').btn.btn-md.btn-dark {{:: "EDIT" | translate}}

app/dist/views/directives/news-item-block-retailer-portal.html

<div class="news-item-block"><a ui-sref="retailer.news-item({nameSlug:item.nameSlug})"><img ng-src="{{awsUrl + item.images[0].src}}" alt="{{item.images[0].alt}}" onerror="this.src = &quot;../images/no-photo-available.jpg&quot;"/></a>
  <div class="news-item-block-content"><a ui-sref="retailer.news-item({nameSlug:item.nameSlug})">
      <h4 class="news-item-block-title">{{item.name}}</h4></a>
    <p class="date hidden"><i class="fa fa-calendar-o"></i>&nbsp;{{formatDate(item.publicationDate)}}</p>
    <p ng-bind-html="truncateText(item.summary)"></p><a class="btn btn-md btn-dark" ui-sref="retailer.news-item({nameSlug:item.nameSlug})">{{:: "EDIT" | translate}}</a>
  </div>
</div>
