app/dist/views/directives/product-filter-by-case-size.html

<div class="product-filter filter"><a href="" ng-init="showCaseSize = true" ng-click="showCaseSize = !showCaseSize">
    <h5>{{:: "SIZE" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showCaseSize"></i><i class="fa fa-chevron-down" ng-show="!showCaseSize"></i></h5></a>
  <div class="filter-content" uib-collapse="!showCaseSize">
    <rzslider rz-slider-model="caseSize.min" rz-slider-high="caseSize.max" rz-slider-options="caseSize.options" rz-slider-tpl-url="views/directives/rz-slider.html"></rzslider>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-case-size.pug
.product-filter.filter
	a(href='' ng-init="showCaseSize = true" ng-click="showCaseSize = !showCaseSize")
		h5 {{:: "SIZE" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showCaseSize")
			i.fa.fa-chevron-down(ng-show="!showCaseSize")
	.filter-content(uib-collapse="!showCaseSize")
		rzslider(rz-slider-model="caseSize.min" rz-slider-high="caseSize.max" rz-slider-options="caseSize.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr
