app/src/views/directives/product-filter-by-brand.pug
.product-filter.filter
	a(href='' ng-init="showBrand = true" ng-click="showBrand = !showBrand")
		h5 {{:: "BRAND" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showBrand")
			i.fa.fa-chevron-down(ng-show="!showBrand")
	.filter-content(uib-collapse="!showBrand")
		ul.fixed-height
			li(ng-repeat="item in filterBrands", ng-class="getMyBrandClass(item._id)")
				input(type="checkbox" name="{{item._id}}" id="{{item._id}}" ng-model="filterBrands[$index].selected" ng-change="setBrand()")
				label(for="{{item._id}}") {{item.name}}
					span.count(ng-bind="item.nameSlug.count ? '(' + item.nameSlug.count + ')': ''")
	hr

app/dist/views/directives/product-filter-by-brand.html

<div class="product-filter filter"><a href="" ng-init="showBrand = true" ng-click="showBrand = !showBrand">
    <h5>{{:: "BRAND" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showBrand"></i><i class="fa fa-chevron-down" ng-show="!showBrand"></i></h5></a>
  <div class="filter-content" uib-collapse="!showBrand">
    <ul class="fixed-height">
      <li ng-repeat="item in filterBrands" ng-class="getMyBrandClass(item._id)">
        <input type="checkbox" name="{{item._id}}" id="{{item._id}}" ng-model="filterBrands[$index].selected" ng-change="setBrand()"/>
        <label for="{{item._id}}">{{item.name}}<span class="count" ng-bind="item.nameSlug.count ? '(' + item.nameSlug.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>
