app/dist/views/directives/product-sort.html

<div class="product-filter filter"><a href="" ng-init="showSort = true" ng-click="showSort = !showSort">
    <h5>{{:: "SORT" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showSort"></i><i class="fa fa-chevron-down" ng-show="!showSort"></i></h5></a>
  <div class="filter-content" uib-collapse="!showSort">
    <p>
      <label for="sortBy">{{:: "SORT_RESULTS" | translate}}</label><br/>
      <select id="sortBy" ng-model="sortBy" ng-change="sortProducts()" ng-init="sortBy = default">
        <option ng-value="{price:'asc'}" ng-show="isShop || currentShop">{{:: "PRICE_ASCENDING" | translate}}</option>
        <option ng-value="{price:'desc'}" ng-show="isShop || currentShop">{{:: "PRICE_DESCENDING" | translate}}</option>
        <option ng-value="{suggestedRetailPrice:'asc'}" ng-show="!isShop &amp;&amp; !currentShop">{{:: "ADVISORY_PRICE_ASCENDING" | translate}}</option>
        <option ng-value="{suggestedRetailPrice:'desc'}" ng-show="!isShop &amp;&amp; !currentShop">{{:: "ADVISORY_PRICE_DESCENDING" | translate}}</option>
        <option ng-value="{views:'desc'}">{{:: "POPULAR" | translate}}</option>
        <option ng-value="default" ng-selected="sortBy == default">{{:: "SPOTLIGHT" | translate}}</option>
        <option ng-value="{creationDate:'desc'}">{{:: "NEW" | translate}}</option>
        <option ng-value="{dateAdded:'desc'}" ng-show="isShop || currentShop">{{:: "LAST_ADDED" | translate}}</option>
      </select>
    </p>
    <p>
      <label for="limit">{{:: "ARTICLES_PER_PAGE" | translate}}</label><br/>
      <select id="limit" ng-model="limit" name="limit" ng-change="setLimit(limit)">
        <option ng-value="12">12</option>
        <option ng-value="24">24</option>
        <option ng-value="32">32</option>
        <option ng-value="60">60</option>
        <option ng-value="100">100</option>
      </select>
    </p>
  </div>
  <hr/>
</div>

app/src/views/directives/product-sort.pug
.product-filter.filter
	a(href='' ng-init="showSort = true" ng-click="showSort = !showSort")
		h5 {{:: "SORT" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showSort")
			i.fa.fa-chevron-down(ng-show="!showSort")
	.filter-content(uib-collapse="!showSort")
		p
			label(for="sortBy") {{:: "SORT_RESULTS" | translate}}
			br
			select#sortBy(ng-model="sortBy" ng-change="sortProducts()" ng-init="sortBy = default")
				option(ng-value="{price:'asc'}" ng-show="isShop || currentShop") {{:: "PRICE_ASCENDING" | translate}}
				option(ng-value="{price:'desc'}" ng-show="isShop || currentShop") {{:: "PRICE_DESCENDING" | translate}}
				option(ng-value="{suggestedRetailPrice:'asc'}" ng-show="!isShop && !currentShop") {{:: "ADVISORY_PRICE_ASCENDING" | translate}}
				option(ng-value="{suggestedRetailPrice:'desc'}" ng-show="!isShop && !currentShop") {{:: "ADVISORY_PRICE_DESCENDING" | translate}}
				option(ng-value="{views:'desc'}") {{:: "POPULAR" | translate}}
				option(ng-value="default" ng-selected="sortBy == default") {{:: "SPOTLIGHT" | translate}}
				option(ng-value="{creationDate:'desc'}") {{:: "NEW" | translate}}
				option(ng-value="{dateAdded:'desc'}" ng-show="isShop || currentShop") {{:: "LAST_ADDED" | translate}}
		p
			label(for="limit") {{:: "ARTICLES_PER_PAGE" | translate}}
			br
			select#limit(ng-model="limit" name="limit" ng-change="setLimit(limit)")
				option(ng-value="12") 12
				option(ng-value="24") 24
				option(ng-value="32") 32
				option(ng-value="60") 60
				option(ng-value="100") 100
	hr
