app/dist/views/directives/product-filter-by-price.html

<div class="product-filter filter"><a href="" ng-init="showPrice = true" ng-click="showPrice = !showPrice">
    <h5>{{:: "PRICE" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showPrice"></i><i class="fa fa-chevron-down" ng-show="!showPrice"></i></h5></a>
  <div class="filter-content" uib-collapse="!showPrice">
    <rzslider rz-slider-model="priceRange.min" rz-slider-high="priceRange.max" rz-slider-options="priceRange.options" rz-slider-tpl-url="views/directives/rz-slider.html"></rzslider>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-price.pug
.product-filter.filter
	a(href='' ng-init="showPrice = true" ng-click="showPrice = !showPrice")
		h5 {{:: "PRICE" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showPrice")
			i.fa.fa-chevron-down(ng-show="!showPrice")
	.filter-content(uib-collapse="!showPrice")
		rzslider(rz-slider-model="priceRange.min" rz-slider-high="priceRange.max" rz-slider-options="priceRange.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr
