app/src/views/directives/product-filter-by-collection.pug
.product-filter.filter
	.btn-group(ng-repeat="collection in currentShop.collections")
		button.btn.btn.btn-md.button-margin-right(type='button', ng-model="collectionFilter.collection[language].name" uib-dropdown-toggle='', ng-disabled='disabled' ng-show="filtersWatch == true || filtersStrap == true" ng-click="setCollectionFilter(); collection1 = true") {{collection[language].name}}
		button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="openCreateCollectionModal(collection)")
			i.fa.fa-pencil
	hr

app/dist/views/directives/product-filter-by-collection.html

<div class="product-filter filter">
  <div class="btn-group" ng-repeat="collection in currentShop.collections">
    <button class="btn btn btn-md button-margin-right" type="button" ng-model="collectionFilter.collection[language].name" uib-dropdown-toggle="" ng-disabled="disabled" ng-show="filtersWatch == true || filtersStrap == true" ng-click="setCollectionFilter(); collection1 = true">{{collection[language].name}}</button>
    <button class="btn btn btn-md btn-light button-margin-right" ng-show="collection1 == true" ng-click="openCreateCollectionModal(collection)"><i class="fa fa-pencil"></i></button>
  </div>
  <hr/>
</div>
