app/src/views/directives/product-block-retailer-portal.pug
.product-block
	a(href="" ng-click="selectItem(item.en.nameSlug, $index)" ng-init="item.selected = false").hidden
		i.fa.fa-check-square-o.fa-lg(ng-if="item.selected == true")
		i.fa.fa-square-o.fa-lg(ng-if="item.selected == false")
	.product-image
		a(href="" ng-click="updateShopProduct(item, true)")#webshopTourOpenEditModal
			img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
			.hover-overlay
		.product-label
			span.available(ng-show="item.stock > 0") {{:: "IN_STOCK" | translate}}
			span.unavailable(ng-show="item.stock == 0") {{:: "ONLINE_AVAILABLE" | translate}}
			span.bestseller(ng-show="item.isBestseller == true") {{:: "BESTSELLER" | translate}}
			span.show-item(ng-show="item.show == false") {{:: "NOT_FOR_SALE" | translate}}
		.product-action-btns
			.row
				.col-xs-6.product-action-btn.product-open-modal.text-right
					a(href="" ng-click="updateShopProduct(item, true)")
						i.fa.fa-pencil.fa-2x(uib-tooltip="Bewerken" tooltip-placement="left" tooltip-append-to-body="true")
				.col-xs-6.product-action-btn.product-show
					a(href="" ng-click="item.show = !item.show; updateShopProduct(item)")
						i.fa.fa-eur.fa-2x(ng-if="item.show == true" uib-tooltip='{{:: "DONT_SELL_THIS_PRODUCT" | translate}}' tooltip-placement="right" tooltip-append-to-body="true")
						i.fa.fa-eur.fa-2x(ng-if="item.show == false" uib-tooltip='{{:: "PUT_UP_FOR_SALE" | translate}}' tooltip-placement="right" tooltip-append-to-body="true")
				.col-xs-6.product-action-btn.product-delete.text-right
					a(href="" ng-click="deleteShopProduct(item._id)")
						i.fa.fa-trash.fa-2x(uib-tooltip="Verwijderen" tooltip-placement="left" tooltip-append-to-body="true")
	a(href="" ng-click="updateShopProduct(item, true)").product-details
		.product-title(ng-bind="item[language].name")
		.product-title(ng-if="item[language].name == ''" ng-bind="item.variants[0].productNumber")
		.product-price(ng-if="item.price != null")
			span(ng-if="item.discount > 0") {{item.price * 1.21 | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}
			br(ng-if="item.discount > 0")
			strong.discount(ng-if="item.discount > 0") &ndash; {{item.discount | currency: '€ '}} {{:: "DISCOUNT" | translate}}
			br(ng-if="item.discount > 0")
			strong {{(item.price * 1.21) - item.discount | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}
			br
			br
		.product-price(ng-if="item.price == null")
			em {{:: "NO_PRICE_KNOWN_ADVISORY_PRICE" | translate}}:&nbsp;
			strong {{item.suggestedRetailPrice | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}
		//- span.product-gender(ng-bind="item.gender")

app/dist/views/directives/product-block-retailer-portal.html

<div class="product-block"><a class="hidden" href="" ng-click="selectItem(item.en.nameSlug, $index)" ng-init="item.selected = false"><i class="fa fa-check-square-o fa-lg" ng-if="item.selected == true"></i><i class="fa fa-square-o fa-lg" ng-if="item.selected == false"></i></a>
  <div class="product-image"><a href="" ng-click="updateShopProduct(item, true)" id="webshopTourOpenEditModal"><img ng-src="{{awsUrl + item.images[0].src}}" alt="{{item.images[0].alt}}" onerror="this.src = &quot;../images/no-photo-available.jpg&quot;"/>
      <div class="hover-overlay"></div></a>
    <div class="product-label"><span class="available" ng-show="item.stock &gt; 0">{{:: "IN_STOCK" | translate}}</span><span class="unavailable" ng-show="item.stock == 0">{{:: "ONLINE_AVAILABLE" | translate}}</span><span class="bestseller" ng-show="item.isBestseller == true">{{:: "BESTSELLER" | translate}}</span><span class="show-item" ng-show="item.show == false">{{:: "NOT_FOR_SALE" | translate}}</span></div>
    <div class="product-action-btns">
      <div class="row">
        <div class="col-xs-6 product-action-btn product-open-modal text-right"><a href="" ng-click="updateShopProduct(item, true)"><i class="fa fa-pencil fa-2x" uib-tooltip="Bewerken" tooltip-placement="left" tooltip-append-to-body="true"></i></a></div>
        <div class="col-xs-6 product-action-btn product-show"><a href="" ng-click="item.show = !item.show; updateShopProduct(item)"><i class="fa fa-eur fa-2x" ng-if="item.show == true" uib-tooltip="{{:: &quot;DONT_SELL_THIS_PRODUCT&quot; | translate}}" tooltip-placement="right" tooltip-append-to-body="true"></i><i class="fa fa-eur fa-2x" ng-if="item.show == false" uib-tooltip="{{:: &quot;PUT_UP_FOR_SALE&quot; | translate}}" tooltip-placement="right" tooltip-append-to-body="true"></i></a></div>
        <div class="col-xs-6 product-action-btn product-delete text-right"><a href="" ng-click="deleteShopProduct(item._id)"><i class="fa fa-trash fa-2x" uib-tooltip="Verwijderen" tooltip-placement="left" tooltip-append-to-body="true"></i></a></div>
      </div>
    </div>
  </div><a class="product-details" href="" ng-click="updateShopProduct(item, true)">
    <div class="product-title" ng-bind="item[language].name"></div>
    <div class="product-title" ng-if="item[language].name == ''" ng-bind="item.variants[0].productNumber"></div>
    <div class="product-price" ng-if="item.price != null"><span ng-if="item.discount &gt; 0">{{item.price * 1.21 | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}</span><br ng-if="item.discount &gt; 0"/><strong class="discount" ng-if="item.discount &gt; 0">&ndash; {{item.discount | currency: '€ '}} {{:: "DISCOUNT" | translate}}</strong><br ng-if="item.discount &gt; 0"/><strong>{{(item.price * 1.21) - item.discount | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}</strong><br/><br/></div>
    <div class="product-price" ng-if="item.price == null"><em>{{:: "NO_PRICE_KNOWN_ADVISORY_PRICE" | translate}}:&nbsp;</em><strong>{{item.suggestedRetailPrice | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}</strong></div></a>
</div>
