app/dist/views/directives/product-add-admin-portal.html

<div class="product-filter filter"><a href="" ng-init="showAddNewProduct = false" ng-click="showAddNewProduct = !showAddNewProduct" ng-hide="user.role == 'admin'">
    <h5>{{"ADD_PRODUCT" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showAddNewProduct"></i><i class="fa fa-chevron-down" ng-show="!showAddNewProduct"></i></h5></a>
  <div class="filter-content" uib-collapse="!showAddNewProduct &amp;&amp; user.role !== 'admin'"><a class="btn btn-sm btn-dark" href="" ui-sref="admin.newProduct">{{"ADD_PRODUCT" | translate}}</a><br/><br/>
    <label ng-hide="user.role == 'admin'">{{"EDIT_PRODUCT" | translate}}</label><br/>
    <input id="edit-existing-product" type="text" name="editExistingProduct" ng-model="searchValue" ng-change="findProducts(searchValue)" placeholder="{{SEARCH_PRODUCT}}"/>
    <div class="list-group"><a class="list-group-item" ui-sref="admin.product({nameSlug:product[language].nameSlug})" ng-repeat="product in hits"><strong>{{product[language].name}}</strong><br/><span>{{product.variants[0].productNumber}}</span></a></div>
  </div>
  <hr/>
</div>

app/src/views/directives/product-add-admin-portal.pug
.product-filter.filter
	a(href='' ng-init="showAddNewProduct = false" ng-click="showAddNewProduct = !showAddNewProduct" ng-hide="user.role == 'admin'")
		h5 {{"ADD_PRODUCT" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showAddNewProduct")
			i.fa.fa-chevron-down(ng-show="!showAddNewProduct")
	.filter-content(uib-collapse="!showAddNewProduct && user.role !== 'admin'")
			a.btn.btn-sm.btn-dark(href="" ui-sref="admin.newProduct") {{"ADD_PRODUCT" | translate}}
			br
			br
			label(ng-hide="user.role == 'admin'") {{"EDIT_PRODUCT" | translate}}
			br
			input#edit-existing-product(type="text" name="editExistingProduct" ng-model="searchValue" ng-change="findProducts(searchValue)" placeholder='{{SEARCH_PRODUCT}}')
			.list-group
				a(ui-sref="admin.product({nameSlug:product[language].nameSlug})" ng-repeat="product in hits").list-group-item
					strong {{product[language].name}}
					br
					span {{product.variants[0].productNumber}}
	hr
