app/dist/views/directives/product-filter-by-strap-material.html

<div class="product-filter filter"><a href="" ng-init="showStrapMaterial = true" ng-click="showStrapMaterial = !showStrapMaterial">
    <h5>{{:: "STRAP_MATERIAL" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showStrapMaterial"></i><i class="fa fa-chevron-down" ng-show="!showStrapMaterial"></i></h5></a>
  <div class="filter-content" uib-collapse="!showStrapMaterial">
    <ul>
      <li>
        <input id="leather" type="checkbox" name="leather" ng-model="strapMaterial.leather" ng-change="setStrapMaterial()"/>
        <label for="leather">{{::"REAL_LEATHER" | translate}}<span class="count" ng-bind="strapMaterial.leather.count ? '(' + strapMaterial.leather.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="upperLeather" type="checkbox" name="upperLeather" ng-model="strapMaterial.upperLeather" ng-change="setStrapMaterial()"/>
        <label for="upperLeather">{{::"UPPER_LEATHER" | translate}}<span class="count" ng-bind="strapMaterial.upperLeather.count ? '(' + strapMaterial.upperLeather.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="puLeather" type="checkbox" name="puLeather" ng-model="strapMaterial.puLeather" ng-change="setStrapMaterial()"/>
        <label for="puLeather">{{::"PU_LEATHER" | translate}}<span class="count" ng-bind="strapMaterial.puLeather.count ? '(' + strapMaterial.puLeather.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="stainlessSteel" type="checkbox" name="stainlessSteel" ng-model="strapMaterial.stainlessSteel" ng-change="setStrapMaterial()"/>
        <label for="stainlessSteel">{{:: "STAINLESS_STEEL" | translate }}<span class="count" ng-bind="strapMaterial.stainlessSteel.count ? '(' + strapMaterial.stainlessSteel.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="titanium" type="checkbox" name="titanium" ng-model="strapMaterial.titanium" ng-change="setStrapMaterial()"/>
        <label for="titanium">{{:: "TITANIUM" | translate }}<span class="count" ng-bind="strapMaterial.titanium.count ? '(' + strapMaterial.titanium.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="aluminium" type="checkbox" name="aluminium" ng-model="strapMaterial.aluminium" ng-change="setStrapMaterial()"/>
        <label for="aluminium">{{::"ALUMINIUM" | translate}}<span class="count" ng-bind="strapMaterial.aluminium.count ? '(' + strapMaterial.aluminium.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="metal" type="checkbox" name="metal" ng-model="strapMaterial.metal" ng-change="setStrapMaterial()"/>
        <label for="metal">{{:: "METAL" | translate }}<span class="count" ng-bind="strapMaterial.metal.count ? '(' + strapMaterial.metal.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="plasticSilicon" type="checkbox" name="plasticSilicon" ng-model="strapMaterial.plasticSilicon" ng-change="setStrapMaterial()"/>
        <label for="plasticSilicon">{{::"PLASTIC_SILICONE" | translate}}<span class="count" ng-bind="strapMaterial.plasticSilicon.count ? '(' + strapMaterial.plasticSilicon.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="canvas" type="checkbox" name="canvas" ng-model="strapMaterial.canvas" ng-change="setStrapMaterial()"/>
        <label for="canvas">{{::"CANVAS" | translate}}<span class="count" ng-bind="strapMaterial.canvas.count ? '(' + strapMaterial.canvas.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="ceramics" type="checkbox" name="ceramics" ng-model="strapMaterial.ceramics" ng-change="setStrapMaterial()"/>
        <label for="ceramics">{{::"CERAMICS" | translate}}<span class="count" ng-bind="strapMaterial.ceramics.count ? '(' + strapMaterial.ceramics.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-strap-material.pug
.product-filter.filter
	a(href='' ng-init="showStrapMaterial = true" ng-click="showStrapMaterial = !showStrapMaterial")
		h5 {{:: "STRAP_MATERIAL" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showStrapMaterial")
			i.fa.fa-chevron-down(ng-show="!showStrapMaterial")
	.filter-content(uib-collapse="!showStrapMaterial")
		ul
			li
				input#leather(type="checkbox" name="leather" ng-model="strapMaterial.leather" ng-change="setStrapMaterial()")
				label(for="leather") {{::"REAL_LEATHER" | translate}}
					span.count(ng-bind="strapMaterial.leather.count ? '(' + strapMaterial.leather.count + ')': ''")
			li
				input#upperLeather(type='checkbox' name='upperLeather' ng-model="strapMaterial.upperLeather" ng-change="setStrapMaterial()")
				label(for='upperLeather') {{::"UPPER_LEATHER" | translate}}
					span.count(ng-bind="strapMaterial.upperLeather.count ? '(' + strapMaterial.upperLeather.count + ')': ''")
			li
				input#puLeather(type='checkbox' name='puLeather' ng-model="strapMaterial.puLeather" ng-change="setStrapMaterial()")
				label(for='puLeather') {{::"PU_LEATHER" | translate}}
					span.count(ng-bind="strapMaterial.puLeather.count ? '(' + strapMaterial.puLeather.count + ')': ''")
			li
				input#stainlessSteel(type="checkbox" name="stainlessSteel" ng-model="strapMaterial.stainlessSteel" ng-change="setStrapMaterial()")
				label(for="stainlessSteel") {{:: "STAINLESS_STEEL" | translate }}
					span.count(ng-bind="strapMaterial.stainlessSteel.count ? '(' + strapMaterial.stainlessSteel.count + ')': ''")
			li
				input#titanium(type='checkbox' name='titanium' ng-model="strapMaterial.titanium" ng-change="setStrapMaterial()")
				label(for='titanium') {{:: "TITANIUM" | translate }}
					span.count(ng-bind="strapMaterial.titanium.count ? '(' + strapMaterial.titanium.count + ')': ''")
			li
				input#aluminium(type='checkbox' name='aluminium' ng-model="strapMaterial.aluminium" ng-change="setStrapMaterial()")
				label(for='aluminium') {{::"ALUMINIUM" | translate}}
					span.count(ng-bind="strapMaterial.aluminium.count ? '(' + strapMaterial.aluminium.count + ')': ''")
			li
				input#metal(type='checkbox' name='metal' ng-model="strapMaterial.metal" ng-change="setStrapMaterial()")
				label(for='metal') {{:: "METAL" | translate }}
					span.count(ng-bind="strapMaterial.metal.count ? '(' + strapMaterial.metal.count + ')': ''")
			li
				input#plasticSilicon(type="checkbox" name="plasticSilicon" ng-model="strapMaterial.plasticSilicon" ng-change="setStrapMaterial()")
				label(for="plasticSilicon") {{::"PLASTIC_SILICONE" | translate}}
					span.count(ng-bind="strapMaterial.plasticSilicon.count ? '(' + strapMaterial.plasticSilicon.count + ')': ''")
			li
				input#canvas(type='checkbox' name='canvas' ng-model="strapMaterial.canvas" ng-change="setStrapMaterial()")
				label(for='canvas') {{::"CANVAS" | translate}}
					span.count(ng-bind="strapMaterial.canvas.count ? '(' + strapMaterial.canvas.count + ')': ''")
			li
				input#ceramics(type='checkbox' name='ceramics' ng-model="strapMaterial.ceramics" ng-change="setStrapMaterial()")
				label(for='ceramics') {{::"CERAMICS" | translate}}
					span.count(ng-bind="strapMaterial.ceramics.count ? '(' + strapMaterial.ceramics.count + ')': ''")
	hr
