app/dist/views/directives/product-filter-by-strap-width.html

<div class="product-filter filter"><a href="" ng-init="showStrapWidth = true" ng-click="showStrapWidth = !showStrapWidth">
    <h5>{{:: "STRAP_WIDTH" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showStrapWidth"></i><i class="fa fa-chevron-down" ng-show="!showStrapWidth"></i></h5></a>
  <div class="filter-content" uib-collapse="!showStrapWidth">
    <rzslider rz-slider-model="strapWidth.min" rz-slider-high="strapWidth.max" rz-slider-options="strapWidth.options" rz-slider-tpl-url="views/directives/rz-slider.html"></rzslider>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-strap-width.pug
.product-filter.filter
	a(href='' ng-init="showStrapWidth = true" ng-click="showStrapWidth = !showStrapWidth")
		h5 {{:: "STRAP_WIDTH" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showStrapWidth")
			i.fa.fa-chevron-down(ng-show="!showStrapWidth")
	.filter-content(uib-collapse="!showStrapWidth")
		rzslider(rz-slider-model="strapWidth.min" rz-slider-high="strapWidth.max" rz-slider-options="strapWidth.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr
