app/src/views/directives/product-filter-by-gender.pug
.product-filter.filter
	a(href='' ng-init="showGender = true" ng-click="showGender = !showGender")
		h5 {{:: "GENDER" | translate}} &nbsp;
			i.fa.fa-chevron-up(ng-show="showGender")
			i.fa.fa-chevron-down(ng-show="!showGender")
	.filter-content(uib-collapse="!showGender")
		ul
			li
				input#gents(type="checkbox", name="gender" ng-model="gents" ng-change="setGender()")
				label(for="gents") {{:: "MEN" | translate}}
					span.count(ng-bind="gents.count ? '(' + gents.count + ')': ''")
			li
				input#ladies(type='checkbox', name='gender' ng-model="ladies" ng-change="setGender()")
				label(for='ladies') {{:: "LADIES" | translate}}
					span.count(ng-bind="ladies.count ? '(' + ladies.count + ')': ''")
			li
				input#boys(type='checkbox', name='gender' ng-model="boys" ng-change="setGender()")
				label(for='boys') {{:: "BOYS" | translate}}
					span.count(ng-bind="boys.count ? '(' + boys.count + ')': ''")
			li
				input#girls(type='checkbox', name='gender' ng-model="girls" ng-change="setGender()")
				label(for='girls') {{:: "GIRLS" | translate}}
					span.count(ng-bind="girls.count ? '(' + girls.count + ')': ''")
	hr

app/dist/views/directives/product-filter-by-gender.html

<div class="product-filter filter"><a href="" ng-init="showGender = true" ng-click="showGender = !showGender">
    <h5>{{:: "GENDER" | translate}} &nbsp;<i class="fa fa-chevron-up" ng-show="showGender"></i><i class="fa fa-chevron-down" ng-show="!showGender"></i></h5></a>
  <div class="filter-content" uib-collapse="!showGender">
    <ul>
      <li>
        <input id="gents" type="checkbox" name="gender" ng-model="gents" ng-change="setGender()"/>
        <label for="gents">{{:: "MEN" | translate}}<span class="count" ng-bind="gents.count ? '(' + gents.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="ladies" type="checkbox" name="gender" ng-model="ladies" ng-change="setGender()"/>
        <label for="ladies">{{:: "LADIES" | translate}}<span class="count" ng-bind="ladies.count ? '(' + ladies.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="boys" type="checkbox" name="gender" ng-model="boys" ng-change="setGender()"/>
        <label for="boys">{{:: "BOYS" | translate}}<span class="count" ng-bind="boys.count ? '(' + boys.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="girls" type="checkbox" name="gender" ng-model="girls" ng-change="setGender()"/>
        <label for="girls">{{:: "GIRLS" | translate}}<span class="count" ng-bind="girls.count ? '(' + girls.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>
