app/src/views/directives/product-filter-by-case-shape.pug
.product-filter.filter
	a(href='' ng-init="showCaseShape = false" ng-click="showCaseShape = !showCaseShape")
		h5 {{:: "CASE_SHAPE" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showCaseShape")
			i.fa.fa-chevron-down(ng-show="!showCaseShape")
	.filter-content(uib-collapse="!showCaseShape")
		ul
			li
				input#round(type='checkbox' name='round' ng-model="caseShape.round" ng-change="setCaseShape()")
				label(for='round') {{:: "ROUND" | translate }}
					span.count(ng-bind="caseShape.round.count ? '(' + caseShape.round.count + ')': ''")
			li
				input#rectangle(type="checkbox" name="rectangle" ng-model="caseShape.rectangle" ng-change="setCaseShape()")
				label(for="rectangle") {{:: "RECTANGLE" | translate }}
					span.count(ng-bind="caseShape.rectangle.count ? '(' + caseShape.rectangle.count + ')': ''")
			li
				input#oval(type='checkbox' name='oval' ng-model="caseShape.oval" ng-change="setCaseShape()")
				label(for='oval') {{:: "OVAL" | translate }}
					span.count(ng-bind="caseShape.oval.count ? '(' + caseShape.oval.count + ')': ''")
			li
				input#square(type='checkbox' name='square' ng-model="caseShape.square" ng-change="setCaseShape()")
				label(for='square') {{:: "SQUARE" | translate }}
					span.count(ng-bind="caseShape.square.count ? '(' + caseShape.square.count + ')': ''")
			li
				input#other(type="checkbox" name="other" ng-model="caseShape.other" ng-change="setCaseShape()")
				label(for="other") {{:: "OTHER_SHAPE" | translate }}
					span.count(ng-bind="caseShape.other.count ? '(' + caseShape.other.count + ')': ''")
	hr

app/dist/views/directives/product-filter-by-case-shape.html

<div class="product-filter filter"><a href="" ng-init="showCaseShape = false" ng-click="showCaseShape = !showCaseShape">
    <h5>{{:: "CASE_SHAPE" | translate }}&nbsp;<i class="fa fa-chevron-up" ng-show="showCaseShape"></i><i class="fa fa-chevron-down" ng-show="!showCaseShape"></i></h5></a>
  <div class="filter-content" uib-collapse="!showCaseShape">
    <ul>
      <li>
        <input id="round" type="checkbox" name="round" ng-model="caseShape.round" ng-change="setCaseShape()"/>
        <label for="round">{{:: "ROUND" | translate }}<span class="count" ng-bind="caseShape.round.count ? '(' + caseShape.round.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="rectangle" type="checkbox" name="rectangle" ng-model="caseShape.rectangle" ng-change="setCaseShape()"/>
        <label for="rectangle">{{:: "RECTANGLE" | translate }}<span class="count" ng-bind="caseShape.rectangle.count ? '(' + caseShape.rectangle.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="oval" type="checkbox" name="oval" ng-model="caseShape.oval" ng-change="setCaseShape()"/>
        <label for="oval">{{:: "OVAL" | translate }}<span class="count" ng-bind="caseShape.oval.count ? '(' + caseShape.oval.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="square" type="checkbox" name="square" ng-model="caseShape.square" ng-change="setCaseShape()"/>
        <label for="square">{{:: "SQUARE" | translate }}<span class="count" ng-bind="caseShape.square.count ? '(' + caseShape.square.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="other" type="checkbox" name="other" ng-model="caseShape.other" ng-change="setCaseShape()"/>
        <label for="other">{{:: "OTHER_SHAPE" | translate }}<span class="count" ng-bind="caseShape.other.count ? '(' + caseShape.other.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>
