app/src/views/directives/product-filter-by-indication.pug
.product-filter.filter
	a(href='' ng-init="showIndication = true" ng-click="showIndication = !showIndication")
		h5 {{:: "TIME_INDICATION" | translate}} &nbsp;
			i.fa.fa-chevron-up(ng-show="showIndication")
			i.fa.fa-chevron-down(ng-show="!showIndication")
	.filter-content(uib-collapse="!showIndication")
		ul
			li
				input#chronoMulti(type="checkbox" name="chronoMulti" ng-model="indication.chronoMulti" ng-change="setIndication()")
				label(for="chronoMulti") {{:: "CHRONOGRAPH" | translate}}
					span.count(ng-bind="indication.chronoMulti.count ? '(' + indication.chronoMulti.count + ')': ''")
			li
				input#analog(type='checkbox' name='analog' ng-model="indication.analog" ng-change="setIndication()")
				label(for='analog') {{:: "ANALOG" | translate}}
					span.count(ng-bind="indication.analog.count ? '(' + indication.analog.count + ')': ''")
			li
				input#digital(type='checkbox' name='digital' ng-model="indication.digital" ng-change="setIndication()")
				label(for='digital') {{:: "DIGITAL" | translate}}
					span.count(ng-bind="indication.digital.count ? '(' + indication.digital.count + ')': ''")
			li
				input#analogDigital(type='checkbox' name='analogDigital' ng-model="indication.analogDigital" ng-change="setIndication()")
				label(for='analogDigital') {{:: "ANALOG_DIGITAL" | translate}}
					span.count(ng-bind="indication.analogDigital.count ? '(' + indication.analogDigital.count + ')': ''")
	hr

app/dist/views/directives/product-filter-by-indication.html

<div class="product-filter filter"><a href="" ng-init="showIndication = true" ng-click="showIndication = !showIndication">
    <h5>{{:: "TIME_INDICATION" | translate}} &nbsp;<i class="fa fa-chevron-up" ng-show="showIndication"></i><i class="fa fa-chevron-down" ng-show="!showIndication"></i></h5></a>
  <div class="filter-content" uib-collapse="!showIndication">
    <ul>
      <li>
        <input id="chronoMulti" type="checkbox" name="chronoMulti" ng-model="indication.chronoMulti" ng-change="setIndication()"/>
        <label for="chronoMulti">{{:: "CHRONOGRAPH" | translate}}<span class="count" ng-bind="indication.chronoMulti.count ? '(' + indication.chronoMulti.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="analog" type="checkbox" name="analog" ng-model="indication.analog" ng-change="setIndication()"/>
        <label for="analog">{{:: "ANALOG" | translate}}<span class="count" ng-bind="indication.analog.count ? '(' + indication.analog.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="digital" type="checkbox" name="digital" ng-model="indication.digital" ng-change="setIndication()"/>
        <label for="digital">{{:: "DIGITAL" | translate}}<span class="count" ng-bind="indication.digital.count ? '(' + indication.digital.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="analogDigital" type="checkbox" name="analogDigital" ng-model="indication.analogDigital" ng-change="setIndication()"/>
        <label for="analogDigital">{{:: "ANALOG_DIGITAL" | translate}}<span class="count" ng-bind="indication.analogDigital.count ? '(' + indication.analogDigital.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>
