app/dist/views/directives/product-filter-by-color.html

<div class="product-filter filter"><a href="" ng-init="showColors = false" ng-click="showColors = !showColors">
    <h5>{{:: "COLOR" | translate }}&nbsp;<i class="fa fa-chevron-up" ng-show="showColors"></i><i class="fa fa-chevron-down" ng-show="!showColors"></i></h5></a>
  <div class="filter-content" uib-collapse="!showColors">
    <p><strong>{{:: "STRAP" | translate }}</strong>
      <ul>
        <li ng-repeat="color in strapColors">
          <input type="checkbox" id="strapColor.{{color.key}}" name="strapColor.{{color.key}}" ng-model="strapColors[$index].selected" ng-change="setStrapColor()"/>
          <label for="strapColor.{{color.key}}"><i class="fa fa-square" style="color: {{color.hex}}"> </i>&nbsp;{{color.key | translate}}<span class="count" ng-bind="strapColor[$index].count ? '(' + strapColor[$index].count + ')': ''"></span></label>
        </li>
      </ul>
    </p>
    <p><strong>{{:: "DIAL" | translate }}</strong>
      <ul>
        <li ng-repeat="color in dialColors">
          <input type="checkbox" id="dialColor.{{color.key}}" name="dialColor.{{color.key}}" ng-model="dialColors[$index].selected" ng-change="setDialColor()"/>
          <label for="dialColor.{{color.key}}"><i class="fa fa-square" style="color: {{color.hex}}"> </i>&nbsp;{{color.key | translate}}<span class="count" ng-bind="dialColor[$index].count ? '(' + dialColor[$index].count + ')': ''"></span></label>
        </li>
      </ul>
    </p>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-color.pug
.product-filter.filter
	a(href='' ng-init="showColors = false" ng-click="showColors = !showColors")
		h5 {{:: "COLOR" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showColors")
			i.fa.fa-chevron-down(ng-show="!showColors")
	.filter-content(uib-collapse="!showColors")
		p
			strong {{:: "STRAP" | translate }}
			ul
				li(ng-repeat="color in strapColors")
					input(type="checkbox" id="strapColor.{{color.key}}" name="strapColor.{{color.key}}" ng-model="strapColors[$index].selected" ng-change="setStrapColor()")
					label(for="strapColor.{{color.key}}")
						i.fa.fa-square(style="color: {{color.hex}}") 
						| &nbsp;{{color.key | translate}}
						span.count(ng-bind="strapColor[$index].count ? '(' + strapColor[$index].count + ')': ''")
		p
			strong {{:: "DIAL" | translate }}
			ul
				li(ng-repeat="color in dialColors")
					input(type="checkbox" id="dialColor.{{color.key}}" name="dialColor.{{color.key}}" ng-model="dialColors[$index].selected" ng-change="setDialColor()")
					label(for="dialColor.{{color.key}}")
						i.fa.fa-square(style="color: {{color.hex}}") 
						| &nbsp;{{color.key | translate}}
						span.count(ng-bind="dialColor[$index].count ? '(' + dialColor[$index].count + ')': ''")
	hr
