app/dist/views/directives/product-filter-by-wrist-perimeter.html

<div class="product-filter filter"><a href="" ng-init="showWristPerimeter = true" ng-click="showWristPerimeter = !showWristPerimeter">
    <h5>{{:: "WRIST_PERIMETER" | translate }}&nbsp;<i class="fa fa-chevron-up" ng-show="showWristPerimeter"></i><i class="fa fa-chevron-down" ng-show="!showWristPerimeter"></i></h5></a>
  <div class="filter-content" uib-collapse="!showWristPerimeter">
    <rzslider rz-slider-model="wristPerimeter.min" rz-slider-high="wristPerimeter.max" rz-slider-options="wristPerimeter.options" rz-slider-tpl-url="views/directives/rz-slider.html"></rzslider>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-wrist-perimeter.pug
.product-filter.filter
	a(href='' ng-init="showWristPerimeter = true" ng-click="showWristPerimeter = !showWristPerimeter")
		h5 {{:: "WRIST_PERIMETER" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showWristPerimeter")
			i.fa.fa-chevron-down(ng-show="!showWristPerimeter")
	.filter-content(uib-collapse="!showWristPerimeter")
		rzslider(rz-slider-model="wristPerimeter.min" rz-slider-high="wristPerimeter.max" rz-slider-options="wristPerimeter.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr
