app/dist/views/directives/product-filter-by-strap-clasp.html

<div class="product-filter filter"><a href="" ng-init="showClasp = true" ng-click="showClasp = !showClasp">
    <h5>{{:: "CLASP" | translate }}&nbsp;<i class="fa fa-chevron-up" ng-show="showClasp"></i><i class="fa fa-chevron-down" ng-show="!showClasp"></i></h5></a>
  <div class="filter-content" uib-collapse="!showClasp">
    <!-- TODO clasp not yet in DB, run import again-->
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-strap-clasp.pug
.product-filter.filter
	a(href='' ng-init="showClasp = true" ng-click="showClasp = !showClasp")
		h5 {{:: "CLASP" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showClasp")
			i.fa.fa-chevron-down(ng-show="!showClasp")
	.filter-content(uib-collapse="!showClasp")
		// TODO clasp not yet in DB, run import again
	hr
