app/dist/views/directives/product-filter-by-shop-properties.html

<div class="product-filter filter"><a href="" ng-init="showShopProperties = true" ng-click="showShopProperties = !showShopProperties">
    <h5>{{:: "PRODUCT" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showShopProperties"></i><i class="fa fa-chevron-down" ng-show="!showShopProperties"></i></h5></a>
  <div class="filter-content" uib-collapse="!showShopProperties">
    <ul>
      <li>
        <input id="inStock" type="checkbox" name="inStock" ng-model="shopProperties.inStock" ng-change="setShopProperties()"/>
        <label for="inStock">{{:: "IN_STOCK" | translate}}<span class="count" ng-bind="shopProperties.inStock.count ? '(' + shopProperties.inStock.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="discount" type="checkbox" name="discount" ng-model="shopProperties.discount" ng-change="setShopProperties()"/>
        <label for="discount">{{:: "DISCOUNTED" | translate}}<span class="count" ng-bind="shopProperties.discount.count ? '(' + shopProperties.discount.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="isBestseller" type="checkbox" name="isBestseller" ng-model="shopProperties.isBestseller" ng-change="setShopProperties()"/>
        <label for="isBestseller">{{:: "BESTSELLER" | translate}}<span class="count" ng-bind="shopProperties.isBestseller.count ? '(' + shopProperties.isBestseller.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="show" type="checkbox" name="show" ng-model="shopProperties.show" ng-change="setShopProperties()"/>
        <label for="show">{{:: "FOR_SALE" | translate}}<span class="count" ng-bind="shopProperties.show.count ? '(' + shopProperties.show.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-shop-properties.pug
.product-filter.filter
	a(href='' ng-init="showShopProperties = true" ng-click="showShopProperties = !showShopProperties")
		h5 {{:: "PRODUCT" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showShopProperties")
			i.fa.fa-chevron-down(ng-show="!showShopProperties")
	.filter-content(uib-collapse="!showShopProperties")
		ul
			li
				input#inStock(type="checkbox" name="inStock" ng-model="shopProperties.inStock" ng-change="setShopProperties()")
				label(for="inStock") {{:: "IN_STOCK" | translate}}
					span.count(ng-bind="shopProperties.inStock.count ? '(' + shopProperties.inStock.count + ')': ''")
			li
				input#discount(type='checkbox' name='discount' ng-model="shopProperties.discount" ng-change="setShopProperties()")
				label(for='discount') {{:: "DISCOUNTED" | translate}}
					span.count(ng-bind="shopProperties.discount.count ? '(' + shopProperties.discount.count + ')': ''")
			li
				input#isBestseller(type='checkbox' name='isBestseller' ng-model="shopProperties.isBestseller" ng-change="setShopProperties()")
				label(for='isBestseller') {{:: "BESTSELLER" | translate}}
					span.count(ng-bind="shopProperties.isBestseller.count ? '(' + shopProperties.isBestseller.count + ')': ''")
			li
				input#show(type="checkbox" name="show" ng-model="shopProperties.show" ng-change="setShopProperties()")
				label(for="show") {{:: "FOR_SALE" | translate}}
					span.count(ng-bind="shopProperties.show.count ? '(' + shopProperties.show.count + ')': ''")
	hr
