app/dist/views/directives/product-filter-by-waterproof-level.html

<div class="product-filter filter"><a href="" ng-init="showWaterproof = true" ng-click="showWaterproof = !showWaterproof">
    <h5>{{:: "WATERPROOF_LEVEL" | translate }}&nbsp;<i class="fa fa-chevron-up" ng-show="showWaterproof"></i><i class="fa fa-chevron-down" ng-show="!showWaterproof"></i></h5></a>
  <div class="filter-content" uib-collapse="!showWaterproof">
    <rzslider rz-slider-model="waterproofLevel.min" rz-slider-options="waterproofLevel.options" rz-slider-tpl-url="views/directives/rz-slider.html"></rzslider>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-waterproof-level.pug
.product-filter.filter
	a(href='' ng-init="showWaterproof = true" ng-click="showWaterproof = !showWaterproof")
		h5 {{:: "WATERPROOF_LEVEL" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showWaterproof")
			i.fa.fa-chevron-down(ng-show="!showWaterproof")
	.filter-content(uib-collapse="!showWaterproof")
		rzslider(rz-slider-model="waterproofLevel.min" rz-slider-options="waterproofLevel.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr
