app/src/views/directives/product-block-admin-portal.pug
.product-block(ng-class="(item.priorityKey) ? 'bg-warning' : ''")
	a(href="" ng-click="selectItem(item[language].nameSlug, $index)" ng-init="item.selected = false").hidden
		i.fa.fa-check-square-o.fa-lg(ng-if="item.selected == true")
		i.fa.fa-square-o.fa-lg(ng-if="item.selected == false")
	.product-image
		a(ui-sref="admin.product({nameSlug:item.en.nameSlug})" target="_blank")
			img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
			.hover-overlay
	a(ui-sref="admin.product({nameSlug:item.en.nameSlug})").product-details
		.product-title(ng-bind="item[language].name")
	div
		label(style=" font-style: italic;") {{:: "LAST_UPDATED" | translate}}:  {{convertDate(item.dateLastModified)}}
		label(style="font-style:italic") {{:: "LAST_SUGGESTION_RECEIVED" | translate}}: {{convertDate(item.dateLastModified)}}

app/dist/views/directives/product-block-admin-portal.html

<div class="product-block" ng-class="(item.priorityKey) ? 'bg-warning' : ''"><a class="hidden" href="" ng-click="selectItem(item[language].nameSlug, $index)" ng-init="item.selected = false"><i class="fa fa-check-square-o fa-lg" ng-if="item.selected == true"></i><i class="fa fa-square-o fa-lg" ng-if="item.selected == false"></i></a>
  <div class="product-image"><a ui-sref="admin.product({nameSlug:item.en.nameSlug})" target="_blank"><img ng-src="{{awsUrl + item.images[0].src}}" alt="{{item.images[0].alt}}" onerror="this.src = &quot;../images/no-photo-available.jpg&quot;"/>
      <div class="hover-overlay"></div></a></div><a class="product-details" ui-sref="admin.product({nameSlug:item.en.nameSlug})">
    <div class="product-title" ng-bind="item[language].name"></div></a>
  <div>
    <label style=" font-style: italic;">{{:: "LAST_UPDATED" | translate}}:  {{convertDate(item.dateLastModified)}}</label>
    <label style="font-style:italic">{{:: "LAST_SUGGESTION_RECEIVED" | translate}}: {{convertDate(item.dateLastModified)}}</label>
  </div>
</div>
