app/dist/views/directives/product-filter-by-category.html

<div class="product-filter filter"><a href="" ng-init="showCategory = true" ng-click="showCategory = !showCategory">
    <h5>{{:: "CATEGORY" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showCategory"></i><i class="fa fa-chevron-down" ng-show="!showCategory"></i></h5></a>
  <div class="filter-content" uib-collapse="!showCategory">
    <ul>
      <li>
        <input id="watch" type="checkbox" name="watch" ng-model="category.watch" ng-change="setCategory()"/>
        <label for="watch">{{:: "WATCH" | translate}}<span class="count" ng-bind="category.watch.count ? '(' + category.watch.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="strap" type="checkbox" name="strap" ng-model="category.strap" ng-change="setCategory()"/>
        <label for="strap">{{:: "WATCHSTRAP" | translate}}<span class="count" ng-bind="category.strap.count ? '(' + category.strap.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="jewel" type="checkbox" name="jewel" ng-model="category.jewel" ng-change="setCategory()"/>
        <label for="jewel">{{:: "JEWELRY" | translate}}<span class="count" ng-bind="category.jewel.count ? '(' + category.jewel.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="other" type="checkbox" name="other" ng-model="category.other" ng-change="setCategory()"/>
        <label for="other">{{:: "OTHER" | translate}}<span class="count" ng-bind="category.other.count ? '(' + category.other.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-category.pug
.product-filter.filter
	a(href='' ng-init="showCategory = true" ng-click="showCategory = !showCategory")
		h5 {{:: "CATEGORY" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showCategory")
			i.fa.fa-chevron-down(ng-show="!showCategory")
	.filter-content(uib-collapse="!showCategory")
		ul
			li
				input#watch(type="checkbox" name="watch" ng-model="category.watch" ng-change="setCategory()")
				label(for="watch") {{:: "WATCH" | translate}}
					span.count(ng-bind="category.watch.count ? '(' + category.watch.count + ')': ''")
			li
				input#strap(type='checkbox' name='strap' ng-model="category.strap" ng-change="setCategory()")
				label(for='strap') {{:: "WATCHSTRAP" | translate}}
					span.count(ng-bind="category.strap.count ? '(' + category.strap.count + ')': ''")
			li
				input#jewel(type='checkbox' name='jewel' ng-model="category.jewel" ng-change="setCategory()")
				label(for='jewel') {{:: "JEWELRY" | translate}}
					span.count(ng-bind="category.jewel.count ? '(' + category.jewel.count + ')': ''")
			li
				input#other(type='checkbox' name='other' ng-model="category.other" ng-change="setCategory()")
				label(for='other') {{:: "OTHER" | translate}}
					span.count(ng-bind="category.other.count ? '(' + category.other.count + ')': ''")
	hr
