app/src/views/directives/product-add-to-assortment.pug
.product-filter.filter
	a(href='' ng-init="showAddToAssortment = false" ng-click="showAddToAssortment = !showAddToAssortment")
		h5 {{:: "ADD_PRODUCT" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showAddToAssortment")
			i.fa.fa-chevron-down(ng-show="!showAddToAssortment")
	.filter-content(uib-collapse="!showAddToAssortment")
		label(for="item.add-to-assortment") {{:: "PRODUCT_SEARCH" | translate}}
		#search-form.search-form.js-search-form
			.col-md-6
				label
					input(type="radio" ng-change="findProducts(searchValue, searchMode)" ng-model="searchMode" value="exact")
					| {{:: "PRECISE" | translate}}
				br
				label
					input(type="radio" ng-change="findProducts(searchValue, searchMode)" ng-model="searchMode" value="contains")
					| {{:: "CONTAINS" | translate}}
			.col-md-6
				form(role="search").form-search
					input(type="text" name="addToAssortment" ng-model="searchValue" ng-change="findProducts(searchValue, searchMode)" placeholder="{{searchMode == 1 ? 'Artikelnummer' : 'Zoekopdracht'}}").form-control
			.col-md-12
				.instant-results(ng-show="hits.length > 0")
					ul.list-unstyled.result-bucket
						li.result-entry(ng-repeat="product in hits")
							a(ng-href="#" ng-click="addProductToAssortment(product)").result-link
								.media
									.media-left
										img(ng-src="{{awsUrl + product.images[0].src}}").media-object
									.media-body
										h6 {{product[language].name}}
										p 
											| {{product.variants[0].productNumber}}
											br
											| {{product.variants[0].ean}}
			.hidden
				input#add-to-assortment(type="text" name="addToAssortment" ng-model="searchValue" ng-change="findProducts(searchValue)" placeholder='{{:: "BRAND_PRODUCTNUMBER_EAN" | translate}}')
				.list-group
					a(href="" ng-repeat="product in hits" ng-click="addProductToAssortment(product)").list-group-item
						strong {{product[language].name}}
						br
						span {{product.variants[0].productNumber}}
			.row
			p {{:: "TEXT_DOES_PRODUCT_NOT_EXIST_YET" | translate}} &nbsp;
			//-a.btn.btn-sm.btn-light(ui-sref="retailer.imports") {{"REVERSE IMPORT" | translate}}
			a.btn.btn-sm.btn-dark.button-margin-right(ui-sref="retailer.product-import") {{"IMPORT" | translate}}
			a.btn.btn-sm.btn-dark(href="" ui-sref="retailer.add-product") {{"ADD_PRODUCT" | translate}}

app/dist/views/directives/product-add-to-assortment.html

<div class="product-filter filter"><a href="" ng-init="showAddToAssortment = false" ng-click="showAddToAssortment = !showAddToAssortment">
    <h5>{{:: "ADD_PRODUCT" | translate}}&nbsp;<i class="fa fa-chevron-up" ng-show="showAddToAssortment"></i><i class="fa fa-chevron-down" ng-show="!showAddToAssortment"></i></h5></a>
  <div class="filter-content" uib-collapse="!showAddToAssortment">
    <label for="item.add-to-assortment">{{:: "PRODUCT_SEARCH" | translate}}</label>
    <div class="search-form js-search-form" id="search-form">
      <div class="col-md-6">
        <label>
          <input type="radio" ng-change="findProducts(searchValue, searchMode)" ng-model="searchMode" value="exact"/>{{:: "PRECISE" | translate}}
        </label><br/>
        <label>
          <input type="radio" ng-change="findProducts(searchValue, searchMode)" ng-model="searchMode" value="contains"/>{{:: "CONTAINS" | translate}}
        </label>
      </div>
      <div class="col-md-6">
        <form class="form-search" role="search">
          <input class="form-control" type="text" name="addToAssortment" ng-model="searchValue" ng-change="findProducts(searchValue, searchMode)" placeholder="{{searchMode == 1 ? 'Artikelnummer' : 'Zoekopdracht'}}"/>
        </form>
      </div>
      <div class="col-md-12">
        <div class="instant-results" ng-show="hits.length &gt; 0">
          <ul class="list-unstyled result-bucket">
            <li class="result-entry" ng-repeat="product in hits"><a class="result-link" ng-href="#" ng-click="addProductToAssortment(product)">
                <div class="media">
                  <div class="media-left"><img class="media-object" ng-src="{{awsUrl + product.images[0].src}}"/></div>
                  <div class="media-body">
                    <h6>{{product[language].name}}</h6>
                    <p>
                       {{product.variants[0].productNumber}}<br/>{{product.variants[0].ean}}</p>
                  </div>
                </div></a></li>
          </ul>
        </div>
      </div>
      <div class="hidden">
        <input id="add-to-assortment" type="text" name="addToAssortment" ng-model="searchValue" ng-change="findProducts(searchValue)" placeholder="{{:: &quot;BRAND_PRODUCTNUMBER_EAN&quot; | translate}}"/>
        <div class="list-group"><a class="list-group-item" href="" ng-repeat="product in hits" ng-click="addProductToAssortment(product)"><strong>{{product[language].name}}</strong><br/><span>{{product.variants[0].productNumber}}</span></a></div>
      </div>
      <div class="row"></div>
      <p>{{:: "TEXT_DOES_PRODUCT_NOT_EXIST_YET" | translate}} &nbsp;</p><a class="btn btn-sm btn-dark button-margin-right" ui-sref="retailer.product-import">{{"IMPORT" | translate}}</a><a class="btn btn-sm btn-dark" href="" ui-sref="retailer.add-product">{{"ADD_PRODUCT" | translate}}</a>
    </div>
  </div>
</div>
