app/dist/views/directives/product-filter-by-strap-type.html

<div class="product-filter filter"><a href="" ng-init="showStrapType = true" ng-click="showStrapType = !showStrapType">
    <h5>{{:: "STRAP_TYPE" | translate}} &nbsp;<i class="fa fa-chevron-up" ng-show="showStrapType"></i><i class="fa fa-chevron-down" ng-show="!showStrapType"></i></h5></a>
  <div class="filter-content" uib-collapse="!showStrapType">
    <ul>
      <li>
        <input id="standardModel" type="checkbox" name="standardModel" ng-model="strapType.standardModel" ng-change="setStrapType()"/>
        <label for="standardModel">{{:: "STANDARD_STRAP" | translate}}<span class="count" ng-bind="strapType.standardModel.count ? '(' + strapType.standardModel.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="milaneseMesh" type="checkbox" name="milaneseMesh" ng-model="strapType.milaneseMesh" ng-change="setStrapType()"/>
        <label for="milaneseMesh">{{:: "MILANESE" | translate}}<span class="count" ng-bind="strapType.milaneseMesh.count ? '(' + strapType.milaneseMesh.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="select" type="checkbox" name="select" ng-model="strapType.select" ng-change="setStrapType()"/>
        <label for="select">{{:: "SELECT_BAND" | translate}}<span class="count" ng-bind="strapType.select.count ? '(' + strapType.select.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="expandableStretch" type="checkbox" name="expandableStretch" ng-model="strapType.expandableStretch" ng-change="setStrapType()"/>
        <label for="expandableStretch">{{:: "STRETCH" | translate}}<span class="count" ng-bind="strapType.expandableStretch.count ? '(' + strapType.expandableStretch.count + ')': ''"></span></label>
      </li>
      <li>
        <input id="nato" type="checkbox" name="nato" ng-model="strapType.nato" ng-change="setStrapType()"/>
        <label for="nato">{{:: "NATO" | translate}}<span class="count" ng-bind="strapType.nato.count ? '(' + strapType.nato.count + ')': ''"></span></label>
      </li>
    </ul>
  </div>
  <hr/>
</div>

app/src/views/directives/product-filter-by-strap-type.pug
.product-filter.filter
	a(href='' ng-init="showStrapType = true" ng-click="showStrapType = !showStrapType")
		h5 {{:: "STRAP_TYPE" | translate}} &nbsp;
			i.fa.fa-chevron-up(ng-show="showStrapType")
			i.fa.fa-chevron-down(ng-show="!showStrapType")
	.filter-content(uib-collapse="!showStrapType")
		ul
			li
				input#standardModel(type="checkbox" name="standardModel" ng-model="strapType.standardModel" ng-change="setStrapType()")
				label(for="standardModel") {{:: "STANDARD_STRAP" | translate}}
					span.count(ng-bind="strapType.standardModel.count ? '(' + strapType.standardModel.count + ')': ''")
			li
				input#milaneseMesh(type="checkbox" name="milaneseMesh" ng-model="strapType.milaneseMesh" ng-change="setStrapType()")
				label(for="milaneseMesh") {{:: "MILANESE" | translate}}
					span.count(ng-bind="strapType.milaneseMesh.count ? '(' + strapType.milaneseMesh.count + ')': ''")
			li
				input#select(type='checkbox' name='select' ng-model="strapType.select" ng-change="setStrapType()")
				label(for='select') {{:: "SELECT_BAND" | translate}}
					span.count(ng-bind="strapType.select.count ? '(' + strapType.select.count + ')': ''")
			li
				input#expandableStretch(type='checkbox' name='expandableStretch' ng-model="strapType.expandableStretch" ng-change="setStrapType()")
				label(for='expandableStretch') {{:: "STRETCH" | translate}}
					span.count(ng-bind="strapType.expandableStretch.count ? '(' + strapType.expandableStretch.count + ')': ''")
			li
				input#nato(type='checkbox' name='nato' ng-model="strapType.nato" ng-change="setStrapType()")
				label(for='nato') {{:: "NATO" | translate}}
					span.count(ng-bind="strapType.nato.count ? '(' + strapType.nato.count + ')': ''")
	hr
