app/dist/views/directives/reset-password.html

<div modal="changePasswordModal" close="cancel()">
  <div class="modal-header">
    <h4>{{:: "RESET_PASSWORD" | translate}}</h4>
  </div>
  <div class="modal-body">
    <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
    <form>
      <input class="form-control" type="text" ng-model="password" placeholder="Nieuw wachtwoord"/><br/>
      <p>{{:: "AFTER_CHANGING_A_PASSWORD_THE_PROCLAMATION_IS_TO_TURN_ON_THE_OPTION_MUST_CHANGE_PASSWORD" | translate}}</p>
      <input class="btn btn-lg btn-green" type="submit" ng-click="save()" value="Opslaan"/>
    </form>
  </div>
  <div class="modal-footer"><a ng-click="cancel()" href="">{{:: "CLOSE" | translate}}</a></div>
</div>

app/src/views/directives/reset-password.pug
div(modal="changePasswordModal", close="cancel()")
    .modal-header
        h4 {{:: "RESET_PASSWORD" | translate}}
    .modal-body
        div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
            | {{alert.msg}}
        form()
            input(type="text", ng-model="password" placeholder="Nieuw wachtwoord").form-control
            br
            p {{:: "AFTER_CHANGING_A_PASSWORD_THE_PROCLAMATION_IS_TO_TURN_ON_THE_OPTION_MUST_CHANGE_PASSWORD" | translate}}
            input(type="submit", ng-click="save()" value="Opslaan").btn.btn-lg.btn-green
    .modal-footer
        a(ng-click="cancel()" href="") {{:: "CLOSE" | translate}}
