app/src/views/directives/shop-block.pug
container.shop-block
	.panel.panel-shop(ng-class="{'panel-warning': item.leastExpensive, 'panel-success': item.bestBuy, 'panel-default': item.alternative}")
		.panel-heading
			a(ui-sref="shop.home({nameSlug:item.nameSlug})")
				i.fa.fa-3x.fa-home.text-center
				h3.text-center {{item.name}}
		ul.list-group.text-center
			li.list-group-item
				span {{:: "PRICE" | translate}}: {{item.price | currency: "€ "}}&nbsp;
				i.fa.fa-star(ng-repeat="n in range(item.priceRating)")
			li.list-group-item 
				span {{:: "DISTANCE" | translate}}: {{item.distance}}&nbsp;
				i.fa.fa-star(ng-repeat="n in range(item.distanceRating)")
			li.list-group-item 
				span {{:: "DELIVERY_TIME" | translate}}: {{item.delivery}}&nbsp;
				i.fa.fa-star(ng-repeat="n in range(item.deliveryRating)")
			li.list-group-item {{:: "IN_STOCK" | translate}}
			li.list-group-item
				a.btn.btn-md.btn-dark {{:: "MAKE_A_RESERVATIONCLOSE" | translate}}
			li.list-group-item
				a.btn.btn-md.btn-dark {{:: "ORDER" | translate}}

app/dist/views/directives/shop-block.html

<container class="shop-block">
  <div class="panel panel-shop" ng-class="{'panel-warning': item.leastExpensive, 'panel-success': item.bestBuy, 'panel-default': item.alternative}">
    <div class="panel-heading"><a ui-sref="shop.home({nameSlug:item.nameSlug})"><i class="fa fa-3x fa-home text-center"></i>
        <h3 class="text-center">{{item.name}}</h3></a></div>
    <ul class="list-group text-center">
      <li class="list-group-item"><span>{{:: "PRICE" | translate}}: {{item.price | currency: "€ "}}&nbsp;</span><i class="fa fa-star" ng-repeat="n in range(item.priceRating)"></i></li>
      <li class="list-group-item"> <span>{{:: "DISTANCE" | translate}}: {{item.distance}}&nbsp;</span><i class="fa fa-star" ng-repeat="n in range(item.distanceRating)"></i></li>
      <li class="list-group-item"> <span>{{:: "DELIVERY_TIME" | translate}}: {{item.delivery}}&nbsp;</span><i class="fa fa-star" ng-repeat="n in range(item.deliveryRating)"></i></li>
      <li class="list-group-item">{{:: "IN_STOCK" | translate}}</li>
      <li class="list-group-item"><a class="btn btn-md btn-dark">{{:: "MAKE_A_RESERVATIONCLOSE" | translate}}</a></li>
      <li class="list-group-item"><a class="btn btn-md btn-dark">{{:: "ORDER" | translate}}</a></li>
    </ul>
  </div>
</container>
