app/dist/views/directives/task-block.html

<div class="task-block"><a class="task-block-image" ng-if="isShop" style="background-image: url('{{awsUrl + item.images[0].src}}')"></a><a class="task-block-image" ui-sref="layout.campaign({nameSlug: item.campaign.nameSlug})" ng-if="!isShop" style="background-image: url('{{item.images[0].src}}')"></a>
  <div class="task-block-content"><a ng-if="isShop">
      <h5 class="task-block-title">{{item.nl.name}}</h5></a><a ui-sref="layout.campaign({nameSlug: item.campaign.nameSlug})" ng-if="!isShop">
      <h5 class="task-block-title">{{item.name}}</h5></a>
    <p class="date"><i class="fa fa-calendar-o"></i><span>&nbsp; {{formatDate(item.startDate, true)}} {{:: "UNTIL" | translate}} {{formatDate(item.endDate, true)}}</span></p>
    <p>{{truncateText(item.nl.description)}}</p>
  </div>
</div>

app/src/views/directives/task-block.pug
.task-block
	a.task-block-image(ng-if="isShop" style="background-image: url('{{awsUrl + item.images[0].src}}')")
	a.task-block-image(ui-sref='layout.campaign({nameSlug: item.campaign.nameSlug})' ng-if="!isShop" style="background-image: url('{{item.images[0].src}}')")
	.task-block-content
		a(ng-if="isShop")
			h5.task-block-title {{item.nl.name}}
		a(ui-sref='layout.campaign({nameSlug: item.campaign.nameSlug})' ng-if="!isShop")
			h5.task-block-title {{item.name}}
		p.date
			i.fa.fa-calendar-o
			span &nbsp; {{formatDate(item.startDate, true)}} {{:: "UNTIL" | translate}} {{formatDate(item.endDate, true)}}
		p {{truncateText(item.nl.description)}}
