app/dist/views/shop/contact.html

<div class="container">
  <div class="block">
    <div class="row"><br/><br/><br/></div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h6>{{:: "TEXT_ADDRESS" | translate}}</h6>
        <p class="address"><span>{{shop.address.street + ' ' + shop.address.houseNumber }} {{shop.address.houseNumberSuffix ? shop.address.houseNumberSuffix : ''}}</span><br/><span>{{shop.address.postalCode + ' ' + shop.address.city}}</span><br/><span>{{shop.address.country}}</span></p>
        <h6>{{:: "TEXT_CONTACT" | translate}}</h6><a href="tel:{{shop.phone.countryCode + shop.phone.landLine}}" ng-show="shop.phone.landLine"><i class="fa fa-phone fa-4x"></i></a><a href="mailto:{{shop.email}}" ng-show="shop.email"><i class="fa fa-envelope fa-4x"></i></a><a href="/vcard/{{shop._id}}" ng-hide="shop._id"><i class="fa fa-whatsapp fa-4x"></i></a><a href="{{shop.website}}" ng-show="shop.website"><i class="fa fa-globe fa-4x"></i></a>
        <div class="row" style="margin-top:15px">
          <div class="col-xs-12"><span class="contact-detail" ng-if="shop.phone.landLine != null" ng-show="shop.phone.landLine">{{:: "TEXT_PHONE_WITHDOTS" | translate}} {{shop.phone.countryCode + shop.phone.landLine}}</span><span class="contact-detail" ng-if="shop.email" ng-show="shop.email">{{:: "TEXT_EMAIL_WITHDOTS" | translate}} {{shop.email}}</span><span class="contact-detail" ng-if="shop.whatsappEnabled" ng-hide="shop._id">{{:: "TEXT_WHATSAPP_ACCOUNT" | translate}}&nbsp;<a href="/vcard/{{shop._id}}">{{:: "TEXT_DOWNLOAD" | translate}}</a></span><span class="contact-detail" ng-if="shop.website" ng-show="shop.website">{{:: "TEXT_WEBSITE_WITHDOTS" | translate}}<a href="{{shop.website}}">: {{shop.website}}</a></span></div>
        </div>
        <div class="row" style="margin-top:15px">
          <div class="col-xs-12">
            <div><a ng-repeat="media in shop.socialMedia" target="_blank" ng-href="{{media.url + '/' + media.username}}"><i class="fa fa-facebook-square fa-2x" ng-show="media.name == &quot;facebook&quot;"></i><i class="fa fa-twitter-square fa-2x" ng-show="media.name == &quot;twitter&quot;"></i><i class="fa fa-instagram fa-2x" ng-show="media.name == &quot;instagram&quot;"></i><i class="fa fa-pinterest-square fa-2x" ng-show="media.name == &quot;pinterest&quot;"></i><i class="fa fa-google-plus-square fa-2x" ng-show="media.name == &quot;googleplus&quot;"></i><i class="fa fa-youtube-square fa-2x" ng-show="media.name == &quot;youtube&quot;"></i></a>&nbsp;&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 contact-map">
        <div>
          <h6>{{:: "TEXT_MAP" | translate}}</h6>
          <iframe ng-src="{{googleMapsUrl}}" width="100%" height="300px" frameborder="0" style="border: 0"></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 opening-times">
        <h6>{{:: "TEXT_OPENING_HOURS" | translate}}</h6>
        <table>
          <tbody>
            <tr>
              <td>{{:: "TEXT_MONDAY" | translate}}</td>
              <td>{{shop.openingHoursOld[0].monday}}</td>
            </tr>
            <tr>
              <td>{{:: "TEXT_TUESDAY" | translate}}</td>
              <td>{{shop.openingHoursOld[0].tuesday}}</td>
            </tr>
            <tr>
              <td>{{:: "TEXT_WEDNESDAY" | translate}}</td>
              <td>{{shop.openingHoursOld[0].wednesday}}</td>
            </tr>
            <tr>
              <td>{{:: "TEXT_THURSDAY" | translate}}</td>
              <td>{{shop.openingHoursOld[0].thursday}}</td>
            </tr>
            <tr>
              <td>{{:: "TEXT_FRIDAY" | translate}}</td>
              <td>{{shop.openingHoursOld[0].friday}}</td>
            </tr>
            <tr>
              <td>{{:: "TEXT_SATURDAY" | translate}}</td>
              <td>{{shop.openingHoursOld[0].saturday}}</td>
            </tr>
            <tr>
              <td>{{:: "TEXT_SUNDAY" | translate}}</td>
              <td>{{shop.openingHoursOld[0].sunday}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 block">
        <div>
          <h6>{{:: "TEXT_COMPANY_DESCRIPTION" | translate}}</h6>
          <p ng-bind-html="shop.description"></p><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><img ng-src="{{shop.images[0].image1}}"/>
          <p>{{shop.images[0].image1_description}}</p><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><img ng-src="{{shop.images[0].image2}}"/><br/>
          <p>{{shop.images[0].image2_description}}</p>
        </div>
        <div class="col-md-6"><img ng-src="{{shop.images[0].image3}}"/><br/>
          <p>{{shop.images[0].image3_description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

app/src/views/shop/contact.pug
.container
	.block
		.row
			br
			br
			br
		.row
			.col-xs-12.col-md-4
				h6 {{:: "TEXT_ADDRESS" | translate}}
				p.address
					span {{shop.address.street + ' ' + shop.address.houseNumber }} {{shop.address.houseNumberSuffix ? shop.address.houseNumberSuffix : ''}}
					br
					span {{shop.address.postalCode + ' ' + shop.address.city}}
					br
					span {{shop.address.country}}
				h6 {{:: "TEXT_CONTACT" | translate}}
				
				a(href="tel:{{shop.phone.countryCode + shop.phone.landLine}}" ng-show="shop.phone.landLine")
					i.fa.fa-phone.fa-4x
				a(href='mailto:{{shop.email}}' ng-show="shop.email")
					i.fa.fa-envelope.fa-4x
				a(href='/vcard/{{shop._id}}' ng-hide="shop._id")
					i.fa.fa-whatsapp.fa-4x
				a(href='{{shop.website}}' ng-show="shop.website")
					i.fa.fa-globe.fa-4x
				.row(style='margin-top:15px')
					.col-xs-12
						span.contact-detail(ng-if="shop.phone.landLine != null"  ng-show="shop.phone.landLine") {{:: "TEXT_PHONE_WITHDOTS" | translate}} {{shop.phone.countryCode + shop.phone.landLine}}
						span.contact-detail(ng-if="shop.email" ng-show="shop.email") {{:: "TEXT_EMAIL_WITHDOTS" | translate}} {{shop.email}}
						span.contact-detail(ng-if="shop.whatsappEnabled" ng-hide="shop._id") {{:: "TEXT_WHATSAPP_ACCOUNT" | translate}}&nbsp;
							a(href='/vcard/{{shop._id}}') {{:: "TEXT_DOWNLOAD" | translate}}
						span.contact-detail(ng-if="shop.website" ng-show="shop.website") {{:: "TEXT_WEBSITE_WITHDOTS" | translate}}
							a(href="{{shop.website}}") : {{shop.website}}
				.row(style='margin-top:15px')
					.col-xs-12
						div
							a(ng-repeat="media in shop.socialMedia", target="_blank" ng-href="{{media.url + '/' + media.username}}")
								i.fa.fa-facebook-square.fa-2x(ng-show='media.name == "facebook"')
								i.fa.fa-twitter-square.fa-2x(ng-show='media.name == "twitter"')
								i.fa.fa-instagram.fa-2x(ng-show='media.name == "instagram"')
								i.fa.fa-pinterest-square.fa-2x(ng-show='media.name == "pinterest"')
								i.fa.fa-google-plus-square.fa-2x(ng-show='media.name == "googleplus"')
								i.fa.fa-youtube-square.fa-2x(ng-show='media.name == "youtube"')
							| &nbsp;&nbsp;
							
			.col-xs-12.col-md-4.contact-map
				div
					h6 {{:: "TEXT_MAP" | translate}}
					iframe(ng-src='{{googleMapsUrl}}', width='100%', height='300px' frameborder="0" style="border: 0")
			.col-xs-12.col-md-4.opening-times
				h6 {{:: "TEXT_OPENING_HOURS" | translate}}
				table
					tbody
						tr
							td {{:: "TEXT_MONDAY" | translate}}
							td {{shop.openingHoursOld[0].monday}}
						tr
							td {{:: "TEXT_TUESDAY" | translate}}
							td {{shop.openingHoursOld[0].tuesday}}
						tr
							td {{:: "TEXT_WEDNESDAY" | translate}}
							td {{shop.openingHoursOld[0].wednesday}}
						tr
							td {{:: "TEXT_THURSDAY" | translate}}
							td {{shop.openingHoursOld[0].thursday}}
						tr
							td {{:: "TEXT_FRIDAY" | translate}}
							td {{shop.openingHoursOld[0].friday}}
						tr
							td {{:: "TEXT_SATURDAY" | translate}}
							td {{shop.openingHoursOld[0].saturday}}
						tr
							td {{:: "TEXT_SUNDAY" | translate}}
							td {{shop.openingHoursOld[0].sunday}}
			.col-xs-12.block
				div
					h6 {{:: "TEXT_COMPANY_DESCRIPTION" | translate}}
					p(ng-bind-html="shop.description")
					br
			.row
				.col-md-12
					img(ng-src="{{shop.images[0].image1}}")
					p {{shop.images[0].image1_description}}
					br
			.row
				.col-md-6
					img(ng-src="{{shop.images[0].image2}}")
					br
					p {{shop.images[0].image2_description}}
				.col-md-6
					img(ng-src="{{shop.images[0].image3}}")
					br
					p {{shop.images[0].image3_description}}
