app/dist/views/shop/loyalty-watches.html

<div class="container" ng-init="getCurrentShop()"><br/><br/><br/><br/>
  <h3>{{:: "EMAIL_WATCH_WARRANTY_CARD" | translate}}
    <div><a class="btn btn-dark pull-right" ui-sref="{{getShopType()}}.loyalty-program({nameSlug: selectedShop})">{{:: "BACK" | translate}}</a></div>
  </h3>
  <p>{{:: "DO_YOU_HAVE_A_JEWEL_INSTEAD" | translate}}<a ui-sref="{{getShopType()}}.loyalty-other">{{:: "CLICK_HERE" | translate}}.</a></p>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="drop-box" id="emailMarketingTourFillIn" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="customer.photo" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
        <div>.</div><img ngf-thumbnail="customer.photo"/>
      </div>
    </div>
    <div class="col-md-8 margin-bottom">
      <div class="row">
        <div class="col-xs-9 loyalty-no-right-padding" stykar="stykar" le="margin-bottom: 13px">
          <div id="ex2" angucomplete-alt="angucomplete-alt" placeholder="{{:: &quot;HOW_CAN_WE_CALL_YOU&quot; | translate}}" pause="100" selected-object="customer.emailName" search-fields="name,email" title-field="name" description-field="email" maxlength="50" local-data="crmUsersDetails" input-class="form-control form-control-small" match-class="highlight"></div>
        </div>
        <div class="col-xs-3 loyalty-no-left-padding">
          <select class="form-control" id="gender" ng-model="customer.gender" name="gender" style="float: left" required="required">
            <option value="male">{{:: "MR" | translate}}</option>
            <option value="female">{{:: "MS" | translate}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group" style="margin-bottom: 13px"><span class="input-group-addon loyalty-input-height">{{:: "INCL_VAT" | translate}}</span>
            <input class="form-control currency loyalty-input-height" id="c2" ng-model="customer.priceRange" type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"/>
          </div>
        </div>
        <div class="col-md-8">
          <div class="input-group" style="margin-bottom: 13px"><span class="input-group-addon loyalty-input-height">{{:: "END_DATE" | translate}}<br/>{{:: "WARRANTY" | translate}}</span>
            <input class="form-control loyalty-input-height" ng-model="customer.endDateWarranty" type="date" name="date"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input ng-model="customer.emailName.description" type="text" style="width: 100%; padding: 2px" placeholder="{{:: &quot;EMAIL_ADRESS&quot; | translate}}"/>
          <p>{{:: "WE_USE_YOUR_EMAIL_ADRESS_FOR_SERVICE_PURPOSES" | translate}}</p>
          <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" dismiss-on-timeout="5000" close="closeAlert(alert)">
            <!-- a(ng-href='shop.proShopUrl')-->{{alert.msg}}
            <!-- |Klik hier om naar onze website te gaan.-->
          </div>
        </div>
      </div>
      <div class="row hidden">
        <div class="col-xs-12 col-md-12">
          <div>
            <input class="input-checkbox" id="shipto" type="checkbox" ng-model="customer.dateOfBirthOn" value="1"/>
            <label for="shipto">{{:: "MAY_WE_SENT_YOU_DISCOUNT_EMAIL_FOR_BIRTHDAY" | translate}}</label>
          </div>
          <div class="col-xs-12 col-md-12" ng-show="customer.dateOfBirthOn">
            <div class="input-group" style="margin-bottom: 13px"><span class="input-group-addon loyalty-input-height">{{:: "DATE_OF_BIRTH" | translate}}</span>
              <input class="form-control loyalty-input-height" ng-model="customer.dateOfBirth" type="date" name="date"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="input-group" style="margin-bottom: 13px">
            <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar><a class="btn btn-lg btn-green loyalty-button" id="emailMarketingTourSent" ng-click="sentWatchWarranty()">{{:: "SEND_MY_WARRANTY_CERTIFICATE" | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

app/src/views/shop/loyalty-watches.pug
.container(ng-init='getCurrentShop()')
  br
  br
  br
  br
  h3
    | {{:: "EMAIL_WATCH_WARRANTY_CARD" | translate}}
    div
      a.btn.btn-dark.pull-right(ui-sref='{{getShopType()}}.loyalty-program({nameSlug: selectedShop})') {{:: "BACK" | translate}}
  p
    | {{:: "DO_YOU_HAVE_A_JEWEL_INSTEAD" | translate}}
    a(ui-sref='{{getShopType()}}.loyalty-other') {{:: "CLICK_HERE" | translate}}.
  .row
    .col-md-4.text-center
      #emailMarketingTourFillIn.drop-box(ngf-drop='ngf-drop', ngf-select='ngf-select', ng-model='customer.photo', ngf-pattern="'image/*'", ngf-allow-dir='allowDir', ngf-drop-available='dropAvailable')
        | {{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
        div .
        img(ngf-thumbnail='customer.photo')
    .col-md-8.margin-bottom
      .row
        .col-xs-9.loyalty-no-right-padding(stykar='stykar', le='margin-bottom: 13px')
          #ex2(angucomplete-alt='angucomplete-alt', placeholder='{{:: "HOW_CAN_WE_CALL_YOU" | translate}}', pause='100', selected-object='customer.emailName', search-fields='name,email', title-field='name', description-field='email', maxlength='50', local-data='crmUsersDetails', input-class='form-control form-control-small', match-class='highlight')
        .col-xs-3.loyalty-no-left-padding
          select#gender.form-control(ng-model='customer.gender', name='gender', style='float: left', required='required')
            option(value='male') {{:: "MR" | translate}}
            option(value='female') {{:: "MS" | translate}}
      .row
        .col-md-4
          .input-group(style='margin-bottom: 13px')
            span.input-group-addon.loyalty-input-height {{:: "INCL_VAT" | translate}}
            input#c2.form-control.currency.loyalty-input-height(ng-model='customer.priceRange', type='number', value='1000', min='0', step='0.01', data-number-to-fixed='2', data-number-stepfactor='100')
        .col-md-8
          .input-group(style='margin-bottom: 13px')
            span.input-group-addon.loyalty-input-height
              | {{:: "END_DATE" | translate}}
              br
              | {{:: "WARRANTY" | translate}}
            input.form-control.loyalty-input-height(ng-model='customer.endDateWarranty', type='date', name='date')
      .row
        .col-xs-12.col-md-12
          input(ng-model='customer.emailName.description', type='text', style='width: 100%; padding: 2px', placeholder='{{:: "EMAIL_ADRESS" | translate}}')
          p {{:: "WE_USE_YOUR_EMAIL_ADRESS_FOR_SERVICE_PURPOSES" | translate}}
          div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type",dismiss-on-timeout="5000"  close='closeAlert(alert)')
            // a(ng-href='shop.proShopUrl')
            | {{alert.msg}}
            // |Klik hier om naar onze website te gaan.
      .row.hidden
        .col-xs-12.col-md-12
          div
            input#shipto.input-checkbox(type='checkbox', ng-model='customer.dateOfBirthOn', value='1')
            label(for='shipto') {{:: "MAY_WE_SENT_YOU_DISCOUNT_EMAIL_FOR_BIRTHDAY" | translate}}
          .col-xs-12.col-md-12(ng-show='customer.dateOfBirthOn')
            .input-group(style='margin-bottom: 13px')
              span.input-group-addon.loyalty-input-height {{:: "DATE_OF_BIRTH" | translate}}
              input.form-control.loyalty-input-height(ng-model='customer.dateOfBirth', type='date', name='date')
      .row
        .col-xs-12.col-md-12
          .input-group(style='margin-bottom: 13px')
            uib-progressbar.progress-striped.active(max='100', value='uploadProgress', type='succes', ng-show='upload') {{uploadProgress}} / 100
            a#emailMarketingTourSent.btn.btn-lg.btn-green.loyalty-button(ng-click='sentWatchWarranty()') {{:: "SEND_MY_WARRANTY_CERTIFICATE" | translate}}
