app/dist/views/shop/loyalty-program.html

<div class="container"><br/><br/><br/><br/><br/>
  <h3>{{:: "ORDER_INTAKE" | translate}}<a class="btn btn-dark pull-right" ui-sref="retailer.home">{{:: "BACK" | translate}}</a></h3>
  <div class="row"></div><br/><br/><br/>
  <div class="row">
    <div class="col-md-4 text-center">
      <p>{{:: "TAKE_A_PICTURE_OF_THE_REPAIR" | translate}}</p><a class="menublock" ui-sref="{{getShopType()}}.loyalty-repair"><i class="fa fa-wrench fa-4x"></i><br/><br/></a><a class="btn btn-lg btn-green mobile-menu loyalty-button" ui-sref="{{getShopType()}}.loyalty-repair" ng-hide="buttonDisabled">{{:: "REPAIR" | translate}}</a><a class="btn btn-lg btn-green mobile-menu loyalty-button" ng-show="buttonDisabled" ng-disabled="buttonDisabled">{{:: "REPAIR" | translate}}</a>
    </div>
    <div class="col-md-4 text-center">
      <p>{{:: "SUBSEQUENT_ORDER_FOR_CUSTOMER_DEMO" | translate}}</p><a class="menublock" ui-sref=""><i class="fa fa-truck fa-4x"></i><br/><br/></a><a class="btn btn-lg btn-default mobile-menu loyalty-button" ui-sref="" ng-hide="buttonDisabled">{{:: "SUBSEQUENT_ORDER" | translate}} (coming soon)</a><a class="btn btn-lg btn-green mobile-menu loyalty-button" ng-show="buttonDisabled" ng-disabled="buttonDisabled">{{:: "SUBSEQUENT_ORDER" | translate}} (coming soon)</a>
    </div>
  </div><br/><br/>
  <div class="row">
    <div class="col-md-4">
      <p>{{:: "DIGITAL_WARRANTY_RECORDING" | translate}}</p><a class="btn btn-lg btn-green loyalty-button" id="emailMarketingTourPurchaseRegistration" ui-sref="{{getShopType()}}.loyalty-watches" ng-hide="buttonDisabled" ng-disabled="buttonDisabled">{{:: "WATCHES" | translate}}</a><a class="btn btn-lg btn-green loyalty-button" id="emailMarketingTourPurchaseRegistration" ng-show="buttonDisabled" ng-disabled="buttonDisabled">{{:: "WATCHES" | translate}}</a>
    </div>
    <div class="col-md-4">
      <p>{{:: "TAKE_A_PICTURE_OF_THE_RECEIPT" | translate}}</p><a class="btn btn-lg btn-green mobile-menu loyalty-button" ui-sref="{{getShopType()}}.loyalty-other" ng-hide="buttonDisabled">{{:: "CASH_SUBSCRIPTION_RECEIPT" | translate}}</a><a class="btn btn-lg btn-green mobile-menu loyalty-button" ng-show="buttonDisabled" ng-disabled="buttonDisabled">{{:: "CASH_SUBSCRIPTION_RECEIPT" | translate}}</a>
    </div>
  </div>
  <div class="row"></div>
</div><br/><a class="btn btn-lg btn-green hidden" href="">{{:: "SAVE_10_ON_THE_NEXT_PURCHASE" | translate}}</a>

app/src/views/shop/loyalty-program.pug
.container
  br
  br
  br
  br
  br
  h3
    | {{:: "ORDER_INTAKE" | translate}}
    a.btn.btn-dark.pull-right(ui-sref='retailer.home') {{:: "BACK" | translate}}
  .row
  br
  br
  br
  .row
    .col-md-4.text-center
      p {{:: "TAKE_A_PICTURE_OF_THE_REPAIR" | translate}}
      a.menublock(ui-sref='{{getShopType()}}.loyalty-repair')
        i.fa.fa-wrench.fa-4x
        br
        br
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ui-sref='{{getShopType()}}.loyalty-repair', ng-hide='buttonDisabled') {{:: "REPAIR" | translate}}
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "REPAIR" | translate}}
    .col-md-4.text-center
      p {{:: "SUBSEQUENT_ORDER_FOR_CUSTOMER_DEMO" | translate}}
      a.menublock(ui-sref='')
        i.fa.fa-truck.fa-4x
        br
        br
      a.btn.btn-lg.btn-default.mobile-menu.loyalty-button(ui-sref='', ng-hide='buttonDisabled') {{:: "SUBSEQUENT_ORDER" | translate}} (coming soon)
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "SUBSEQUENT_ORDER" | translate}} (coming soon)
  br
  br
  .row
    .col-md-4
      p {{:: "DIGITAL_WARRANTY_RECORDING" | translate}}
      a#emailMarketingTourPurchaseRegistration.btn.btn-lg.btn-green.loyalty-button(ui-sref='{{getShopType()}}.loyalty-watches', ng-hide='buttonDisabled', ng-disabled='buttonDisabled') {{:: "WATCHES" | translate}}
      a#emailMarketingTourPurchaseRegistration.btn.btn-lg.btn-green.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "WATCHES" | translate}}
    .col-md-4
      p {{:: "TAKE_A_PICTURE_OF_THE_RECEIPT" | translate}}
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ui-sref='{{getShopType()}}.loyalty-other', ng-hide='buttonDisabled') {{:: "CASH_SUBSCRIPTION_RECEIPT" | translate}}
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "CASH_SUBSCRIPTION_RECEIPT" | translate}}
  .row
//-   // <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">
//-   // a(ng-href='shop.proShopUrl')
//-  // | {{alert.msg}}
//-   // |Klik hier om naar onze website te gaan.
//-   // </div>
br
a.btn.btn-lg.btn-green.hidden(href="") {{:: "SAVE_10_ON_THE_NEXT_PURCHASE" | translate}}
