app/src/views/brand/campaign.pug
.container.edit-campaign(ng-init="getCampaign()")
	h3 {{ "CAMPAIGN" | translate}} {{campaign.name}}
	.block-small
		uib-tabset
			uib-tab(heading="Run through dealer network")
				br
				.col-md-12(ng-init="getCampaigns()")
					.row
					br
					h3 {{ "SOCIAL_PORTALS_OF_SHOPS_USERS" | translate}}
					input.form-control(ng-model="socialPortalFilter", placeholder='{{:: "INPUT_FILTER_SOCIAL_PORTALS" | translate}}')
					br
					img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
					//- .row
					//-     hr
					//-     .col-md-3
					//-         b Aantal portals met te weinig merken (minder dan 10)
					//-         p X
					//-     .col-md-3
					//-         b Aantal portals met te weinig updates (minder dan 10)
					//-         br
					//-         p X
					//-     .col-md-3
					//-         b Aantal portals met dubbele gebruikers
					//-         p X
					//-     .col-md-3
					//-         b Aantal portals die meerdere keren gekoppeld zijn aan dezelfde shop
					//-         p X
					hr
					.row
					.list-group
						a(ng-repeat="portal in socialPortals | filter: socialPortalFilter | orderBy: '-amountOfUpdates' | limitTo:totalDisplayed", ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})").list-group-item
							.col-md-4
								div(ng-repeat="shop in portal.shops") 
									p {{ "SHOP" | translate}}: 
										b {{shop.name}}
										p Portal ID: {{portal._id}}
							.col-md-4
								div(ng-repeat="user in portal.users") 
									p {{ "USER" | translate}}: {{user.name}} ({{user.email}})
								div(ng-if="portal.users.length == 0")
									p {{ "NO_USERS" | translate}}
								div(ng-if="portal.users.length > 1")
									p {{ "TOO_MANY_USERS" | translate}}
							.col-md-4
								div {{ "NUMBER_OF_UPDATES" | translate}}: {{portal.amountOfUpdates}}
								div(ng-if="portal.brands.length > 0 && portal.amountOfUpdates < 10")
									i(style="color: burlywood").fa.fa-flag
									|  {{ "LESS_THAN_TEN" | translate}}
								div(ng-if="portal.brands.length > 0 && portal.amountOfUpdates >= 10")
									i(style="color: forestgreen").fa.fa-check
									|  {{ "MORE_THAN_TEN" | translate}}
								br
								div(ng-if="isUserExist")
									input.btn.btn-green(ng-if="verified", type='submit', ng-click='verifyUser(portal,"verify")' value='{{:: "ACCESS_TO_MARKETING_USER" | translate}}')
									input.btn.btn-danger(ng-if="!verified", type="submit", ng-click='verifyUser(portal,"revert")' value='{{:: "REVERT_ACCESS" | translate}}')
								div(ng-if="!isUserExist")
									.alert.alert-danger() {{ "Marketing User is not created yet" | translate}}
							hr
							.row
							.col-md-12
								p(ng-if="portal.brands.length < 10") {{ "BRANDS" | translate}}: 
									i(style="color: burlywood").fa.fa-diamond
									|  {{ "LESS_THAN_TEN" | translate}}
								p(ng-if="portal.brands.length >= 10") {{ "BRANDS" | translate}}:
									i(style="color: forestgreen").fa.fa-diamond
									|  {{ "ENOUGH" | translate}}
								.btn-group(ng-repeat="brand in portal.brands")
									button.btn.btn.btn-md.button-margin-right {{brand.name}}
										span(ng-if="brand.credit") (credit: {{brand.credit}})
										span(ng-if="!brand.credit") (credit: 0)
							.row
					br
					button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}
					br
					br
					br
					.list-group
						a(ng-repeat="update in updates | limitTo:totalDisplayed", ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})").list-group-item
							div {{update.name}}
							hr
							div {{update.brand.name}}

			uib-tab(heading="Algemeen")
				div(uib-alert, ng-show="campaign.isPublished").alert-warning 
					p
						strong CAUTION &nbsp; {{ "THIS_CAMPAIGN_HAS_BEEN_PUBLISHED_AND_IS_THEREFORE_VISIBLE_TO_EVERYONE" | translate}} 
						a.btn.btn-md.btn-dark(ng-click="campaign.isPublished = false")
						span {{ "CLICK_HERE_TO_MAKE_THE_CAMPAIGN_INVISIBLE_AGAIN" | translate}}
				.row
					.col-md-4.block-small
						h5 {{ "BASIC_DATA" | translate}}
						.form-group
							p
								label(for="campaign-title") {{ "TITLE" | translate}}
								br
								input(type="text" ng-model="campaign.name" placeholder="Naam campagne").form-control#campaign-title
							p
								label(for="campaign-nameslug") Slug
								br
								input(type="text" disabled="disabled" ng-model="campaign.nameSlug" placeholder="Slug").form-control.disabled#campaign-nameslug
							p
								label {{ "DISTRIBUTOR" | translate}}
								span(ng-if="campaign.wholesaler.name") :&nbsp;
									strong(ng-bind="campaign.wholesaler.name")
								br
								angucomplete-alt(id="ex1", placeholder="{{'Kies een distributeur'}}", pause="100", clear-selected="true", selected-object="wholesalerSelected", local-data="wholesalers", local-search="searchWholesalers", title-field="name", minlength="2", input-class="form-control")
							p
								label(for="campaign-is-published") {{ "PUBLISH" | translate}}
								br
								toggle-switch(name="campaign-is-published", ng-model="campaign.isPublished", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")#campaign-is-published
								span &nbsp; {{ "CAMPAIGN_IS_VISIBLE" | translate}}
					.col-md-4.block-small
						h5 {{ "START_DATE" | translate}}
						div(uib-datepicker ng-model="campaign.startDate")
					.col-md-4.block-small
						h5 {{ "FINISH_DATE" | translate}}
						div(uib-datepicker ng-model="campaign.endDate")
					.col-md-4.block-small
						h5 {{ "DETAILS" | translate}}
						p(ng-init="getBrands()")
							label {{ "BRAND" | translate}}
							span(ng-if="campaign.brand.name") :&nbsp;
								strong(ng-bind="campaign.brand.name")
							br
							angucomplete-alt(id="ex1", placeholder="{{'Kies een merk'}}", pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
						p
							label(for="campaign-type") {{ "CAMPAIGN_TYPE" | translate}}
							br
							select(ng-model="campaign.type").form-control#campaign-type
								option(value="winactie") {{ "COMPETITION" | translate}}
								option(value="nieuws") {{ "NEWS" | translate}}
								option(value="blog") {{ "BLOG" | translate}}
								option(value="sfeer") {{ "AMBIANCE" | translate}}
						p
							label(for="campaign-occasion") {{ "OCCASION" | translate}}
							br
							input(type="text" ng-model="campaign.occasion" placeholder="Gelegenheid").form-control#campaign-occasion
						p
							label {{ "LINK_TO_EXTERNAL_PAGE" | translate}}
							br
							input(type="text" ng-model="campaign.url" placeholder="URL").form-control#campaign-url
					.col-md-4.block-small
						h5 {{ "DESCRIPTION" | translate}}
						br
						textarea(ng-model="campaign.description").campaign-description.form-control
					.col-md-4.block-small
						h5 {{ "PICTURES" | translate}}
			uib-tab(heading="Taken")
				.block-small
					h2 {{activeTask}}
					p {{ "CAMPAIGN_IN_MORE_THAN_ONE_LANGUAGE" | translate}}
					.edit-campaign-task.block-small(ng-repeat="task in campaign.tasks" ng-click="activeTask == task.name ? activeTask = null : activeTask = task.name" ng-class="task.type")
						h4.task-heading
							span.task-heading-content
								i.fa.fa-facebook-square(ng-if="task.type =='facebook'")
								i.fa.fa-instagram(ng-if="task.type =='instagram'")
								i.fa.fa-pinterest-square(ng-if="task.type =='pinterest'")
								i.fa.fa-cube(ng-if="task.type =='order'")
								| &nbsp; {{task[taskLanguage].name}}
							span.task-heading-type &nbsp; ({{task.type}})
						.edit-campaign-task-content(uib-collapse="activeTask != task.name")
							.row
								.col-md-4
									p
										label(for="campaign-task-language") {{ "CHOOSE_A_TRANSLATION_TO_EDIT" | translate}}:
										br
										select(ng-model="taskLanguage").form-control#task-language
											option(value="nl") {{:: "DUTCH" | translate}}
											option(value="en") {{:: "ENGLISH" | translate}}
											option(value="de") {{:: "GERMAN" | translate}}
											option(value="fr") {{:: "FRENCH" | translate}}
											option(value="es") {{:: "SPANISH" | translate}}
							.row
								.col-md-4.block-small
									h5 {{ "BASIC_DATA" | translate}}
									p
										label(for="campaign-task-title") {{ "TITLE" | translate}}
										br
										input(type="text" ng-model="task[taskLanguage].name" placeholder="Titel").form-control#campaign-task-title
									p
										label(for="campaign-task-nameslug") Slug
										br
										input(type="text" disabled="disabled" ng-model="task[taskLanguage].nameSlug" placeholder="Geen nameSlug!").form-control.disabled#campaign-task-nameslug
								.col-md-4.block-small
									h5 {{ "START_DATE" | translate}}
									div(uib-datepicker ng-model="task.startDate")
								.col-md-4.block-small
									h5 {{ "END_DATE" | translate}}
									div(uib-datepicker ng-model="task.endDate")
								.col-md-4.block-small
									h5 {{ "DESCRIPTION" | translate}}
									p
										textarea(ng-model="task[taskLanguage].description").campaign-task-description.form-control
								.col-md-4.block-small
									h5 {{ "DETAILS" | translate}}
									p
										label(for="campaign-task-type") {{ "KIND_OF_TASKS" | translate}}
										br
										select(ng-model="task.type").form-control#task-type
											option(value="facebook").facebook Facebook
											option(value="instagram").instagram Instagram
											option(value="pinterest").pinterest Pinterest
											option(value="order").order {{ "ORDERING_TASK" | translate}}
									p
										label(for="campaign-task-mandatory") 
											i.fa.fa-check
											span {{ "MANDATORY_YES_NO" | translate}}
								.col-md-4.block-small
									h5 {{ "PICTURES" | translate}}
			uib-tab(heading="Nieuwsbericht")
				.block-small
		input(type="submit", ng-click="updateCampaign(true)", value="Opslaan").btn.btn-green

app/dist/views/brand/campaign.html

<div class="container edit-campaign" ng-init="getCampaign()">
  <h3>{{ "CAMPAIGN" | translate}} {{campaign.name}}</h3>
  <div class="block-small">
    <uib-tabset>
      <uib-tab heading="Run through dealer network"><br/>
        <div class="col-md-12" ng-init="getCampaigns()">
          <div class="row"></div><br/>
          <h3>{{ "SOCIAL_PORTALS_OF_SHOPS_USERS" | translate}}</h3>
          <input class="form-control" ng-model="socialPortalFilter" placeholder="{{:: &quot;INPUT_FILTER_SOCIAL_PORTALS&quot; | translate}}"/><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
          <hr/>
          <div class="row"></div>
          <div class="list-group"><a class="list-group-item" ng-repeat="portal in socialPortals | filter: socialPortalFilter | orderBy: '-amountOfUpdates' | limitTo:totalDisplayed" ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})">
              <div class="col-md-4">
                <div ng-repeat="shop in portal.shops"> 
                  <p>{{ "SHOP" | translate}}: <b>{{shop.name}}</b>
                    <p>Portal ID: {{portal._id}}</p>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div ng-repeat="user in portal.users"> 
                  <p>{{ "USER" | translate}}: {{user.name}} ({{user.email}})</p>
                </div>
                <div ng-if="portal.users.length == 0">
                  <p>{{ "NO_USERS" | translate}}</p>
                </div>
                <div ng-if="portal.users.length &gt; 1">
                  <p>{{ "TOO_MANY_USERS" | translate}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div>{{ "NUMBER_OF_UPDATES" | translate}}: {{portal.amountOfUpdates}}</div>
                <div ng-if="portal.brands.length &gt; 0 &amp;&amp; portal.amountOfUpdates &lt; 10"><i class="fa fa-flag" style="color: burlywood"></i> {{ "LESS_THAN_TEN" | translate}}</div>
                <div ng-if="portal.brands.length &gt; 0 &amp;&amp; portal.amountOfUpdates &gt;= 10"><i class="fa fa-check" style="color: forestgreen"></i> {{ "MORE_THAN_TEN" | translate}}</div><br/>
                <div ng-if="isUserExist">
                  <input class="btn btn-green" ng-if="verified" type="submit" ng-click="verifyUser(portal,&quot;verify&quot;)" value="{{:: &quot;ACCESS_TO_MARKETING_USER&quot; | translate}}"/>
                  <input class="btn btn-danger" ng-if="!verified" type="submit" ng-click="verifyUser(portal,&quot;revert&quot;)" value="{{:: &quot;REVERT_ACCESS&quot; | translate}}"/>
                </div>
                <div ng-if="!isUserExist">
                  <div class="alert alert-danger">{{ "Marketing User is not created yet" | translate}}</div>
                </div>
              </div>
              <hr/>
              <div class="row"></div>
              <div class="col-md-12">
                <p ng-if="portal.brands.length &lt; 10">{{ "BRANDS" | translate}}: <i class="fa fa-diamond" style="color: burlywood"></i> {{ "LESS_THAN_TEN" | translate}}</p>
                <p ng-if="portal.brands.length &gt;= 10">{{ "BRANDS" | translate}}:<i class="fa fa-diamond" style="color: forestgreen"></i> {{ "ENOUGH" | translate}}</p>
                <div class="btn-group" ng-repeat="brand in portal.brands">
                  <button class="btn btn btn-md button-margin-right">{{brand.name}}<span ng-if="brand.credit">(credit: {{brand.credit}})</span><span ng-if="!brand.credit">(credit: 0)</span></button>
                </div>
              </div>
              <div class="row"></div></a></div><br/>
          <button class="btn" ng-click="loadMore()">{{:: "LOAD_MORE" | translate}}</button><br/><br/><br/>
          <div class="list-group"><a class="list-group-item" ng-repeat="update in updates | limitTo:totalDisplayed" ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})">
              <div>{{update.name}}</div>
              <hr/>
              <div>{{update.brand.name}}</div></a></div>
        </div>
      </uib-tab>
      <uib-tab heading="Algemeen">
        <div class="alert-warning" uib-alert="uib-alert" ng-show="campaign.isPublished"> 
          <p><strong>CAUTION &nbsp; {{ "THIS_CAMPAIGN_HAS_BEEN_PUBLISHED_AND_IS_THEREFORE_VISIBLE_TO_EVERYONE" | translate}} </strong><a class="btn btn-md btn-dark" ng-click="campaign.isPublished = false"></a><span>{{ "CLICK_HERE_TO_MAKE_THE_CAMPAIGN_INVISIBLE_AGAIN" | translate}}</span></p>
        </div>
        <div class="row">
          <div class="col-md-4 block-small">
            <h5>{{ "BASIC_DATA" | translate}}</h5>
            <div class="form-group">
              <p>
                <label for="campaign-title">{{ "TITLE" | translate}}</label><br/>
                <input class="form-control" type="text" ng-model="campaign.name" placeholder="Naam campagne" id="campaign-title"/>
              </p>
              <p>
                <label for="campaign-nameslug">Slug</label><br/>
                <input class="form-control disabled" type="text" disabled="disabled" ng-model="campaign.nameSlug" placeholder="Slug" id="campaign-nameslug"/>
              </p>
              <p>
                <label>{{ "DISTRIBUTOR" | translate}}</label><span ng-if="campaign.wholesaler.name">:&nbsp;<strong ng-bind="campaign.wholesaler.name"></strong></span><br/>
                <angucomplete-alt id="ex1" placeholder="{{'Kies een distributeur'}}" pause="100" clear-selected="true" selected-object="wholesalerSelected" local-data="wholesalers" local-search="searchWholesalers" title-field="name" minlength="2" input-class="form-control"></angucomplete-alt>
              </p>
              <p>
                <label for="campaign-is-published">{{ "PUBLISH" | translate}}</label><br/>
                <toggle-switch name="campaign-is-published" ng-model="campaign.isPublished" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}" id="campaign-is-published"></toggle-switch><span>&nbsp; {{ "CAMPAIGN_IS_VISIBLE" | translate}}</span>
              </p>
            </div>
          </div>
          <div class="col-md-4 block-small">
            <h5>{{ "START_DATE" | translate}}</h5>
            <div uib-datepicker="uib-datepicker" ng-model="campaign.startDate"></div>
          </div>
          <div class="col-md-4 block-small">
            <h5>{{ "FINISH_DATE" | translate}}</h5>
            <div uib-datepicker="uib-datepicker" ng-model="campaign.endDate"></div>
          </div>
          <div class="col-md-4 block-small">
            <h5>{{ "DETAILS" | translate}}</h5>
            <p ng-init="getBrands()">
              <label>{{ "BRAND" | translate}}</label><span ng-if="campaign.brand.name">:&nbsp;<strong ng-bind="campaign.brand.name"></strong></span><br/>
              <angucomplete-alt id="ex1" placeholder="{{'Kies een merk'}}" pause="100" clear-selected="true" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" input-class="form-control"></angucomplete-alt>
            </p>
            <p>
              <label for="campaign-type">{{ "CAMPAIGN_TYPE" | translate}}</label><br/>
              <select class="form-control" ng-model="campaign.type" id="campaign-type">
                <option value="winactie">{{ "COMPETITION" | translate}}</option>
                <option value="nieuws">{{ "NEWS" | translate}}</option>
                <option value="blog">{{ "BLOG" | translate}}</option>
                <option value="sfeer">{{ "AMBIANCE" | translate}}</option>
              </select>
            </p>
            <p>
              <label for="campaign-occasion">{{ "OCCASION" | translate}}</label><br/>
              <input class="form-control" type="text" ng-model="campaign.occasion" placeholder="Gelegenheid" id="campaign-occasion"/>
            </p>
            <p>
              <label>{{ "LINK_TO_EXTERNAL_PAGE" | translate}}</label><br/>
              <input class="form-control" type="text" ng-model="campaign.url" placeholder="URL" id="campaign-url"/>
            </p>
          </div>
          <div class="col-md-4 block-small">
            <h5>{{ "DESCRIPTION" | translate}}</h5><br/>
            <textarea class="campaign-description form-control" ng-model="campaign.description"></textarea>
          </div>
          <div class="col-md-4 block-small">
            <h5>{{ "PICTURES" | translate}}</h5>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Taken">
        <div class="block-small">
          <h2>{{activeTask}}</h2>
          <p>{{ "CAMPAIGN_IN_MORE_THAN_ONE_LANGUAGE" | translate}}</p>
          <div class="edit-campaign-task block-small" ng-repeat="task in campaign.tasks" ng-click="activeTask == task.name ? activeTask = null : activeTask = task.name" ng-class="task.type">
            <h4 class="task-heading"><span class="task-heading-content"><i class="fa fa-facebook-square" ng-if="task.type =='facebook'"></i><i class="fa fa-instagram" ng-if="task.type =='instagram'"></i><i class="fa fa-pinterest-square" ng-if="task.type =='pinterest'"></i><i class="fa fa-cube" ng-if="task.type =='order'"></i>&nbsp; {{task[taskLanguage].name}}</span><span class="task-heading-type">&nbsp; ({{task.type}})</span></h4>
            <div class="edit-campaign-task-content" uib-collapse="activeTask != task.name">
              <div class="row">
                <div class="col-md-4">
                  <p>
                    <label for="campaign-task-language">{{ "CHOOSE_A_TRANSLATION_TO_EDIT" | translate}}:</label><br/>
                    <select class="form-control" ng-model="taskLanguage" id="task-language">
                      <option value="nl">{{:: "DUTCH" | translate}}</option>
                      <option value="en">{{:: "ENGLISH" | translate}}</option>
                      <option value="de">{{:: "GERMAN" | translate}}</option>
                      <option value="fr">{{:: "FRENCH" | translate}}</option>
                      <option value="es">{{:: "SPANISH" | translate}}</option>
                    </select>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 block-small">
                  <h5>{{ "BASIC_DATA" | translate}}</h5>
                  <p>
                    <label for="campaign-task-title">{{ "TITLE" | translate}}</label><br/>
                    <input class="form-control" type="text" ng-model="task[taskLanguage].name" placeholder="Titel" id="campaign-task-title"/>
                  </p>
                  <p>
                    <label for="campaign-task-nameslug">Slug</label><br/>
                    <input class="form-control disabled" type="text" disabled="disabled" ng-model="task[taskLanguage].nameSlug" placeholder="Geen nameSlug!" id="campaign-task-nameslug"/>
                  </p>
                </div>
                <div class="col-md-4 block-small">
                  <h5>{{ "START_DATE" | translate}}</h5>
                  <div uib-datepicker="uib-datepicker" ng-model="task.startDate"></div>
                </div>
                <div class="col-md-4 block-small">
                  <h5>{{ "END_DATE" | translate}}</h5>
                  <div uib-datepicker="uib-datepicker" ng-model="task.endDate"></div>
                </div>
                <div class="col-md-4 block-small">
                  <h5>{{ "DESCRIPTION" | translate}}</h5>
                  <p>
                    <textarea class="campaign-task-description form-control" ng-model="task[taskLanguage].description"></textarea>
                  </p>
                </div>
                <div class="col-md-4 block-small">
                  <h5>{{ "DETAILS" | translate}}</h5>
                  <p>
                    <label for="campaign-task-type">{{ "KIND_OF_TASKS" | translate}}</label><br/>
                    <select class="form-control" ng-model="task.type" id="task-type">
                      <option class="facebook" value="facebook">Facebook</option>
                      <option class="instagram" value="instagram">Instagram</option>
                      <option class="pinterest" value="pinterest">Pinterest</option>
                      <option class="order" value="order">{{ "ORDERING_TASK" | translate}}</option>
                    </select>
                  </p>
                  <p>
                    <label for="campaign-task-mandatory"> <i class="fa fa-check"></i><span>{{ "MANDATORY_YES_NO" | translate}}</span></label>
                  </p>
                </div>
                <div class="col-md-4 block-small">
                  <h5>{{ "PICTURES" | translate}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Nieuwsbericht">
        <div class="block-small"></div>
      </uib-tab>
    </uib-tabset>
    <input class="btn btn-green" type="submit" ng-click="updateCampaign(true)" value="Opslaan"/>
  </div>
</div>
