app/dist/views/brand/company-info.html

<div class="container">
  <h3>{{:: "COMPANY_AND_BRAND_INFO" | translate}}</h3><a class="btn btn-dark pull-right" ui-sref="brand.home">{{:: "BACK" | translate}}</a>
  <div class="row"></div>
  <form name="editShop" ng-submit="submitShop(editShop.$valid)" novalidate="novalidate">
    <div class="col-md-4">
      <h4>{{:: "COMPANY" | translate}}</h4>
      <p>
        <label for="name">{{:: "COMPANY_NAME" | translate}}</label>
        <input class="form-control" type="text" required="required" ng-model="currentWholesaler.name" id="name" placeholder="{{:: &quot;COMPANY_NAME&quot; | translate}}"/>
      </p>
      <p>
        <label for="email">{{:: "INPUT_EMAILADRESS" | translate}}</label>
        <input class="form-control" type="email" required="required" ng-model="currentWholesaler.email" id="email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}"/>
      </p>
      <p>
        <label for="website">{{:: "TEXT_WEBSITE" | translate}}</label>
        <input class="form-control" type="text" required="required" ng-model="currentWholesaler.website" id="website" placeholder="{{:: &quot;TEXT_WEBSITE&quot; | translate}}"/>
      </p>
      <p>
        <label for="bankAccountNumber">{{:: "BANKACCOUNTNUMBER_IBAN" | translate}}</label>
        <input class="form-control" type="test" required="required" ng-model="currentWholesaler.bankAccountNumber" name="bankAccountNumber" ng-iban="ng-iban" id="iban" placeholder="AD1200012030200359100100"/>
        <button ng-click="alertValidIBAN(currentWholesaler.bankAccountNumber);">CHECK</button><p ng-show="editShop.bankAccountNumber.$invalid" class="help-block">{{:: "IBAN_IS_INVALID" | translate}}</p>
      </p>
      <p>
        <label for="accountHolder">{{:: "BANK_ACCOUNT_HOLDER" | translate}}</label>
        <input class="form-control" type="text" required="required" ng-model="currentWholesaler.accountHolder" id="accountHolder" placeholder="{{:: &quot;BANK_ACCOUNT_HOLDER&quot; | translate}}"/>
      </p>
      <p>
        <label for="swiftCode">{{:: "SWIFT_BIC_CODE" | translate}}</label>
        <input class="form-control" type="text" required="required" ng-model="currentWholesaler.swiftCode" id="swiftCode" placeholder="{{:: &quot;SWIFT_CODE&quot; | translate}}"/>
      </p>
      <p>
        <label for="bicCode">{{:: "PVC" | translate}}</label>
        <input class="form-control" type="text" required="required" ng-model="currentWholesaler.pvc" id="pvc" placeholder="{{:: &quot;PVC&quot; | translate}}"/>
      </p>
      <p>
        <label for="bicCode">{{:: "VAT_NUMBER" | translate}}</label>
        <input class="form-control" type="text" required="required" ng-model="currentWholesaler.vatNumber" id="vatNumber" placeholder="{{:: &quot;VAT_NUMBER&quot; | translate}}"/>
      </p>
      <p>
        <button class="btn btn-lg" type="submit" ng-disabled="editShop.$invalid">{{:: "BUTTON_SAVE" | translate}}</button>
      </p>
    </div>
    <div class="col-md-4">
      <h4>{{:: "TEXT_CHARACTERISTICS" | translate}}</h4>
      <div class="row padding-bottom">
        <div class="col-md-4" uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_DEACTIVATION_SHOP' | translate}}'">
          <toggle-switch id="active" name="active" ng-model="currentWholesaler.isPublished" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        </div>
        <div class="col-md-8">
          <label for="active">{{:: "WE_HAVE_A_COMPANY_PROFILE_ON_PRISMANOTE" | translate}}</label>
        </div>
      </div>
      <div class="row padding-bottom hidden">
        <div class="col-md-4" uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_NO_STOCK_SO_PRODUCTS_WILL_ALWAYS_BE_SENT_FROM_DROPSHIPPERS' | translate}} '">
          <toggle-switch id="sendproducts" name="sendproducts" ng-model="currentWholesaler.sendProducts" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        </div>
        <div class="col-md-8">
          <label for="sendproducts">{{:: "TEXT_SENDPRODUCTSTOCONSUMERS" | translate}}</label>
        </div>
      </div>
      <div class="row padding-bottom">
        <div class="col-md-4" uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_PRODUCT_SENDING_FOR_OTHER_SHOPS' | translate}}'">
          <toggle-switch id="dropshipper" name="dropshipper" ng-model="currentWholesaler.isDropShipper" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        </div>
        <div class="col-md-8">
          <label for="dropshipper">{{:: "TEXT_EXPLANATION_PRODUCT_SENDING_TO_RETAILER" | translate}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <toggle-switch id="showproducts" name="showproducts" ng-model="currentWholesaler.showAllproducts" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        </div>
        <div class="col-md-8">
          <label for="showproducts">{{:: "I_WANT_EDIT_PRODUCT_INFO_OF_MY_DEALERS" | translate}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-init="getBrands()">
      <h4>{{:: "TEXT_YOUR_BRANDS" | translate}}</h4>
      <p>{{:: "CLICK_ON_BRAND_TO_EDIT" | translate}}</p>
      <div class="list-group"><a class="list-group-item" ng-repeat="brand in currentWholesaler.brands" ui-sref="brand.brand({nameSlug:brand.nameSlug})"><span>{{brand.name}} <span class="label label-info" ng-show="!brand.restricted">{{:: "DEALER" | translate}}</span></span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteBrand($index)"></i></span></a></div>
    </div>
  </form>
</div>

app/src/views/brand/company-info.pug
.container
		h3 {{:: "COMPANY_AND_BRAND_INFO" | translate}}
		a.btn.btn-dark.pull-right(ui-sref='brand.home') {{:: "BACK" | translate}}
		.row
		form(name="editShop", ng-submit="submitShop(editShop.$valid)", novalidate)
				.col-md-4
						h4 {{:: "COMPANY" | translate}}
						p
							label(for="name") {{:: "COMPANY_NAME" | translate}}
							input(type="text", required, ng-model="currentWholesaler.name" id="name", placeholder='{{:: "COMPANY_NAME" | translate}}').form-control
						p
							label(for="email") {{:: "INPUT_EMAILADRESS" | translate}}
							input(type="email", required, ng-model="currentWholesaler.email" id="email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}').form-control
						p
							label(for="website") {{:: "TEXT_WEBSITE" | translate}}
							input(type="text", required, ng-model="currentWholesaler.website" id="website", placeholder='{{:: "TEXT_WEBSITE" | translate}}').form-control
						p
							label(for="bankAccountNumber") {{:: "BANKACCOUNTNUMBER_IBAN" | translate}}
							input(type="test", required, ng-model="currentWholesaler.bankAccountNumber", name="bankAccountNumber" ng-iban id="iban" placeholder='AD1200012030200359100100').form-control
							button(ng-click='alertValidIBAN(currentWholesaler.bankAccountNumber);') CHECK
							<p ng-show="editShop.bankAccountNumber.$invalid" class="help-block">{{:: "IBAN_IS_INVALID" | translate}}</p>
						p
							label(for="accountHolder") {{:: "BANK_ACCOUNT_HOLDER" | translate}}
							input(type="text", required, ng-model="currentWholesaler.accountHolder" id="accountHolder", placeholder='{{:: "BANK_ACCOUNT_HOLDER" | translate}}').form-control
						p
							label(for="swiftCode") {{:: "SWIFT_BIC_CODE" | translate}}
							input(type="text", required, ng-model="currentWholesaler.swiftCode" id="swiftCode", placeholder='{{:: "SWIFT_CODE" | translate}}').form-control
						p
							label(for="bicCode") {{:: "PVC" | translate}}
							input(type="text", required, ng-model="currentWholesaler.pvc" id="pvc", placeholder='{{:: "PVC" | translate}}').form-control
						p
							label(for="bicCode") {{:: "VAT_NUMBER" | translate}}
							input(type="text", required, ng-model="currentWholesaler.vatNumber" id="vatNumber", placeholder='{{:: "VAT_NUMBER" | translate}}').form-control
						p
							button(type="submit", ng-disabled="editShop.$invalid").btn.btn-lg {{:: "BUTTON_SAVE" | translate}}
 
				.col-md-4
						h4 {{:: "TEXT_CHARACTERISTICS" | translate}}
						.row.padding-bottom
								.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_DEACTIVATION_SHOP' | translate}}'")
										toggle-switch(id="active", name="active", ng-model="currentWholesaler.isPublished", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
								.col-md-8
										label(for="active") {{:: "WE_HAVE_A_COMPANY_PROFILE_ON_PRISMANOTE" | translate}}
						.row.padding-bottom.hidden
								.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_NO_STOCK_SO_PRODUCTS_WILL_ALWAYS_BE_SENT_FROM_DROPSHIPPERS' | translate}} '")
										toggle-switch(id="sendproducts", name="sendproducts", ng-model="currentWholesaler.sendProducts", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
								.col-md-8
										label(for="sendproducts") {{:: "TEXT_SENDPRODUCTSTOCONSUMERS" | translate}}
						.row.padding-bottom
								.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_PRODUCT_SENDING_FOR_OTHER_SHOPS' | translate}}'")
										toggle-switch(id="dropshipper", name="dropshipper", ng-model="currentWholesaler.isDropShipper", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
								.col-md-8
										label(for="dropshipper") {{:: "TEXT_EXPLANATION_PRODUCT_SENDING_TO_RETAILER" | translate}}
						.row
								.col-md-4
										toggle-switch(id="showproducts",  name="showproducts", ng-model="currentWholesaler.showAllproducts", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
								.col-md-8
										label(for="showproducts") {{:: "I_WANT_EDIT_PRODUCT_INFO_OF_MY_DEALERS" | translate}}
				.col-md-4(ng-init="getBrands()")
						h4 {{:: "TEXT_YOUR_BRANDS" | translate}}
						p {{:: "CLICK_ON_BRAND_TO_EDIT" | translate}}
						//-angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
						.list-group
								a(ng-repeat="brand in currentWholesaler.brands" ui-sref="brand.brand({nameSlug:brand.nameSlug})").list-group-item
										span
												| {{brand.name}} 
												span(ng-show="!brand.restricted").label.label-info
														| {{:: "DEALER" | translate}}
										span.pull-right.button-group
												i.fa.fa-times(ng-click="deleteBrand($index)")
