app/dist/views/brand/home.html

<div class="container portal">
  <div class="row">   
    <div class="form-horizontal">
      <div class="col-md-8">
        <h3>{{:: "WELCOME" | translate}} <a ui-sref="brand.myuser">
             {{user.firstName}} </a>{{:: "AT_YOUR_BRAND_MARKETING_PORTAL" | translate}} </h3><br/>
      </div>
      <div class="col-md-4 pull-right search search-retailer hidden">
        <input id="search" type="text" placeholder="{{:: &quot;INPUT_SEARCH&quot; | translate}}"/>
        <label class="fa fa-search fa-lg" for="search"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="panel">
        <div class="panel-heading">{{:: "CONTRIBUTION_DEALERNETWORK" | translate}} </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6"><a ui-sref="brand.performance"><i class="fa fa-connectdevelop fa-4x"></i>
                <h6 class="text-center">{{:: "PERFORMANCE" | translate}}</h6></a></div>
            <div class="col-md-6 hidden"><a class="menublock" ui-sref="brand.shops"><i class="fa fa-building-o fa-4x"></i>
                <h6 class="text-center">{{:: "SHOPS" | translate}}</h6></a></div>
            <div class="col-md-5"><a class="menublock" ui-sref="brand.marketingUser"><i class="fa fa-user fa-4x"></i>
                <h6 class="text-center">{{:: "MARKETING USER" | translate}}</h6></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">{{:: "TEXT_HEAD_MARKETING_RETAILER_HOME" | translate}}</div>
        <div class="panel-body">
          <div class="col-md-4"><a ui-sref="brand.new-campaign"><i class="fa fa-calendar-plus-o fa-4x"></i>
              <h6 class="text-center">{{:: "DRAW_NEW_CAMPAIGN" | translate}}</h6></a></div>
          <div class="col-md-4">
            <div><a ui-sref="brand.campaigns"><i class="fa fa-calendar-o fa-4x"></i>
                <h6 class="text-center">{{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}</h6></a></div>
            <div class="text-center" ng-show="openTasks &gt; 0"><a ui-sref="brand.campaigns"><span class="fa-stack fa-2x"><i class="fa fa-calendar-o fa-stack-2x"></i><span class="fa-stack-1x calendar-text"><span class="badge" ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'">
                      {{openTasks}}	</span></span></span>
                <h6 class="text-center">{{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}</h6></a></div>
          </div>
          <div class="col-md-4 hidden"><a ui-sref="brand.news"><i class="fa fa-newspaper-o fa-4x"></i>
              <h6 class="text-center">{{:: "NEWS" | translate}}		</h6></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 hidden">
      <div class="panel">
        <div class="panel-heading">{{:: "TEXT_HEAD_TO_DO_LIST_RETAILER_HOME" | translate}}</div>
        <div class="panel-body">
          <div class="list-group"><a class="list-group-item clearfix" ng-repeat="task in selectedShop.tasks">{{task.name}}</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 hidden">
      <div class="panel">
        <div class="panel-heading">{{:: "PROCUTINFORMATION_PRICE_LEVELS" | translate}}</div>
        <div class="panel-body">
          <div class="col-md-4"><a ui-sref="brand.assortment"><i class="fa fa-edit fa-4x"></i>
              <h6 class="text-center">{{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}</h6></a></div>
          <div class="col-md-4">
            <div ng-show="openOrders &lt;= 0"><a ui-sref="brand.orders"><i class="fa fa-line-chart fa-4x"></i>
                <h6 class="text-center">{{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}</h6></a></div>
            <div class="text-center" ng-show="openOrders &gt; 0"><a ui-sref="brand.orders"><span class="fa-stack fa-2x"><i class="fa fa-line-chart fa-stack-2x"></i><span class="fa-stack-1x calendar-text"><span class="badge badge-warning">{{openOrders}}</span></span></span>
                <h6 class="text-center">{{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}</h6></a></div>
          </div>
          <div class="col-md-4 hidden"><a ui-sref="brand.financial"><i class="fa fa-euro fa-4x"></i>
              <h6 class="text-center">{{:: "FINANCIAL" | translate}}</h6></a></div>
          <div class="col-md-3 hidden"><a class="menublock"><i class="fa fa-cloud-upload fa-4x"></i>
              <h6 class="text-center">{{:: "TEXT_HEAD_CLOUD_LINK_RETAILER_HOME" | translate}}</h6></a></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">{{:: "TEXT_HEAD_SETTINGS_RETAILER_HOME" | translate}}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6"><a class="menublock" ui-sref="brand.company-info"><i class="fa fa-home fa-4x"></i>
                <h6 class="text-center">{{:: "COMPANY_AND_BRAND_INFO" | translate}}</h6></a></div>
            <div class="col-md-6"><a class="menublock" ui-sref="brand.myuser"><i class="fa fa-user fa-4x"></i>
                <h6 class="text-center">{{:: "TEXT_HEAD_MYPROFILE_RETAILER_HOME" | translate}}</h6></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "TEXT_HEAD_WHY_PRISMANOTE_RETAILER_HOME" | translate}}</div>
        <div ng-if="language =='nl'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286133?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='en'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286152?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='de'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286113?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='fr'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286152?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='es'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286152?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "TRANSLATION_TOOL" | translate}}</div>
        <div ng-if="language =='nl'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286365?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='en'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286404?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='de'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286404?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='fr'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286404?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
        <div ng-if="language =='es'">
          <div class="panel-body" style="padding: 5px 0 0 0; text-align: center">
            <iframe src="https://player.vimeo.com/video/197286404?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 hidden">
      <div class="panel">
        <div class="panel-heading">{{:: "TEXT_HEAD_PURCHASE_RETAILER_HOME" | translate}}</div>
        <div class="panel-body"><a class="menublock" ui-sref="brand.suppliers"><i class="fa fa-truck fa-4x"></i>
            <h6 class="text-center">{{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}</h6></a></div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel">
        <div class="panel-heading">{{:: "TEXT_HEAD_INFO_RETAILER_HOME" | translate}}</div>
        <div class="panel-body">
          <div class="row"><a class="menublock" href="https://prismanotevoorjuweliers.nl/brand-promotiom" target="_blank"><i class="fa fa-info-circle fa-4x"></i>
              <h6 class="text-center">{{:: "TEXT_HEAD_INFOANDPREMIUMSERVICES_RETAILER_HOME" | translate}}</h6></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

app/src/views/brand/home.pug
.container.portal
	.row    
		.form-horizontal
			.col-md-8
				h3 {{:: "WELCOME" | translate}} 
					a(ui-sref="brand.myuser") 
						| {{user.firstName}} 
					| {{:: "AT_YOUR_BRAND_MARKETING_PORTAL" | translate}} 
				br
				//- h1 {{names}}
				//- p
				//- 	a(ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})")
				//- 		i.fa.fa-home
				//- 		span &nbsp;{{:: "BACK_TO_MY_SHOP" | translate}}
			.col-md-4.pull-right.search.search-retailer.hidden
				input(id="search" type="text" placeholder='{{:: "INPUT_SEARCH" | translate}}')
				label.fa.fa-search.fa-lg(for="search")
	.row
			.col-md-5
					.panel
							.panel-heading {{:: "CONTRIBUTION_DEALERNETWORK" | translate}} 
							.panel-body
									.row
											.col-md-6
													a(ui-sref="brand.performance")
															i.fa.fa-connectdevelop.fa-4x
															h6.text-center {{:: "PERFORMANCE" | translate}}
											.col-md-6.hidden
													a.menublock(ui-sref="brand.shops")
															i.fa.fa-building-o.fa-4x
															h6.text-center {{:: "SHOPS" | translate}}
											.col-md-5
													a.menublock(ui-sref="brand.marketingUser")
															i.fa.fa-user.fa-4x
															h6.text-center {{:: "MARKETING USER" | translate}}
			.col-md-6
					.panel
							.panel-heading {{:: "TEXT_HEAD_MARKETING_RETAILER_HOME" | translate}}
							.panel-body
									.col-md-4
											a(ui-sref="brand.new-campaign")
													i.fa.fa-calendar-plus-o.fa-4x
													h6.text-center {{:: "DRAW_NEW_CAMPAIGN" | translate}}
									.col-md-4
										//-div(ng-show="openTasks <= 0")
										div
											a(ui-sref="brand.campaigns")
													i.fa.fa-calendar-o.fa-4x
													h6.text-center {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
										div(ng-show="openTasks > 0").text-center
											a(ui-sref="brand.campaigns")
													span.fa-stack.fa-2x
														i.fa.fa-calendar-o.fa-stack-2x
														span.fa-stack-1x.calendar-text
															span.badge(ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'") {{openTasks}}
																|	
													h6.text-center {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
									.col-md-4.hidden
											a(ui-sref="brand.news")
													i.fa.fa-newspaper-o.fa-4x
													h6.text-center {{:: "NEWS" | translate}}		
	.row
			.col-md-2.hidden
					.panel
							.panel-heading {{:: "TEXT_HEAD_TO_DO_LIST_RETAILER_HOME" | translate}}
							.panel-body
									.list-group
													a(ng-repeat="task in selectedShop.tasks").list-group-item.clearfix
															| {{task.name}}
			.col-md-6.hidden
					.panel
							.panel-heading {{:: "PROCUTINFORMATION_PRICE_LEVELS" | translate}}
							.panel-body
									.col-md-4
											a(ui-sref="brand.assortment")
													i.fa.fa-edit.fa-4x
													h6.text-center {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
									.col-md-4
										div(ng-show="openOrders <= 0")
											a(ui-sref="brand.orders")
												i.fa.fa-line-chart.fa-4x
												h6.text-center {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
										div(ng-show="openOrders > 0").text-center
											a(ui-sref="brand.orders")
												span.fa-stack.fa-2x
													i.fa.fa-line-chart.fa-stack-2x
													span.fa-stack-1x.calendar-text
														span.badge.badge-warning {{openOrders}}
												h6.text-center {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
									.col-md-4.hidden
											a(ui-sref="brand.financial")
													i.fa.fa-euro.fa-4x
													h6.text-center {{:: "FINANCIAL" | translate}}
									.col-md-3.hidden
											a.menublock
													i.fa.fa-cloud-upload.fa-4x
													h6.text-center {{:: "TEXT_HEAD_CLOUD_LINK_RETAILER_HOME" | translate}}
			.col-md-6
					.panel
							.panel-heading {{:: "TEXT_HEAD_SETTINGS_RETAILER_HOME" | translate}}
							.panel-body
									.row
											.col-md-6
													a.menublock(ui-sref="brand.company-info")
															i.fa.fa-home.fa-4x
															h6.text-center {{:: "COMPANY_AND_BRAND_INFO" | translate}}
											.col-md-6
													a.menublock(ui-sref="brand.myuser")
															i.fa.fa-user.fa-4x
															h6.text-center {{:: "TEXT_HEAD_MYPROFILE_RETAILER_HOME" | translate}}
	.row
			.col-md-3
					.panel
							.panel-heading {{:: "TEXT_HEAD_WHY_PRISMANOTE_RETAILER_HOME" | translate}}
							div(ng-if="language =='nl'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286133?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='en'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286152?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='de'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286113?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='fr'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286152?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='es'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286152?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			.col-md-3
					.panel
							.panel-heading {{:: "TRANSLATION_TOOL" | translate}}
							div(ng-if="language =='nl'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286365?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='en'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='de'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='fr'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='es'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			.col-md-2.hidden
					.panel
							.panel-heading {{:: "TEXT_HEAD_PURCHASE_RETAILER_HOME" | translate}}
							.panel-body
									a.menublock(ui-sref="brand.suppliers")
											i.fa.fa-truck.fa-4x
											h6.text-center {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}
			.col-md-2
					.panel
							.panel-heading {{:: "TEXT_HEAD_INFO_RETAILER_HOME" | translate}}
							.panel-body
									.row
											a.menublock(href="https://prismanotevoorjuweliers.nl/brand-promotiom" target="_blank")
													i.fa.fa-info-circle.fa-4x
													h6.text-center {{:: "TEXT_HEAD_INFOANDPREMIUMSERVICES_RETAILER_HOME" | translate}}
