app/dist/views/brand/index.html
<!DOCTYPE html>
<html ng-app="prismanoteApp">
  <head>
    <base href="/admin">
    <title>PrismaNote {{:: "TEXT_HEAD_RETAILERPORTAL" | translate}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="google-site-verification" content="MoDRtcSrHyMvq8gSl4NezZbjOcYObx8RSbLSKdR8b0s">
    <link rel="stylesheet" href="/views/css/style.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/angular.bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/hogan.js/3.0/hogan.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
    <script type="text/javascript" src="/scripts/libs.min.js"></script>
    <!-- jolmer-->
    <style>
      .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      }
      .rating > span {
      display: inline-block;
      position: relative;
      width: 1.1em;
      }
      .rating > span:hover:before,
      .rating > span:hover ~ span:before {
      content: "\2605";
      position: absolute;
      }
      
    </style>
  </head>
  <body ng-cloak>
    <div class="top-bar row" ng-if="shop.topbar == true || getShopType() == 'shop'" ng-class="{'testing': testing()}">
      <div class="test" ng-show="testing()">{{:: "TEST_ENVIRONMENT" | translate}}</div>
      <div class="container">
        <div class="top-bar-currency col-md-2" ng-hide="user.role=='wholesaler' || user.role=='retailer'"><a ui-sref=""><i class="fa fa-pencil"></i>{{:: "OVERVIEW" | translate}}:<i class="fa fa-angle-down"></i></a>
          <div class="top-bar-dropdown">
            <ul>
              <li><a ng-controller="authController" ng-click="openLoginModal()"> <b>{{:: "TO_OVERVIEW" | translate}}</b></a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()"> <b>{{:: "UPGRADE" | translate}}</b></a></li>
              <li><a href="#"> 
                  <hr></a></li>
              <li><a href="#"> <b>{{:: "MARKETING" | translate}}</b></a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "ADD_CAMPAIGNS" | translate}}</a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "ADD_NEWS" | translate}}</a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "CONTRIBUTE" | translate}}</a></li>
              <li><a href="#"> 
                  <hr></a></li>
              <li><a href="#"><b>{{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}</b></a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}</a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}</a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "FINANCIAL" | translate}}</a></li>
              <li>
                <hr>
              </li>
              <li><a href="#"><b>{{:: "DEALER_NETWORK" | translate}}</b></a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "PERFORMANCE" | translate}}</a></li>
              <li>
                <hr>
              </li>
              <li><a href="#"> <b>{{:: "OTHER" | translate}}</b></a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "COMPANY_INFORMATION" | translate}}</a></li>
              <li><a ng-controller="authController" ng-click="openLoginModal()">{{:: "WEBSITE_FREE_VERSION" | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="top-bar-currency col-md-2" ng-show="user.role=='retailer'"><a ui-sref=""><i class="fa fa-pencil"></i>{{:: "OVERVIEW" | translate}}:<i class="fa fa-angle-down"></i></a>
          <div class="top-bar-dropdown">
            <ul>
              <li><a href="/retailer/home">
                   {{:: "TO_OVERVIEW" | translate}}</a></li>
              <li><a href="/retailer/upgrade">
                   {{:: "UPGRADE" | translate}}</a></li>
              <hr>
              <li><b>{{:: "MARKETING" | translate}}</b></li>
              <li><a href="/retailer/campaigns" ng-click="editSection = &quot;actions&quot;">{{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}</a></li>
              <li><a href="/retailer/news" ng-click="editSection = &quot;news&quot;">{{:: "NEWS" | translate}}</a></li>
              <hr>
              <li><b>{{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}</b></li>
              <li><a href="/retailer/assortment" ng-click="editSection = &quot;assortment&quot;">{{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}</a></li>
              <li><a href="/retailer/orders" ng-click="editSection = &quot;orders&quot;">{{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}</a></li>
              <li><a href="/retailer/financial" ng-click="editSection = &quot;financial&quot;">{{:: "FINANCIAL" | translate}}</a></li>
              <hr>
              <li><b>{{:: "CRM" | translate}}</b></li>
              <li><a href="/retailer/loyalty-portal" ng-click="editSection = &quot;loyalty-portal&quot;">{{:: "TEXT_HEAD_CUSTOMERS_RETAILER_HOME" | translate}}</a></li>
              <hr>
              <li><b>{{:: "OTHER" | translate}}</b></li>
              <li><a href="/retailer/shop" ng-click="editSection = &quot;shop&quot;">{{:: "TEXT_HEAD_MYSHOP_RETAILER_HOME" | translate}}</a></li>
              <li><a href="/retailer/suppliers" ng-click="editSection = &quot;suppliers&quot;">{{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}</a></li>
              <li ng-hide="currentShop.isPremium"><a ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})">{{:: "WEBSITE" | translate}}</a></li>
              <li ng-hide="currentShop.isPremium"><a href="/retailer/shop" ng-click="editSection = &quot;shop&quot;">{{:: "UPGRADE_TO_PRO" | translate}}</a></li>
              <li ng-if="currentShop.isPremium"><a href="{{currentShop.proShopUrl}}" target="_blank">{{:: "MY_WEBSITE" | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="top-bar-currency col-md-2" ng-if="user.role=='wholesaler'"><a ui-sref=""><i class="fa fa-pencil"></i>{{:: "OVERVIEW" | translate}}:<i class="fa fa-angle-down"></i></a>
          <div class="top-bar-dropdown">
            <ul>
              <li><a href="/brand/home"> <b>{{:: "TO_OVERVIEW" | translate}}</b></a></li>
              <li><a href="#"> 
                  <hr></a></li>
              <li><a href="#"> <b>{{:: "MARKETING" | translate}}</b></a></li>
              <li><a href="/brand/new-campaign" ng-click="editSection = &quot;actions&quot;">{{:: "LAUNCH_A_NEW_CAMPAIGN" | translate}}</a></li>
              <li><a href="/brand/news" ng-click="editSection = &quot;news&quot;">{{:: "ADD_NEWS" | translate}}</a></li>
              <li><a href="/brand/suppliers" ng-click="editSection = &quot;suppliers&quot;">{{:: "CONTRIBUTIONS" | translate}}</a></li>
              <li><a href="#"> 
                  <hr></a></li>
              <li><a href="#"><b>{{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}</b></a></li>
              <li><a href="/brand/assortment" ng-click="editSection = &quot;assortment&quot;">{{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}</a></li>
              <li><a href="/brand/orders" ng-click="editSection = &quot;orders&quot;">{{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}</a></li>
              <li><a href="/brand/financial" ng-click="editSection = &quot;financial&quot;">{{:: "FINANCIAL" | translate}}</a></li>
              <li>
                <hr>
              </li>
              <li><a href="#"><b>{{:: "DEALER_NETWORK" | translate}}</b></a></li>
              <li><a href="/brand/performance" ng-click="editSection = &quot;performance&quot;">{{:: "PERFORMANCE" | translate}}</a></li>
              <li>
                <hr>
              </li>
              <li><a href="#"> <b>{{:: "OTHER" | translate}}</b></a></li>
              <li><a href="/brand/company-info" ng-click="editSection = &quot;company-info&quot;">{{:: "COMPANY_INFO" | translate}}</a></li>
              <li><a ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})">{{:: "WEBSITE_FREE_VERSION" | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops" ng-change="getShop(selectedShop)" ng-show="user.shops.length &amp;&amp; user.role != 'wholesaler'"></select>
          <select class="form-control" ng-model="selectedWholesaler" ng-options="ws.nameSlug as ws.name for ws in user.wholesalers" ng-change="getWholesaler(selectedWholesaler)" ng-show="user.wholesalers.length"></select>
        </div>
        <div class="top-bar-dropdowns hidden-xs hidden-sm col-md-2 col-md-offset-1 hidden">
          <div class="row">
            <div class="top-bar-currency col-md-6"><a href="">{{currency | uppercase}}<i class="fa fa-angle-down"></i></a>
              <div class="top-bar-dropdown">
                <ul>
                  <li><a href="" ng-click="currency = &quot;usd&quot;">USD</a></li>
                  <li><a href="" ng-click="currency = &quot;eur&quot;">EUR</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="top-bar-language col-md-1"><a href="">{{language | uppercase}}<i class="fa fa-angle-down"></i></a>
          <div class="top-bar-dropdown">
            <ul>
              <li><a href="" ng-click="changeLanguage(&quot;nl&quot;)">NL - {{:: "DUTCH" | translate}}</a></li>
              <li><a href="" ng-click="changeLanguage(&quot;en&quot;)">EN - {{:: "ENGLISH" | translate}}</a></li>
              <li><a href="" ng-click="changeLanguage(&quot;de&quot;)">DE - {{:: "GERMAN" | translate}}</a></li>
              <li><a href="" ng-click="changeLanguage(&quot;fr&quot;)">FR - {{:: "FRENCH" | translate}}</a></li>
              <li><a href="" ng-click="changeLanguage(&quot;es&quot;)">ES - {{:: "SPANISH" | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="top-bar-login hidden-xs-hidden-sm col-md-3"><a href="" ng-controller="authController" ng-click="openLoginModal()"><i class="fa fa-user"></i>{{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "MAIN_LOGIN" | translate }}</a></div>
      </div>
    </div>
    <section class="page-title style-2">
      <div class="container relative clearfix"></div>
    </section>
    <ui-view></ui-view>
  </body>
</html>

app/src/views/brand/index.pug
doctype html
html(ng-app="prismanoteApp")
	head
		base(href="/admin")
		title PrismaNote {{:: "TEXT_HEAD_RETAILERPORTAL" | translate}}
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
		meta(name="google-site-verification" content="MoDRtcSrHyMvq8gSl4NezZbjOcYObx8RSbLSKdR8b0s")
		link(rel='stylesheet', href='/views/css/style.css')
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/angular.bootstrap/2.4.0/ui-bootstrap-tpls.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/hogan.js/3.0/hogan.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js")
		script(type="text/javascript", src="/scripts/scripts.js")
		script(type="text/javascript", src="/scripts/libs.min.js")
		// jolmer
		style.
			.rating {
			unicode-bidi: bidi-override;
			direction: rtl;
			}
			.rating > span {
			display: inline-block;
			position: relative;
			width: 1.1em;
			}
			.rating > span:hover:before,
			.rating > span:hover ~ span:before {
			content: "\2605";
			position: absolute;
			}

	body(ng-cloak)
		.top-bar.row(ng-if="shop.topbar == true || getShopType() == 'shop'" ng-class="{'testing': testing()}")
			.test(ng-show="testing()") {{:: "TEST_ENVIRONMENT" | translate}}
			.container
				.top-bar-currency.col-md-2(ng-hide="user.role=='wholesaler' || user.role=='retailer'")
					a(ui-sref="")
						i.fa.fa-pencil
						| {{:: "OVERVIEW" | translate}}:
						i.fa.fa-angle-down
					.top-bar-dropdown
						ul
							li
								a(ng-controller="authController" ng-click="openLoginModal()") 
									b {{:: "TO_OVERVIEW" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") 
									b {{:: "UPGRADE" | translate}}
							li
								a(href="#") 
									hr
							li
								a(href="#") 
									b {{:: "MARKETING" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "ADD_CAMPAIGNS" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "ADD_NEWS" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "CONTRIBUTE" | translate}}
							li
								a(href="#") 
									hr
							li
								a(href="#")
									b {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "FINANCIAL" | translate}}
							li
									hr
							li
								a(href="#")
									b {{:: "DEALER_NETWORK" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "PERFORMANCE" | translate}}
							li
									hr
							li
								a(href="#") 
									b {{:: "OTHER" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "COMPANY_INFORMATION" | translate}}
							li
								a(ng-controller="authController" ng-click="openLoginModal()") {{:: "WEBSITE_FREE_VERSION" | translate}}
				.top-bar-currency.col-md-2(ng-show="user.role=='retailer'")
					a(ui-sref="")
						i.fa.fa-pencil
						| {{:: "OVERVIEW" | translate}}:
						i.fa.fa-angle-down
					.top-bar-dropdown
							ul
								li
									a(href="/retailer/home") 
										| {{:: "TO_OVERVIEW" | translate}}
								li
									a(href="/retailer/upgrade") 
										| {{:: "UPGRADE" | translate}}
								hr
								li
									b {{:: "MARKETING" | translate}}
								li
									a(href="/retailer/campaigns", ng-click='editSection = "actions"') {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/news", ng-click='editSection = "news"') {{:: "NEWS" | translate}}
								hr
								li
									b {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/assortment" ng-click='editSection = "assortment"') {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/orders", ng-click='editSection = "orders"') {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/financial", ng-click='editSection = "financial"') {{:: "FINANCIAL" | translate}}
								hr
								li
									b {{:: "CRM" | translate}}
								li
									a(href="/retailer/loyalty-portal", ng-click='editSection = "loyalty-portal"') {{:: "TEXT_HEAD_CUSTOMERS_RETAILER_HOME" | translate}}
								hr
								li
									b {{:: "OTHER" | translate}}
								li
									a(href="/retailer/shop", ng-click='editSection = "shop"') {{:: "TEXT_HEAD_MYSHOP_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/suppliers", ng-click='editSection = "suppliers"') {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}
								li(ng-hide="currentShop.isPremium")
									a(ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})") {{:: "WEBSITE" | translate}}
								li(ng-hide="currentShop.isPremium")
									a(href="/retailer/shop", ng-click='editSection = "shop"') {{:: "UPGRADE_TO_PRO" | translate}}
								li(ng-if="currentShop.isPremium")
									a(href="{{currentShop.proShopUrl}}", target='_blank') {{:: "MY_WEBSITE" | translate}}
				.top-bar-currency.col-md-2(ng-if="user.role=='wholesaler'")
					a(ui-sref="")
						i.fa.fa-pencil
						| {{:: "OVERVIEW" | translate}}:
						i.fa.fa-angle-down
					.top-bar-dropdown
						ul
							li
								a(href="/brand/home") 
									b {{:: "TO_OVERVIEW" | translate}}
							li
								a(href="#") 
									hr
							li
								a(href="#") 
									b {{:: "MARKETING" | translate}}
							li
								a(href="/brand/new-campaign", ng-click='editSection = "actions"') {{:: "LAUNCH_A_NEW_CAMPAIGN" | translate}}
							li
								a(href="/brand/news", ng-click='editSection = "news"') {{:: "ADD_NEWS" | translate}}
							li
								a(href="/brand/suppliers", ng-click='editSection = "suppliers"') {{:: "CONTRIBUTIONS" | translate}}
							li
								a(href="#") 
									hr
							li
								a(href="#")
									b {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
							li
								a(href="/brand/assortment" ng-click='editSection = "assortment"') {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
							li
								a(href="/brand/orders", ng-click='editSection = "orders"') {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
							li
								a(href="/brand/financial", ng-click='editSection = "financial"') {{:: "FINANCIAL" | translate}}
							li
									hr
							li
								a(href="#")
									b {{:: "DEALER_NETWORK" | translate}}
							li
								a(href="/brand/performance" ng-click='editSection = "performance"') {{:: "PERFORMANCE" | translate}}
							li
									hr
							li
								a(href="#") 
									b {{:: "OTHER" | translate}}
							li
								a(href="/brand/company-info", ng-click='editSection = "company-info"') {{:: "COMPANY_INFO" | translate}}
							li
								a(ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})") {{:: "WEBSITE_FREE_VERSION" | translate}}
				.col-md-4
					select(ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops", ng-change="getShop(selectedShop)", ng-show="user.shops.length && user.role != 'wholesaler'").form-control
					select(ng-model="selectedWholesaler" ng-options="ws.nameSlug as ws.name for ws in user.wholesalers", ng-change="getWholesaler(selectedWholesaler)", ng-show="user.wholesalers.length").form-control
				.top-bar-dropdowns.hidden-xs.hidden-sm.col-md-2.col-md-offset-1.hidden
					.row
						.top-bar-currency.col-md-6
							a(href="")
								| {{currency | uppercase}}
								i.fa.fa-angle-down
							.top-bar-dropdown
								ul
									li
										a(href="" ng-click='currency = "usd"') USD
									li
										a(href="" ng-click='currency = "eur"') EUR
				.top-bar-language.col-md-1
					a(href="")
						| {{language | uppercase}}
						i.fa.fa-angle-down
					.top-bar-dropdown
						ul
							li
								a(href='', ng-click='changeLanguage("nl")') NL - {{:: "DUTCH" | translate}}
							li
								a(href='', ng-click='changeLanguage("en")') EN - {{:: "ENGLISH" | translate}}
							li
								a(href='', ng-click='changeLanguage("de")') DE - {{:: "GERMAN" | translate}}
							li
								a(href='', ng-click='changeLanguage("fr")') FR - {{:: "FRENCH" | translate}}
							li
								a(href="", ng-click='changeLanguage("es")') ES - {{:: "SPANISH" | translate}}
				.top-bar-login.hidden-xs-hidden-sm.col-md-3
					a(href="" ng-controller="authController" ng-click="openLoginModal()")
						i.fa.fa-user
						| {{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "MAIN_LOGIN" | translate }}
		section.page-title.style-2
			.container.relative.clearfix
		ui-view
