app/dist/views/brand/performance.html

<div class="container portal retailer">
  <h3>{{:: "PERFORMANCE" | translate}}<a class="btn btn-dark pull-right" ui-sref="brand.home">{{:: "BACK" | translate}}</a></h3>
  <p>{{:: "PERFORMACE_DEALERNETWORK_COST_PER_CLICK_MANY_CONSUMERS_DEALERS_PROMOTING_YOUR_BRAND_POTENTIAL_DEALERNETWORK" | translate}}</p>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div>
          <div class="btn-group" uib-dropdown="" auto-close="outsideClick">
            <button class="btn btn-grey" id="single-button" type="button" uib-dropdown-toggle="" ng-disabled="disabled">{{:: "ALL_BRANDS" | translate}}<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-forCheck" uib-dropdown-menu="" role="menu">
              <li role="menuitem" ng-repeat="obj in salerBrand track by $index">
                <label>
                  <input type="checkbox" ng-model="checkBrand" ng-change="isBrandSelect(obj,checkBrand,$index)" style="display:inline !important"/>{{obj | translate}}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div>
          <div class="btn-group" uib-dropdown="" auto-close="outsideClick">
            <button class="btn btn-grey" id="single-button" type="button" uib-dropdown-toggle="" ng-disabled="disabled">{{:: "ALL_CAMPAIGNS" | translate}}<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-forCheck" uib-dropdown-menu="" role="menu">
              <li class="divider"></li>
              <li role="menuitem"><b>{{:: 'OTHER_CAMPAIGN' | translate}}</b></li>
              <li role="menuitem" ng-repeat="other in otherSelected track by $index">
                <label>
                  <input type="checkbox" ng-model="others" ng-change="isCampSelect(other,others)" style="display:inline !important"/>{{other.name | translate}}
                </label>
              </li>
              <li class="divider"></li>
              <li role="menuitem"><b>{{:: 'STORE_CAMPAIGN' | translate}}</b></li>
              <li role="menuitem" ng-repeat="store in storeSelected track by $index">
                <label></label>
                <input type="checkbox" ng-model="stored" ng-change="isCampSelect(store,stored)" style="display:inline !important"/>{{store.name | translate}}
              </li>
              <li class="divider"></li>
              <li role="menuitem"><b>{{:: 'OTHER_CAMPAIGN' | translate}}</b></li>
              <li role="menuitem" ng-repeat="other in otherSelected track by $index">
                <label>
                  <input type="checkbox" ng-model="others" ng-change="isCampSelect(other,others)" style="display:inline !important"/>{{other.name | translate}}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <div class="btn-group" uib-dropdown="" auto-close="outsideClick">
            <button class="btn btn-grey" id="single-button" type="button" uib-dropdown-toggle="" ng-disabled="disabled">{{:: "ALL_REGIONS" | translate}}<span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="split-button">
              <li role="menuitem"><a ng-click="activeTab = 0">{{:: "NETHERLANDS" | translate}}</a></li>
              <li role="menuitem"><a ng-click="activeTab = 1">{{:: "GERMANY" | translate}}</a></li>
              <li role="menuitem"><a ng-click="activeTab = 1">{{:: "BELGIUM" | translate}}</a></li>
              <li role="menuitem"><a ng-click="activeTab = 1">{{:: "ENGELAND" | translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <select class="form-control disabled sel-col" ng-selected="{{ obj == 'this_month' }}" ng-options="obj for obj in getLikeArray" ng-model="getLikeModel" ng-change="timeRangeFunc(getLikeModel)" value="{{obj}}" uib-tooltip-html="&quot;{{:: &quot;SELECT_FACEBOOK_PAGE&quot; | translate}}&quot;"></select>
        </div>
      </div>
    </div>
  </div>
  <hr/><b>{{:: "MARKETING_ANALYTICS" | translate}}</b><br/>
  <div class="row text-center">
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "DEALERS WITH MY BRAND" | translate}}</div>
        <div class="panel-body"><img src="/images/loading.gif" ng-hide="!loading.outstanding" style="height:100px; width: 100px;"/>
          <p class="retailer-outstanding" ng-show="!loading.outstanding">{{totalBrands}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "DIGITAL MARKETING CONTRIBUTION DEALERNETWORK" | translate}}</div>
        <div class="panel-body"><img src="/images/loading.gif" ng-hide="!loading.payment" style="height:100px; width: 100px;"/>
          <p class="retailer-payment" ng-show="!loading.outstanding &amp;&amp; paymentData.amount != 0">{{paymentData.amount | currency: '€ '}} </p>
          <p class="retailer-payment">{{contributionDealer | isoCurrency: currency_ad}}</p>
          <p class="payment-date" ng-show="!loading.payment &amp;&amp; paymentData &amp;&amp; paymentData.amount != 0">({{paymentData.nextPayoutDate}})</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "DIGITAL MARKETING CONTRIBUTION OUR COMPANY" | translate}}</div>
        <div class="panel-body"><img src="/images/loading.gif" ng-hide="!loading.revenue" style="height:100px; width: 100px;"/>
          <p class="retailer-payment">{{contributionCompany | isoCurrency: currency_ad}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "TOTAL VIEWS" | translate}}</div>
        <div class="panel-body"><img src="/images/loading.gif" ng-hide="!loading.revenue" style="height:100px; width: 100px;"/>
          <p class="retailer-payment">{{totalVIews}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-10">
      <div id="marketingContributionLinechart" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
    </div>
    <div class="col-md-2"><a class="btn btn-green" ui-sref="">{{:: "COST_PER_CLICK" | translate}}</a><br/><br/><span class="btn btn-primary">{{costClick}}</span></div>
  </div>
  <div class="col-md-12">
    <div class="col-md-8">
      <div id="dealerDonut" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row"><br/>
    <div class="col-md-12">
      <div class="col-md-8"></div>
      <div class="col-md-4"><a class="pull-right btn btn-dark" ui-sref="brand.shops">{{:: "SHOPS_AND_CONTRIBUTIONS" | translate}}</a></div>
    </div>
  </div>
  <div class="row"></div>
  <hr/><b>{{:: "PRODUCT_INFORMATION_ANALYTICS" | translate}}</b><br/>
  <div class="row text-center">
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "TOTAL BRAND PAGE VIEWS" | translate}}</div>
        <div class="panel-body"><img src="/images/loading.gif" ng-hide="!loading.expected" style="height:100px; width: 100px;"/>
          <p class="retailer-payment">11.345</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "REVENUE MY DEALERS MY BRAND" | translate}}</div>
        <div class="panel-body"><img src="/images/loading.gif" ng-hide="!loading.payment" style="height:100px; width: 100px;"/>
          <p class="retailer-payment" ng-show="!loading.outstanding &amp;&amp; paymentData.amount != 0">{{paymentData.amount | currency: '€ '}} </p>
          <p class="retailer-payment">€ 3.200</p>
          <p class="payment-date" ng-show="!loading.payment &amp;&amp; paymentData &amp;&amp; paymentData.amount != 0">({{paymentData.nextPayoutDate}})</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">{{:: "TOTAL PAGE VIEWS MY BRAND PAGE" | translate}}</div>
        <div class="panel-body"><img src="/images/loading.gif" ng-hide="!loading.revenue" style="height:100px; width: 100px;"/>
          <p class="retailer-payment" ng-show="!loading.outstanding">{{revenue | currency: '€ '}}</p>
          <p class="retailer-payment">55.535</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row"><br/>
    <div class="col-md-12">
      <div class="col-md-8"></div>
      <div class="col-md-4"><a class="pull-right btn btn-dark" ui-sref="brand.shops">{{:: "SHOPS_AND_PRODUCTINFO" | translate}}</a></div>
    </div>
  </div><br/>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <div><b>{{:: "YOUR_REVENUE_WILL_THEN_BE_PAID" | translate}}: </b>
          <li>{{:: "BANKACCOUNTNUMBER_IBAN" | translate}}:<b>{{currentShop.bankAccountNumber}} </b></li>
          <li>{{:: "BANK_ACCOUNT_HOLDER" | translate}}: <b>{{currentShop.accountHolder}}</b></li>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8"></div>
      <div class="col-md-4"><a class="pull-right btn btn-dark" ui-sref="retailer.payments">{{:: "VIEW_PAYMENTS" | translate}}</a></div>
      <div class="row"></div><br/>
      <div uib-alert="uib-alert" ng-show="!currentShop.bankAccountNumber &amp;&amp; currentShop.accountHolder" value="&quot;{{:: &quot;NO_BANK_ACCOUNTNUMBER_FILLED_IN&quot; | translate}}&quot;" close="closeAlert()"></div>
      <p bind-html-compile="alert.msg"></p>
      <hr/>
    </div>
  </div>
</div>

app/src/views/brand/performance.pug
.container.portal.retailer
  h3
    | {{:: "PERFORMANCE" | translate}}
    a.btn.btn-dark.pull-right(ui-sref='brand.home') {{:: "BACK" | translate}}
  p {{:: "PERFORMACE_DEALERNETWORK_COST_PER_CLICK_MANY_CONSUMERS_DEALERS_PROMOTING_YOUR_BRAND_POTENTIAL_DEALERNETWORK" | translate}}
  .row
    .col-md-12
      .col-md-3
        div
          //- select.form-control.disabled.sel-col(ng-options='obj for obj in brandNameArray' ng-model='brandSelected', value='{{obj}}', placeholder="SELECT_BRANDS", uib-tooltip-html='"{{:: "BRANDS" | translate}}"')
          .btn-group(uib-dropdown='' auto-close="outsideClick")
            button#single-button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled' )
              | {{:: "ALL_BRANDS" | translate}}
              span.caret
            ul.dropdown-menu.dropdown-forCheck(uib-dropdown-menu='', role='menu')
              li(role='menuitem', ng-repeat='obj in salerBrand track by $index')
               label
                input(type='checkbox', ng-model='checkBrand', ng-change='isBrandSelect(obj,checkBrand,$index)', style='display:inline !important')
                | {{obj | translate}}
      .col-md-5
        div
          //- select.form-control.disabled.sel-col(ng-model='storeCamp', uib-tooltip-html='"{{:: "SELECT_FACEBOOK_PAGE" | translate}}"')
          //-   optgroup(label='STORE_CAMPAIGN')
          //-    option(value='{{store}}', ng-repeat='store in storeCampaign track by $index') {{store | translate}} 
          //-    input(type='checkbox', value='01', ng-model='store', ng-change='isStore(store)', style='display:block!important')
          //-   optgroup(label='OTHER_CAMPAIGN')
          //-    option(value='{{other}}', ng-repeat='other in otherCampaign track by $index') {{other | translate}}
          .btn-group(uib-dropdown='' auto-close="outsideClick")
            button#single-button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled' )
              | {{:: "ALL_CAMPAIGNS" | translate}}
              span.caret
            ul.dropdown-menu.dropdown-forCheck(uib-dropdown-menu='', role='menu')
              li.divider()
              li(role='menuitem')
               b {{:: 'OTHER_CAMPAIGN' | translate}}
              li(role='menuitem', ng-repeat='other in otherSelected track by $index')
               label
                input(type='checkbox', ng-model='others', ng-change='isCampSelect(other,others)', style='display:inline !important')
                | {{other.name | translate}}
              li.divider()
              li(role='menuitem')
               b {{:: 'STORE_CAMPAIGN' | translate}}
              li(role='menuitem', ng-repeat='store in storeSelected track by $index')
               label
               input(type='checkbox', ng-model='stored', ng-change='isCampSelect(store,stored)', style='display:inline !important')
               | {{store.name | translate}}
              li.divider()
              li(role='menuitem')
               b {{:: 'OTHER_CAMPAIGN' | translate}}
              li(role='menuitem', ng-repeat='other in otherSelected track by $index')
               label
                input(type='checkbox', ng-model='others', ng-change='isCampSelect(other,others)', style='display:inline !important')
                | {{other.name | translate}}
      .col-md-2
        div
          .btn-group(uib-dropdown='' auto-close="outsideClick")
            button#single-button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled')
              | {{:: "ALL_REGIONS" | translate}}
              span.caret
            ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
              li(role='menuitem')
                a(ng-click='activeTab = 0') {{:: "NETHERLANDS" | translate}}
              li(role='menuitem')
                a(ng-click='activeTab = 1') {{:: "GERMANY" | translate}}
              li(role='menuitem')
                a(ng-click='activeTab = 1') {{:: "BELGIUM" | translate}}
              li(role='menuitem')
                a(ng-click='activeTab = 1') {{:: "ENGELAND" | translate}}
      .col-md-2
        div
          select.form-control.disabled.sel-col( ng-selected="{{ obj == 'this_month' }}", ng-options='obj for obj in getLikeArray' ng-model='getLikeModel', ng-change='timeRangeFunc(getLikeModel)' value='{{obj}}', uib-tooltip-html='"{{:: "SELECT_FACEBOOK_PAGE" | translate}}"')

          //- .btn-group(uib-dropdown='')
          //-   button#single-button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled')
          //-     | {{:: "LAST_6_MONTHS" | translate}}
          //-     span.caret
          //-   ul.dropdown-menu(uib-dropdown-menu='', role='menu',ng-options='obj for obj in getLikeArray' aria-labelledby='split-button')
          //-     li(role='menuitem')
          //-       a(ng-click='activeTab = 0') {{:: "LAST_3_YEARS" | translate}}
          //-     li(role='menuitem')
          //-       a(ng-click='activeTab = 0') {{:: "LAST_YEAR" | translate}}
          //-     li(role='menuitem')
          //-       a(ng-click='activeTab = 0') {{:: "LAST_6_MONTHS" | translate}}
          //-     li(role='menuitem')
          //-       a(ng-click='activeTab = 1') {{:: "LAST_3_MONTHS" | translate}}
          //-     li(role='menuitem')
          //-       a(ng-click='activeTab = 1') {{:: "LAST_MONTH" | translate}}
          //-     li(role='menuitem')
          //-       a(ng-click='activeTab = 1') {{:: "LAST_WEEK" | translate}}
  hr
  b {{:: "MARKETING_ANALYTICS" | translate}}
  br
  .row.text-center
    .col-md-3
      .panel
        .panel-heading {{:: "DEALERS WITH MY BRAND" | translate}}
        .panel-body
          img(src='/images/loading.gif', ng-hide='!loading.outstanding', style='height:100px; width: 100px;')
          p.retailer-outstanding(ng-show='!loading.outstanding') {{totalBrands}}
    .col-md-3
      .panel
        .panel-heading {{:: "DIGITAL MARKETING CONTRIBUTION DEALERNETWORK" | translate}}
        .panel-body
          img(src='/images/loading.gif', ng-hide='!loading.payment', style='height:100px; width: 100px;')
          p.retailer-payment(ng-show='!loading.outstanding && paymentData.amount != 0') {{paymentData.amount | currency: '€ '}} 
          p.retailer-payment {{contributionDealer | isoCurrency: currency_ad}}
          p.payment-date(ng-show='!loading.payment && paymentData && paymentData.amount != 0') ({{paymentData.nextPayoutDate}})
    .col-md-3
      .panel
        .panel-heading {{:: "DIGITAL MARKETING CONTRIBUTION OUR COMPANY" | translate}}
        .panel-body
          img(src='/images/loading.gif', ng-hide='!loading.revenue', style='height:100px; width: 100px;')
          p.retailer-payment {{contributionCompany | isoCurrency: currency_ad}}
    .col-md-3
      .panel
        .panel-heading {{:: "TOTAL VIEWS" | translate}}
        .panel-body
          img(src='/images/loading.gif', ng-hide='!loading.revenue', style='height:100px; width: 100px;')
          p.retailer-payment {{totalVIews}}
  .col-md-12
    .col-md-10
      #marketingContributionLinechart(style='min-width: 310px; height: 400px; margin: 0 auto;')
    .col-md-2
      a.btn.btn-green(ui-sref='') {{:: "COST_PER_CLICK" | translate}}
      br
      br
      span.btn.btn-primary {{costClick}}
  .col-md-12
    .col-md-8
      #dealerDonut(style='min-width: 310px; height: 400px; margin: 0 auto;')
    .col-md-4
  .row
    br
    .col-md-12
      .col-md-8
      .col-md-4
        a.pull-right.btn.btn-dark(ui-sref='brand.shops') {{:: "SHOPS_AND_CONTRIBUTIONS" | translate}}
  .row
  hr
  b {{:: "PRODUCT_INFORMATION_ANALYTICS" | translate}}
  br
  .row.text-center
    .col-md-3
      .panel
        .panel-heading {{:: "TOTAL BRAND PAGE VIEWS" | translate}}
        .panel-body
          img(src='/images/loading.gif', ng-hide='!loading.expected', style='height:100px; width: 100px;')
          p.retailer-payment 11.345
    .col-md-3
      .panel
        .panel-heading {{:: "REVENUE MY DEALERS MY BRAND" | translate}}
        .panel-body
          img(src='/images/loading.gif', ng-hide='!loading.payment', style='height:100px; width: 100px;')
          p.retailer-payment(ng-show='!loading.outstanding && paymentData.amount != 0') {{paymentData.amount | currency: '€ '}} 
          p.retailer-payment € 3.200
          p.payment-date(ng-show='!loading.payment && paymentData && paymentData.amount != 0') ({{paymentData.nextPayoutDate}})
    .col-md-3
      .panel
        .panel-heading {{:: "TOTAL PAGE VIEWS MY BRAND PAGE" | translate}}
        .panel-body
          img(src='/images/loading.gif', ng-hide='!loading.revenue', style='height:100px; width: 100px;')
          p.retailer-payment(ng-show='!loading.outstanding') {{revenue | currency: '€ '}}
          p.retailer-payment 55.535
  .row
    br
    .col-md-12
      .col-md-8
      .col-md-4
        a.pull-right.btn.btn-dark(ui-sref='brand.shops') {{:: "SHOPS_AND_PRODUCTINFO" | translate}}
  br
  hr
  .row
    .col-md-12
      .col-md-8
        div
          b {{:: "YOUR_REVENUE_WILL_THEN_BE_PAID" | translate}}: 
          li
            | {{:: "BANKACCOUNTNUMBER_IBAN" | translate}}:
            b {{currentShop.bankAccountNumber}} 
          li
            | {{:: "BANK_ACCOUNT_HOLDER" | translate}}: 
            b {{currentShop.accountHolder}}
  .row
    .col-md-12
      .col-md-8
      .col-md-4
        a.pull-right.btn.btn-dark(ui-sref='retailer.payments') {{:: "VIEW_PAYMENTS" | translate}}
      .row
      br
      div(uib-alert='uib-alert', ng-show='!currentShop.bankAccountNumber && currentShop.accountHolder', value='"{{:: "NO_BANK_ACCOUNTNUMBER_FILLED_IN" | translate}}"', close='closeAlert()')
      p(bind-html-compile='alert.msg')
      hr
