app/dist/views/retailer/assortment.html

<div class="products-container">
  <h3>{{:: "ASSORTMENT" | translate}}<a class="btn btn-dark pull-right" ui-sref="retailer.home">{{:: "BACK" | translate}}</a></h3>
  <p>{{:: "CLICK_ON_ONE_OF_THE_CATEGORIES_BELOW_TO_SHOW_YOUR_PRODUCTS" | translate}}
    <div class="col-md-7">
      <div class="row" ng-if="shopCats">
        <nav class="shop-nav-bar">
          <ul>
            <li><a class="dark" href="" ng-if="shopCats.includes('WATCH')" ng-click="setCategory('WATCH')" id="webshopTourCategory">{{:: "NAV_BAR_WATCHES" | translate}}</a></li>
            <li><a class="dark" href="" ng-if="shopCats.includes('STRAP')" ng-click="setCategory('STRAP')">{{:: "NAV_BAR_WATCH_STRAPS" | translate}}</a></li>
            <li><a class="dark" href="" ng-if="shopCats.includes('JEWEL')" ng-click="setCategory('JEWEL')">{{:: "NAV_BAR_JEWELERY" | translate}}</a></li>
            <li><a class="dark" href="" ng-if="shopCats.includes('OTHER')" ng-click="setCategory('OTHER')">{{:: "OTHER" | translate}}</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-2">
      <make-purchase-order class="add-product-right-align"></make-purchase-order>
    </div>
    <div class="col-md-3">
      <product-add-to-assortment class="add-product-right-align" id="webshopTourAddProduct"></product-add-to-assortment>
    </div>
  </p>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn btn-md btn-light button-margin-right" ng-click="filtersShow()"><i class="fa fa-filter"></i>{{:: "FILTERS" | translate}}</button>
      <h6>{{currShop.collections}}</h6>
      <div class="btn-group" ng-show="filtersWatch" ng-repeat="collection in currentShop.collections">
        <button class="btn btn btn-md button-margin-right" type="button" uib-dropdown-toggle="" ng-disabled="disabled" ng-click="setCollectionId(collection); collection1 = true">{{getTheCollectionName(collection)}}</button>
        <button class="btn btn btn-md btn-light button-margin-right" ng-show="collection1 == true" ng-click="editCollection(collection)"><i class="fa fa-pencil"></i></button>
      </div>
      <div class="btn-group">
        <button class="btn btn-md btn-default button-margin-right" ng-click="resetCollectionFilter()" ng-show="collectionId">{{:: "RESET_FILTER" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <hr/>
  </div>
  <div class="row">
    <div ng-class="!hideFilters ? 'col-xs-12 col-md-9 col-md-push-3':'col-md-12'">
      <div class="row">
        <h1 class="text-center" ng-if="noSuchProductsFound">{{:: "NO_PRODUCTS_FOUND" | translate}}</h1>
      </div>
      <div class="row" id="webshopTourOpenEditModal">
        <h1 style="text-align:center" ng-show="products.length == 0 &amp;&amp; !noSuchProductsFound"><i class="fa fa-refresh fa-spin"></i></h1>
        <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="item in products | filter:collectionFilter ">
          <product-block-retailer-portal></product-block-retailer-portal>
        </div>
      </div>
      <div class="row" ng-if="!noSuchProductsFound">
        <p class="no-products-found" ng-if="noProductsFound == true">{{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}</p>
        <p ng-if="showloadmore"></p>
        <div class="load-more text-center"><a class="btn btn-dark" ng-if="showloadmore" ng-click="getProducts()">{{:: "BUTTON_LOADMORE" | translate}}</a></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 col-md-pull-9" ng-hide="hideFilters">
      <form class="product-filters filters"><a class="btn btn-md btn-green hidden" ng-click="resetFilters()">{{:: "TEXT_RESET_FILTERS" | translate}}</a>
        <product-sort></product-sort>
        <product-filter-by-shop-properties></product-filter-by-shop-properties>
        <product-filter-by-gender></product-filter-by-gender>
        <product-filter-by-price></product-filter-by-price>
        <product-filter-by-brand></product-filter-by-brand>
        <product-filter-by-misc-properties ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-misc-properties>
        <product-filter-by-indication ng-show="filtersWatch == true" ng-if="!isShop &amp;&amp; (productCategory.includes('WATCH') || productCategory.length == 0)"></product-filter-by-indication>
        <product-filter-by-strap-type ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0"></product-filter-by-strap-type>
        <product-filter-by-strap-material ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0"></product-filter-by-strap-material>
        <product-filter-by-strap-width ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0"></product-filter-by-strap-width>
        <product-filter-by-wrist-perimeter ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0"></product-filter-by-wrist-perimeter>
        <product-filter-by-strap-clasp ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0"></product-filter-by-strap-clasp>
        <product-filter-by-case-material ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-case-material>
        <product-filter-by-case-shape ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-case-shape>
        <product-filter-by-case-size ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-case-size>
        <product-filter-by-case-depth ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-case-depth>
        <product-filter-by-waterproof-level ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-waterproof-level>
        <product-filter-by-color></product-filter-by-color>
        <product-filter-by-glass-material ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-glass-material>
        <product-filter-by-dial ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-dial>
        <product-filter-by-type ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0"></product-filter-by-type>
      </form>
    </div>
  </div>
</div>

app/src/views/retailer/assortment.pug
.products-container
	h3 {{:: "ASSORTMENT" | translate}}
		a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}
	p {{:: "CLICK_ON_ONE_OF_THE_CATEGORIES_BELOW_TO_SHOW_YOUR_PRODUCTS" | translate}}
		.col-md-7
			.row(ng-if="shopCats")
				nav.shop-nav-bar
					ul
						li
							a(href="", ng-if="shopCats.includes('WATCH')", ng-click="setCategory('WATCH')").dark#webshopTourCategory {{:: "NAV_BAR_WATCHES" | translate}}
						li
							a(href="", ng-if="shopCats.includes('STRAP')", ng-click="setCategory('STRAP')").dark {{:: "NAV_BAR_WATCH_STRAPS" | translate}}
						li
							a(href="", ng-if="shopCats.includes('JEWEL')", ng-click="setCategory('JEWEL')").dark {{:: "NAV_BAR_JEWELERY" | translate}}
						li
							a(href="", ng-if="shopCats.includes('OTHER')", ng-click="setCategory('OTHER')").dark {{:: "OTHER" | translate}}
		.col-md-2
			make-purchase-order.add-product-right-align
		.col-md-3
			product-add-to-assortment#webshopTourAddProduct.add-product-right-align
	.row
		.col-md-12
			button.btn.btn.btn-md.btn-light.button-margin-right(ng-click="filtersShow()")
				i.fa.fa-filter
				| {{:: "FILTERS" | translate}}
			h6 {{currShop.collections}}

			.btn-group(ng-show="filtersWatch" ng-repeat="collection in currentShop.collections")
				button.btn.btn.btn-md.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled' ng-click="setCollectionId(collection); collection1 = true") {{getTheCollectionName(collection)}}
				button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="editCollection(collection)")
					i.fa.fa-pencil


			//- //-cat watches
			//- .btn-group(ng-show="filtersWatch" ng-repeat="collection in currentShop.collections | filter: { categories: 'WATCH' }")
			//- 	button.btn.btn.btn-md.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled' ng-click="setCollectionId(collection); collection1 = true") {{collection[language].name}}
			//- 	button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="editCollection(collection)")
			//- 		i.fa.fa-pencil
			//- //-cat straps
			//- .btn-group(ng-show="filtersStrap" ng-repeat="collection in currentShop | filter: { categories: 'STRAP' }")
			//- 	button.btn.btn.btn-md.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled' ng-click="setCollectionId(collection); collection1 = true") {{collection[language].name}}
			//- 	button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="editCollection(collection)")
			//- 		i.fa.fa-pencil
			//- //-cat jewels
			//- .btn-group(ng-show="filtersJewel" ng-repeat="collection in currentShop | filter: { categories: 'JEWEL' }")
			//- 	button.btn.btn.btn-md.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled' ng-click="setCollectionId(collection); collection1 = true") {{collection[language].name}}
			//- 	button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="editCollection(collection)")
			//- 		i.fa.fa-pencil
			//- //-cat other
			//- .btn-group(ng-show="!filtersWatch && !filtersStrap && !filtersJewel" ng-repeat="collection in currentShop | filter: { categories: 'OTHER' }")
			//- 	button.btn.btn.btn-md.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled' ng-click="setCollectionId(collection); collection1 = true") {{collection[language].name}}
			//- 	button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="editCollection(collection)")
			//- 		i.fa.fa-pencil
			//- //-no cat
			//- .btn-group(ng-repeat="collection in currentShop | filter: filterFn")
			//- 	button.btn.btn.btn-md.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled' ng-click="setCollectionId(collection); collection1 = true") {{collection[language].name}}
			//- 	button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="editCollection(collection)")
			//- 		i.fa.fa-pencil
			.btn-group
				button.btn.btn-md.btn-default.button-margin-right(ng-click="resetCollectionFilter()" ng-show="collectionId") {{:: "RESET_FILTER" | translate}}
				//- button.btn.btn-md.btn-primary.button-margin-right(ng-click="openCreateCollectionModal()")
				//- 	| {{:: "ADD_COLLECTION" | translate}}
	.row
		hr
	.row
		div(ng-class="!hideFilters ? 'col-xs-12 col-md-9 col-md-push-3':'col-md-12'")
			.row
				h1.text-center(ng-if="noSuchProductsFound") {{:: "NO_PRODUCTS_FOUND" | translate}}

			.row#webshopTourOpenEditModal
				//- h1.text-center PRODUCTS FOUND = {{products.length}}
				
			
				h1(style="text-align:center",ng-show="products.length == 0 && !noSuchProductsFound")
					i.fa.fa-refresh.fa-spin
				//- h1(style="text-align:center",ng-show="products") Products.length = {{products.length}}


				.col-xs-6.col-sm-4.col-md-2(ng-repeat="item in products | filter:collectionFilter ")
					product-block-retailer-portal
			.row(ng-if="!noSuchProductsFound")
				p.no-products-found(ng-if="noProductsFound == true") {{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}
				p(ng-if="showloadmore")
				.load-more.text-center
					a.btn.btn-dark(ng-if="showloadmore" ng-click="getProducts()") {{:: "BUTTON_LOADMORE" | translate}}
		.col-xs-12.col-md-3.col-md-pull-9(ng-hide="hideFilters")
			form.product-filters.filters
				a(ng-click="resetFilters()").btn.btn-md.btn-green.hidden {{:: "TEXT_RESET_FILTERS" | translate}}
				product-sort
				product-filter-by-shop-properties
				product-filter-by-gender
				product-filter-by-price
				product-filter-by-brand
				product-filter-by-misc-properties(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-indication(ng-show="filtersWatch == true" ng-if="!isShop && (productCategory.includes('WATCH') || productCategory.length == 0)")
				product-filter-by-strap-type(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-strap-material(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-strap-width(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-wrist-perimeter(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-strap-clasp(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-case-material(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-case-shape(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-case-size(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-case-depth(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-waterproof-level(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-color
				product-filter-by-glass-material(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-dial(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-type(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
