app/src/views/retailer/campaign-update.pug
.block-small
    div(ng-show="campaign.update == true")
        .col-md-4
            .row(ng-repeat="task in campaign.tasks | filter:{type:'order'}")
                h4 {{:: "ORDER_TASKS" | translate}}
                .row
                    .task-block.orderTask-color(ng-repeat="task in campaign.tasks | filter:{type:'order'}")
                        .col-md-12.text-center
                            p.switch-align-task
                                label(for="activeTask") {{task.completed ? "This task is already executed" : "Execute"}}
                                toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.execute = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute")
                            span.i.fa.fa-truck.fa-5x
                            h4(uib-tooltip-html='"{{:: "EXPLAIN_ORDER_TASK" | translate}}"') {{task[language].name}}
                            p {{task[language].description}}
                            p
                                span.i.fa.fa-calendar-o
                                | &nbsp; {{task.startDate | date : "dd-MM-yyyy"}} - {{task.endDate | date : "dd-MM-yyyy"}}
                        br
                        br
                        br
                        br
                        a(href="{{task.orderLink}}" target='_blank').btn.btn-sm.btn-primary {{:: "ORDER_DIRECT" | translate}}
            .row(style="margin-top: 30px; background-color: #f5f9fa")
                .col-md-12(style='background-color: #f5f9fa')
                    h5 {{:: "QUESTIONS" | translate}}
                    p(uib-tooltip-html='"{{:: "KEEP_IN_TOUCH_WITH_EXISTING_FOLLOWERS" | translate}}"')
                        | {{:: "PROMOTION_STRATEGY" | translate}} {{:: "UNPAID_UPDATE" | translate}} &nbsp;
                        span.fa.fa-bullhorn
                    p {{:: "CAMPAIGN_NUMBER" | translate}}: {{campaign.number}}
                    //-p Type: {{campaign.type}} - {{campaign.occasion}}
                    a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo").pull-right
                        span &nbsp; &nbsp;
                        span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
                    div(uib-collapse="!showInfo")
                        p {{:: "QUESTIONS_CALL_EXPERT" | translate}} +31 345 631 776
                        hr
                        p {{:: "QUESTIONS_CALL_DISTRIBUTOR" | translate}}
                        p {{:: "CALL" | translate}}: {{campaign.wholesaler.telephoneNumber}}
                        p {{:: "DISTRIBUTOR" | translate}}: {{campaign.wholesaler.name}}
                        p {{campaign.description}}
                        p {{campaign.url}}
                        p {{:: "CAMPAIGN_PUBLISHED_FROM" | translate}} {{campaign.startDate | date : "dd-MM-yyyy"}} {{:: "TILL" | translate}} {{campaign.endDate | date : "dd-MM-yyyy"}}
                    br
                    a.btn.btn-sm.btn-light(ng-click="deleteCampaign()") {{:: "DELETE_CAMPAIGN" | translate}}
                    br           
        .col-md-4
            h4 
                span.i.fa.fa-facebook
                |&nbsp; Facebook {{:: "TASKS" | translate}}
            .col-md-12.facebook-color(style='background-color: #f5f9fa' ng-repeat="task in campaign.tasks | filter:{type: 'facebook'}")
                p.switch-align-task
                    label(for="activeTask") {{task.completed ? "This task is already executed" : "Execute via Facebook"}}
                    toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.execute = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute", ng-disabled="task.mandatory")
                .block-small.news-item-block
                    div(popover-placement="right" popover-trigger="'mouseenter'" popover-title="Edit" uib-popover="Click on 'Back to overview' to change this image")
                        .uib-carousel(uib-carousel active="activeSlide" interval="7000")
                            div(uib-slide ng-repeat="slide in task.images" index="$index", style="height:300px; margin:0 auto;")
                                img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
                .news-item-block-content
                    input(type="text", ng-model="task[language].name", placeholder='{{:: "PROMOTION_TITLE" | translate}}' ng-disabled="task.completed").form-control          
                    //- .input-group
                    //-     input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.fbPromotionSettings.promotionEndDate" ng-init="initUpdateTaskDate(task)" datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" is-open="startDate", timepicker-options="timepickerOptions", close-text="Sluiten" ng-disabled="task.completed").form-control
                    //-     span.input-group-btn
                    //-         button(type="button" ng-click="startDate =! startDate" ng-disabled="task.completed").btn.btn-default
                    //-             span.i.fa.fa-calendar
                    textarea(ng-model="task[language].description", placeholder='{{:: "GIVE_DESCRITPION_PLEASE" | translate}}', popover-placement="right" popover-title="Example", uib-popover='{{task[language].description}}', cols="20", rows="2" ng-disabled="task.completed")
                    //-button(ng-click='campaignPaidCreate(task,$index,1)', ng-init="edtCampCreate_[$index+'_1'] = false").btn.btn-primary EXEC_CAMPAIGN
                    i.fa.fa-spinner.fa-spin(ng-show="showSpinner_[$index+'_1']" style="margin-left: 21px;font-size: xx-large;position: absolute")
                    button(ng-click='openCreateCampaignModal(false)', ng-show="edtCampCreate_[$index+'_1']").btn.btn-primary {{:: "PREVIEW" | translate}}
        .col-md-4.hidden
            h4 {{:: "OTHER_MEDIAS" | translate}}
            .col-md-12.facebook-color(style='background-color: #f5f9fa' ng-repeat="task in campaign.tasks | filter:filterCampaigns")
                p.switch-align-task
                    label(for="activeTask") {{task.completed ? "This task is already executed" : "Execute via "}} {{task.type}}
                    toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.execute = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute")
                .block-small.news-item-block
                    .uib-carousel(uib-carousel active="activeSlide" interval="7000")
                        div(uib-slide ng-repeat="slide in task.images" index="$index", style="height:198px; margin:0 auto;")
                            img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
                .news-item-block-content
                    input(type="text", ng-model="task[language].name", placeholder='{{:: "PROMOTION_TITLE" | translate}}' ng-disabled="task.completed").form-control
                    .input-group
                        input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.datePlanned" ng-init="initUpdateTaskDate(task)" datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" is-open="startDate", timepicker-options="timepickerOptions", close-text="Sluiten" ng-disabled="task.completed").form-control
                        span.input-group-btn
                            button(type="button" ng-click="startDate =! startDate" ng-disabled="task.completed").btn.btn-default
                                span.i.fa.fa-calendar
                    textarea(ng-model="task[language].description", placeholder='{{:: "GIVE_DESCRITPION_PLEASE" | translate}}' cols="20", rows="2" ng-disabled="task.completed")

app/dist/views/retailer/campaign-update.html

<div class="block-small">
  <div ng-show="campaign.update == true">
    <div class="col-md-4">
      <div class="row" ng-repeat="task in campaign.tasks | filter:{type:'order'}">
        <h4>{{:: "ORDER_TASKS" | translate}}</h4>
        <div class="row">
          <div class="task-block orderTask-color" ng-repeat="task in campaign.tasks | filter:{type:'order'}">
            <div class="col-md-12 text-center">
              <p class="switch-align-task">
                <label for="activeTask">{{task.completed ? "This task is already executed" : "Execute"}}</label>
                <toggle-switch ng-if="!task.completed" uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' " name="activeTask" ng-init="task.execute = true" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}" ng-model="task.execute"></toggle-switch>
              </p><span class="i fa fa-truck fa-5x"></span>
              <h4 uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_ORDER_TASK&quot; | translate}}&quot;">{{task[language].name}}</h4>
              <p>{{task[language].description}}</p>
              <p><span class="i fa fa-calendar-o"></span>&nbsp; {{task.startDate | date : "dd-MM-yyyy"}} - {{task.endDate | date : "dd-MM-yyyy"}}</p>
            </div><br/><br/><br/><br/><a class="btn btn-sm btn-primary" href="{{task.orderLink}}" target="_blank">{{:: "ORDER_DIRECT" | translate}}</a>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px; background-color: #f5f9fa">
        <div class="col-md-12" style="background-color: #f5f9fa">
          <h5>{{:: "QUESTIONS" | translate}}</h5>
          <p uib-tooltip-html="&quot;{{:: &quot;KEEP_IN_TOUCH_WITH_EXISTING_FOLLOWERS&quot; | translate}}&quot;">{{:: "PROMOTION_STRATEGY" | translate}} {{:: "UNPAID_UPDATE" | translate}} &nbsp;<span class="fa fa-bullhorn"></span></p>
          <p>{{:: "CAMPAIGN_NUMBER" | translate}}: {{campaign.number}}</p><a class="pull-right" href="" ng-init="showInfo = false" ng-click="showInfo = !showInfo"><span>&nbsp; &nbsp;</span><span class="i fa" ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></a>
          <div uib-collapse="!showInfo">
            <p>{{:: "QUESTIONS_CALL_EXPERT" | translate}} +31 345 631 776</p>
            <hr/>
            <p>{{:: "QUESTIONS_CALL_DISTRIBUTOR" | translate}}</p>
            <p>{{:: "CALL" | translate}}: {{campaign.wholesaler.telephoneNumber}}</p>
            <p>{{:: "DISTRIBUTOR" | translate}}: {{campaign.wholesaler.name}}</p>
            <p>{{campaign.description}}</p>
            <p>{{campaign.url}}</p>
            <p>{{:: "CAMPAIGN_PUBLISHED_FROM" | translate}} {{campaign.startDate | date : "dd-MM-yyyy"}} {{:: "TILL" | translate}} {{campaign.endDate | date : "dd-MM-yyyy"}}</p>
          </div><br/><a class="btn btn-sm btn-light" ng-click="deleteCampaign()">{{:: "DELETE_CAMPAIGN" | translate}}</a><br/>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4> <span class="i fa fa-facebook"></span>&nbsp; Facebook {{:: "TASKS" | translate}}</h4>
      <div class="col-md-12 facebook-color" style="background-color: #f5f9fa" ng-repeat="task in campaign.tasks | filter:{type: 'facebook'}">
        <p class="switch-align-task">
          <label for="activeTask">{{task.completed ? "This task is already executed" : "Execute via Facebook"}}</label>
          <toggle-switch ng-if="!task.completed" uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' " name="activeTask" ng-init="task.execute = true" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}" ng-model="task.execute" ng-disabled="task.mandatory"></toggle-switch>
        </p>
        <div class="block-small news-item-block">
          <div popover-placement="right" popover-trigger="'mouseenter'" popover-title="Edit" uib-popover="Click on 'Back to overview' to change this image">
            <div class="uib-carousel" uib-carousel="uib-carousel" active="activeSlide" interval="7000">
              <div uib-slide="uib-slide" ng-repeat="slide in task.images" index="$index" style="height:300px; margin:0 auto;"><img ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}"/></div>
            </div>
          </div>
        </div>
        <div class="news-item-block-content">
          <input class="form-control" type="text" ng-model="task[language].name" placeholder="{{:: &quot;PROMOTION_TITLE&quot; | translate}}" ng-disabled="task.completed"/>
          <textarea ng-model="task[language].description" placeholder="{{:: &quot;GIVE_DESCRITPION_PLEASE&quot; | translate}}" popover-placement="right" popover-title="Example" uib-popover="{{task[language].description}}" cols="20" rows="2" ng-disabled="task.completed"></textarea><i class="fa fa-spinner fa-spin" ng-show="showSpinner_[$index+'_1']" style="margin-left: 21px;font-size: xx-large;position: absolute"></i>
          <button class="btn btn-primary" ng-click="openCreateCampaignModal(false)" ng-show="edtCampCreate_[$index+'_1']">{{:: "PREVIEW" | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 hidden">
      <h4>{{:: "OTHER_MEDIAS" | translate}}</h4>
      <div class="col-md-12 facebook-color" style="background-color: #f5f9fa" ng-repeat="task in campaign.tasks | filter:filterCampaigns">
        <p class="switch-align-task">
          <label for="activeTask">{{task.completed ? "This task is already executed" : "Execute via "}} {{task.type}}</label>
          <toggle-switch ng-if="!task.completed" uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' " name="activeTask" ng-init="task.execute = true" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}" ng-model="task.execute"></toggle-switch>
        </p>
        <div class="block-small news-item-block">
          <div class="uib-carousel" uib-carousel="uib-carousel" active="activeSlide" interval="7000">
            <div uib-slide="uib-slide" ng-repeat="slide in task.images" index="$index" style="height:198px; margin:0 auto;"><img ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}"/></div>
          </div>
        </div>
        <div class="news-item-block-content">
          <input class="form-control" type="text" ng-model="task[language].name" placeholder="{{:: &quot;PROMOTION_TITLE&quot; | translate}}" ng-disabled="task.completed"/>
          <div class="input-group">
            <input class="form-control" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.datePlanned" ng-init="initUpdateTaskDate(task)" datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" is-open="startDate" timepicker-options="timepickerOptions" close-text="Sluiten" ng-disabled="task.completed"/><span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="startDate =! startDate" ng-disabled="task.completed"><span class="i fa fa-calendar"></span></button></span>
          </div>
          <textarea ng-model="task[language].description" placeholder="{{:: &quot;GIVE_DESCRITPION_PLEASE&quot; | translate}}" cols="20" rows="2" ng-disabled="task.completed"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
