app/src/views/retailer/campaigns.pug
.container.portal.retailer(ng-init="getSocialPortal()")
    h3 {{:: "SOCIAL_MEDIA" | translate}}
    div(ng-hide="activeTab != 4")
        a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}
    div(ng-hide="activeTab == 4")
        a.btn.btn-danger.pull-right(ng-click="backTOPromotion()")
            i.fa.fa-arrow-left
            | {{:: "BACK_TO_MY_PROMOTIONS" | translate}}
    br
    .row
    div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
        p(bind-html-compile="alert.msg")
    
    .col-md-12
        div
            a(href='', ng-init='showInfo = false', ng-click='showInfo = !showInfo')
                span
                    b Explain simple/free promotion (2 min video)
                        span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
        br
        div(uib-collapse='!showInfo').pull-left
            div(ng-if="language =='nl'" style="height: 272px")
                .panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='en'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
        .row
            .col-md-12
                //- div(ng-hide="activeTab != 4")
                div
                    .btn-group
                        button#marketingTourCampaigns.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 1")
                            | {{:: "FREE_PROMOTION_IMAGES" | translate}}
                        button#marketingTourPromotions.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 0")
                            | {{:: "PAID_PROMOTION_IMAGES" | translate}}
                        button#marketingTourAddCampaign.btn.btn.btn-md.btn-light.button-margin-right(ng-click="openCreateCampaignModal()")
                            | {{:: "SET_UP_CAMPAIGN_YOURSELF" | translate}}
                    //- .btn-group(uib-dropdown='', is-open='status.isopen')
                    //-     button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled') {{:: "EXECUTE_NEW_PROMOTION" | translate}}
                    //-         span.caret
                    //-     ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
                    //-         li(role='menuitem')#marketingTourPromotions
                    //-             a(ng-click="activeTab = 0") {{:: "PAID_PROMOTION_IMAGES" | translate}}
                    //-         li(role='menuitem')
                    //-             a(ng-click="activeTab = 1") {{:: "FREE_PROMOTION_IMAGES" | translate}}
                    //-         li.divider
                    //-         li(role='menuitem')
                    //-             a(ng-click="openCreateCampaignModal()") {{:: "SET_UP_CAMPAIGN_YOURSELF" | translate}}
                    .btn-group.pull-right
                        button#marketingTourSettings.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 3")
                                i.fa.fa-cog
                                | {{:: "MY_SETTINGS" | translate}}
                        button#single-button.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 5")
                            i.fa.fa-list
                            | {{:: "MY_TASKS" | translate}} &nbsp;
                            span.badge(ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'") {{openTasks}}
    .row
    br
    uib-tabset(ng-show="user.socialPortal" active='activeTab')
        uib-tab(index='0', ui-sref='tab0' ng-hide='true')
            uib-tab-heading
                i.fa.fa-bullhorn.fa-lg
                |  {{:: "PROMOTIONS" | translate}}
            br
            b {{:: "PAID_PROMOTIONS_PREPARED_BY_YOUR_SUPPLIER" | translate}}
            p(style='text') {{:: "EXPLAIN_FACEBOOK_PROMOTION_PRINCIPLE" | translate}}
            .row
                br
                .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in campaigns | orderBy: '-startDate'")#marketingClickOnToAddPromotions
                    campaign-retailer-block(modal='true')
        uib-tab(index='1', ui-sref='tab1' heading='{{:: "UPDATES" | translate}}' ng-hide='true')
            br
            b {{:: "UNPAID_PROMOTIONS_PREPARED_BY_YOUR_SUPPLIER" | translate}} 
            p(style='text') {{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   
            .row
            .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in updates | orderBy: '-startDate'")
                campaign-retailer-block(modal='true')
        uib-tab.pull-right(index='3', ui-sref='tab3', ng-hide='true' heading='{{:: "SETTINGS" | translate}}')
            .col-md-12
                .row
                    .col-md-6
                        h3(ng-init="getBrands()") {{:: "BRANDS" | translate}}
                        p {{:: "CHOOSE_BRANDS_TO_PERFORM_TO_REMOVE_CLICK_IT" | translate}}
                        b {{:: "REFRESH" | translate}}
                        | {{:: "PAGE_AFTER_ADDING_BRAND_FOR_NEW_UPDATES" | translate}}
                        br
                        br
                        button(ng-repeat="brand in user.socialPortal.brands", ng-click="deleteBrandFromSocialPortal($index)", type="button").btn.btn-default {{brand.name}}
                        hr
                        angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
                        //- p {{user.socialPortal.brands}}
                        //- p {{currentShop.brands}}
                        //- p Er zijn merken die wel zijn toegevoegd op uw winkel maar niet op uw social media portaal. Hierdoor verschijnen er geen updates van dit merk in uw social portaal de producten van dit merk zijn wel toe te voegen aan uw assortiment.
                        //- p Er zijn merken die niet zijn toegevoegd op uw winkel maar wel op uw social media portaal. Hierdoor verschijnen er wel updates van dit merk in uw social portaal maar zijn producten van dit merk niet toe te voegen aan uw assortiment.
                .row
                    h3 Facebook
                    div(ng-hide="user.facebook.profileId")
                        a.btn.btn-primary(href="/api/auth/facebook", target="_blank")
                            span.fa.fa-facebook
                            | &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
                    div(ng-hide="sendRequest")
                        a.btn.btn-warning(ng-click="sendFbRequest()", target="_blank")
                            span.fa.fa-facebook
                            | &nbsp; {{:: "SEND_REQUEST_TO_ADMIN" | translate}}
                    div(ng-hide="!sendRequest")
                        a.btn.btn-success(ng-click="assignPermission()", target="_blank")
                            span.fa.fa-facebook
                            | &nbsp; {{:: "ASSIGN_PERMISSION" | translate}}
                        //- a.btn.btn-success {{:: "THANK_YOU_FOR_SENDING_REQUEST_PLEASE_WAIT_FOR_ACCEPT_REQUEST_NOTIFICATION" | translate}}
                    div(ng-show="user.facebook && user.facebook.profileId")
                        .row 
                            .col-md-6(ng-init="setFacebook(user.facebook.postTo, false)")
                                //-a.btn.btn-primary(ng-click="setFacebook('wall', true)", ng-disabled='user.facebook.postTo == "wall"') {{:: "POSTING_ON_MY_PROFILE" | translate}}
                                //-br
                                a.btn.btn-primary(ng-click="setFacebook('page', true)", ng-disabled='user.facebook.postTo == "page"') {{:: "POSTING_ON_MY_PAGE" | translate}}
                                div(ng-show='user.facebook && user.facebook.postTo == "page"')
                                    h5 {{:: "SELECT_PAGE" | translate}}
                                    p(ng-show="user.facebook.pageName") {{:: "CURRENT_SET_ON" | translate}}
                                        strong {{user.facebook.pageName}}
                                    select(ng-model="selectedPage", ng-change="setFacebookPage(selectedPage)").form-control
                                        option(ng-repeat="page in pages" ng-value="page") 
                                            |{{page.name}}
                                    
                                p {{:: "MESSAGES_ARE_PLACED_ON_THE_PAGE_AUTOMATICALLY" | translate}}
                                a.btn.btn-primary(href="/api/auth/facebook/rerequest", target="_blank") 
                                    span.fa.fa-facebook
                                    | &nbsp; {{:: "CONNECT_FACEBOOK_AGAIN" | translate}}
                                a.btn.btn-default(ng-click="deleteFacebook()")
                                    span.fa.fa-facebook
                                    | &nbsp; {{:: "UNDO_CONNECT_FACEBOOK" | translate}}
                            .col-md-6()
                                h5 {{:: "PLACE_TEST_MESSAGE" | translate}}
                                a.btn.btn-success(ng-click="testFacebook()") 
                                    span.fa.fa-facebook
                                    | &nbsp; {{:: "TEST_FACEBOOK_CONNECTION" | translate}}
                                br
                                br
                                div(uib-alert, ng-show="testResult", ng-class="'alert-' + testResult.type")
                                    p(bind-html-compile="testResult.msg")
                //.row(ng-init="getPinterestBoards()")
                .row(ng-hide="user.pinterest || 1==1")
                    h3 Pinterest
                    p {{:: "BECOMES_ASAP_AVAILABLE" | translate}}
                    div
                        a.btn.btn-default(href="/api/auth/pinterest", target="_blank") 
                            span.fa.fa-pinterest
                            | &nbsp; {{:: "CONNECT_PINTEREST" | translate}}
                    div(ng-show="user.pinterest")
                        .row
                            .col-md-6
                                h5 {{:: "SELECT_A_BOARD" | translate}}
                                select(id="page", name="page", ng-model="user.pinterest.board", ng-change="savePinterestSettings()").form-control
                                    option(ng-repeat="board in boards" ng-value="board.id") {{board.name}}
                                p {{:: "MESSAGES_ARE_AUTO_PLACED_ON_THE_CHOSEN_BOARD" | translate}}

                                a.btn.btn-primary(href="/api/auth/pinterest", target="_blank") 
                                    span.fa.fa-pinterest
                                    | &nbsp; {{:: "CONNECT_PINTEREST_AGAIN" | translate}}
                            .col-md-6
                                h5 {{:: "PLACE_TEST_MESSAGE" | translate}}
                                a.btn.btn-default(ng-click="testPinterest()") 
                                    span.fa.fa-pinterest
                                    | &nbsp; {{:: "TEST_PINTEREST_CONNECTION" | translate}}
                                pre {{pinterest | json }}
        uib-tab(index='4', ng-hide='true' heading='{{:: "MY_PROMOTIONS_AND_SETTINGS" | translate}}')
            br
            b {{:: "MY_PROMOTIONS" | translate}}
            p(style='text') {{:: "HERE_AN_OVERVIEW_OF_PAID_CAMPAIGNS" | translate}}
            .row
            div(uib-alert, ng-show="user.socialPortal.campaigns && user.socialPortal.campaigns.length == 0" class="alert-success")
                p
                    strong {{:: "YOU_HAVE_NO_CAMPAIGNS_YET" | translate}}
            .col-md-3(ng-repeat="item in user.socialPortal.campaigns | orderBy: '-startDate'")
                campaign-retailer-block
        uib-tab.pull-right(index='5', ui-sref='tab3', ng-hide='true' heading='{{:: "MY_TASKS" | translate}}')
            .col-md-12
                .row
                    h3 {{:: "MY_TASKS" | translate}}
                    .col-md-12
                        hr
                        div(uib-alert, ng-show="openTasks <= 0" class="alert-success")
                            | {{:: "NO_OPEN_TASKS" | translate}}
                        ul.list-group(ng-show="openTasks > 0")
                            li.list-group-item(ng-repeat="task in user.socialPortal.taskList | filter:{completed:false} | orderBy: 'date'")
                                a.btn.btn-green.pull-right(ng-click='openTaskModal(task)') {{:: "OPEN" | translate}}
                                h6.list-group-item-heading {{task.title}}
                                p.list-group-item-text {{task.date | date : "dd-MM-yyyy"}}
                        hr
                        a.pull-right(ng-init="showTasks = false" ng-click="showTasks = !showTasks")
                            | {{:: "HISTORY" | translate}} &nbsp;
                            span.i.fa(ng-class="showTasks ? 'fa-chevron-up' : 'fa-chevron-down'")
            .row
            .col-md-12(uib-collapse="!showTasks")
                .row
                    h3 {{:: "EXECUTED_ACTIONS" | translate}}
                    table.table.table-striped.table-hover
                        tr
                            th(width="10%") {{:: "TYPE" | translate}}
                            th(width="60%") {{:: "DESCRIPTION" | translate}}
                            th(width="15%") {{:: "DATE" | translate}}
                            th(width="15%") {{:: "USER" | translate}}
                        tr(dir-paginate="log in user.socialPortal.log | orderBy: '-date' | itemsPerPage:20")
                            td 
                                span.fa.fa-facebook(ng-show="log.type == 'facebook'")
                                span.fa.fa-truck(ng-show="log.type == 'order'")
                                span.fa.fa-instagram(ng-show="log.type == 'instagram'")
                                span.fa.fa-pinterest(ng-show="log.type == 'pinterest'")
                                span.fa.fa-check(ng-show="log.type == 'task'")
                                | &nbsp; {{log.type}}
                            td {{log.title}}
                            td {{log.date | date : "dd-MM-yyyy HH:mm:ss"}}
                            td {{log.user}}
                    dir-pagination-controls(max-size="5" direction-links="true", boundary-links="true")

app/dist/views/retailer/campaigns.html

<div class="container portal retailer" ng-init="getSocialPortal()">
  <h3>{{:: "SOCIAL_MEDIA" | translate}}</h3>
  <div ng-hide="activeTab != 4"><a class="btn btn-dark pull-right" ui-sref="retailer.home">{{:: "BACK" | translate}}</a></div>
  <div ng-hide="activeTab == 4"><a class="btn btn-danger pull-right" ng-click="backTOPromotion()"><i class="fa fa-arrow-left"></i>{{:: "BACK_TO_MY_PROMOTIONS" | translate}}</a></div><br/>
  <div class="row"></div>
  <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert()">
    <p bind-html-compile="alert.msg"></p>
  </div>
  <div class="col-md-12">
    <div><a href="" ng-init="showInfo = false" ng-click="showInfo = !showInfo"><span><b>Explain simple/free promotion (2 min video)<span class="i fa" ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></b></span></a></div><br/>
    <div class="pull-left" uib-collapse="!showInfo">
      <div ng-if="language =='nl'" style="height: 272px">
        <div class="panel-body" style="padding: 0px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/277687909?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='en'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/277687909?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='de'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/277687909?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='fr'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/277687909?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='es'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/277687909?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="btn-group">
            <button class="btn btn btn-md btn-light button-margin-right" id="marketingTourCampaigns" ng-click="activeTab = 1">{{:: "FREE_PROMOTION_IMAGES" | translate}}</button>
            <button class="btn btn btn-md btn-light button-margin-right" id="marketingTourPromotions" ng-click="activeTab = 0">{{:: "PAID_PROMOTION_IMAGES" | translate}}</button>
            <button class="btn btn btn-md btn-light button-margin-right" id="marketingTourAddCampaign" ng-click="openCreateCampaignModal()">{{:: "SET_UP_CAMPAIGN_YOURSELF" | translate}}</button>
          </div>
          <div class="btn-group pull-right">
            <button class="btn btn btn-md btn-light button-margin-right" id="marketingTourSettings" ng-click="activeTab = 3"><i class="fa fa-cog"></i>{{:: "MY_SETTINGS" | translate}}</button>
            <button class="btn btn btn-md btn-light button-margin-right" id="single-button" ng-click="activeTab = 5"><i class="fa fa-list"></i>{{:: "MY_TASKS" | translate}} &nbsp;<span class="badge" ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'">{{openTasks}}</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div><br/>
  <uib-tabset ng-show="user.socialPortal" active="activeTab">
    <uib-tab index="0" ui-sref="tab0" ng-hide="true">
      <uib-tab-heading><i class="fa fa-bullhorn fa-lg"></i> {{:: "PROMOTIONS" | translate}}</uib-tab-heading><br/><b>{{:: "PAID_PROMOTIONS_PREPARED_BY_YOUR_SUPPLIER" | translate}}</b>
      <p style="text">{{:: "EXPLAIN_FACEBOOK_PROMOTION_PRINCIPLE" | translate}}</p>
      <div class="row"><br/>
        <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in campaigns | orderBy: '-startDate'" id="marketingClickOnToAddPromotions">
          <campaign-retailer-block modal="true"></campaign-retailer-block>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1" ui-sref="tab1" heading="{{:: &quot;UPDATES&quot; | translate}}" ng-hide="true"><br/><b>{{:: "UNPAID_PROMOTIONS_PREPARED_BY_YOUR_SUPPLIER" | translate}} </b>
      <p style="text">{{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   </p>
      <div class="row"></div>
      <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in updates | orderBy: '-startDate'">
        <campaign-retailer-block modal="true"></campaign-retailer-block>
      </div>
    </uib-tab>
    <uib-tab class="pull-right" index="3" ui-sref="tab3" ng-hide="true" heading="{{:: &quot;SETTINGS&quot; | translate}}">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h3 ng-init="getBrands()">{{:: "BRANDS" | translate}}</h3>
            <p>{{:: "CHOOSE_BRANDS_TO_PERFORM_TO_REMOVE_CLICK_IT" | translate}}</p><b>{{:: "REFRESH" | translate}}</b>{{:: "PAGE_AFTER_ADDING_BRAND_FOR_NEW_UPDATES" | translate}}<br/><br/>
            <button class="btn btn-default" ng-repeat="brand in user.socialPortal.brands" ng-click="deleteBrandFromSocialPortal($index)" type="button">{{brand.name}}</button>
            <hr/>
            <angucomplete-alt id="ex1" placeholder="{{:: &quot;TEXT_SEARCH_A_BRAND&quot; | translate}}" pause="100" clear-selected="true" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" input-class="form-control"></angucomplete-alt>
          </div>
        </div>
        <div class="row">
          <h3>Facebook</h3>
          <div ng-hide="user.facebook.profileId"><a class="btn btn-primary" href="/api/auth/facebook" target="_blank"><span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK" | translate}}</a></div>
          <div ng-hide="sendRequest"><a class="btn btn-warning" ng-click="sendFbRequest()" target="_blank"><span class="fa fa-facebook"></span>&nbsp; {{:: "SEND_REQUEST_TO_ADMIN" | translate}}</a></div>
          <div ng-hide="!sendRequest"><a class="btn btn-success" ng-click="assignPermission()" target="_blank"><span class="fa fa-facebook"></span>&nbsp; {{:: "ASSIGN_PERMISSION" | translate}}</a></div>
          <div ng-show="user.facebook &amp;&amp; user.facebook.profileId">
            <div class="row"> 
              <div class="col-md-6" ng-init="setFacebook(user.facebook.postTo, false)"><a class="btn btn-primary" ng-click="setFacebook('page', true)" ng-disabled="user.facebook.postTo == &quot;page&quot;">{{:: "POSTING_ON_MY_PAGE" | translate}}</a>
                <div ng-show="user.facebook &amp;&amp; user.facebook.postTo == &quot;page&quot;">
                  <h5>{{:: "SELECT_PAGE" | translate}}</h5>
                  <p ng-show="user.facebook.pageName">{{:: "CURRENT_SET_ON" | translate}}<strong>{{user.facebook.pageName}}</strong></p>
                  <select class="form-control" ng-model="selectedPage" ng-change="setFacebookPage(selectedPage)">
                    <option ng-repeat="page in pages" ng-value="page">
                       {{page.name}}</option>
                  </select>
                </div>
                <p>{{:: "MESSAGES_ARE_PLACED_ON_THE_PAGE_AUTOMATICALLY" | translate}}</p><a class="btn btn-primary" href="/api/auth/facebook/rerequest" target="_blank"> <span class="fa fa-facebook"></span>&nbsp; {{:: "CONNECT_FACEBOOK_AGAIN" | translate}}</a><a class="btn btn-default" ng-click="deleteFacebook()"><span class="fa fa-facebook"></span>&nbsp; {{:: "UNDO_CONNECT_FACEBOOK" | translate}}</a>
              </div>
              <div class="col-md-6">
                <h5>{{:: "PLACE_TEST_MESSAGE" | translate}}</h5><a class="btn btn-success" ng-click="testFacebook()"> <span class="fa fa-facebook"></span>&nbsp; {{:: "TEST_FACEBOOK_CONNECTION" | translate}}</a><br/><br/>
                <div uib-alert="uib-alert" ng-show="testResult" ng-class="'alert-' + testResult.type">
                  <p bind-html-compile="testResult.msg"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--.row(ng-init="getPinterestBoards()")-->
        <div class="row" ng-hide="user.pinterest || 1==1">
          <h3>Pinterest</h3>
          <p>{{:: "BECOMES_ASAP_AVAILABLE" | translate}}</p>
          <div><a class="btn btn-default" href="/api/auth/pinterest" target="_blank"> <span class="fa fa-pinterest"></span>&nbsp; {{:: "CONNECT_PINTEREST" | translate}}</a></div>
          <div ng-show="user.pinterest">
            <div class="row">
              <div class="col-md-6">
                <h5>{{:: "SELECT_A_BOARD" | translate}}</h5>
                <select class="form-control" id="page" name="page" ng-model="user.pinterest.board" ng-change="savePinterestSettings()">
                  <option ng-repeat="board in boards" ng-value="board.id">{{board.name}}</option>
                </select>
                <p>{{:: "MESSAGES_ARE_AUTO_PLACED_ON_THE_CHOSEN_BOARD" | translate}}</p><a class="btn btn-primary" href="/api/auth/pinterest" target="_blank"> <span class="fa fa-pinterest"></span>&nbsp; {{:: "CONNECT_PINTEREST_AGAIN" | translate}}</a>
              </div>
              <div class="col-md-6">
                <h5>{{:: "PLACE_TEST_MESSAGE" | translate}}</h5><a class="btn btn-default" ng-click="testPinterest()"> <span class="fa fa-pinterest"></span>&nbsp; {{:: "TEST_PINTEREST_CONNECTION" | translate}}</a>
                <pre>{{pinterest | json }}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="4" ng-hide="true" heading="{{:: &quot;MY_PROMOTIONS_AND_SETTINGS&quot; | translate}}"><br/><b>{{:: "MY_PROMOTIONS" | translate}}</b>
      <p style="text">{{:: "HERE_AN_OVERVIEW_OF_PAID_CAMPAIGNS" | translate}}</p>
      <div class="row"></div>
      <div class="alert-success" uib-alert="uib-alert" ng-show="user.socialPortal.campaigns &amp;&amp; user.socialPortal.campaigns.length == 0">
        <p><strong>{{:: "YOU_HAVE_NO_CAMPAIGNS_YET" | translate}}</strong></p>
      </div>
      <div class="col-md-3" ng-repeat="item in user.socialPortal.campaigns | orderBy: '-startDate'">
        <campaign-retailer-block></campaign-retailer-block>
      </div>
    </uib-tab>
    <uib-tab class="pull-right" index="5" ui-sref="tab3" ng-hide="true" heading="{{:: &quot;MY_TASKS&quot; | translate}}">
      <div class="col-md-12">
        <div class="row">
          <h3>{{:: "MY_TASKS" | translate}}</h3>
          <div class="col-md-12">
            <hr/>
            <div class="alert-success" uib-alert="uib-alert" ng-show="openTasks &lt;= 0">{{:: "NO_OPEN_TASKS" | translate}}</div>
            <ul class="list-group" ng-show="openTasks &gt; 0">
              <li class="list-group-item" ng-repeat="task in user.socialPortal.taskList | filter:{completed:false} | orderBy: 'date'"><a class="btn btn-green pull-right" ng-click="openTaskModal(task)">{{:: "OPEN" | translate}}</a>
                <h6 class="list-group-item-heading">{{task.title}}</h6>
                <p class="list-group-item-text">{{task.date | date : "dd-MM-yyyy"}}</p>
              </li>
            </ul>
            <hr/><a class="pull-right" ng-init="showTasks = false" ng-click="showTasks = !showTasks">{{:: "HISTORY" | translate}} &nbsp;<span class="i fa" ng-class="showTasks ? 'fa-chevron-up' : 'fa-chevron-down'"></span></a>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-md-12" uib-collapse="!showTasks">
        <div class="row">
          <h3>{{:: "EXECUTED_ACTIONS" | translate}}</h3>
          <table class="table table-striped table-hover">
            <tr>
              <th width="10%">{{:: "TYPE" | translate}}</th>
              <th width="60%">{{:: "DESCRIPTION" | translate}}</th>
              <th width="15%">{{:: "DATE" | translate}}</th>
              <th width="15%">{{:: "USER" | translate}}</th>
            </tr>
            <tr dir-paginate="log in user.socialPortal.log | orderBy: '-date' | itemsPerPage:20">
              <td> <span class="fa fa-facebook" ng-show="log.type == 'facebook'"></span><span class="fa fa-truck" ng-show="log.type == 'order'"></span><span class="fa fa-instagram" ng-show="log.type == 'instagram'"></span><span class="fa fa-pinterest" ng-show="log.type == 'pinterest'"></span><span class="fa fa-check" ng-show="log.type == 'task'"></span>&nbsp; {{log.type}}</td>
              <td>{{log.title}}</td>
              <td>{{log.date | date : "dd-MM-yyyy HH:mm:ss"}}</td>
              <td>{{log.user}}</td>
            </tr>
          </table>
          <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
