app/dist/views/retailer/campaign-plump.html

<div heading="Tasks: Local-plump" ng-show="campaign.strategy == 'local-plump'">
  <div class="col-md-4">
    <div class="task-block orderTask-color" ng-repeat="task in campaign.tasks | filter:{type:'order'}">
      <p class="switch-align-task">
        <label for="activeTask">{{task.completed ? "This task is already executed" : "Execute"}}</label>
        <toggle-switch ng-if="!task.completed" uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' " name="activeTask" ng-init="task.execute = true" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}" ng-model="task.execute" ng-disabled="task.mandatory"></toggle-switch>
      </p><a ui-sref="layout.news-item({nameSlug:item.nameSlug})" href="/news/het-analoge-horloge-is-een-blijvertje"><i class="fa fa-truck fa-5x"></i></a>
      <h4 uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_ORDER_TASK&quot; | translate}}&quot;" ng-bind="task[language].name"></h4>
      <p>{{task[language].description}}</p>
      <p class="date ng-binding"><i class="fa fa-calendar-o"></i> {{task.startDate | date : "dd-MM-yyyy"}} - {{task.endDate | date : "dd-MM-yyyy"}}</p><br/><br/><br/><a class="btn btn-sm btn-primary" href="{{task.orderLink}}" target="_blank">{{:: "ORDER_DIRECT" | translate}}</a>
    </div>
    <div class="row" style="margin-top: 30px; background-color: #f5f9fa"></div>
    <div class="col-md-12" style="background-color: #f5f9fa">
      <p uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_LOCALPLUMP_CAMPAIGN&quot; | translate}}&quot;">{{:: "PROMOTION_STRATEGY" | translate}} {{:: "LOCAL_PLUMP" | translate}} &nbsp;<span class="fa fa-rocket"></span></p>
      <p>{{:: "CAMPAIGN_NUMBER" | translate}}: {{campaign.number}}</p>
      <p>Type: {{campaign.type}} - {{campaign.occasion}}</p><a class="pull-right" href="" ng-init="showInfo = false" ng-click="showInfo = !showInfo"><span>&nbsp; &nbsp;</span><span class="i fa" ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></a>
      <div uib-collapse="!showInfo">
        <p>{{:: "QUESTIONS_CALL_EXPERT" | translate}} +31 345 631 776</p>
        <hr/>
        <p>{{:: "QUESTIONS_CALL_DISTRIBUTOR" | translate}}</p>
        <p>{{:: "CALL" | translate}}: {{campaign.wholesaler.telephoneNumber}}</p>
        <p>{{:: "DISTRIBUTOR" | translate}}: {{campaign.wholesaler.name}}</p>
        <p>{{campaign.description}}</p>
        <p>{{campaign.url}}</p>
        <p>{{:: "CAMPAIGN_PUBLISHED_FROM" | translate}} {{campaign.startDate | date : "dd-MM-yyyy"}} {{:: "TILL" | translate}} {{campaign.endDate | date : "dd-MM-yyyy"}}</p>
      </div><br/><a class="btn btn-sm btn-light" ng-click="deleteCampaign()">{{:: "DELETE_CAMPAIGN" | translate}}</a><br/>
    </div>
  </div>
  <div class="col-md-4 facebook-color" style="background-color: #f5f9fa" ng-repeat="task in campaign.tasks | filter:{type: '!order'}" ng-init="task.outerIndex = $index">
    <p class="switch-align-task">
      <label for="activeTask">{{task.completed ? "This task is already executed" : "Excecute"}}</label>
      <toggle-switch ng-if="!task.completed" uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' " name="activeTask" ng-init="task.mandatory ? task.execute = true : task.execute = false" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}" ng-model="task.execute" ng-disabled="task.mandatory"></toggle-switch>
    </p>
    <div class="block-small news-item-block">
      <div class="uib-carousel" uib-carousel="uib-carousel" active="activeSlide" interval="7000">
        <div uib-slide="uib-slide" ng-repeat="slide in task.images" ng-init="task.inerIndex = $index" index="$index" style="height:220px; margin:0 auto;"><img ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}" id="{{task.outerIndex}}{{task.inerIndex}}"/></div>
      </div>
    </div>
    <div class="news-item-block-content">
      <input class="form-control" ng-disabled="task.completed" type="text" ng-model="task[language].name" placeholder="{{:: &quot;PROMOTION_TITLE&quot; | translate}}"/>
      <textarea class="product-short-description form-control short" type="text" placeholder="{{:: &quot;CAMPAIGN_DESCRIPTION&quot; | translate}}" ng-model="task['imageDesc'].description" ng-change="validation.campaignTitle = false" id="marketingTourAddControl"></textarea>
      <hr/><b><span class="task-heading-content"><i class="fa fa-facebook-square" ng-if="task.type =='facebook'"></i><i class="fa fa-instagram" ng-if="task.type =='instagram'"></i><i class="fa fa-pinterest-square" ng-if="task.type =='pinterest'"></i><i class="fa fa-cube" ng-if="task.type =='order'"></i></span><span> &nbsp; {{:: "PROMOTION_INSTRUCTIONS" | translate}}</span></b>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_TITLE" | translate}}:</label>
        <input class="form-control" type="text" ng-model="task['campaignName'].name" ng-change="validation.campaignObjective = false" uib-tooltip-html="&quot;{{:: &quot;REQUIREMENTS_TITLE&quot; | translate}}&quot;"/>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_PURPOSE" | translate}}:</label>
        <select class="form-control" ng-change="purposeFunc(task)" ng-model="task.fbPromotionSettings.goal" ng-init="getCountryInit()" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_GOAL_CAMPAIGN&quot; | translate}}&quot;">
          <option ng-repeat="obj in imgObjectiveArray" value="{{obj}}">{{:: obj | translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_TARGET_AGE" | translate}}:</label>
        <div class="input-group"><span class="input-group-btn">
            <input class="form-control" id="agemax" type="number" placeholder="Min Age" ng-model="task.fbPromotionSettings.ageMin" min="13" ng-change="ageMin(task)"/></span><span class="input-group-btn">
            <input class="form-control" id="agemin" type="number" placeholder="Max Age" ng-model="task.fbPromotionSettings.ageMax" min="13" ng-min="minValue" ng-change="ageMax(task)"/></span></div>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_GENDER" | translate}}:</label>
        <select class="form-control" ng-change="genderFunc(task)" ng-model="task.fbPromotionSettings.gender" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_GENDER_CAMPAIGN&quot; | translate}}&quot;">
          <option value="0">{{:: "All" | translate}}</option>
          <option value="1">{{:: "MALE" | translate}}</option>
          <option value="2">{{:: "FEMALE" | translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_INTEREST" | translate}}:</label>
        <angucomplete-alt pause="100" selected-object="interestSelected" local-data="interestList" local-search="searchInterest" title-field="name" minlength="2" match-class="highlight" style="width: 500px;" input-class="form-control"></angucomplete-alt>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_COUNTRY" | translate}}:</label>
        <angucomplete-alt pause="100" selected-object="countrySelected" local-data="countryList" local-search="searchCountry" title-field="name" minlength="2" match-class="highlight" style="width: 500px;" input-class="form-control"></angucomplete-alt>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_REGION" | translate}}:</label>
        <angucomplete-alt pause="100" selected-object="regionSelected" local-data="regionList" local-search="searchRegion" title-field="name" minlength="2" match-class="highlight" style="width: 500px;" input-class="form-control"></angucomplete-alt>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_CITY" | translate}}:</label>
        <angucomplete-alt pause="100" selected-object="citySelected" local-data="cityList" local-search="searchCity" title-field="name" minlength="2" match-class="highlight" style="width: 500px;" input-class="form-control"></angucomplete-alt>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_LOCATION" | translate}} {{:: "KM_AROUND_YOUR_SHOP" | translate}}:</label>
        <input class="form-control" id="dist" type="number" ng-model="task.fbPromotionSettings.distance" ng-change="distance(task)" min="13" max="80" placeholder="NO_OF_KM" ng-init="task.fbPromotionSettings.distance = 25"/>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_BUDGET" | translate}}</label>
        <div class="input-group"><span class="input-group-btn">
            <input class="form-control" id="amount" type="number" ng-model="task.fbPromotionSettings.budget" placeholder="euro"/></span><span class="input-group-btn">
            <select class="form-control" ng-model="task.fbPromotionSettings.perDayOrSpread" ng-change="perDayOrSpread(task)">
              <option value="perDay">{{:: "Per day" | translate}}</option>
            </select></span></div>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_WEBSITE_URL" | translate}}:</label>
        <input class="form-control" id="dist" type="url" ng-model="task.fbPromotionSettings.siteUrl" placeholder="www.example.com"/>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_WEBSITE_HEADLINE" | translate}}:</label>
        <input class="form-control" id="dist" type="text" ng-model="task.fbPromotionSettings.headline"/>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_WEBSITE_DESCRIPTION" | translate}}:</label>
        <input class="form-control" id="dist" type="text" ng-model="task.fbPromotionSettings.newsFeed"/>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_CALL_TO_ACTION" | translate}}:</label>
        <select class="form-control" ng-change="calltoactionFunc(task)" ng-model="task.fbPromotionSettings.callToAction" uib-tooltip-html="&quot;{{:: &quot;EXPLAIN_GOAL_CAMPAIGN&quot; | translate}}&quot;">
          <option ng-repeat="call in imgCallToActionArray" value="{{call}}">{{:: call | translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_STARTDATE" | translate}}:</label>
        <div class="input-group">
          <input class="form-control" ng-disabled="date" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.fbPromotionSettings.promotionStartDate" ng-change="getStartDate(task)" ng-init="initPromotionTaskDate(task)" datepicker-options="{maxDate: task.fbPromotionSettings.promotionEndDate}" is-open="startDate" timepicker-options="timepickerOptions" uib-tooltip-html="&quot;{{:: &quot;CAMPAIGNS_LAUNCHED_ON_WORKINGDAYS&quot; | translate}}&quot;" close-text="Sluiten"/><span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="startDate =! startDate" ng-disabled="false"><span class="i fa fa-calendar"></span></button></span>
        </div>
      </div>
      <div class="form-group">
        <label>{{:: "CAMPAIGN_ENDDATE" | translate}}:</label>
        <div class="input-group">
          <input class="form-control" ng-disabled="date" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.fbPromotionSettings.promotionEndDate" ng-change="getEndDate(task)" ng-init="initPromotionTaskDate(task)" datepicker-options="{minDate: task.fbPromotionSettings.promotionStartDate || today}" is-open="endDate" timepicker-options="timepickerOptions" close-text="Sluiten"/><span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="endDate =! endDate" ng-disabled="false"><span class="i fa fa-calendar"></span></button></span>
        </div>
      </div>
      <button class="btn btn-md btn-dark add-to-cart" type="button" ng-click="campaignPaidCreate(task,$index,1)" ng-init="edtCampCreate_[$index+'_1'] = false">{{:: "EXEC_CAMPAIGN" | translate}}</button><i class="fa fa-spinner fa-spin" ng-show="showSpinner_[$index+'_1']" style="margin-left: 21px;font-size: xx-large;position: absolute"></i>
      <button class="btn btn-md btn-dark add-to-cart" type="button" ng-click="openCreateCampaignModal(false)" ng-show="edtCampCreate_[$index+'_1']">{{:: "PREVIEW" | translate}}</button>
    </div>
  </div>
</div>

app/src/views/retailer/campaign-plump.pug
//-LOCALE STORTBUI
div(heading="Tasks: Local-plump", ng-show="campaign.strategy == 'local-plump'")
    .col-md-4
        .task-block.orderTask-color(ng-repeat="task in campaign.tasks | filter:{type:'order'}")
            p.switch-align-task
                label(for="activeTask") {{task.completed ? "This task is already executed" : "Execute"}}
                toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.execute = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute", ng-disabled="task.mandatory")
            a(ui-sref='layout.news-item({nameSlug:item.nameSlug})', href='/news/het-analoge-horloge-is-een-blijvertje')
                i.fa.fa-truck.fa-5x
            h4(uib-tooltip-html='"{{:: "EXPLAIN_ORDER_TASK" | translate}}"' ng-bind="task[language].name")
            p {{task[language].description}}
            p.date.ng-binding
                i.fa.fa-calendar-o
                |  {{task.startDate | date : "dd-MM-yyyy"}} - {{task.endDate | date : "dd-MM-yyyy"}}
            br
            br
            br
            a(href="{{task.orderLink}}" target='_blank').btn.btn-sm.btn-primary {{:: "ORDER_DIRECT" | translate}}
        .row(style="margin-top: 30px; background-color: #f5f9fa")
        .col-md-12(style='background-color: #f5f9fa')
            //-h5 {{:: "QUESTIONS" | translate}}
            p(uib-tooltip-html='"{{:: "EXPLAIN_LOCALPLUMP_CAMPAIGN" | translate}}"')
                | {{:: "PROMOTION_STRATEGY" | translate}} {{:: "LOCAL_PLUMP" | translate}} &nbsp;
                span.fa.fa-rocket
            p {{:: "CAMPAIGN_NUMBER" | translate}}: {{campaign.number}}
            p Type: {{campaign.type}} - {{campaign.occasion}}
            a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo").pull-right
                span &nbsp; &nbsp;
                span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
            div(uib-collapse="!showInfo")
                p {{:: "QUESTIONS_CALL_EXPERT" | translate}} +31 345 631 776
                hr
                p {{:: "QUESTIONS_CALL_DISTRIBUTOR" | translate}}
                p {{:: "CALL" | translate}}: {{campaign.wholesaler.telephoneNumber}}
                p {{:: "DISTRIBUTOR" | translate}}: {{campaign.wholesaler.name}}
                p {{campaign.description}}
                p {{campaign.url}}
                p {{:: "CAMPAIGN_PUBLISHED_FROM" | translate}} {{campaign.startDate | date : "dd-MM-yyyy"}} {{:: "TILL" | translate}} {{campaign.endDate | date : "dd-MM-yyyy"}}
            br
            a.btn.btn-sm.btn-light(ng-click="deleteCampaign()") {{:: "DELETE_CAMPAIGN" | translate}}
            br
    //-Locale stortbui post 1
    .col-md-4.facebook-color(style='background-color: #f5f9fa' ng-repeat="task in campaign.tasks | filter:{type: '!order'}" ng-init="task.outerIndex = $index")
        p.switch-align-task
            label(for="activeTask") {{task.completed ? "This task is already executed" : "Excecute"}}
            toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.mandatory ? task.execute = true : task.execute = false", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute", ng-disabled="task.mandatory")
        .block-small.news-item-block
            .uib-carousel(uib-carousel active="activeSlide" interval="7000" )
                div(uib-slide ng-repeat="slide in task.images" ng-init="task.inerIndex = $index" index="$index", style="height:220px; margin:0 auto;")
                    img(ng-src="{{awsUrl + slide.src}}"  alt="{{slide.alt}}" id="{{task.outerIndex}}{{task.inerIndex}}")
        .news-item-block-content
            input(ng-disabled="task.completed", type="text", ng-model="task[language].name", placeholder='{{:: "PROMOTION_TITLE" | translate}}').form-control
            textarea.product-short-description.form-control.short(type='text', placeholder='{{:: "CAMPAIGN_DESCRIPTION" | translate}}', ng-model="task['imageDesc'].description", ng-change='validation.campaignTitle = false')#marketingTourAddControl
            hr
            b
                span.task-heading-content
                    i.fa.fa-facebook-square(ng-if="task.type =='facebook'")
                    i.fa.fa-instagram(ng-if="task.type =='instagram'")
                    i.fa.fa-pinterest-square(ng-if="task.type =='pinterest'")
                    i.fa.fa-cube(ng-if="task.type =='order'")
                span  &nbsp; {{:: "PROMOTION_INSTRUCTIONS" | translate}}
            .form-group
                label {{:: "CAMPAIGN_TITLE" | translate}}:
                input.form-control(type='text', ng-model="task['campaignName'].name", ng-change='validation.campaignObjective = false', uib-tooltip-html='"{{:: "REQUIREMENTS_TITLE" | translate}}"')
            .form-group
                label {{:: "CAMPAIGN_PURPOSE" | translate}}:
                select.form-control(ng-change='purposeFunc(task)', ng-model='task.fbPromotionSettings.goal', ng-init='getCountryInit()', uib-tooltip-html='"{{:: "EXPLAIN_GOAL_CAMPAIGN" | translate}}"')
                    option(ng-repeat='obj in imgObjectiveArray', value='{{obj}}') {{:: obj | translate}}
            .form-group
                label {{:: "CAMPAIGN_TARGET_AGE" | translate}}:
                .input-group
                    span.input-group-btn
                        input#agemax.form-control(type='number', placeholder='Min Age', ng-model='task.fbPromotionSettings.ageMin', min='13', ng-change='ageMin(task)')
                    span.input-group-btn
                        input#agemin.form-control(type='number', placeholder='Max Age', ng-model='task.fbPromotionSettings.ageMax',min='13', ng-min='minValue', ng-change='ageMax(task)')
            .form-group
                label {{:: "CAMPAIGN_GENDER" | translate}}:
                select.form-control(ng-change='genderFunc(task)', ng-model='task.fbPromotionSettings.gender', uib-tooltip-html='"{{:: "EXPLAIN_GENDER_CAMPAIGN" | translate}}"')
                    option(value='0') {{:: "All" | translate}}
                    option(value='1') {{:: "MALE" | translate}}
                    option(value='2') {{:: "FEMALE" | translate}}
            .form-group
                label {{:: "CAMPAIGN_INTEREST" | translate}}:
                angucomplete-alt(pause='100', selected-object='interestSelected', local-data='interestList', local-search='searchInterest', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
            .form-group
                label {{:: "CAMPAIGN_COUNTRY" | translate}}:
                angucomplete-alt(pause='100', selected-object='countrySelected', local-data='countryList', local-search='searchCountry', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
            .form-group
                label {{:: "CAMPAIGN_REGION" | translate}}:
                angucomplete-alt(pause='100', selected-object='regionSelected', local-data='regionList', local-search='searchRegion', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
            .form-group
                label {{:: "CAMPAIGN_CITY" | translate}}:
                angucomplete-alt(pause='100', selected-object='citySelected', local-data='cityList', local-search='searchCity', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
            .form-group
                label {{:: "CAMPAIGN_LOCATION" | translate}} {{:: "KM_AROUND_YOUR_SHOP" | translate}}:
                input#dist.form-control(type='number', ng-model='task.fbPromotionSettings.distance', ng-change='distance(task)',min='13', max='80', placeholder='NO_OF_KM', ng-init='task.fbPromotionSettings.distance = 25')
            .form-group
                label {{:: "CAMPAIGN_BUDGET" | translate}}
                .input-group
                    span.input-group-btn
                        input#amount.form-control(type='number', ng-model='task.fbPromotionSettings.budget', placeholder='euro')
                    span.input-group-btn
                        select.form-control(ng-model='task.fbPromotionSettings.perDayOrSpread', ng-change='perDayOrSpread(task)')
                            option(value='perDay') {{:: "Per day" | translate}}
            .form-group
                label {{:: "CAMPAIGN_WEBSITE_URL" | translate}}:
                input#dist.form-control(type='url', ng-model='task.fbPromotionSettings.siteUrl', placeholder="www.example.com")
            .form-group
                label {{:: "CAMPAIGN_WEBSITE_HEADLINE" | translate}}:
                input#dist.form-control(type='text', ng-model='task.fbPromotionSettings.headline')
            .form-group
                label {{:: "CAMPAIGN_WEBSITE_DESCRIPTION" | translate}}:
                input#dist.form-control(type='text', ng-model='task.fbPromotionSettings.newsFeed')
            .form-group
                label {{:: "CAMPAIGN_CALL_TO_ACTION" | translate}}:
                select.form-control(ng-change='calltoactionFunc(task)', ng-model='task.fbPromotionSettings.callToAction', uib-tooltip-html='"{{:: "EXPLAIN_GOAL_CAMPAIGN" | translate}}"')
                    option(ng-repeat='call in imgCallToActionArray', value='{{call}}') {{:: call | translate}}
            .form-group
                label {{:: "CAMPAIGN_STARTDATE" | translate}}:
                .input-group
                    input.form-control(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionStartDate', ng-change='getStartDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options="{maxDate: task.fbPromotionSettings.promotionEndDate}", is-open='startDate', timepicker-options='timepickerOptions', uib-tooltip-html='"{{:: "CAMPAIGNS_LAUNCHED_ON_WORKINGDAYS" | translate}}"', close-text='Sluiten')
                    span.input-group-btn
                        button.btn.btn-default(type='button', ng-click='startDate =! startDate', ng-disabled='false')
                            span.i.fa.fa-calendar
            .form-group
                label {{:: "CAMPAIGN_ENDDATE" | translate}}:
                .input-group
                    input.form-control(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionEndDate', ng-change='getEndDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options="{minDate: task.fbPromotionSettings.promotionStartDate || today}", is-open='endDate', timepicker-options='timepickerOptions', close-text='Sluiten')
                    span.input-group-btn
                        button.btn.btn-default(type='button', ng-click='endDate =! endDate', ng-disabled='false')
                            span.i.fa.fa-calendar
            button.btn.btn-md.btn-dark.add-to-cart(type='button', ng-click='campaignPaidCreate(task,$index,1)',ng-init="edtCampCreate_[$index+'_1'] = false") {{:: "EXEC_CAMPAIGN" | translate}}
            i.fa.fa-spinner.fa-spin(ng-show="showSpinner_[$index+'_1']", style='margin-left: 21px;font-size: xx-large;position: absolute')
            button.btn.btn-md.btn-dark.add-to-cart(type='button', ng-click='openCreateCampaignModal(false)', ng-show="edtCampCreate_[$index+'_1']") {{:: "PREVIEW" | translate}}
