app/src/views/retailer/import.pug
.container
    .row
        .col-md-12(ng-init="getImport()")
            h3 {{:: "IMPORTS_MADE" | translate}}
                a.btn.btn-dark.pull-right(ui-sref="retailer.imports") {{:: "BACK" | translate}}
            
            uib-tabset(active="activeTab")
                uib-tab(index='0', heading='{{:: "SUCCESSFULLY_IMPORTED" | translate}}')
                    .row
                        .col-md-4
                            p {{:: "STORE_NAME" | translate}}: {{currentShop.name}}
                            br
                        .col-md-4
                            h5 {{:: "CREATED_BY" | translate}}
                            pre {{collection.uploader | json}}
                            a.btn.btn-md.btn-default(ui-sref="retailer.user({userId:collection.uploader._id})") {{:: "OPEN_USER" | translate}}
                        .col-md-4
                            h5  {{:: "IMPORTED_ON" | translate}}
                            p {{:: "TIME" | translate}}: 17-5-2018 10.26 uur
                    .row
                        p {{:: "THERE_ARE" | translate}} 42 {{:: "_PRODUCTS_HAVE_BEEN_CREATED" | translate}}
                        h5 {{:: "NEWLY_IMPORTED" | translate}}
                        ul.list-group
                            li.list-group-item {{:: "PRODUCT" | translate}} 1        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95
                            li.list-group-item {{:: "PRODUCT" | translate}} 2
                            li.list-group-item {{:: "PRODUCT" | translate}} 4        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95
                            li.list-group-item {{:: "PRODUCT" | translate}} 6        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95
                            li.list-group-item {{:: "PRODUCT" | translate}} 8
                        //- table list of new products that open themselves in a new tab
                        br
                        button(ng-click="loadMore()").btn {{:: "SHOWS_ALL_NEWLY_IMPORTED_PRODUCTS" | translate}}
                    .row
                        h5 {{:: "ALREADY_EXISTED_IN_DATABASE" | translate}}
                        ul.list-group
                            li.list-group-item {{:: "PRODUCT" | translate}} 5        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95
                            li.list-group-item {{:: "PRODUCT" | translate}} 7
                        //- table list of modified products that open themselves in a new tab 
                        br
                        button(ng-click="loadMore()").btn {{:: "SHOWS_ALL_CHANGED_PRODUCTS" | translate}}
                uib-tab(index='1', heading='{{:: "ERROR_MESSAGES" | translate}}')
                    .row
                        p {{:: "THE_FOLLOWING_RULES_GAVE_RISE_TO_ERRORS" | translate}}:
                        ul
                            li Product Nummer: P.1237, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. 
                            li Product Nummer: P.1759, Error: Error while download or upload photo:Not Found , CSV Image Field: Picture 1
                            li Product Nummer: P.1947, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. 
                            li Product Nummer: P.1548, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. 
                            li Product Nummer: P.1623.148G, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes.
                            li Product Nummer: P.1025, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes.
                            li Product Nummer: P.1591, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. 
                            li Product Nummer: P.1892, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. 
                uib-tab(index='2', heading='{{:: "FILE_USED" | translate}}')
                    .row
                        h5 {{:: "FILE_USED" | translate}}
                        br
                        a.btn.btn-success.btn-lg(ui-sref="", target="_blank") {{:: "DOWNLOAD_USED_FILE" | translate}} 
                        br
            .row
                br
                a.btn.btn-lg.btn-default.pull-right(ng-click="cancel()") {{:: "CANCEL" | translate}}
                //- delete function below cant delete all imported products but should delete the new imported products and deletes the versions which where added on the deleted products (or give these versions the status: unverified, and verifyLater= false so these don't show up in the admin overview. Or maby this approach gives problems the next time when a third version is added to this product. So only interesting if its very easy and skipping an added version is possible.) .
                a.btn.btn-lg.btn-warning(ng-click="deleteImport()") {{:: "REMOVE_ALL_IMPORTED_PRODUCTS" | translate}}

app/dist/views/admin/import.html

<div class="container">
  <div class="row">
    <div class="col-md-12" ng-init="getImport()">
      <h3>{{:: "IMPORTS_MADE" | translate}}<a class="btn btn-dark pull-right" ui-sref="admin.imports">{{:: "BACK" | translate}}</a></h3>
      <uib-tabset active="activeTab">
        <uib-tab index="0" heading="{{:: &quot;SUCCESSFULLY_IMPORTED&quot; | translate}}">
          <div class="row">
            <div class="col-md-4">
              <h5>{{:: "DONE_BY" | translate}}: </h5>
              <p>{{:: "COMPANY_NAME" | translate}}: {{campaign.wholesaler.name}}</p>
              <p>{{:: "STORE_NAME" | translate}}: {{shop.name}}</p>
              <p>Admin</p><br/>
            </div>
            <div class="col-md-4">
              <h5>{{:: "CREATED_BY" | translate}}</h5>
              <pre>{{collection.uploader | json}}</pre><a class="btn btn-md btn-default" ui-sref="admin.user({userId:collection.uploader._id})">{{:: "OPEN_USER" | translate}}</a>
            </div>
            <div class="col-md-4">
              <h5> {{:: "IMPORTED_ON" | translate}}</h5>
              <p>{{:: "TIME" | translate}}: 17-5-2018 10.26 uur</p>
            </div>
          </div>
          <div class="row">
            <p>{{:: "THERE_ARE" | translate}} 42 {{:: "_PRODUCTS_HAVE_BEEN_CREATED" | translate}}</p>
            <h5>{{:: "NEWLY_IMPORTED" | translate}}</h5>
            <ul class="list-group">
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 1        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 2</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 4        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 6        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 8</li>
            </ul><br/>
            <button class="btn" ng-click="loadMore()">{{:: "SHOWS_ALL_NEWLY_IMPORTED_PRODUCTS" | translate}}</button>
          </div>
          <div class="row">
            <h5>{{:: "ALREADY_EXISTED_IN_DATABASE" | translate}}</h5>
            <ul class="list-group">
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 5        {{:: "STOCK_HAS_CHANGED_TO" | translate}}: 3     {{:: "SHOP_PRICE_HAS_CHANGED_TO" | translate}}: €129,95</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 7</li>
            </ul><br/>
            <button class="btn" ng-click="loadMore()">{{:: "SHOWS_ALL_CHANGED_PRODUCTS" | translate}}</button>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="{{:: &quot;ERROR_MESSAGES&quot; | translate}}">
          <div class="row">
            <p>{{:: "THE_FOLLOWING_RULES_GAVE_RISE_TO_ERRORS" | translate}}:</p>
            <ul>
              <li>Product Nummer: P.1237, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. </li>
              <li>Product Nummer: P.1759, Error: Error while download or upload photo:Not Found , CSV Image Field: Picture 1</li>
              <li>Product Nummer: P.1947, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. </li>
              <li>Product Nummer: P.1548, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. </li>
              <li>Product Nummer: P.1623.148G, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes.</li>
              <li>Product Nummer: P.1025, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes.</li>
              <li>Product Nummer: P.1591, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. </li>
              <li>Product Nummer: P.1892, Error: This product was imported but already existed in the PrismaNote Database. Therefore we added the existing verified product to your assortment. One of our employees will look at the imported existing product information within 3 working days to verify the proposed and imported changes. </li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab index="2" heading="{{:: &quot;FILE_USED&quot; | translate}}">
          <div class="row">
            <h5>{{:: "FILE_USED" | translate}}</h5><br/><a class="btn btn-success btn-lg" ui-sref="" target="_blank">{{:: "DOWNLOAD_USED_FILE" | translate}} </a><br/>
          </div>
        </uib-tab>
      </uib-tabset>
      <div class="row"><br/><a class="btn btn-lg btn-default pull-right" ng-click="cancel()">{{:: "CANCEL" | translate}}</a><a class="btn btn-lg btn-warning" ng-click="deleteImport()">{{:: "REMOVE_ALL_IMPORTED_PRODUCTS" | translate}}</a></div>
    </div>
  </div>
</div>
