app/src/views/retailer/index.pug
doctype html
html(ng-app="prismanoteApp")
	head
		base(href="/admin")
		title PrismaNote {{:: "TEXT_HEAD_RETAILERPORTAL" | translate}}
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
		meta(name="google-site-verification" content="MoDRtcSrHyMvq8gSl4NezZbjOcYObx8RSbLSKdR8b0s")
		link(rel='stylesheet', href='/views/css/style.css')
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/angular.bootstrap/2.4.0/ui-bootstrap-tpls.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/hogan.js/3.0/hogan.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js")
		script(type="text/javascript", src="/scripts/scripts.js")
		script(type="text/javascript", src="/scripts/libs.min.js")
	
		// jolmer
		style.
			.rating {
			unicode-bidi: bidi-override;
			direction: rtl;
			}
			.rating > span {
			display: inline-block;
			position: relative;
			width: 1.1em;
			}

			.rating > span:hover:before,
			.rating > span:hover ~ span:before {
			content: "\2605";
			position: absolute;
			}

	body(ng-cloak)
		.top-bar.row(ng-class="{'testing': testing()}")
			.test(ng-show="testing()") {{:: "TEST_ENVIRONMENT" | translate}}
			.container
				.col-md-2
					.top-bar-currency
						a(ui-sref="")
							i.fa.fa-pencil
							| {{:: "OVERVIEW" | translate}}:
							i.fa.fa-angle-down
						.top-bar-dropdown
							ul
								li
									a(href="/retailer/home") 
										| {{:: "TO_OVERVIEW" | translate}}
								li
									a(href="/retailer/upgrade") 
										| {{:: "UPGRADE" | translate}}
								hr
								li
									b {{:: "MARKETING" | translate}}
								li
									a(href="/retailer/campaigns", ng-click='editSection = "actions"') {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/news", ng-click='editSection = "news"'  ng-class="{'not-active' : user.shops.length < 1}") {{:: "NEWS" | translate}}
								hr
								li
									b {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/assortment" ng-click='editSection = "assortment"'  ng-class="{'not-active' : user.shops.length < 1}") {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/orders", ng-click='editSection = "orders"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/financial", ng-click='editSection = "financial"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "FINANCIAL" | translate}}
								hr
								li
									b {{:: "TEXT_HEAD_CUSTOMERS_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/loyalty-portal", ng-click='editSection = "loyalty-portal"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "CRM" | translate}}
								li
									a(ui-sref="{{getShopType()}}.loyalty-repair({nameSlug: selectedShop})", ng-click='editSection = "loyalty-portal"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "REPAIR_SIGN_UP" | translate}}	
								li
									a(ui-sref="{{getShopType()}}.loyalty-watches({nameSlug: selectedShop})", ng-click='editSection = "loyalty-portal"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "EMAIL_WATCH_WARRANTY_CARD" | translate}}	
								li
									a(ui-sref="{{getShopType()}}.loyalty-other({nameSlug: selectedShop})", ng-click='editSection = "loyalty-portal"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "SEND_A_PHOTO_RECEIPT_BY_EMAIL" | translate}}	
								hr
								li
									b {{:: "PRISMANOTE_CHECKOUT" | translate}}
								li
									a(href="https://dashboard.countrhq.com" target="_blank", ng-click='editSection = "statistics"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "STATISTICS_COUNTR" | translate}}
								hr
								li
									b {{:: "OTHER" | translate}}
								li
									a(href="/retailer/shop", ng-click='editSection = "shop"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "TEXT_HEAD_MYSHOP_RETAILER_HOME" | translate}}
								li
									a(href="/retailer/suppliers", ng-click='editSection = "suppliers"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}
								li(ng-hide="currentShop.isPremium")
									a(ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})" ng-class="{'not-active' : user.shops.length < 1}") {{:: "WEBSITE" | translate}}
								li(ng-hide="currentShop.isPremium")
									a(href="/retailer/shop", ng-click='editSection = "shop"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "UPGRADE_TO_PRO" | translate}}
								li(ng-if="currentShop.isPremium")
									a(href="{{currentShop.proShopUrl}}", target='_blank' ng-class="{'not-active' : user.shops.length < 1}") {{:: "MY_WEBSITE" | translate}}
				.col-md-4
					select(ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops", ng-change="getShop(selectedShop)", ng-show="user.shops.length").form-control#generalTourMyShopMenu
				.col-md-2
					.top-bar-language
						a(href="")
							| {{language | uppercase}}
							i.fa.fa-angle-down
						.top-bar-dropdown
							ul
								li
									a(href='', ng-click='changeLanguage("nl")') NL - {{:: "DUTCH" | translate}}
								li
									a(href='', ng-click='changeLanguage("en")') EN - {{:: "ENGLISH" | translate}}
								li
									a(href='', ng-click='changeLanguage("de")') DE - {{:: "GERMAN" | translate}}
								li
									a(href='', ng-click='changeLanguage("fr")') FR - {{:: "FRENCH" | translate}}
								li
									a(href="", ng-click='changeLanguage("es")') ES - {{:: "SPANISH" | translate}}
				.col-md-4
				span#spanRole(style="display:none;")
					| {{ user.role }}
				span#spanEmail(style="display:none;")
					| {{ user.email }}	
				.top-bar-login
					a(href="" ng-controller="authController" ng-click="openLoginModal()")
						i.fa.fa-user.pull-left
						| {{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "LOGIN_OR_REGISTER" | translate }}
		section.page-title.style-2
			.container.relative.clearfix
				.row
				br

				//- .row
				//- 	.col-md-12
				//- 		ol(breadcrumbs).breadcrumb.breadcrumb-retailer
				//- 			a(ui-sref="retailer.home") {{:: "TEXT_HEAD_RETAILERPORTAL" | translate}} /
				//- 			li
				//- 				div
				//- 					p
				//- 						strong(ng-show="user.shops.length == 1" style="padding-left: 15px") {{currentShop.name}}
				//- 					p
				//- 						select(ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops", ng-change="getShop(selectedShop)", ng-show="user.shops.length > 1").form-control
				//- 							//- option(ng-repeat="shop in user.shops", ng-value="{{shop.nameSlug}}") {{shop.nameSlug}}
				//- 			li(ng-repeat="b in breadcrumbs")
				//- 				a(ui-sref="{{b.stateName}}", ng-hide="$last") {{b.text}}
				//- 				a(ng-show="$last") {{b.text}}
				.row
					.col-md-12
						div(uib-alert, ng-show="currentShop && !currentShop.isPublished").alert-warning 
							strong {{:: "TEXT_HEAD_PAYATTENTION_RETAILER_HOME" | translate}}
							|&nbsp; {{:: "TEXT_HEAD_SHOPNOTACTIVE_RETAILER_HOME" | translate}}
							a(ui-sref="retailer.myshop")
								|&nbsp; {{:: "TEXT_HEAD_CLICKHERETOACTIVATEYOURSHOP_RETAILER_HOME" | translate}}
						div(ng-if="shopSaved == true").upload-response
							div(uib-alert dismiss-on-timeout="1000" close="closeAlert()").alert-success
								i.fa.fa-check.fa-lg
								|&nbsp; {{:: "TEXT_HEAD_SAVECHANGES_RETAILER_HOME" | translate}}
						div(uib-alert ng-show="user.shops.length < 1").alert-warning
							i.fa.fa-exclamation.fa-lg
							|&nbsp; {{:: "YOUR_ACCOUNT_DOES_NOT_YET_HAVE_ANY_SHOPS_UNDER_MANAGEMENT_THIS_MEANS_THAT_CERTAIN_FUNCTIONS_ARE_NOT_YET_WORKING_WE_WILL_CONTACT_YOU_WITHIN_TWO_WORKING_DAYS" | translate}}
		ui-view
		.row
		#PrivateTab
		#contextFirst(style='display:none;')
h3(style='text-align:center;')
	// :::::::::: Yo Yo Chat Live ::::::::::
.panel.col-md-3(style='float:left;').hidden
	#context(style='display:none;')
		#leftbar
			.panel.panel-default
				.panel-heading
					span.glyphicon.glyphicon-user
					span#totalUser.badge
					|  {{:: "USERS_ONLINE" | translate}}
				.panel-body.bar(style='display:none;')
					ul#userList.list-group

app/dist/views/retailer/index.html
<!DOCTYPE html>
<html ng-app="prismanoteApp">
  <head>
    <base href="/admin">
    <title>PrismaNote {{:: "TEXT_HEAD_RETAILERPORTAL" | translate}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="google-site-verification" content="MoDRtcSrHyMvq8gSl4NezZbjOcYObx8RSbLSKdR8b0s">
    <link rel="stylesheet" href="/views/css/style.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/angular.bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/hogan.js/3.0/hogan.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
    <script type="text/javascript" src="/scripts/libs.min.js"></script>
    <!-- jolmer-->
    <style>
      .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      }
      .rating > span {
      display: inline-block;
      position: relative;
      width: 1.1em;
      }
      
      .rating > span:hover:before,
      .rating > span:hover ~ span:before {
      content: "\2605";
      position: absolute;
      }
      
    </style>
  </head>
  <body ng-cloak>
    <div class="top-bar row" ng-class="{'testing': testing()}">
      <div class="test" ng-show="testing()">{{:: "TEST_ENVIRONMENT" | translate}}</div>
      <div class="container">
        <div class="col-md-2">
          <div class="top-bar-currency"><a ui-sref=""><i class="fa fa-pencil"></i>{{:: "OVERVIEW" | translate}}:<i class="fa fa-angle-down"></i></a>
            <div class="top-bar-dropdown">
              <ul>
                <li><a href="/retailer/home">
                     {{:: "TO_OVERVIEW" | translate}}</a></li>
                <li><a href="/retailer/upgrade">
                     {{:: "UPGRADE" | translate}}</a></li>
                <hr>
                <li><b>{{:: "MARKETING" | translate}}</b></li>
                <li><a href="/retailer/campaigns" ng-click="editSection = &quot;actions&quot;">{{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}</a></li>
                <li><a href="/retailer/news" ng-click="editSection = &quot;news&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "NEWS" | translate}}</a></li>
                <hr>
                <li><b>{{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}</b></li>
                <li><a href="/retailer/assortment" ng-click="editSection = &quot;assortment&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}</a></li>
                <li><a href="/retailer/orders" ng-click="editSection = &quot;orders&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}</a></li>
                <li><a href="/retailer/financial" ng-click="editSection = &quot;financial&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "FINANCIAL" | translate}}</a></li>
                <hr>
                <li><b>{{:: "TEXT_HEAD_CUSTOMERS_RETAILER_HOME" | translate}}</b></li>
                <li><a href="/retailer/loyalty-portal" ng-click="editSection = &quot;loyalty-portal&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "CRM" | translate}}</a></li>
                <li><a ui-sref="{{getShopType()}}.loyalty-repair({nameSlug: selectedShop})" ng-click="editSection = &quot;loyalty-portal&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "REPAIR_SIGN_UP" | translate}}	</a></li>
                <li><a ui-sref="{{getShopType()}}.loyalty-watches({nameSlug: selectedShop})" ng-click="editSection = &quot;loyalty-portal&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "EMAIL_WATCH_WARRANTY_CARD" | translate}}	</a></li>
                <li><a ui-sref="{{getShopType()}}.loyalty-other({nameSlug: selectedShop})" ng-click="editSection = &quot;loyalty-portal&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "SEND_A_PHOTO_RECEIPT_BY_EMAIL" | translate}}	</a></li>
                <hr>
                <li><b>{{:: "PRISMANOTE_CHECKOUT" | translate}}</b></li>
                <li><a href="https://dashboard.countrhq.com" target="_blank" ng-click="editSection = &quot;statistics&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "STATISTICS_COUNTR" | translate}}</a></li>
                <hr>
                <li><b>{{:: "OTHER" | translate}}</b></li>
                <li><a href="/retailer/shop" ng-click="editSection = &quot;shop&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "TEXT_HEAD_MYSHOP_RETAILER_HOME" | translate}}</a></li>
                <li><a href="/retailer/suppliers" ng-click="editSection = &quot;suppliers&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}</a></li>
                <li ng-hide="currentShop.isPremium"><a ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "WEBSITE" | translate}}</a></li>
                <li ng-hide="currentShop.isPremium"><a href="/retailer/shop" ng-click="editSection = &quot;shop&quot;" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "UPGRADE_TO_PRO" | translate}}</a></li>
                <li ng-if="currentShop.isPremium"><a href="{{currentShop.proShopUrl}}" target="_blank" ng-class="{'not-active' : user.shops.length &lt; 1}">{{:: "MY_WEBSITE" | translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops" ng-change="getShop(selectedShop)" ng-show="user.shops.length" id="generalTourMyShopMenu"></select>
        </div>
        <div class="col-md-2">
          <div class="top-bar-language"><a href="">{{language | uppercase}}<i class="fa fa-angle-down"></i></a>
            <div class="top-bar-dropdown">
              <ul>
                <li><a href="" ng-click="changeLanguage(&quot;nl&quot;)">NL - {{:: "DUTCH" | translate}}</a></li>
                <li><a href="" ng-click="changeLanguage(&quot;en&quot;)">EN - {{:: "ENGLISH" | translate}}</a></li>
                <li><a href="" ng-click="changeLanguage(&quot;de&quot;)">DE - {{:: "GERMAN" | translate}}</a></li>
                <li><a href="" ng-click="changeLanguage(&quot;fr&quot;)">FR - {{:: "FRENCH" | translate}}</a></li>
                <li><a href="" ng-click="changeLanguage(&quot;es&quot;)">ES - {{:: "SPANISH" | translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div><span id="spanRole" style="display:none;">{{ user.role }}</span><span id="spanEmail" style="display:none;">{{ user.email }}	</span>
        <div class="top-bar-login"><a href="" ng-controller="authController" ng-click="openLoginModal()"><i class="fa fa-user pull-left"></i>{{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "LOGIN_OR_REGISTER" | translate }}</a></div>
      </div>
    </div>
    <section class="page-title style-2">
      <div class="container relative clearfix">
        <div class="row"></div><br>
        <div class="row">
          <div class="col-md-12">
            <div class="alert-warning" uib-alert ng-show="currentShop &amp;&amp; !currentShop.isPublished"> <strong>{{:: "TEXT_HEAD_PAYATTENTION_RETAILER_HOME" | translate}}</strong>&nbsp; {{:: "TEXT_HEAD_SHOPNOTACTIVE_RETAILER_HOME" | translate}}<a ui-sref="retailer.myshop">&nbsp; {{:: "TEXT_HEAD_CLICKHERETOACTIVATEYOURSHOP_RETAILER_HOME" | translate}}</a></div>
            <div class="upload-response" ng-if="shopSaved == true">
              <div class="alert-success" uib-alert dismiss-on-timeout="1000" close="closeAlert()"><i class="fa fa-check fa-lg"></i>&nbsp; {{:: "TEXT_HEAD_SAVECHANGES_RETAILER_HOME" | translate}}</div>
            </div>
            <div class="alert-warning" uib-alert ng-show="user.shops.length &lt; 1"><i class="fa fa-exclamation fa-lg"></i>&nbsp; {{:: "YOUR_ACCOUNT_DOES_NOT_YET_HAVE_ANY_SHOPS_UNDER_MANAGEMENT_THIS_MEANS_THAT_CERTAIN_FUNCTIONS_ARE_NOT_YET_WORKING_WE_WILL_CONTACT_YOU_WITHIN_TWO_WORKING_DAYS" | translate}}</div>
          </div>
        </div>
      </div>
    </section>
    <ui-view></ui-view>
    <div class="row"></div>
    <div id="PrivateTab"></div>
    <div id="contextFirst" style="display:none;"></div>
  </body>
</html>
<h3 style="text-align:center;">
  <!-- :::::::::: Yo Yo Chat Live ::::::::::-->
</h3>
<div class="panel col-md-3 hidden" style="float:left;">
  <div id="context" style="display:none;">
    <div id="leftbar">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-user"></span><span class="badge" id="totalUser"></span> {{:: "USERS_ONLINE" | translate}}</div>
        <div class="panel-body bar" style="display:none;">
          <ul class="list-group" id="userList"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
