app/dist/views/retailer/loyalty-portal.html

<div class="container" ng-init="temP();dropdownValues ();">
  <h3>{{:: "CRM" | translate}}<a class="btn btn-dark pull-right" ui-sref="retailer.home">{{:: "BACK" | translate}}</a></h3><br/>
  <div id="emailMarketingTourNewClient"></div>
  <div class="row">
    <div class="col-md-5 filter-buttons">
      <div class="btn-group" role="group">
        <button class="btn" type="button" ng-click="repairStatus = ''" ng-class="repairStatus == 'taken' ? 'btn-primary' : 'btn-primary'">Alles</button>
        <button class="btn" type="button" ng-click="repairStatus = ''" ng-class="!repairStatus || repairStatus == '' ? 'btn-light' : 'btn-light'">Reparaties</button>
        <button class="btn button-margin-right" type="button" ng-click="repairStatus = 'taken'" ng-class="repairStatus == 'taken' ? 'btn-primary' : 'btn-light'">Spec. bestellingen</button><a class="pull-right" ng-click="getTableOptions(marketingCustomers)"><i class="fa fa-eye"></i></a>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-sm btn-light button-margin-right btn btn-lg" ng-click="exportCSV()">{{:: "EXPORT" | translate}}</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn btn-sm btn-light button-margin-right" id="emailMarketingTourManualMobile" ui-sref="layout.instruction-crmApp">{{:: "INSTAL_MANUAL_CRM_APP" | translate}}</button>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="text" ng-model="searchquery" placeholder="{{:: &quot;SEARCH&quot; | translate}}"/>
    </div>
    <div class="col-md-2" id="emailMarketingTourNewClient">
      <div><a class="btn btn-dark pull-right" ui-sref="{{getShopType()}}.loyalty-program({nameSlug: selectedShop})">{{:: "NEW_CLIENT" | translate}}</a></div>
    </div>
  </div><br/>
  <div class="row">
    <select ng-model="filterTable" ng-hide="showFilters" ng-options="x for x in tableOptionschildFilter " ng-click="getSelectProduct()" ng-required="true">
      <option value="">-- Select filter --</option>
    </select><span ng-hide="showFilters">Filter</span>
    <select ng-model="childFilterTable" ng-hide="showFiltersChld" ng-options="x for x in childFilter " ng-click="commonFilterTable()" ng-required="true">
      <option value="">-- Select value --</option>
    </select>
  </div>
  <div class="row" ng-init="getCrmusers()" ng-hide="loading">
    <div class="alert-warning" uib-alert="uib-alert" ng-show="!marketingCustomers || marketingCustomers.length == 0">{{:: "NO_CUSTOMERS_ARE_FOUND" | translate}}</div><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th ng-if="crmUserBindValues[0]==1">{{tabOptions[0]}}</th>
        <th ng-if="crmUserBindValues[1]==1">{{tabOptions[1]}}</th>
        <th ng-if="crmUserBindValues[2]==1">{{tabOptions[2]}}</th>
        <th ng-if="crmUserBindValues[3]==1">{{tabOptions[3]}}</th>
        <th ng-if="crmUserBindValues[4]==1">{{tabOptions[4]}}</th>
        <th ng-if="crmUserBindValues[5]==1">{{tabOptions[5]}}</th>
        <th ng-if="crmUserBindValues[6]==1">{{tabOptions[6]}}</th>
        <th ng-if="crmUserBindValues[7]==1">{{tabOptions[7]}}</th>
        <th ng-if="crmUserBindValues[8]==1">{{tabOptions[8]}}</th>
        <th ng-if="crmUserBindValues[9]==1">{{tabOptions[9]}}</th>
        <th ng-if="crmUserBindValues[10]==1">{{tabOptions[10]}}</th>
        <th ng-if="crmUserBindValues[11]==1">{{tabOptions[11]}}</th>
        <th ng-if="crmUserBindValues[12]==1">{{tabOptions[12]}}</th>
        <th ng-if="crmUserBindValues[13]==1">{{tabOptions[13]}}</th>
        <tbody class="accordion-group" id="accordion" ng-repeat="customer in marketingCustomers |orderBy: repairOrder | filter:searchquery | startFrom:currentPage*pageSize | limitTo:pageSize">
          <tr class="accordion-toggle" ng-click="openCrmUserInfoModal($index, customer)">
            <td>{{customer.emailName}}</td>
            <td ng-if="(crmUserBindValues[0]==1)&amp;&amp;(customer.items[0].phone[1].mobilePhone)">{{customer.items[0].phone[1].mobilePhone }}</td>
            <td ng-if="(crmUserBindValues[0]==1)&amp;&amp;(!customer.items[0].phone[1].mobilePhone)"> NA</td>
            <td ng-if="(crmUserBindValues[1]==1)&amp;&amp;(customer.items[0].itemComment.comment)">{{customer.items[0].itemComment.comment}}</td>
            <td ng-if="(crmUserBindValues[1]==1)&amp;&amp;(!customer.items[0].itemComment.comment)">NA</td>
            <td ng-if="(crmUserBindValues[2]==1)&amp;&amp;(customer.items[0].productStatus)">{{customer.items[0].productStatus}}</td>
            <td ng-if="(crmUserBindValues[2]==1)&amp;&amp;(!customer.items[0].productStatus)">NA</td>
            <td ng-if="(crmUserBindValues[3]==1)&amp;&amp;(customer.items[0].productKind)">{{customer.items[0].productKind }}</td>
            <td ng-if="(crmUserBindValues[3]==1)&amp;&amp;(!customer.items[0].productKind)">NA</td>
            <td ng-if="(crmUserBindValues[4]==1)&amp;&amp;(customer.items[0].productMaterial)">{{customer.items[0].productMaterial}}</td>
            <td ng-if="(crmUserBindValues[4]==1)&amp;&amp;(!customer.items[0].productMaterial)">NA</td>
            <td ng-if="(crmUserBindValues[5]==1)&amp;&amp;(customer.items[0].customTags)">{{customer.items[0].customTags}}</td>
            <td ng-if="(crmUserBindValues[5]==1)&amp;&amp;(!customer.items[0].customTags)">NA</td>
            <td ng-if="(crmUserBindValues[6]==1)&amp;&amp;(customer.items[0].fillindate)">{{customer.items[0].fillindate | date : format : timezone}}</td>
            <td ng-if="(crmUserBindValues[6]==1)&amp;&amp;(!customer.items[0].fillindate)">NA</td>
            <td ng-if="(crmUserBindValues[7]==1)&amp;&amp;(customer.repairDate)">{{customer.repairDate| date : format : timezone}}</td>
            <td ng-if="(crmUserBindValues[7]==1)&amp;&amp;(!customer.repairDate)">NA</td>
            <td ng-if="(crmUserBindValues[8]==1)&amp;&amp;((!customer.retailerComments)||(!customer.retailerComments[0].comment==&quot;&quot;))">{{customer.retailerComments[0].comment}}</td>
            <td ng-if="(crmUserBindValues[8]==1)&amp;&amp;(customer.retailerComments)||(customer.retailerComments[0].comment==&quot;&quot;)">NA</td>
            <td ng-if="(crmUserBindValues[9]==1)&amp;&amp;(customer.items[0].priceRange)">{{customer.items[0].priceRange}}</td>
            <td ng-if="(crmUserBindValues[9]==1)&amp;&amp;(!customer.items[0].priceRange)">NA</td>
            <td ng-if="(crmUserBindValues[10]==1)&amp;&amp;(customer.items[0].endWarranty)">{{customer.items[0].endWarranty}}</td>
            <td ng-if="(crmUserBindValues[10]==1)&amp;&amp;(!customer.items[0].endWarranty)">NA</td>
            <td ng-if="(crmUserBindValues[11]==1)&amp;&amp;(customer.items[0].address)">{{customer.items[0].address[0].houseNumber }}{{space}}{{customer.items[0].address[0].houseNumberSuffix }}{{space}}{{customer.items[0].address[0].street }}{{space}}{{customer.items[0].address[0].city }}{{space}}{{customer.items[0].address[0].country }}{{space}}{{customer.items[0].address[0].postalCode }}</td>
            <td ng-if="(crmUserBindValues[11]==1)&amp;&amp;(!customer.items[0].address)">NA</td>
            <td ng-if="(crmUserBindValues[12]==1)&amp;&amp;(customer.items[0].brandName)">{{customer.items[0].brandName}}</td>
            <td ng-if="(crmUserBindValues[12]==1)&amp;&amp;(!customer.items[0].brandName)">NA</td>
            <td ng-if="(crmUserBindValues[13]==1)&amp;&amp;((customer.items[0].address[0].postalCode)&amp;&amp;(customer.items[0].address[0].houseNumber))">{{customer.items[0].address[0].postalCode}}{{space}}{{customer.items[0].address[0].houseNumber}}</td>
            <td ng-if="(crmUserBindValues[13]==1)&amp;&amp;(customer.items[0].address.length == 0)">NA</td>
          </tr>
        </tbody>
      </tr>
    </table>
    <div class="pull-right">
      <button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">{{:: "PREVIOUS" | translate}}</button>    {{currentPage+1}}/{{numberOfPages()}}
      <button class="btn" ng-disabled="currentPage &gt;= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">{{:: "NEXT" | translate}}</button>
    </div>
  </div>
</div>

app/src/views/retailer/loyalty-portal.pug
.container(ng-init='temP();dropdownValues ();')
  h3
    | {{:: "CRM" | translate}}
    a.btn.btn-dark.pull-right(ui-sref='retailer.home') {{:: "BACK" | translate}}
  br
  #emailMarketingTourNewClient
    //- div
    //-   button.btn.btn-dark.pull-right(ng-click='getTableOptions(marketingCustomers)') Settings
    //- div
    //-   button.btn.btn-dark.pull-right(ng-click='refresh()') Refresh
  .row
    .col-md-5.filter-buttons
      .btn-group(role='group')
        button.btn(type='button', ng-click="repairStatus = ''", ng-class="repairStatus == 'taken' ? 'btn-primary' : 'btn-primary'") Alles
        button.btn(type='button', ng-click="repairStatus = ''", ng-class="!repairStatus || repairStatus == '' ? 'btn-light' : 'btn-light'") Reparaties
        button.btn.button-margin-right(type='button', ng-click="repairStatus = 'taken'", ng-class="repairStatus == 'taken' ? 'btn-primary' : 'btn-light'") Spec. bestellingen
        a(ng-click='getTableOptions(marketingCustomers)').pull-right
          i.fa.fa-eye
    .col-md-1
      button.btn.btn-sm.btn-light.button-margin-right.btn.btn-lg(ng-click='exportCSV()') {{:: "EXPORT" | translate}}
    .col-md-2
      button#emailMarketingTourManualMobile.btn.btn.btn-sm.btn-light.button-margin-right(ui-sref='layout.instruction-crmApp') {{:: "INSTAL_MANUAL_CRM_APP" | translate}}
    .col-md-2
      input.form-control(type='text', ng-model='searchquery', placeholder='{{:: "SEARCH" | translate}}')
    #emailMarketingTourNewClient.col-md-2
      //-div(ng-hide='currentShop.isPremium')
      div
        a.btn.btn-dark.pull-right(ui-sref='{{getShopType()}}.loyalty-program({nameSlug: selectedShop})') {{:: "NEW_CLIENT" | translate}}
        //- div(ng-if='currentShop.isPremium')
        //- 	a.btn.btn-sm.btn-dark(href="{{currentShop.proShopUrl + '/loyalty-program'}}", target='_blank') {{:: "NEW_CLIENT" | translate}}

  br
  .row
    select(ng-model='filterTable', ng-hide='showFilters', ng-options='x for x in tableOptionschildFilter ', ng-click='getSelectProduct()', ng-required='true')
            option(value='') -- Select filter --
    span(ng-hide='showFilters') Filter
    select(ng-model='childFilterTable', ng-hide='showFiltersChld', ng-options='x for x in childFilter ', ng-click='commonFilterTable()',ng-required='true')
      option(value='') -- Select value --
  .row(ng-init='getCrmusers()', ng-hide='loading')
    .alert-warning(uib-alert='uib-alert', ng-show='!marketingCustomers || marketingCustomers.length == 0') {{:: "NO_CUSTOMERS_ARE_FOUND" | translate}}
    img(src='/images/loading.gif', ng-hide='!loading', style='height:100px; width: 100px;')
    table.table.table-hover
      tr
        th Name
        th(ng-if='crmUserBindValues[0]==1') {{tabOptions[0]}}
        th(ng-if='crmUserBindValues[1]==1') {{tabOptions[1]}}
        th(ng-if='crmUserBindValues[2]==1') {{tabOptions[2]}}
        th(ng-if='crmUserBindValues[3]==1') {{tabOptions[3]}}
        th(ng-if='crmUserBindValues[4]==1') {{tabOptions[4]}}
        th(ng-if='crmUserBindValues[5]==1') {{tabOptions[5]}}
        th(ng-if='crmUserBindValues[6]==1') {{tabOptions[6]}}
        th(ng-if='crmUserBindValues[7]==1') {{tabOptions[7]}}
        th(ng-if='crmUserBindValues[8]==1') {{tabOptions[8]}}
        th(ng-if='crmUserBindValues[9]==1') {{tabOptions[9]}}
        th(ng-if='crmUserBindValues[10]==1') {{tabOptions[10]}}
        th(ng-if='crmUserBindValues[11]==1') {{tabOptions[11]}}
        th(ng-if='crmUserBindValues[12]==1') {{tabOptions[12]}}
        th(ng-if='crmUserBindValues[13]==1') {{tabOptions[13]}}
        //- th(ng-if='crmUserBindValues[14]==1') {{tabOptions[14]}}
        tbody#accordion.accordion-group(ng-repeat='customer in marketingCustomers |orderBy: repairOrder | filter:searchquery | startFrom:currentPage*pageSize | limitTo:pageSize')
          tr.accordion-toggle(ng-click='openCrmUserInfoModal($index, customer)')
            td {{customer.emailName}}
            td(ng-if='(crmUserBindValues[0]==1)&&(customer.items[0].phone[1].mobilePhone)') {{customer.items[0].phone[1].mobilePhone }}
            td(ng-if='(crmUserBindValues[0]==1)&&(!customer.items[0].phone[1].mobilePhone)')  NA
            td(ng-if='(crmUserBindValues[1]==1)&&(customer.items[0].itemComment.comment)') {{customer.items[0].itemComment.comment}}
            td(ng-if='(crmUserBindValues[1]==1)&&(!customer.items[0].itemComment.comment)') NA
            td(ng-if='(crmUserBindValues[2]==1)&&(customer.items[0].productStatus)') {{customer.items[0].productStatus}}
            td(ng-if='(crmUserBindValues[2]==1)&&(!customer.items[0].productStatus)') NA
            td(ng-if='(crmUserBindValues[3]==1)&&(customer.items[0].productKind)') {{customer.items[0].productKind }}
            td(ng-if='(crmUserBindValues[3]==1)&&(!customer.items[0].productKind)') NA
            td(ng-if='(crmUserBindValues[4]==1)&&(customer.items[0].productMaterial)') {{customer.items[0].productMaterial}}
            td(ng-if='(crmUserBindValues[4]==1)&&(!customer.items[0].productMaterial)') NA
            td(ng-if='(crmUserBindValues[5]==1)&&(customer.items[0].customTags)') {{customer.items[0].customTags}}
            td(ng-if='(crmUserBindValues[5]==1)&&(!customer.items[0].customTags)') NA
            td(ng-if='(crmUserBindValues[6]==1)&&(customer.items[0].fillindate)') {{customer.items[0].fillindate | date : format : timezone}}
            td(ng-if='(crmUserBindValues[6]==1)&&(!customer.items[0].fillindate)') NA
            td(ng-if='(crmUserBindValues[7]==1)&&(customer.repairDate)') {{customer.repairDate| date : format : timezone}}
            td(ng-if='(crmUserBindValues[7]==1)&&(!customer.repairDate)') NA
            td(ng-if='(crmUserBindValues[8]==1)&&((!customer.retailerComments)||(!customer.retailerComments[0].comment==""))') {{customer.retailerComments[0].comment}}
            td(ng-if='(crmUserBindValues[8]==1)&&(customer.retailerComments)||(customer.retailerComments[0].comment=="")') NA
            td(ng-if='(crmUserBindValues[9]==1)&&(customer.items[0].priceRange)') {{customer.items[0].priceRange}}
            td(ng-if='(crmUserBindValues[9]==1)&&(!customer.items[0].priceRange)') NA
            td(ng-if='(crmUserBindValues[10]==1)&&(customer.items[0].endWarranty)') {{customer.items[0].endWarranty}}
            td(ng-if='(crmUserBindValues[10]==1)&&(!customer.items[0].endWarranty)') NA
            td(ng-if='(crmUserBindValues[11]==1)&&(customer.items[0].address)') {{customer.items[0].address[0].houseNumber }}{{space}}{{customer.items[0].address[0].houseNumberSuffix }}{{space}}{{customer.items[0].address[0].street }}{{space}}{{customer.items[0].address[0].city }}{{space}}{{customer.items[0].address[0].country }}{{space}}{{customer.items[0].address[0].postalCode }}
            td(ng-if='(crmUserBindValues[11]==1)&&(!customer.items[0].address)') NA
            td(ng-if='(crmUserBindValues[12]==1)&&(customer.items[0].brandName)') {{customer.items[0].brandName}}
            td(ng-if='(crmUserBindValues[12]==1)&&(!customer.items[0].brandName)') NA
            td(ng-if='(crmUserBindValues[13]==1)&&((customer.items[0].address[0].postalCode)&&(customer.items[0].address[0].houseNumber))') {{customer.items[0].address[0].postalCode}}{{space}}{{customer.items[0].address[0].houseNumber}}
            td(ng-if='(crmUserBindValues[13]==1)&&(customer.items[0].address.length == 0)') NA
            //- td(ng-if='(crmUserBindValues[14]==1)&&(customer.items[0].address[0].houseNumber)') {{customer.items[0].address[0].houseNumber}}
            //- td(ng-if='(crmUserBindValues[14]==1)&&(customer.items[0].address.length == 0)') 
            
    div.pull-right
      button.btn(ng-disabled='currentPage == 0', ng-click='currentPage=currentPage-1') {{:: "PREVIOUS" | translate}}
      |     {{currentPage+1}}/{{numberOfPages()}}
      button.btn(ng-disabled='currentPage >= getData().length/pageSize - 1', ng-click='currentPage=currentPage+1') {{:: "NEXT" | translate}}
