app/src/views/retailer/new-campaign.pug
.container.new-campaign
  uib-tabset(active='activeTab')
    uib-tab(index='0', ui-sref='tab0', ng-hide='true', heading='DESIGN_CAMPAIGN')
      .row
        .col-md-12
          .col-md-2.cust-text-mt {{:: "PAGE" | translate}}
          .col-md-5
            select#select.form-control
              option Goede Noot
              option 2
              option 3
              option 4
          .col-md-2.cust-text-mt {{:: "EXECUTE" | translate}}
          .col-md-3
            .ats-switch(role='switch', aria-checked='true', on-label='YES', off-label='NO', tabindex='0')
              .switch-animate.switch-on
                span.switch-left {{:: "YES" | translate}}
                span.knob  
                span.switch-right {{:: "NO" | translate}}
      .row
        a(href='#')
          .dropbox-1
            p {{:: "HOW_TO_SELECT_CONTENT" | translate}}
      .row.custom-row(data-toggle='collapse', data-target='#demo')
        p#custom-font
          | {{:: "REQUIRED_FILES" | translate}}
          span.i.fa.fa-chevron-down
        #demo.collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .row.mb-10
        textarea#text-area-fb(type='text', placeholder='TYPE_HERE_TEXT_TO_POST_ON_FACEBOOK')
      .row
        .input-group
          span.input-group-addon {{:: "WEBSITE_URL" | translate}}
          input#msg.form-control(type='text', name='msg')
      .row.custom-row
        | {{:: "ADDITIONAL_URL_INFORMATION" | translate}}
        span.i.fa.fa-chevron-down.custom-caret(data-toggle='collapse', data-target='#demo1')
        #demo1.collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "CALL_TO_ACTION" | translate}}
          input#msg.form-control(type='text', name='msg')
      .row
        a.btn.btn-md.btn-green.pull-right(ng-click='toTab1()') {{:: "NEXT" | translate}}
    uib-tab(index='1', ui-sref='tab1', ng-hide='true', heading='DESIGN_CAMPAIGN')
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "DOES" | translate}}
          input#msg.form-control(type='text', name='msg')
      .input-group.mb-10
        span.input-group-btn
          input.form-control(type='text', placeholder='SPECIFY_AGE-MIN')
        span.input-group-btn
          input.form-control(type='text', placeholder='SPECIFY_AGE_MAX')
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "SPECIFY_GENDER" | translate}}
          input#msg.form-control(type='text', name='msg')
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "INTERESTS" | translate}}
          input#msg.form-control(type='text', name='msg')
      .checkbox
        label
          input#custom-chk(type='checkbox', value='')
          strong {{:: "USE_OF_USER_LOCATION" | translate}}
        span.i.fa.fa-chevron-down.custom-caret(data-toggle='collapse', data-target='#demo2')
        #demo2.collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "LOCATION_KM_AROUND_YOUR_SHOP" | translate}}:
          input#msg.form-control(type='text', name='msg', placeholder='25')
      .input-group.mb-10
        span.input-group-btn
          input#amount.form-control(name='budget', type='text', placeholder='euro')
        span.input-group-btn
          select.form-control
            option(value='') {{:: "PER_DAY" | translate}}
      .row
        a.btn.btn-md.btn-light.pull-left(ng-click='toTab0()') {{:: "PREVIOUS" | translate}}
        a.btn.btn-md.btn-green.pull-right(ng-click='toTab2()') {{:: "NEXT" | translate}}
    uib-tab(index='2', ui-sref='tab2', ng-hide='true', heading='DESIGN_CAMPAIGN')
      .form-group
        label
          p#custom-font {{:: "START_DATE" | translate}}:
        .input-group
          input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionStartDate', ng-change='getStartDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options='{maxDate: task.fbPromotionSettings.promotionEndDate}', is-open='startDate', timepicker-options='timepickerOptions', uib-tooltip-html='"CAMPAIGNS_LAUNCHED_ON_WORKINGDAYS"', close-text='Sluiten', disabled='disabled')
          // ngIf: isOpen && showPicker == 'date'
          // ngIf: isOpen && showPicker == 'time'
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='startDate =! startDate', ng-disabled='false')
              span.i.fa.fa-calendar
      .form-group
        label
          p#custom-font {{:: "END_DATE" | translate}}:
        .input-group
          input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionEndDate', ng-change='getEndDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options='{minDate: task.fbPromotionSettings.promotionStartDate || today}', is-open='endDate', timepicker-options='timepickerOptions', close-text='Sluiten', disabled='disabled')
          // ngIf: isOpen && showPicker == 'date'
          // ngIf: isOpen && showPicker == 'time'
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='endDate =! endDate', ng-disabled='false')
              span.i.fa.fa-calendar
      .form-group
        .checkbox
          label
            input#custom-chk(type='checkbox', value='01')
            |  {{:: "I_WANT_TO_USE_A_FACEBOOK_PIXEL" | translate}}
      .form-group
        .checkbox
          label
            input#custom-chk(type='checkbox', value='01')
            | {{:: "ALSO_ON_INSTAGRAM" | translate}}
      .row
        a.btn.btn-md.btn-light(ng-click='toTab1()') {{:: "PREVIOUS" | translate}}
      .create-btn
        button.btn.btn-md.btn-dark.add-to-cart.create-custom-btn(type='button') CREATE_CAMPAIGN

app/dist/views/retailer/new-campaign.html

<div class="container new-campaign">
  <uib-tabset active="activeTab">
    <uib-tab index="0" ui-sref="tab0" ng-hide="true" heading="DESIGN_CAMPAIGN">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2 cust-text-mt">{{:: "PAGE" | translate}}</div>
          <div class="col-md-5">
            <select class="form-control" id="select">
              <option>Goede Noot</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="col-md-2 cust-text-mt">{{:: "EXECUTE" | translate}}</div>
          <div class="col-md-3">
            <div class="ats-switch" role="switch" aria-checked="true" on-label="YES" off-label="NO" tabindex="0">
              <div class="switch-animate switch-on"><span class="switch-left">{{:: "YES" | translate}}</span><span class="knob"> </span><span class="switch-right">{{:: "NO" | translate}}</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row"><a href="#">
          <div class="dropbox-1">
            <p>{{:: "HOW_TO_SELECT_CONTENT" | translate}}</p>
          </div></a></div>
      <div class="row custom-row" data-toggle="collapse" data-target="#demo">
        <p id="custom-font">{{:: "REQUIRED_FILES" | translate}}<span class="i fa fa-chevron-down"></span></p>
        <div class="collapse" id="demo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
      <div class="row mb-10">
        <textarea id="text-area-fb" type="text" placeholder="TYPE_HERE_TEXT_TO_POST_ON_FACEBOOK"></textarea>
      </div>
      <div class="row">
        <div class="input-group"><span class="input-group-addon">{{:: "WEBSITE_URL" | translate}}</span>
          <input class="form-control" id="msg" type="text" name="msg"/>
        </div>
      </div>
      <div class="row custom-row">{{:: "ADDITIONAL_URL_INFORMATION" | translate}}<span class="i fa fa-chevron-down custom-caret" data-toggle="collapse" data-target="#demo1"></span>
        <div class="collapse" id="demo1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
      <div class="row mb-10">
        <div class="input-group"><span class="input-group-addon">{{:: "CALL_TO_ACTION" | translate}}</span>
          <input class="form-control" id="msg" type="text" name="msg"/>
        </div>
      </div>
      <div class="row"><a class="btn btn-md btn-green pull-right" ng-click="toTab1()">{{:: "NEXT" | translate}}</a></div>
    </uib-tab>
    <uib-tab index="1" ui-sref="tab1" ng-hide="true" heading="DESIGN_CAMPAIGN">
      <div class="row mb-10">
        <div class="input-group"><span class="input-group-addon">{{:: "DOES" | translate}}</span>
          <input class="form-control" id="msg" type="text" name="msg"/>
        </div>
      </div>
      <div class="input-group mb-10"><span class="input-group-btn">
          <input class="form-control" type="text" placeholder="SPECIFY_AGE-MIN"/></span><span class="input-group-btn">
          <input class="form-control" type="text" placeholder="SPECIFY_AGE_MAX"/></span></div>
      <div class="row mb-10">
        <div class="input-group"><span class="input-group-addon">{{:: "SPECIFY_GENDER" | translate}}</span>
          <input class="form-control" id="msg" type="text" name="msg"/>
        </div>
      </div>
      <div class="row mb-10">
        <div class="input-group"><span class="input-group-addon">{{:: "INTERESTS" | translate}}</span>
          <input class="form-control" id="msg" type="text" name="msg"/>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input id="custom-chk" type="checkbox" value=""/><strong>{{:: "USE_OF_USER_LOCATION" | translate}}</strong>
        </label><span class="i fa fa-chevron-down custom-caret" data-toggle="collapse" data-target="#demo2"></span>
        <div class="collapse" id="demo2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
      <div class="row mb-10">
        <div class="input-group"><span class="input-group-addon">{{:: "LOCATION_KM_AROUND_YOUR_SHOP" | translate}}:</span>
          <input class="form-control" id="msg" type="text" name="msg" placeholder="25"/>
        </div>
      </div>
      <div class="input-group mb-10"><span class="input-group-btn">
          <input class="form-control" id="amount" name="budget" type="text" placeholder="euro"/></span><span class="input-group-btn">
          <select class="form-control">
            <option value="">{{:: "PER_DAY" | translate}}</option>
          </select></span></div>
      <div class="row"><a class="btn btn-md btn-light pull-left" ng-click="toTab0()">{{:: "PREVIOUS" | translate}}</a><a class="btn btn-md btn-green pull-right" ng-click="toTab2()">{{:: "NEXT" | translate}}</a></div>
    </uib-tab>
    <uib-tab index="2" ui-sref="tab2" ng-hide="true" heading="DESIGN_CAMPAIGN">
      <div class="form-group">
        <label>
          <p id="custom-font">{{:: "START_DATE" | translate}}:</p>
        </label>
        <div class="input-group">
          <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" ng-disabled="date" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.fbPromotionSettings.promotionStartDate" ng-change="getStartDate(task)" ng-init="initPromotionTaskDate(task)" datepicker-options="{maxDate: task.fbPromotionSettings.promotionEndDate}" is-open="startDate" timepicker-options="timepickerOptions" uib-tooltip-html="&quot;CAMPAIGNS_LAUNCHED_ON_WORKINGDAYS&quot;" close-text="Sluiten" disabled="disabled"/>
          <!-- ngIf: isOpen && showPicker == 'date'-->
          <!-- ngIf: isOpen && showPicker == 'time'--><span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="startDate =! startDate" ng-disabled="false"><span class="i fa fa-calendar"></span></button></span>
        </div>
      </div>
      <div class="form-group">
        <label>
          <p id="custom-font">{{:: "END_DATE" | translate}}:</p>
        </label>
        <div class="input-group">
          <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" ng-disabled="date" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.fbPromotionSettings.promotionEndDate" ng-change="getEndDate(task)" ng-init="initPromotionTaskDate(task)" datepicker-options="{minDate: task.fbPromotionSettings.promotionStartDate || today}" is-open="endDate" timepicker-options="timepickerOptions" close-text="Sluiten" disabled="disabled"/>
          <!-- ngIf: isOpen && showPicker == 'date'-->
          <!-- ngIf: isOpen && showPicker == 'time'--><span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="endDate =! endDate" ng-disabled="false"><span class="i fa fa-calendar"></span></button></span>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input id="custom-chk" type="checkbox" value="01"/> {{:: "I_WANT_TO_USE_A_FACEBOOK_PIXEL" | translate}}
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input id="custom-chk" type="checkbox" value="01"/>{{:: "ALSO_ON_INSTAGRAM" | translate}}
          </label>
        </div>
      </div>
      <div class="row"><a class="btn btn-md btn-light" ng-click="toTab1()">{{:: "PREVIOUS" | translate}}</a></div>
      <div class="create-btn">
        <button class="btn btn-md btn-dark add-to-cart create-custom-btn" type="button">CREATE_CAMPAIGN</button>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
