app/src/views/retailer/news.pug
.container.portal.retailer(ng-init="getNewsItems()")
    h3 {{:: "NEWS" | translate}}
        a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}
    br
    .row
        div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
            p(bind-html-compile="alert.msg")
    div.pull-right
        a(href='', ng-init='showInfo = false', ng-click='showInfo = !showInfo')
            span
                b How does this work? (1 min Video)
                    span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
    .row
    div(uib-collapse='!showInfo').pull-right
        div(ng-if="language =='nl'" style="height: 272px")
            .panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
                iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
        div(ng-if="language =='en'" style="height: 272px")
            .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
        div(ng-if="language =='de'" style="height: 272px")
            .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
        div(ng-if="language =='fr'" style="height: 272px")
            .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
        div(ng-if="language =='es'" style="height: 272px")
            .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
    uib-tabset(active='activeTab', ng-init="reloadShop()")
        uib-tab(index='0', heading='{{:: "GENERAL" | translate}}')
            .col-md-12
                br
                .row
                    .col-md-12
                        a.btn.btn-md.btn-dark.pull-right(ui-sref="retailer.news-item-new") {{:: "DRAWING_UP_YOURSELF" | translate}}
                        input.pull-right.button-margin-right(type="text", ng-model="searchQuery" placeholder='{{:: "SEARCH" | translate}}')
                br
                .row
                    .col-xs-12.col-sm-6.col-md-4(ng-repeat="item in news | filter:searchQuery | orderBy:'-creationDate'")
                        news-item-block-retailer-portal(modal='true')
        uib-tab(index='1', heading='{{:: "MY_NEWS_ITEMS" | translate}}')
            .col-md-12
                br
                .row
                    .col-md-12
                        a.btn.btn-md.btn-dark.pull-right(ui-sref="retailer.news-item-new") {{:: "DRAWING_UP_YOURSELF" | translate}}
                        input.pull-right.button-margin-right(type="text", ng-model="searchQuery" placeholder='{{:: "SEARCH" | translate}}')
                br
                .row
                    .col-xs-12.col-sm-6.col-md-4(ng-repeat="item in currentShop.news | filter:searchQuery | orderBy:'-creationDate'")
                        news-item-block-retailer-portal(modal='false')

app/dist/views/retailer/news.html

<div class="container portal retailer" ng-init="getNewsItems()">
  <h3>{{:: "NEWS" | translate}}<a class="btn btn-dark pull-right" ui-sref="retailer.home">{{:: "BACK" | translate}}</a></h3><br/>
  <div class="row">
    <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert()">
      <p bind-html-compile="alert.msg"></p>
    </div>
  </div>
  <div class="pull-right"><a href="" ng-init="showInfo = false" ng-click="showInfo = !showInfo"><span><b>How does this work? (1 min Video)<span class="i fa" ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></b></span></a></div>
  <div class="row"></div>
  <div class="pull-right" uib-collapse="!showInfo">
    <div ng-if="language =='nl'" style="height: 272px">
      <div class="panel-body" style="padding: 0px 0 0 0; text-align: center; height: 272px">
        <iframe src="https://player.vimeo.com/video/277687886?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
      </div>
    </div>
    <div ng-if="language =='en'" style="height: 272px">
      <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
        <iframe src="https://player.vimeo.com/video/277687886?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
      </div>
    </div>
    <div ng-if="language =='de'" style="height: 272px">
      <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
        <iframe src="https://player.vimeo.com/video/277687886?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
      </div>
    </div>
    <div ng-if="language =='fr'" style="height: 272px">
      <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
        <iframe src="https://player.vimeo.com/video/277687886?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
      </div>
    </div>
    <div ng-if="language =='es'" style="height: 272px">
      <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
        <iframe src="https://player.vimeo.com/video/277687886?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
      </div>
    </div>
  </div>
  <uib-tabset active="activeTab" ng-init="reloadShop()">
    <uib-tab index="0" heading="{{:: &quot;GENERAL&quot; | translate}}">
      <div class="col-md-12"><br/>
        <div class="row">
          <div class="col-md-12"><a class="btn btn-md btn-dark pull-right" ui-sref="retailer.news-item-new">{{:: "DRAWING_UP_YOURSELF" | translate}}</a>
            <input class="pull-right button-margin-right" type="text" ng-model="searchQuery" placeholder="{{:: &quot;SEARCH&quot; | translate}}"/>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in news | filter:searchQuery | orderBy:'-creationDate'">
            <news-item-block-retailer-portal modal="true"></news-item-block-retailer-portal>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="{{:: &quot;MY_NEWS_ITEMS&quot; | translate}}">
      <div class="col-md-12"><br/>
        <div class="row">
          <div class="col-md-12"><a class="btn btn-md btn-dark pull-right" ui-sref="retailer.news-item-new">{{:: "DRAWING_UP_YOURSELF" | translate}}</a>
            <input class="pull-right button-margin-right" type="text" ng-model="searchQuery" placeholder="{{:: &quot;SEARCH&quot; | translate}}"/>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in currentShop.news | filter:searchQuery | orderBy:'-creationDate'">
            <news-item-block-retailer-portal modal="false"></news-item-block-retailer-portal>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
