app/dist/views/retailer/news-item.html

<div class="container edit-newsItem" ng-init="getNewsItem()">
  <h3>{{:: "EDIT_NEWSITEM" | translate}}</h3>
  <div class="block-small">
    <div class="alert-info" uib-alert="uib-alert" ng-show="!newsItem.isPublished">
      <!--TODO: created inversed texts (unpublished, not visible)-->
      <p><strong>{{:: "CAUTION" | translate}} {{:: "NEWSITEM_IS_PUBLISHED" | translate}}</strong></p>
      <p>{{:: "CLICK_HERE_TO_UNPUBLISH" | translate}}</p><a class="btn btn-md btn-dark" ng-click="newsItem.isPublished = true">{{:: "PUBLISH" | translate}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 block-small">
      <h5>{{:: "BASIC_DATA" | translate}}</h5>
      <div class="form-group">
        <p>
          <label for="newsItem-title">{{:: "TITLE" | translate}}</label><br/>
          <input class="form-control" type="text" ng-model="newsItem.name" maxlength="40" placeholder="{{:: &quot;TITLE&quot; | translate}}" id="campaign-title"/>
        </p>
        <p>
          <label>{{:: "AUTHOR" | translate}}</label><br/>
          <input class="form-control" ng-model="newsItem.author.name" input-class="form-control"/>
        </p>
        <p>
          <label for="newsItem-is-published">{{:: "PUBLISH" | translate}}</label><br/>
          <toggle-switch name="newsItem-is-published" ng-model="newsItem.isPublished" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}" id="campaign-is-published"></toggle-switch><span>&nbsp; {{:: "NEWS_MESSAGE_VISIBLE" | translate}}</span>
        </p>
      </div>
      <h5>{{:: "DETAILS" | translate}}</h5>
      <p ng-init="getBrands()">
        <label>{{:: "BRAND" | translate}}</label><span ng-if="newsItem.brand.name">:&nbsp;<strong ng-bind="newsItem.brand.name"></strong></span><br/>
        <angucomplete-alt id="ex1" placeholder="{{:: &quot;CHOOSE_A_BRAND&quot; | translate}}" pause="100" clear-selected="true" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" input-class="form-control"></angucomplete-alt>
      </p>
    </div>
    <div class="col-md-4 block-small">
      <h5>{{:: "SHORT_DESCRIPTION_ON_NEWSITEM" | translate}}</h5>
      <textarea class="campaign-summary form-control" ng-model="newsItem.summary" rows="7" ng-trim="false" maxlength="180"></textarea>{{:: "NUMBER_OF_CHARACTERS" | translate}}: {{newsItem.summary.length}}
    </div>
    <div class="col-md-4 block-small">
      <h5>{{:: "EXISTING_IMAGE" | translate}}</h5><img ng-src="{{awsUrl + newsItem.images[0].src}}"/>
      <h5>{{:: "CHANGE_IMAGE" | translate}}</h5>
      <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="newsItem.photo" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "SELECT_IMAGE" | translate}}
        <div ng-show="dropAvailable">.</div><img ngf-thumbnail="newsItem.photo"/>
      </div>
      <p>
        <label for="newsItem-alt">{{:: "ALT_TEXT_SEO" | translate}}</label><br/>
        <input class="form-control" type="text" ng-model="newsItem.images[0].alt" placeholder="{{:: &quot;ALT_TEXT_SEO&quot; | translate}}" id="campaign-title"/>
      </p>
    </div>
  </div>
  <div class="row">
    <h5>{{:: "TEXT_EDITOR" | translate}}</h5>
    <text-angular class="wysiwyg" ng-model="newsItem.content"></text-angular>
  </div>
  <div class="row" style="margin: 20px 0px 20px -15px">
    <div class="col-md-6">
      <div class="col-md-4"><a class="btn btn-lg btn-green" ng-click="updateNewsItem(true)">{{:: "SAVE" | translate}}</a></div>
      <div class="col-md-4"><a class="btn btn-md btn-warning" ui-sref="retailer.news">{{:: "CANCEL" | translate}}</a></div>
      <div class="col-md-4"><a class="btn btn-md btn-danger" ng-click="removeNewsItem()">{{:: "DELETE" | translate}}</a></div>
    </div>
  </div>
</div>

app/src/views/retailer/news-item.pug
.container.edit-newsItem(ng-init="getNewsItem()")
	h3 {{:: "EDIT_NEWSITEM" | translate}}
	.block-small
		div(uib-alert, ng-show="!newsItem.isPublished").alert-info
			//TODO: created inversed texts (unpublished, not visible)
			p
				strong {{:: "CAUTION" | translate}} {{:: "NEWSITEM_IS_PUBLISHED" | translate}}
			p {{:: "CLICK_HERE_TO_UNPUBLISH" | translate}}
			a.btn.btn-md.btn-dark(ng-click="newsItem.isPublished = true") {{:: "PUBLISH" | translate}}
	.row
		.col-md-4.block-small
			h5 {{:: "BASIC_DATA" | translate}}
			.form-group
				p
					label(for="newsItem-title") {{:: "TITLE" | translate}}
					br
					input(type="text" ng-model="newsItem.name" maxlength="40" placeholder='{{:: "TITLE" | translate}}').form-control#campaign-title
				p
					label {{:: "AUTHOR" | translate}}
					br
					input(ng-model="newsItem.author.name" input-class="form-control").form-control
				p
					label(for="newsItem-is-published") {{:: "PUBLISH" | translate}}
					br
					toggle-switch(name="newsItem-is-published", ng-model="newsItem.isPublished", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#campaign-is-published
					span &nbsp; {{:: "NEWS_MESSAGE_VISIBLE" | translate}}
			h5 {{:: "DETAILS" | translate}}
			p(ng-init="getBrands()")
				label {{:: "BRAND" | translate}}
				span(ng-if="newsItem.brand.name") :&nbsp;
					strong(ng-bind="newsItem.brand.name")
				br
				angucomplete-alt(id="ex1", placeholder='{{:: "CHOOSE_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
		.col-md-4.block-small
			h5 {{:: "SHORT_DESCRIPTION_ON_NEWSITEM" | translate}}
			textarea(ng-model="newsItem.summary" rows="7" ng-trim="false" maxlength="180").campaign-summary.form-control
			| {{:: "NUMBER_OF_CHARACTERS" | translate}}: {{newsItem.summary.length}}
		.col-md-4.block-small
			h5 {{:: "EXISTING_IMAGE" | translate}}
			img(ng-src="{{awsUrl + newsItem.images[0].src}}") 
			h5 {{:: "CHANGE_IMAGE" | translate}}
			div(ngf-drop, ngf-select, ng-model="newsItem.photo", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
							|{{:: "SELECT_IMAGE" | translate}}
							div(ng-show="dropAvailable") .
							img(ngf-thumbnail="newsItem.photo")
			p
				label(for="newsItem-alt") {{:: "ALT_TEXT_SEO" | translate}}
				br
				input(type="text" ng-model="newsItem.images[0].alt" placeholder='{{:: "ALT_TEXT_SEO" | translate}}').form-control#campaign-title
	.row
		h5 {{:: "TEXT_EDITOR" | translate}}
		text-angular(ng-model="newsItem.content").wysiwyg

	.row(style="margin: 20px 0px 20px -15px")
		.col-md-6
			.col-md-4
				a.btn.btn-lg.btn-green(ng-click="updateNewsItem(true)") {{:: "SAVE" | translate}}
			.col-md-4
				a.btn.btn-md.btn-warning(ui-sref="retailer.news") {{:: "CANCEL" | translate}}
			.col-md-4
				a.btn.btn-md.btn-danger(ng-click="removeNewsItem()") {{:: "DELETE" | translate}}
		
		
