app/src/views/retailer/payments.pug
.container.portal.retailer
    .row
        .col-md-12(ng-init="loadOrders()")#webshopTourPaymentsOverview
            a.btn.btn-dark.pull-right(ui-sref="retailer.financial") {{:: "BACK" | translate}}
            h3 {{:: "PAYMENT_OVERVIEW" | translate}}
            p {{:: "HERE_IS_PAYMENT_OVERVIEW" | translate}}
            p {{:: "CLICK_DOWNLOAD_BY_CLICKING_THE_ORDERNUMBER" | translate}}
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            table.table.table-hover(ng-hide="loading")
                tr
                    th {{:: "SEND_DATE" | translate}}
                    th {{:: "ORDER_NUMBER" | translate}}
                    th {{:: "ORDER_STATUS" | translate}}
                    th {{:: "INVOICE_NUMBER" | translate}}
                    th {{:: "AMOUNT" | translate}}
                    th {{:: "PAYED" | translate}}
                tr(ng-repeat="order in orders | orderBy: '-date'")
                    td {{getSpecificOrderStatus(order, 'Send').date | date: 'dd-MM-yyyy'}} 
                    td 
                        a(ng-click="downloadPackageSlip(order)" href="#") {{order.number}}
                    td {{getOrderStatus(order)}}
                    td(bind-html-compile="getInvoiceNumber(order.payment)")
                    td {{order.payment.amount | currency: '€ '}}
                    td {{order.payment.completed ? "Ja" : "Nee"}}

app/dist/views/retailer/payments.html

<div class="container portal retailer">
  <div class="row">
    <div class="col-md-12" ng-init="loadOrders()" id="webshopTourPaymentsOverview"><a class="btn btn-dark pull-right" ui-sref="retailer.financial">{{:: "BACK" | translate}}</a>
      <h3>{{:: "PAYMENT_OVERVIEW" | translate}}</h3>
      <p>{{:: "HERE_IS_PAYMENT_OVERVIEW" | translate}}</p>
      <p>{{:: "CLICK_DOWNLOAD_BY_CLICKING_THE_ORDERNUMBER" | translate}}</p><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
      <table class="table table-hover" ng-hide="loading">
        <tr>
          <th>{{:: "SEND_DATE" | translate}}</th>
          <th>{{:: "ORDER_NUMBER" | translate}}</th>
          <th>{{:: "ORDER_STATUS" | translate}}</th>
          <th>{{:: "INVOICE_NUMBER" | translate}}</th>
          <th>{{:: "AMOUNT" | translate}}</th>
          <th>{{:: "PAYED" | translate}}</th>
        </tr>
        <tr ng-repeat="order in orders | orderBy: '-date'">
          <td>{{getSpecificOrderStatus(order, 'Send').date | date: 'dd-MM-yyyy'}} </td>
          <td> <a ng-click="downloadPackageSlip(order)" href="#">{{order.number}}</a></td>
          <td>{{getOrderStatus(order)}}</td>
          <td bind-html-compile="getInvoiceNumber(order.payment)"></td>
          <td>{{order.payment.amount | currency: '€ '}}</td>
          <td>{{order.payment.completed ? "Ja" : "Nee"}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
