app/dist/views/retailer/purchase-order.html

<div class="container">
  <div class="row">
    <div class="col-md-12" ng-init="getImport()">
      <h3>{{:: "PURCHASE_ORDER" | translate}}<a class="btn btn-dark pull-right" ui-sref="retailer.purchase-orders">{{:: "BACK" | translate}}</a></h3>
      <uib-tabset active="activeTab">
        <uib-tab index="0" heading="{{:: &quot;Ordered products&quot; | translate}}">
          <div class="row">
            <div class="col-md-4">
              <p>{{:: "STORE_NAME" | translate}}: {{currentShop.name}}</p><br/>
            </div>
            <div class="col-md-4">
              <h5>{{:: "CREATED_BY" | translate}}</h5>
              <pre>{{collection.uploader | json}}</pre><a class="btn btn-md btn-default" ui-sref="retailer.user({userId:collection.uploader._id})">{{:: "OPEN_USER" | translate}}</a>
            </div>
            <div class="col-md-4">
              <h5> {{:: "Order date" | translate}}</h5>
              <p>{{:: "TIME" | translate}}: 17-5-2018 10.26 uur</p>
            </div>
          </div>
          <div class="row">
            <p>{{:: "THERE_ARE" | translate}} 42 {{:: "_PRODUCTS_ON_YOUR_ORDER_LIST" | translate}}</p>
            <h5>{{:: "NEWLY_ADDED_TO_ORDERLIST" | translate}}</h5>
            <ul class="list-group">
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 1        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €129,95</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 2        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €69,95</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 4        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €89,00</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 6        {{:: "QUANTITY" | translate}}: 2     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €101,00</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 8        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €99,95</li>
            </ul><br/>
            <button class="btn" ng-click="loadMore()">{{:: "SHOWS_ALL_NEW_ADDED_PRODUCTS" | translate}}</button>
          </div>
          <div class="row">
            <h5>{{:: "ALREADY_EXISTED_ON_ORDERLIST" | translate}}</h5>
            <ul class="list-group">
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 1        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €99,95</li>
              <li class="list-group-item">{{:: "PRODUCT" | translate}} 1        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €99,95</li>
            </ul><br/>
            <button class="btn" ng-click="loadMore()">{{:: "SHOWS_ALL_PRODUCTS_THAT_EXISTED_ON_ORDERLIST" | translate}}</button>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="{{:: &quot;Place order&quot; | translate}}">
          <div class="row">
            <input type="text" style="width:75%; margin-left:15px;" ng-focus="searchCompanyEmail()" ng-model="company.email" placeholder="{{:: &quot;Search Company's Email Address&quot; | translate}}"/><br/><br/>
            <div class="list-group"></div><a class="list-group-item clearfix" ng-repeat="wS in wholesalershh | filter:searchquery" ng-click="getCompanyEmail(wS.email)"><span>{{"Company Name: "+ wS.name + " Email: " + wS.email}}</span></a>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div ng-if="company.email"></div><span>{{"Company Email: " + company.email}}</span>
              <div class="input-group" style="margin-bottom: 13px"></div>
              <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h5>{{:: "ORDER PER EMAIL" | translate}}</h5><br/><a class="btn btn-success btn-lg" ui-sref="" target="_blank">{{:: "PLACE_ORDER_NOW" | translate}} </a>
            </div>
            <div class="col-md-6">
              <h5>{{:: "PRINT_ORDER" | translate}}</h5><br/><a class="btn btn-success btn-lg" ui-sref="" target="_blank">{{:: "PRINT" | translate}} </a>
            </div>
          </div><br/>
        </uib-tab>
      </uib-tabset>
      <div class="row"><br/><a class="btn btn-lg btn-default pull-right" ng-click="cancel()">{{:: "CANCEL" | translate}}</a><a class="btn btn-lg btn-warning" ng-click="deleteImport()">{{:: "PLACE_ORDER_NOW" | translate}}</a></div>
    </div>
  </div>
</div>

app/src/views/retailer/purchase-order.pug
.container
    .row
        .col-md-12(ng-init="getImport()")
            h3 {{:: "PURCHASE_ORDER" | translate}}
                a.btn.btn-dark.pull-right(ui-sref="retailer.purchase-orders") {{:: "BACK" | translate}}
            
            uib-tabset(active="activeTab")
                uib-tab(index='0', heading='{{:: "Ordered products" | translate}}')
                    .row
                        .col-md-4
                            p {{:: "STORE_NAME" | translate}}: {{currentShop.name}}
                            br
                        .col-md-4
                            h5 {{:: "CREATED_BY" | translate}}
                            pre {{collection.uploader | json}}
                            a.btn.btn-md.btn-default(ui-sref="retailer.user({userId:collection.uploader._id})") {{:: "OPEN_USER" | translate}}
                        .col-md-4
                            h5  {{:: "Order date" | translate}}
                            p {{:: "TIME" | translate}}: 17-5-2018 10.26 uur
                    .row
                        p {{:: "THERE_ARE" | translate}} 42 {{:: "_PRODUCTS_ON_YOUR_ORDER_LIST" | translate}}
                        h5 {{:: "NEWLY_ADDED_TO_ORDERLIST" | translate}}
                        ul.list-group
                            li.list-group-item {{:: "PRODUCT" | translate}} 1        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €129,95
                            li.list-group-item {{:: "PRODUCT" | translate}} 2        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €69,95
                            li.list-group-item {{:: "PRODUCT" | translate}} 4        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €89,00
                            li.list-group-item {{:: "PRODUCT" | translate}} 6        {{:: "QUANTITY" | translate}}: 2     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €101,00
                            li.list-group-item {{:: "PRODUCT" | translate}} 8        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €99,95
                        //- table list of new products that open themselves in a new tab
                        br
                        button(ng-click="loadMore()").btn {{:: "SHOWS_ALL_NEW_ADDED_PRODUCTS" | translate}}
                    .row
                        h5 {{:: "ALREADY_EXISTED_ON_ORDERLIST" | translate}}
                        ul.list-group
                            li.list-group-item {{:: "PRODUCT" | translate}} 1        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €99,95
                            li.list-group-item {{:: "PRODUCT" | translate}} 1        {{:: "QUANTITY" | translate}}: 1     {{:: "PURCHASE_PRICE_ESTIMATED" | translate}}: €99,95
                        //- table list of modified products that open themselves in a new tab 
                        br
                        button(ng-click="loadMore()").btn {{:: "SHOWS_ALL_PRODUCTS_THAT_EXISTED_ON_ORDERLIST" | translate}}
                uib-tab(index='1', heading='{{:: "Place order" | translate}}')
                    .row
                        input(type='text', style='width:75%; margin-left:15px;', ng-focus='searchCompanyEmail()', ng-model='company.email', placeholder='{{:: "Search Company\'s Email Address" | translate}}')
                        br
                        br
                        .list-group
                        a.list-group-item.clearfix(ng-repeat='wS in wholesalershh | filter:searchquery' ,ng-click='getCompanyEmail(wS.email)')
                            span {{"Company Name: "+ wS.name + " Email: " + wS.email}}
                    .row
                        .col-xs-12.col-md-12
                            div(ng-if='company.email')
                            span {{"Company Email: " + company.email}}
                            .input-group(style='margin-bottom: 13px')
                            uib-progressbar.progress-striped.active(max='100', value='uploadProgress', type='succes', ng-show='upload') {{uploadProgress}} / 100
                    .row
                        .col-md-6
                            h5 {{:: "ORDER PER EMAIL" | translate}}
                            br
                            a.btn.btn-success.btn-lg(ui-sref="", target="_blank") {{:: "PLACE_ORDER_NOW" | translate}} 
                        .col-md-6
                            h5 {{:: "PRINT_ORDER" | translate}}
                            br
                            a.btn.btn-success.btn-lg(ui-sref="", target="_blank") {{:: "PRINT" | translate}} 
                    br
            .row
                br
                a.btn.btn-lg.btn-default.pull-right(ng-click="cancel()") {{:: "CANCEL" | translate}}
                //- delete function below cant delete all imported products but should delete the new imported products and deletes the versions which where added on the deleted products (or give these versions the status: unverified, and verifyLater= false so these don't show up in the admin overview. Or maby this approach gives problems the next time when a third version is added to this product. So only interesting if its very easy and skipping an added version is possible.) .
                a.btn.btn-lg.btn-warning(ng-click="deleteImport()") {{:: "PLACE_ORDER_NOW" | translate}}
