app/dist/views/retailer/purchase-orders.html

<div class="container">
  <div class="row">
    <div class="col-md-12" ng-init="getImports()">
      <h3>{{:: "PURCHASE_ORDERS" | translate}}</h3><a class="btn btn-dark pull-right" ui-sref="retailer.assortment">{{:: "BACK" | translate}}</a>
      <input class="form-control" ng-model="importFilter" placeholder="Search a purchase order"/><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
      <div class="list-group"><a class="list-group-item" ng-repeat="import in imports | filter: importFilter | limitTo:totalDisplayed" ui-sref="admin.import({id:import._id})">
          <div>{{import[language].name}}</div></a></div><a class="btn btn-md btn-dark pull-right" ui-sref="retailer.purchase-order">THIS BUTTON CAN BE DELETED IF THE ABOVE LIST WORKS</a><br/><br/>
      <button class="btn" ng-click="loadMore()">{{:: "LOAD_MORE" | translate}}</button>
    </div>
  </div>
</div>

app/src/views/retailer/purchase-orders.pug
.container
    .row
        .col-md-12(ng-init="getImports()")
            h3 {{:: "PURCHASE_ORDERS" | translate}}
            a.btn.btn-dark.pull-right(ui-sref="retailer.assortment") {{:: "BACK" | translate}}
            input.form-control(ng-model="importFilter", placeholder='Search a purchase order')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            .list-group
                a(ng-repeat="import in imports | filter: importFilter | limitTo:totalDisplayed", ui-sref="admin.import({id:import._id})").list-group-item
                    div {{import[language].name}}
                //- list items should contain: Shop/Company-name (if available. Otherwise just add 'Admin-import'), Time/Date, Username

            a.btn.btn-md.btn-dark.pull-right(ui-sref="retailer.purchase-order") THIS BUTTON CAN BE DELETED IF THE ABOVE LIST WORKS
            br

            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}
