app/dist/views/admin/brands.html

<div class="container">
  <div class="row" ng-init="getBrandList();"></div>
  <toggle-switch id="enabled" name="enabled" ng-change="changeCallback()" ng-model="enabled" on-label="Ja" off-label="Nee"></toggle-switch>
  <label for="enabled">{{:: "VERIFIED_BRANDS" | translate}} </label>
  <!-- <div><a ng-click="openCreateBrandModal()" class="btn btn-md btn-dark pull-right">{{:: "NEW_BRAND" | translate}}</a><br/>-->
  <div class="col-md-12">
    <h3>{{:: "BRANDS" | translate}}</h3>
    <input class="form-control" ng-model="brandFilter" placeholder="{{:: &quot;INPUT_FILTER_BRANDS&quot; | translate}}"/><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
    <div class="list-group"><a class="list-group-item" ng-repeat="brand in brands | filter: brandFilter | limitTo:totalDisplayed" ui-sref="admin.brand({nameSlug:brand.nameSlug})">
        <div>{{brand.name}}</div></a></div><br/>
    <button class="btn" ng-click="loadMore()">{{:: "LOAD_MORE" | translate}}</button><br/><br/><br/>
  </div>
</div>

app/src/views/admin/brands.pug
.container
  .row(ng-init='getBrandList();')
  toggle-switch#enabled(name='enabled', ng-change='changeCallback()', ng-model='enabled', on-label='Ja', off-label='Nee')
  label(for='enabled') {{:: "VERIFIED_BRANDS" | translate}} 
  // <div><a ng-click="openCreateBrandModal()" class="btn btn-md btn-dark pull-right">{{:: "NEW_BRAND" | translate}}</a><br/>
  .col-md-12
    h3 {{:: "BRANDS" | translate}}
    input.form-control(ng-model='brandFilter', placeholder='{{:: "INPUT_FILTER_BRANDS" | translate}}')
    br
    img(src='/images/loading.gif', ng-hide='!loading', style='height:100px; width: 100px;')
    .list-group
      a.list-group-item(ng-repeat='brand in brands | filter: brandFilter | limitTo:totalDisplayed', ui-sref='admin.brand({nameSlug:brand.nameSlug})')
        div {{brand.name}}
    br
    button.btn(ng-click='loadMore()') {{:: "LOAD_MORE" | translate}}
    br
    br
    br
