app/dist/views/admin/brand-edit.html

<div class="container">
  <div class="row" ng-init="loadBrand(); getCampaigns()">
    <div class="col-md-12">
      <h3>{{:: "EDIT_BRAND" | translate}}</h3>
    </div>
    <div class="col-md-12">
      <div ng-hide="!brand.website"><a class="btn btn-dark pull-right button-margin-right" href="http://{{brand.website}}" target="_blank">
           {{:: "GO_TO_WEBSITE" | translate}}</a></div>
      <h5>{{:: "BRAND" | translate}}</h5>
      <div class="row"></div>
      <uib-tabset active="active">
        <uib-tab heading="{{:: &quot;BRAND_DATA&quot; | translate}}">
          <div class="row">
            <div class="col-md-4">
              <h5>{{:: "GENERAL" | translate}}</h5>
              <div class="form-group">
                <label for="brandname">{{:: "BRAND_NAME" | translate}}</label>
                <input class="form-control" type="text" ng-model="brand.name" id="brandname" placeholder="Merknaam"/>
                <label for="slug">Slug</label>
                <input class="form-control disabled" type="text" disabled="disabled" ng-model="brand.nameSlug" id="slug" placeholder="Slug"/>
                <label for="description">{{:: "DESCRIPTION" | translate}}</label>
                <textarea class="form-control" type="text" ng-model="brand.description" id="description" placeholder="{{:: &quot;DESCRIPTION&quot; | translate}}"></textarea><br/>
              </div>
            </div>
            <div class="col-md-4">
              <h5>{{:: "CONTACT" | translate}}</h5>
              <div class="form-group">
                <label for="email">{{:: "INPUT_EMAILADRESS" | translate}}</label>
                <input class="form-control" type="text" ng-model="brand.email" id="email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}"/>
                <label for="website">{{:: "TEXT_WEBSITE" | translate}}</label>
                <input class="form-control" type="text" ng-model="brand.website" id="website" placeholder="{{:: &quot;TEXT_WEBSITE&quot; | translate}}"/>
                <label for="foundingYear">{{:: "FOUNDING_YEAR" | translate}}</label>
                <input class="form-control" type="number" ng-model="brand.foundingYear" id="foundingYear" placeholder="{{:: &quot;FOUNDING_YEAR&quot; | translate}}"/>
                <label for="categories">{{:: "CATEGORIES" | translate}}</label>
                <input class="form-control" type="text" ng-model="brand.categories" id="categories" placeholder="{{:: &quot;CATEGORIES&quot; | translate}}"/>
                <label for="manufacturer">{{:: "MANUFACTURER" | translate}}</label>
                <input class="form-control" type="text" ng-model="brand.manufacturer" id="manufacturer" placeholder="{{:: &quot;MANUFACTURER&quot; | translate}}"/>
              </div>
            </div>
            <div class="col-md-4">
              <h5>{{:: "OTHER" | translate}}</h5>
              <div class="form-group">
                <toggle-switch id="isfeatured" name="isfeatured" ng-model="brand.isFeatured" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="isfeatured">{{:: "EXPLAIN_ISFEATURED" | translate}}</label><br/><br/>
                <toggle-switch id="restricted" name="restricted" ng-model="brand.restricted" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="restricted">{{:: "EXPLAIN_RESTRICTED" | translate}}</label><br/><br/>
                <toggle-switch id="isVerified" name="isVerified" ng-model="brand.isVerified" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="isVerified">{{:: "IS_VERIFIED" | translate}}</label>
              </div>
            </div>
            <div class="col-md-8 hidden">
              <div class="uib-carousel hidden-xs hidden-sm" uib-carousel="uib-carousel" active="activeSlide" interval="7000">
                <div uib-slide="uib-slide" ng-repeat="slide in brand.images" index="$index" style="height: 500px"><img ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}"/></div>
              </div>
              <div class="brand-image hidden-md hidden-lg"><img ng-src="{{awsUrl + brand.images[0].src}}" alt="brand.images[0].alt"/></div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4" ng-repeat="image in brand.images"><img src="{{awsUrl}}{{image.src}}"/><br/><br/>
              <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="image.imageFirst" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "SELECT_FILE" | translate}}
                <div>{{:: "OR_DRAG_AND_DROP_FILE" | translate}}</div><img ngf-thumbnail="image.imageFirst"/><br/>
              </div>
              <button class="btn btn-lg" ng-click="imageUpload($index)">{{:: "UPLOAD_AND_SAVE" | translate}}</button>
              <input class="btn btn-lg btn-light" type="submit" ng-click="deleteImage($index)" value="X"/>
              <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">
                {{uploadProgress}} / 100{{uploadProgress}} / 100</uib-progressbar>
            </div>
            <div class="col-md-4"><br/><br/><br/><br/>
              <input class="btn btn-lg btn-dark" type="submit" ng-click="addImage()" value="{{:: &quot;ADD_IMAGE&quot; | translate}}"/>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="{{:: &quot;UPDATES&quot; | translate}}">
          <div class="block-small">
            <input class="hidden" type="text" ng-model="search.brand.name" ng-init="search.brand.name = 'Prisma'"/><b>{{:: "UNPAID_PROMOTIONS_PREPARED_BY_SUPPLIERS" | translate}}</b>
            <p style="text">{{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   </p>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in updates | filter: search | orderBy: '-endDate'">
                <campaign-retailer-block modal="true"></campaign-retailer-block>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="{{:: &quot;PAID_PROMOTIONS&quot; | translate}}">
          <uib-tab-heading><i class="fa fa-bullhorn fa-lg"></i> {{:: "PROMOTIONS" | translate}}</uib-tab-heading>
          <div class="block-small"><b>{{:: "PROMOTIONS_PAID_FOR_PREPARED_BY_SUPPLIERS" | translate}}</b>
            <p>{{campaigns.length}}</p>
            <div class="row"><br/>
              <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in campaigns | filter: search | orderBy: '-endDate'">
                <campaign-admin-block></campaign-admin-block>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-md-12">
      <input class="btn btn-lg btn-green" type="submit" ng-click="updateBrand()" value="{{:: &quot;BUTTON_SAVE&quot; | translate}}"/>
    </div>
  </div>
</div>

app/src/views/admin/brand-edit.pug
.container
    .row(ng-init="loadBrand(); getCampaigns()")
        .col-md-12
            h3 {{:: "EDIT_BRAND" | translate}}
        .col-md-12
            div(ng-hide="!brand.website")
                a.btn.btn-dark.pull-right.button-margin-right(href="http://{{brand.website}}", target='_blank') 
                    | {{:: "GO_TO_WEBSITE" | translate}}
            h5 {{:: "BRAND" | translate}}
            .row
            uib-tabset(active)
                uib-tab(heading='{{:: "BRAND_DATA" | translate}}')
                    .row
                        .col-md-4
                            h5 {{:: "GENERAL" | translate}}
                            .form-group
                                label(for="brandname") {{:: "BRAND_NAME" | translate}}
                                input(type="text", ng-model="brand.name" id="brandname", placeholder="Merknaam").form-control
                                label(for="slug") Slug
                                input(type="text", disabled="disabled" ng-model="brand.nameSlug" id="slug", placeholder="Slug").form-control.disabled
                                label(for="description") {{:: "DESCRIPTION" | translate}}
                                textarea(type="text", ng-model="brand.description" id="description", placeholder='{{:: "DESCRIPTION" | translate}}').form-control
                                br
                        .col-md-4
                            h5 {{:: "CONTACT" | translate}}
                            .form-group
                                label(for="email") {{:: "INPUT_EMAILADRESS" | translate}}
                                input(type="text", ng-model="brand.email" id="email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}').form-control
                                label(for="website") {{:: "TEXT_WEBSITE" | translate}}
                                input(type="text", ng-model="brand.website" id="website", placeholder='{{:: "TEXT_WEBSITE" | translate}}').form-control
                                label(for="foundingYear") {{:: "FOUNDING_YEAR" | translate}}
                                input(type="number", ng-model="brand.foundingYear" id="foundingYear", placeholder='{{:: "FOUNDING_YEAR" | translate}}').form-control
                                label(for="categories") {{:: "CATEGORIES" | translate}}
                                input(type="text", ng-model="brand.categories" id="categories", placeholder='{{:: "CATEGORIES" | translate}}').form-control
                                label(for="manufacturer") {{:: "MANUFACTURER" | translate}}
                                input(type="text", ng-model="brand.manufacturer" id="manufacturer", placeholder='{{:: "MANUFACTURER" | translate}}').form-control
                        .col-md-4
                            h5 {{:: "OTHER" | translate}}
                            .form-group
                                toggle-switch(id="isfeatured", name="isfeatured", ng-model="brand.isFeatured", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="isfeatured") {{:: "EXPLAIN_ISFEATURED" | translate}}
                                br
                                br
                                toggle-switch(id="restricted", name="restricted", ng-model="brand.restricted", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="restricted") {{:: "EXPLAIN_RESTRICTED" | translate}}
                                br
                                br
                                toggle-switch#isVerified(name='isVerified', ng-model='brand.isVerified', on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for='isVerified') {{:: "IS_VERIFIED" | translate}}
                        .col-md-8.hidden
                            .uib-carousel.hidden-xs.hidden-sm(uib-carousel active="activeSlide" interval="7000")
                                div(uib-slide ng-repeat="slide in brand.images" index="$index" style="height: 500px")
                                    img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
                            .brand-image.hidden-md.hidden-lg
                                img(ng-src="{{awsUrl + brand.images[0].src}}" alt="brand.images[0].alt")
                    hr
                    .row
                        .col-md-4(ng-repeat="image in brand.images")
                            img(src="{{awsUrl}}{{image.src}}")
                            br
                            br
                            .drop-box(ngf-drop='ngf-drop', ngf-select='ngf-select', ng-model='image.imageFirst', ngf-pattern="'image/*'", ngf-allow-dir='allowDir', ngf-drop-available='dropAvailable')
                              | {{:: "SELECT_FILE" | translate}}
                              div {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
                              img(ngf-thumbnail='image.imageFirst')
                              br
                            button.btn.btn-lg(ng-click='imageUpload($index)') {{:: "UPLOAD_AND_SAVE" | translate}}
                            input.btn.btn-lg.btn-light(type='submit', ng-click='deleteImage($index)', value='X')
                            uib-progressbar.progress-striped.active(max='100', value='uploadProgress', type='succes', ng-show='upload') {{uploadProgress}} / 100
                                              | {{uploadProgress}} / 100
                        .col-md-4
                            br
                            br
                            br
                            br
                            input(type="submit", ng-click="addImage()", value='{{:: "ADD_IMAGE" | translate}}').btn.btn-lg.btn-dark
                uib-tab(heading='{{:: "UPDATES" | translate}}')
                    .block-small
                        input(type="text", ng-model="search.brand.name" ng-init="search.brand.name = 'Prisma'").hidden
                        b {{:: "UNPAID_PROMOTIONS_PREPARED_BY_SUPPLIERS" | translate}}
                        p(style='text') {{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   
                        .row
                            .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in updates | filter: search | orderBy: '-endDate'")
                                campaign-retailer-block(modal='true')
                uib-tab(heading='{{:: "PAID_PROMOTIONS" | translate}}')
                    uib-tab-heading
                        i.fa.fa-bullhorn.fa-lg
                        |  {{:: "PROMOTIONS" | translate}}
                    .block-small
                        b {{:: "PROMOTIONS_PAID_FOR_PREPARED_BY_SUPPLIERS" | translate}}
                        p {{campaigns.length}}
                        .row
                            br
                            .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in campaigns | filter: search | orderBy: '-endDate'")
                                campaign-admin-block
    br
    .row
        .col-md-12
             input(type="submit", ng-click="updateBrand()", value='{{:: "BUTTON_SAVE" | translate}}').btn.btn-lg.btn-green
