app/dist/views/admin/campaign.html

<div class="container edit-campaign" ng-init="getCampaign()">
  <h3>{{:: "CAMPAIGN" | translate}}: {{campaign.name}}</h3>
  <div class="block-small">
    <div class="col-md-5"><b>{{:: "RECEIVED_FROM" | translate}}: </b><br/>
      <p>{{:: "COMPANY_NAME" | translate}}: {{campaign.wholesaler.name}}</p><br/>
      <p>{{:: "PHONE_NUMBER" | translate}}: {{campaign.wholesaler.telephone}}</p><br/>
      <p>{{:: "CREATED_BY" | translate}}</p>
      <pre>{{campaign.user.name | json}}</pre>
      <div ng-if="campaign.user != undefined"><a class="btn btn-md btn-default" ui-sref="admin.user({userId:campaign.user._id})">{{:: "OPEN_USER" | translate}}</a></div>
      <div class="row"></div>
    </div>
    <div class="row"><b>{{:: "VIEW" | translate}}</b><br/><br/><a class="btn btn-success btn-lg" ui-sref="brand.new-campaign" target="_blank">{{:: "OPEN_SUBMITTED_CAMPAIGN" | translate}}</a><br/><br/></div>
    <div class="col-md-7"></div>
    <div class="row"></div>
    <div class="col-md-5">
      <div class="row" ng-show="!campaign.isVerified">
        <p>Prepayment on campaign (estimated amount)</p>
        <toggle-switch ng-model="campaign.estimationAmountPaid" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}" uib-tooltip-html="&quot;{{:: &quot;The estimation amount is the amount the brand/wholesaler should pay before the campaign can be approved below.&quot; | translate}}&quot;"> </toggle-switch>
        <div class="row"></div><br/><b>{{:: "THIS_CAMPAIGN_HAS_NOT_YET_BEEN_APPROVED" | translate}}</b><br/><a class="btn btn-success btn-md" ng-click="approveCampaign()" ng-disabled="!campaign.estimationAmountPaid">{{:: "APPROVE" | translate}}</a><br/>
        <p>{{:: "APPROVE_THE_CAMPAIGN_SO_THAT_IT_CAN_BE_CARRIED_OUT" | translate}}</p>
      </div>
      <div class="alert-warning" uib-alert="uib-alert" ng-show="campaign.isPublished"> 
        <p><strong>{{:: "CAUTION" | translate}} &nbsp; {{:: "THIS_CAMPAIGN_HAS_BEEN_PUBLISHED_AND_IS_THEREFORE_VISIBLE_TO_EVERYONE_" | translate}}</strong><a class="btn btn-md btn-dark" ng-click="campaign.isPublished = false"></a><span>{{:: "CLICK_HERE_TO_MAKE_THE_CAMPAIGN_INVISIBLE_AGAIN" | translate}}</span></p>
      </div>
      <div class="row"></div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <p> </p><br/>
        <input class="form-control" ng-if="campaign.estimationAmountPaid" type="text" ng-model="campaign.estimationAmount" placeholder="Estimation Amount pre-paid by Brand/Wholesaler" id="campaign-title"/>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="block-small">
    <button class="btn btn-green pull-right" type="submit" ng-click="updateCampaign(true)" value="Opslaan">{{:: "BUTTON_SAVE" | translate}}</button>
  </div>
</div>

app/src/views/admin/campaign.pug
.container.edit-campaign(ng-init="getCampaign()")
	h3 {{:: "CAMPAIGN" | translate}}: {{campaign.name}}
	.block-small
		.col-md-5
			b {{:: "RECEIVED_FROM" | translate}}: 
			br
			p {{:: "COMPANY_NAME" | translate}}: {{campaign.wholesaler.name}}
			br
			p {{:: "PHONE_NUMBER" | translate}}: {{campaign.wholesaler.telephone}}
			br
			p {{:: "CREATED_BY" | translate}}
			pre {{campaign.user.name | json}}
			div(ng-if="campaign.user != undefined")
				a.btn.btn-md.btn-default(ui-sref="admin.user({userId:campaign.user._id})") {{:: "OPEN_USER" | translate}}
			.row
		.row
			b {{:: "VIEW" | translate}}
			br
			br
			a.btn.btn-success.btn-lg(ui-sref="brand.new-campaign", target="_blank") {{:: "OPEN_SUBMITTED_CAMPAIGN" | translate}}
			br
			br
		.col-md-7
		.row
		.col-md-5
			.row(ng-show="!campaign.isVerified")
				p Prepayment on campaign (estimated amount)
				toggle-switch(ng-model="campaign.estimationAmountPaid", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}" uib-tooltip-html='"{{:: "The estimation amount is the amount the brand/wholesaler should pay before the campaign can be approved below." | translate}}"') 
				.row
				br
				b {{:: "THIS_CAMPAIGN_HAS_NOT_YET_BEEN_APPROVED" | translate}}
				br
				a.btn.btn-success.btn-md(ng-click="approveCampaign()" ng-disabled="!campaign.estimationAmountPaid") {{:: "APPROVE" | translate}}
				br
				p {{:: "APPROVE_THE_CAMPAIGN_SO_THAT_IT_CAN_BE_CARRIED_OUT" | translate}}
			div(uib-alert, ng-show="campaign.isPublished").alert-warning 
				p
					strong {{:: "CAUTION" | translate}} &nbsp; {{:: "THIS_CAMPAIGN_HAS_BEEN_PUBLISHED_AND_IS_THEREFORE_VISIBLE_TO_EVERYONE_" | translate}}
					a.btn.btn-md.btn-dark(ng-click="campaign.isPublished = false")
					span {{:: "CLICK_HERE_TO_MAKE_THE_CAMPAIGN_INVISIBLE_AGAIN" | translate}}
			.row
		.col-md-7
			.row
				p 
				br
				input(ng-if="campaign.estimationAmountPaid" type="text" ng-model="campaign.estimationAmount" placeholder="Estimation Amount pre-paid by Brand/Wholesaler").form-control#campaign-title
	.row
	.block-small
		button(type="submit", ng-click="updateCampaign(true)", value="Opslaan").btn.btn-green.pull-right {{:: "BUTTON_SAVE" | translate}}
