app/dist/views/brand/campaigns.html

<div class="container portal retailer" ng-init="getCampaigns()">
  <h3>{{:: "SOCIAL_MEDIA" | translate}}<a class="btn btn-dark pull-right" ui-sref="brand.home" ng-hide="activeTab != 4">{{:: "BACK" | translate}}</a><a class="btn btn-light pull-right" ng-click="activeTab = 4" ng-hide="activeTab == 4"><i class="fa fa-arrow-left"></i></a></h3><br/>
  <div class="row"></div>
  <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert()">
    <p bind-html-compile="alert.msg"></p>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="btn-group" uib-dropdown="" is-open="status.isopen">
            <button class="btn btn-grey" id="single-button" type="button" uib-dropdown-toggle="" ng-disabled="disabled">{{:: "VIEWING_ACTIONS" | translate}}<span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="split-button">
              <li role="menuitem"><a ng-click="activeTab = 0">{{:: "PROMOTIONS_PAID_FOR" | translate}}</a></li>
              <li role="menuitem"><a ng-click="activeTab = 1">{{:: "UNPAID_PROMOTIONS" | translate}}</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a ui-sref="brand.new-campaign" target="_blank">{{:: "CREATE_A_NEW_ACTION" | translate}}</a></li>
              <li role="menuitem"><a ui-sref="brand.new-campaign" target="_blank">{{:: "DRAWING_UP_AN_UPDATE" | translate}}</a></li>
            </ul>
          </div>
          <div class="btn-group pull-right">
            <button class="btn btn btn-md btn-light button-margin-right" id="single-button" ng-click="activeTab = 5"><i class="fa fa-list"></i>{{:: "MY_TASKS" | translate}} &nbsp;<span class="badge" ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'">{{openTasks}}</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <uib-tabset active="activeTab">
    <uib-tab index="0" ui-sref="tab0" ng-hide="true">
      <uib-tab-heading><i class="fa fa-bullhorn fa-lg"></i> {{:: "PROMOTIONS" | translate}}</uib-tab-heading>
      <div class="block-small"><b>{{:: "PAID_PROMOTIONS_EDITED_BY_YOU" | translate}}</b>
        <div class="row"><br/>
          <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in campaigns | orderBy: '-startDate'">
            <campaign-brand-block></campaign-brand-block>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1" ui-sref="tab1" heading="{{:: &quot;UPDATES&quot; | translate}}" ng-hide="true">
      <div class="block-small"><b>{{:: "UNPAID_PROMOTIONS_EDITED_BY_YOU" | translate}}</b>
        <p style="text">{{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   </p>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in updates | orderBy: '-startDate'">
            <campaign-brand-block modal="true"></campaign-brand-block>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="4" ng-hide="true" heading="{{:: &quot;MY_PROMOTIONS_AND_SETTINGS&quot; | translate}}">
      <div class="block-small"><b>{{:: "PROMOTIONS_MADE" | translate}}</b>
        <p style="text">{{:: "THESE_PROMOTIONS_ARE_MADE_BY_YOU" | translate}}</p>
        <div class="row">
          <div class="alert-success" uib-alert="uib-alert" ng-show="campaigns &amp;&amp; campaigns.length == 0">
            <p><strong>{{:: "YOU_HAVE_NO_CAMPAIGNS_YET" | translate}}</strong><a class="btn btn-md btn-dark" ui-sref="brand.new-campaign" target="_blank">{{:: "ADD_CAMPAIGNS" | translate}}</a></p>
          </div>
          <div class="col-md-3" ng-repeat="item in campaigns | orderBy: '-startDate'">
            <campaign-brand-block></campaign-brand-block>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab class="pull-right" index="5" ui-sref="tab3" ng-hide="true" heading="{{:: &quot;MY_TASKS&quot; | translate}}">
      <div class="col-md-12">
        <div class="row">
          <h3>{{:: "MY_TASKS" | translate}}</h3>
          <div class="col-md-12">
            <hr/>
            <div class="alert-success" uib-alert="uib-alert" ng-show="openTasks &lt;= 0">{{:: "NO_OPEN_TASKS" | translate}}</div>
            <ul class="list-group" ng-show="openTasks &gt; 0"> 
              <li class="list-group-item" ng-repeat="task in user.socialPortal.taskList | filter:{completed:false} | orderBy: 'date'"><a class="btn btn-green pull-right" ng-click="openTaskModal(task)">{{:: "OPEN" | translate}}</a>
                <h6 class="list-group-item-heading">{{task.title}}</h6>
                <p class="list-group-item-text">{{task.date | date : "dd-MM-yyyy"}}</p>
              </li>
            </ul>
            <hr/><a class="pull-right" ng-init="showTasks = false" ng-click="showTasks = !showTasks">{{:: "HISTORY" | translate}} &nbsp;<span class="i fa" ng-class="showTasks ? 'fa-chevron-up' : 'fa-chevron-down'"></span></a>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-md-12" uib-collapse="!showTasks">
        <div class="row">
          <h3>{{:: "EXECUTED_ACTIONS" | translate}}</h3>
          <table class="table table-striped table-hover">
            <tr>
              <th width="10%">{{:: "TYPE" | translate}}</th>
              <th width="60%">{{:: "DESCRIPTION" | translate}}</th>
              <th width="15%">{{:: "DATE" | translate}}</th>
              <th width="15%">{{:: "USER" | translate}}</th>
            </tr>
            <tr dir-paginate="log in user.socialPortal.log | orderBy: '-date' | itemsPerPage:20">
              <td> <span class="fa fa-facebook" ng-show="log.type == 'facebook'"></span><span class="fa fa-truck" ng-show="log.type == 'order'"></span><span class="fa fa-instagram" ng-show="log.type == 'instagram'"></span><span class="fa fa-pinterest" ng-show="log.type == 'pinterest'"></span><span class="fa fa-check" ng-show="log.type == 'task'"></span>&nbsp; {{log.type}}</td>
              <td>{{log.title}}</td>
              <td>{{log.date | date : "dd-MM-yyyy HH:mm:ss"}}</td>
              <td>{{log.user}}</td>
            </tr>
          </table>
          <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

app/src/views/admin/campaigns.pug
.container.portal.retailer(ng-init="getCampaigns()")
    h3 {{:: "SOCIAL_MEDIA" | translate}}
        a.btn.btn-dark.pull-right(ui-sref="admin.home" ng-hide="activeTab != 4") {{:: "BACK" | translate}}
        a.btn.btn-light.pull-right(ng-click="activeTab = 4" ng-hide="activeTab == 4")
            i.fa.fa-arrow-left
    br
    .row
    div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
        p(bind-html-compile="alert.msg")
    .col-md-12
        .row
            .col-md-12
                div
                    .btn-group(uib-dropdown='', is-open='status.isopen')
                        button#single-button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled') {{:: "ASSESSING_ACTIONS" | translate}}
                            span.caret
                        ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
                            li(role='menuitem')
                                a(ng-click="activeTab = 0") {{:: "NEW_PAID_PROMOTIONS" | translate}}
                            li(role='menuitem')
                                a(ng-click="activeTab = 1") {{:: "NEW_UNPAID_PROMOTIONS" | translate}}
                            li.divider
                            li(role='menuitem').hidden
                                a(ng-click="openCreateCampaignModal()") {{:: "SET_UP_CAMPAIGN_YOURSELF" | translate}}
                    .btn-group.pull-right
                        button#single-button.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 5")
                            i.fa.fa-list
                            | {{:: "MY_TASKS" | translate}} &nbsp;
                            span.badge(ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'") {{openTasks}}
    uib-tabset(active='activeTab')
        uib-tab(index='0', ui-sref='tab0' ng-hide='true')
            uib-tab-heading
                i.fa.fa-bullhorn.fa-lg
                |  {{:: "PROMOTIONS" | translate}}
            .block-small
                b {{:: "PROMOTIONS_PAID_FOR_PREPARED_BY_SUPPLIERS" | translate}}
                p {{campaigns.length}}
                .row
                    br
                    .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in campaigns | orderBy: '-creationDate'")
                        campaign-admin-block
        uib-tab(index='1', ui-sref='tab1' heading='{{:: "UPDATES" | translate}}' ng-hide='true')
            .block-small
                b {{:: "UNPAID_PROMOTIONS_PREPARED_BY_SUPPLIERS" | translate}}
                p(style='text') {{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   
                .row
                    .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in updates | orderBy: '-creationDate'")
                        campaign-retailer-block(modal='true')
        uib-tab(index='4', ng-hide='true' heading='{{:: "MY_PROMOTIONS_AND_SETTINGS" | translate}}')
            .block-small
                b {{:: "PROMOTIONS_REVIEWED" | translate}}
                p(style='text') {{:: "THESE_PROMOTIONS_HAVE_BEEN_ASSESSED_BY_YOU" | translate}}
                .row
                    div(uib-alert, ng-show="campaigns && campaigns.length == 0" class="alert-success")
                        p
                            strong {{:: "YOU_HAVE_NO_CAMPAIGNS_YET" | translate}}
                            a.btn.btn-md.btn-dark(ng-click="$scope.active = '1'") {{:: "ADD_CAMPAIGNS" | translate}}
                    .col-md-3(ng-repeat="item in campaigns | orderBy: '-creationDate'")
                        campaign-retailer-block
        uib-tab.pull-right(index='5', ui-sref='tab3', ng-hide='true' heading='{{:: "MY_TASKS" | translate}}')
            .col-md-12
                .row
                    h3 {{:: "MY_TASKS" | translate}}
                    .col-md-12
                        hr
                        div(uib-alert, ng-show="openTasks <= 0" class="alert-success")
                            | {{:: "NO_OPEN_TASKS" | translate}}
                        ul.list-group(ng-show="openTasks > 0") 
                            li.list-group-item(ng-repeat="task in user.socialPortal.taskList | filter:{completed:false} | orderBy: 'date'")
                                a.btn.btn-green.pull-right(ng-click='openTaskModal(task)') {{:: "OPEN" | translate}}
                                h6.list-group-item-heading {{task.title}}
                                p.list-group-item-text {{task.date | date : "dd-MM-yyyy"}}
                        hr
                        a.pull-right(ng-init="showTasks = false" ng-click="showTasks = !showTasks")
                            | {{:: "HISTORY" | translate}} &nbsp;
                            span.i.fa(ng-class="showTasks ? 'fa-chevron-up' : 'fa-chevron-down'")

            .row
            .col-md-12(uib-collapse="!showTasks")
                .row
                    h3 {{:: "EXECUTED_ACTIONS" | translate}}
                    table.table.table-striped.table-hover
                        tr
                            th(width="10%") {{:: "TYPE" | translate}}
                            th(width="60%") {{:: "DESCRIPTION" | translate}}
                            th(width="15%") {{:: "DATE" | translate}}
                            th(width="15%") {{:: "USER" | translate}}
                        tr(dir-paginate="log in user.socialPortal.log | orderBy: '-date' | itemsPerPage:20")
                            td 
                                span.fa.fa-facebook(ng-show="log.type == 'facebook'")
                                span.fa.fa-truck(ng-show="log.type == 'order'")
                                span.fa.fa-instagram(ng-show="log.type == 'instagram'")
                                span.fa.fa-pinterest(ng-show="log.type == 'pinterest'")
                                span.fa.fa-check(ng-show="log.type == 'task'")
                                | &nbsp; {{log.type}}
                            td {{log.title}}
                            td {{log.date | date : "dd-MM-yyyy HH:mm:ss"}}
                            td {{log.user}}
                    dir-pagination-controls(max-size="5" direction-links="true", boundary-links="true")
