app/dist/views/admin/home.html

<div class="container">
  <div class="portal">
    <div class="row"></div>
    <uib-tabset active="activeTab">
      <uib-tab index="0" ui-sref="tab1" heading="Support: data verification">
        <div class="row"></div>
        <div class="col-xs-12 col-md-7">
          <div class="panel">
            <p class="panel-heading">Manage shared data</p>
            <div class="panel-body">
              <div class="row"><b>&nbsp;&nbsp;&nbsp; Verify {{:: "PRODUCTS" | translate}} (changes, delete, duplicates and inapropriate content)</b><br/><br/>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.products"><i class="fa fa-cube fa-4x"></i>
                    <h6 class="text-center">SEPARATE {{:: "PRODUCTS" | translate}}</h6></a></div>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.products-to-delete"><i class="fa fa-trash fa-4x"></i>
                    <h6 class="text-center">{{:: "DELETE_PRODUCTS_SUGGESTIONS" | translate}}</h6></a></div>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.products-to-merge"><i class="fa fa-4x fa-sign-language"></i>
                    <h6 class="text-center">{{:: "PRODUCTS_TO_MERGE" | translate}}</h6></a></div>
              </div>
              <div class="row">
                <hr/><b>&nbsp;&nbsp;&nbsp; Translate new added {{:: "COLLECTIONS" | translate}}</b><br/><br/>
                <div class="col-xs-4 hidden"><a class="menublock" ui-sref="admin.clarity"><i class="fa fa-download fa-4x"></i>
                    <h6 class="text-center">Article database</h6></a></div>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.product-collections"><i class="fa fa-tags fa-4x"></i>
                    <h6 class="text-center">{{:: "COLLECTIONS" | translate}}</h6></a></div>
              </div>
              <div class="row">
                <hr/><b>&nbsp;&nbsp;&nbsp; Help retailers with {{:: "PRODUCT_IMPORTS" | translate}} (Data quality check)</b><br/><br/>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.imports"><i class="fa fa-file-excel-o fa-4x"></i>
                    <h6 class="text-center">{{:: "PRODUCT_IMPORTS" | translate}}</h6></a></div>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.product-import"><i class="fa fa-upload fa-4x"></i>
                    <h6 class="text-center">{{:: "PRODUCT_IMPORT" | translate}}</h6></a></div>
              </div>
              <div class="row">
                <hr/><b>&nbsp;&nbsp;&nbsp; Verify added {{:: "BRANDS" | translate}}</b><br/><br/>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.brands"><i class="fa fa-diamond fa-4x"></i>
                    <h6 class="text-center">{{:: "BRANDS" | translate}}</h6></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-5">
          <div class="panel">
            <p class="panel-heading">Manage {{:: "COMPANIES" | translate}}</p>
            <div class="panel-body">
              <div class="row"><b>&nbsp;&nbsp;&nbsp; Verify {{:: "COMPANIES" | translate}} ({{:: "WHOLESALERS" | translate}}) and connect to users</b><br/><br/>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.wholesalers"><i class="fa fa-truck fa-4x"></i>
                    <h6 class="text-center">{{:: "COMPANIES" | translate}}</h6></a></div>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.users({userType:'wholesaler'})"><i class="fa fa-user fa-4x"></i>
                    <h6 class="text-center">{{:: "USERS" | translate}}</h6></a></div>
              </div>
              <div class="row">
                <hr/><b>&nbsp;&nbsp;&nbsp; Remove duplicates and inapropriate content)</b><br/><br/>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.wholesalers-to-delete"><i class="fa fa-trash fa-4x"></i>
                    <h6 class="text-center">Delete companies suggestions</h6></a></div>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.wholesalers-to-merge"><i class="fa fa-4x fa-sign-language"></i>
                    <h6 class="text-center">Companies to merge</h6></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 hidden">
          <div class="panel">
            <p class="panel-heading">{{:: "MANUFACTURERS" | translate}}</p>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6"><a class="menublock" href="#"><i class="fa fa-industry fa-4x"></i>
                    <h6 class="text-center">{{:: "MANUFACTURERS" | translate}}</h6></a></div>
                <div class="col-xs-6"><a class="menublock" href="#"><i class="fa fa-user fa-4x"></i>
                    <h6 class="text-center">{{:: "USERS" | translate}}</h6></a></div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" ui-sref="tab1" heading="Sales (new users)">
        <div class="row"></div>
        <div class="col-xs-12 col-md-7">
          <div class="panel">
            <p class="panel-heading">Manage retailers</p>
            <div class="panel-body">
              <div class="row"><b>&nbsp;&nbsp;&nbsp; Connect {{:: "SHOPS" | translate}} to users and add shop data</b><br/><br/>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.shops"><i class="fa fa-shopping-cart fa-4x"></i>
                    <h6 class="text-center">{{:: "SHOPS" | translate}}</h6></a></div>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.users({userType:'retailer'})"><i class="fa fa-user fa-4x"></i>
                    <h6 class="text-center">{{:: "USERS" | translate}}</h6></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-5">
          <div class="panel">
            <p class="panel-heading">Manage {{:: "COMPANIES" | translate}}</p>
            <div class="panel-body">
              <div class="row"><b>&nbsp;&nbsp;&nbsp; Verify {{:: "COMPANIES" | translate}} ({{:: "WHOLESALERS" | translate}}) and connect to users</b><br/><br/>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.wholesalers"><i class="fa fa-truck fa-4x"></i>
                    <h6 class="text-center">{{:: "COMPANIES" | translate}}</h6></a></div>
                <div class="col-xs-6"><a class="menublock" ui-sref="admin.users({userType:'wholesaler'})"><i class="fa fa-user fa-4x"></i>
                    <h6 class="text-center">{{:: "USERS" | translate}}</h6></a></div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="2" ui-sref="tab1" heading="Marketing: Social Media">
        <div class="row"></div>
        <div class="col-xs-6 col-md-5">
          <div class="panel">
            <p class="panel-heading">Use {{:: "MARKETING" | translate}} tools</p>
            <div class="panel-body">
              <div class="row"><b>&nbsp;&nbsp;&nbsp; Verify {{:: "CAMPAIGNS" | translate}}, create updates and news items</b><br/><br/>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.campaigns"><i class="fa fa-calendar fa-4x"></i>
                    <h6 class="text-center">{{:: "CAMPAIGNS" | translate}}</h6></a></div>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.social-portals"><i class="fa fa-flag-o fa-4x"></i>
                    <h6 class="text-center">{{:: "STATUS SOCIAL PORTALS" | translate}}</h6></a></div>
                <div class="col-xs-4"><a class="menublock" ui-sref="admin.news"><i class="fa fa-newspaper-o fa-4x"></i>
                    <h6 class="text-center">{{:: "NEWS_ITEMS" | translate}}</h6></a></div>
              </div>
              <div class="row">
                <ul class="text-center">
                  <li style="list-style-type: none">
                    <button class="btn btn-primary" ng-click="login()"><span class="fa fa-facebook"></span>&nbsp; {{:: "REFRESH_FACEBOOK_TOKEN" | translate}}</button><br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

app/src/views/admin/home.pug
.container
	.portal
		.row
		uib-tabset(active='activeTab')
			uib-tab(index='0', ui-sref='tab1' heading='Support: data verification')
				.row
				.col-xs-12.col-md-7
					.panel
						p.panel-heading Manage shared data
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "PRODUCTS" | translate}} (changes, delete, duplicates and inapropriate content)
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.products")
										i.fa.fa-cube.fa-4x
										h6.text-center SEPARATE {{:: "PRODUCTS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.products-to-delete")
										i.fa.fa-trash.fa-4x
										h6.text-center {{:: "DELETE_PRODUCTS_SUGGESTIONS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.products-to-merge")
										i.fa.fa-4x.fa-sign-language
										h6.text-center {{:: "PRODUCTS_TO_MERGE" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Translate new added {{:: "COLLECTIONS" | translate}}
								br
								br
								.col-xs-4.hidden
									a.menublock(ui-sref="admin.clarity")
										i.fa.fa-download.fa-4x
										h6.text-center Article database
								.col-xs-4
									a.menublock(ui-sref="admin.product-collections")
										i.fa.fa-tags.fa-4x
										h6.text-center {{:: "COLLECTIONS" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Help retailers with {{:: "PRODUCT_IMPORTS" | translate}} (Data quality check)
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.imports")
										i.fa.fa-file-excel-o.fa-4x
										h6.text-center {{:: "PRODUCT_IMPORTS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.product-import")
										i.fa.fa-upload.fa-4x
										h6.text-center {{:: "PRODUCT_IMPORT" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Verify added {{:: "BRANDS" | translate}}
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.brands")
										i.fa.fa-diamond.fa-4x
										h6.text-center {{:: "BRANDS" | translate}}
				.col-xs-6.col-md-5
					.panel
						p.panel-heading Manage {{:: "COMPANIES" | translate}}
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "COMPANIES" | translate}} ({{:: "WHOLESALERS" | translate}}) and connect to users
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers")
										i.fa.fa-truck.fa-4x
										h6.text-center {{:: "COMPANIES" | translate}}
								.col-xs-6
									a.menublock(ui-sref="admin.users({userType:'wholesaler'})")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Remove duplicates and inapropriate content)
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers-to-delete")
										i.fa.fa-trash.fa-4x
										h6.text-center Delete companies suggestions
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers-to-merge")
										i.fa.fa-4x.fa-sign-language
										h6.text-center Companies to merge
				.col-xs-12.col-md-4.hidden
					.panel
						p.panel-heading {{:: "MANUFACTURERS" | translate}}
						.panel-body
							.row
								.col-xs-6
									a.menublock(href="#")
										i.fa.fa-industry.fa-4x
										h6.text-center {{:: "MANUFACTURERS" | translate}}
								.col-xs-6
									a.menublock(href="#")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
			uib-tab(index='1', ui-sref='tab1' heading='Sales (new users)')
				.row
				.col-xs-12.col-md-7
					.panel
						p.panel-heading Manage retailers
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Connect {{:: "SHOPS" | translate}} to users and add shop data
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.shops")
										i.fa.fa-shopping-cart.fa-4x
										h6.text-center {{:: "SHOPS" | translate}}
								.col-xs-6
									a.menublock(ui-sref="admin.users({userType:'retailer'})")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
				.col-xs-6.col-md-5
					.panel
						p.panel-heading Manage {{:: "COMPANIES" | translate}}
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "COMPANIES" | translate}} ({{:: "WHOLESALERS" | translate}}) and connect to users
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers")
										i.fa.fa-truck.fa-4x
										h6.text-center {{:: "COMPANIES" | translate}}
								.col-xs-6
									a.menublock(ui-sref="admin.users({userType:'wholesaler'})")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
						//- .col-xs-12.col-md-4
			uib-tab(index='2', ui-sref='tab1' heading='Marketing: Social Media')
				.row
				.col-xs-6.col-md-5
					.panel
						p.panel-heading Use {{:: "MARKETING" | translate}} tools
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "CAMPAIGNS" | translate}}, create updates and news items
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.campaigns")
										i.fa.fa-calendar.fa-4x
										h6.text-center {{:: "CAMPAIGNS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.social-portals")
										i.fa.fa-flag-o.fa-4x
										h6.text-center {{:: "STATUS SOCIAL PORTALS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.news")
										i.fa.fa-newspaper-o.fa-4x
										h6.text-center {{:: "NEWS_ITEMS" | translate}}
							.row
								ul.text-center
									li(style="list-style-type: none")
										button.btn.btn-primary(ng-click="login()"  )
											span.fa.fa-facebook
											| &nbsp; {{:: "REFRESH_FACEBOOK_TOKEN" | translate}}
										br
