app/dist/views/admin/index.html
<!DOCTYPE html>
<html ng-app="prismanoteApp">
  <head>
    <base href="/admin">
    <title>{{:: "PRISMANOTE_ADMINISTRATION" | translate}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="google-site-verification" content="MoDRtcSrHyMvq8gSl4NezZbjOcYObx8RSbLSKdR8b0s">
    <link rel="stylesheet" href="/views/css/style.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/angular.bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/hogan.js/3.0/hogan.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
    <script type="text/javascript" src="/scripts/libs.min.js"></script>
  </head>
  <body ng-cloak>
    <section class="page-title style-2">
      <div class="container relative clearfix"></div>
      <div class="top-bar-login" style="display:none;"><a href="" ng-controller="authController" ng-click="openLoginModal()"><i class="fa fa-user pull-left"></i>{{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "LOGIN" | translate }}</a></div>
      <div class="container">
        <div class="title-holder">
          <div class="title-text">
            <h1>{{:: "BUTTON_ADMIN_PORTAL_ACCOUNT_FORM" | translate}} PRISMANOTE</h1>
            <ol class="breadcrumb">
              <li class="active"><a ui-sref="admin.home">{{:: "BACK" | translate}} to {{:: "BUTTON_ADMIN_PORTAL_ACCOUNT_FORM" | translate}}</a></li>
            </ol>
          </div>
          <ui-view></ui-view>
          <div class="row"></div>
          <div id="PrivateTab"></div>
          <div id="contextFirst" style="display:none;"></div>
        </div>
      </div>
    </section>
  </body>
</html>
<div class="container">
  <h3 style="text-align:center;">
    <!-- :::::::::: Yo Yo Chat Live ::::::::::-->
  </h3>
  <div class="panel col-md-3" style="float:left;">
    <div id="context" style="display:none;">
      <div id="leftbar">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="glyphicon glyphicon-user"></span><span class="badge" id="totalUser"></span> Chat with users who are online</div>
          <div class="panel-body bar" style="display:none;">
            <ul class="list-group" id="userList"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

app/src/views/admin/index.pug
doctype html
html(ng-app="prismanoteApp")
    head
        base(href="/admin")
        title {{:: "PRISMANOTE_ADMINISTRATION" | translate}}
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
        meta(name="google-site-verification" content="MoDRtcSrHyMvq8gSl4NezZbjOcYObx8RSbLSKdR8b0s")
        link(rel='stylesheet', href='/views/css/style.css')
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js")
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js")
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js")
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js")
        script(type="text/javascript", src="//cdn.jsdelivr.net/angular.bootstrap/2.4.0/ui-bootstrap-tpls.min.js")
        script(type="text/javascript", src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js")
        script(type="text/javascript", src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js")
        script(type="text/javascript", src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js")
        script(type="text/javascript", src="//cdn.jsdelivr.net/hogan.js/3.0/hogan.min.js")
        script(type="text/javascript", src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js")

        script(type="text/javascript", src="/scripts/scripts.js")
        script(type="text/javascript", src="/scripts/libs.min.js")


    body(ng-cloak)
        section.page-title.style-2
            .container.relative.clearfix
            .top-bar-login(style='display:none;')
                a(href="" ng-controller="authController" ng-click="openLoginModal()")
                    i.fa.fa-user.pull-left
                    | {{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "LOGIN" | translate }}
            .container
                .title-holder
                    .title-text
                        h1 {{:: "BUTTON_ADMIN_PORTAL_ACCOUNT_FORM" | translate}} PRISMANOTE
                        ol.breadcrumb
                            li.active
                                a(ui-sref='admin.home') {{:: "BACK" | translate}} to {{:: "BUTTON_ADMIN_PORTAL_ACCOUNT_FORM" | translate}}
                    ui-view
                    .row
                    #PrivateTab
                    #contextFirst(style='display:none;')
.container
    h3(style='text-align:center;')
        // :::::::::: Yo Yo Chat Live ::::::::::
    .panel.col-md-3(style='float:left;')
        #context(style='display:none;')
            #leftbar
                .panel.panel-default
                    .panel-heading
                        span.glyphicon.glyphicon-user
                        span#totalUser.badge
                        |  Chat with users who are online
                    .panel-body.bar(style='display:none;')
                        ul#userList.list-group
