app/src/views/admin/news.pug
.container(ng-init="getNewsItems()")
	h3 {{:: "NEWS" | translate}}
	div(align='right')
		a.menublock(ui-sref="admin.news-item-new")
			i.fa.fa-plus-circle.fa-2x 
		input(type="text", ng-model="searchQuery" placeholder="Zoeken")
	.container
		.news-page
			.news-page-content.block
				.row
					.col-xs-12.col-sm-6.col-md-4(ng-repeat="item in news | filter:searchQuery | orderBy:'-creationDate'")
						news-item-block-admin-portal(modal='true').block-small

app/dist/views/admin/news.html

<div class="container" ng-init="getNewsItems()">
  <h3>{{:: "NEWS" | translate}}</h3>
  <div align="right"><a class="menublock" ui-sref="admin.news-item-new"><i class="fa fa-plus-circle fa-2x"> </i></a>
    <input type="text" ng-model="searchQuery" placeholder="Zoeken"/>
  </div>
  <div class="container">
    <div class="news-page">
      <div class="news-page-content block">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in news | filter:searchQuery | orderBy:'-creationDate'">
            <news-item-block-admin-portal class="block-small" modal="true"></news-item-block-admin-portal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
