app/dist/views/admin/products.html

<div class="container">
  <h3>{{ "PRODUCTS_TO_VERIFY" | translate }}</h3>
  <div class="row"></div>
  <product-add-admin-portal class="add-product-right-align"></product-add-admin-portal>
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-push-3">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="item in products track by $index">
          <product-block-admin-portal></product-block-admin-portal>
        </div>
      </div>
      <div class="load-more text-center"><a class="btn btn-dark" ng-if="products.length &gt; 0 &amp;&amp; products.length &lt; productCount" ng-click="getProducts()">{{:: "BUTTON_LOADMORE" | translate}}</a></div>
      <p class="no-products-found" ng-if="noProductsFound == true">{{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}</p>
    </div>
    <div class="col-xs-12 col-md-3 col-md-pull-9">
      <form class="product-filters filters"><a class="btn btn-md btn-green hidden" ng-click="resetFilters()">{{:: "TEXT_RESET_FILTERS" | translate}}</a>
        <div class="product-filter filter">
          <div class="filter-content">
            <ul class="fixed-height">
              <li>
                <input type="checkbox" name="isVerified" id="isVerified" ng-model="isVerified" ng-click="toggleIsVerified()" ng-change="verificationsChanged()"/>
                <label for="isVerified">{{:: "VERIFIED_PRODUCTS" | translate}}</label>
              </li>
              <li>
                <input type="checkbox" name="isNotVerified" id="isNotVerified" ng-model="isNotVerified" ng-change="verificationsChanged()"/>
                <label for="isNotVerified">{{:: "UNCHECKED_PRODUCTS" | translate}}</label>
              </li>
            </ul>
          </div>
          <hr/>
        </div>
        <product-filter-by-category></product-filter-by-category>
        <product-sort></product-sort>
        <product-filter-by-gender></product-filter-by-gender>
        <product-filter-by-price></product-filter-by-price>
        <product-filter-by-brand></product-filter-by-brand>
        <product-filter-by-misc-properties ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-misc-properties>
        <product-filter-by-indication ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-indication>
        <product-filter-by-strap-type ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0"></product-filter-by-strap-type>
        <product-filter-by-strap-material ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0"></product-filter-by-strap-material>
        <product-filter-by-strap-width ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0"></product-filter-by-strap-width>
        <product-filter-by-wrist-perimeter ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0"></product-filter-by-wrist-perimeter>
        <product-filter-by-strap-clasp ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0"></product-filter-by-strap-clasp>
        <product-filter-by-case-material ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-case-material>
        <product-filter-by-case-shape ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-case-shape>
        <product-filter-by-case-size ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-case-size>
        <product-filter-by-case-depth ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-case-depth>
        <product-filter-by-waterproof-level ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-waterproof-level>
        <product-filter-by-color></product-filter-by-color>
        <product-filter-by-glass-material ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-glass-material>
        <product-filter-by-dial ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-dial>
        <product-filter-by-type ng-if="category.includes('WATCH') || category.length == 0"></product-filter-by-type>
      </form>
    </div>
  </div>
</div>

app/src/views/admin/products.pug
.container
	h3 {{ "PRODUCTS_TO_VERIFY" | translate }}
	.row
	product-add-admin-portal.add-product-right-align
	.row
		.col-xs-12.col-md-9.col-md-push-3
			.row
				.col-xs-6.col-sm-4.col-md-3(ng-repeat="item in products track by $index")
					product-block-admin-portal
			.load-more.text-center
				a.btn.btn-dark(ng-if="products.length > 0 && products.length < productCount" ng-click="getProducts()") {{:: "BUTTON_LOADMORE" | translate}}
			p.no-products-found(ng-if="noProductsFound == true") {{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}
		.col-xs-12.col-md-3.col-md-pull-9
			form.product-filters.filters
				a(ng-click="resetFilters()").btn.btn-md.btn-green.hidden {{:: "TEXT_RESET_FILTERS" | translate}}


				.product-filter.filter
					.filter-content
						ul.fixed-height
							li
								input(type="checkbox" name="isVerified" id="isVerified" ng-model="isVerified" ng-click="toggleIsVerified()" ng-change="verificationsChanged()")
								label(for="isVerified") {{:: "VERIFIED_PRODUCTS" | translate}}
							li
								input(type="checkbox" name="isNotVerified" id="isNotVerified" ng-model="isNotVerified" ng-change="verificationsChanged()")
								label(for="isNotVerified") {{:: "UNCHECKED_PRODUCTS" | translate}}
									
					hr
				product-filter-by-category
				product-sort
				product-filter-by-gender
				product-filter-by-price
				product-filter-by-brand
				product-filter-by-misc-properties(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-indication(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-strap-type(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-strap-material(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-strap-width(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-wrist-perimeter(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-strap-clasp(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-case-material(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-case-shape(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-case-size(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-case-depth(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-waterproof-level(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-color
				product-filter-by-glass-material(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-dial(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-type(ng-if="category.includes('WATCH') || category.length == 0")
