app/src/views/admin/product-collections.pug
.container
    .row
        .col-md-3
            h5 {{:: "FILTERS" | translate}}
            select(ng-model="isVerified", ng-change="filterChange(isVerified)")
                option(value='all') {{:: "EVERYTHING" | translate}}
                option(value='true') {{:: "VERIFIED" | translate}}
                option(value='false') {{:: "NOT_VERIFIED" | translate}}

        .col-md-9(ng-init="getCollections()")
            h3 {{:: "PRODUCT_COLLECTIONS" | translate}}
            input.form-control(ng-model="collectionFilter", placeholder='Zoek een collectie')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            .list-group
                a(ng-repeat="collection in collections | filter: collectionFilter | filter: verificationFilter | limitTo:totalDisplayed", ui-sref="admin.collection({id:collection._id})").list-group-item
                    div {{collection[language].name}}
            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}

app/dist/views/admin/product-collections.html

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h5>{{:: "FILTERS" | translate}}</h5>
      <select ng-model="isVerified" ng-change="filterChange(isVerified)">
        <option value="all">{{:: "EVERYTHING" | translate}}</option>
        <option value="true">{{:: "VERIFIED" | translate}}</option>
        <option value="false">{{:: "NOT_VERIFIED" | translate}}</option>
      </select>
    </div>
    <div class="col-md-9" ng-init="getCollections()">
      <h3>{{:: "PRODUCT_COLLECTIONS" | translate}}</h3>
      <input class="form-control" ng-model="collectionFilter" placeholder="Zoek een collectie"/><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
      <div class="list-group"><a class="list-group-item" ng-repeat="collection in collections | filter: collectionFilter | filter: verificationFilter | limitTo:totalDisplayed" ui-sref="admin.collection({id:collection._id})">
          <div>{{collection[language].name}}</div></a></div><br/>
      <button class="btn" ng-click="loadMore()">{{:: "LOAD_MORE" | translate}}</button>
    </div>
  </div>
</div>
