app/src/views/admin/products-to-merge.pug
.container
	h3 {{ "PRODUCTS_TO_VERIFY" | translate }}
	.row
		.col-xs-12
			.well.row
				form(ng-submit="doMergeProducts(prodsToMerge)", ng-init="prodsToMerge={}")
					p.col-xs-12.col-sm-6.text-center
						input(type="text",placeholder="Primary Product ID",ng-model="prodsToMerge.primary").margin-auto
					p.col-xs-12.col-sm-6.text-center
						input(type="text",placeholder="Duplicate Product ID",ng-model="prodsToMerge.duplicate").margin-auto
					p.col-xs-12.text-center
						button(type="submit").btn-primary 
							i.fa.fa-paperclip.fa-fw
							span  Merge products
	.row
		.col-xs-12
			.well
				h4 {{:: "SEARCH_PRODUCTS" | translate}} : 
					input(type="text", ng-change="searchChanged(searchText)", ng-model="searchText", ng-init="searchText=''",placeholder="Product Number")
	.row
		.col-xs-12
			.row
				.col-xs-12(ng-if="products.length == 0")
					h5.text-center {{:: "NO_PRODUCTS_FOUND_MATCHING_SEARCH_COMMAND" | translate}}
				.col-xs-12.col-sm-4.col-md-3(ng-repeat="item in products")
					.product-block
						h6(ng-click="clickToCopy(item._id)",id="id-{{item._id}}", title="Click To Copy to Clipboard") {{item._id}}
						a(href="" ng-click="selectItem(item.en.nameSlug, $index)" ng-init="item.selected = false").hidden
							i.fa.fa-check-square-o.fa-lg(ng-if="item.selected == true")
							i.fa.fa-square-o.fa-lg(ng-if="item.selected == false")
						.product-image
							a(ui-sref="admin.product({nameSlug:item.en.nameSlug})")
								img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
								.hover-overlay
							a(ui-sref="admin.product({nameSlug:item.en.nameSlug})").product-details
								.product-title(ng-bind="item[language].name")


			p.no-products-found(ng-if="noProductsFound == true") {{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}
		.col-xs-12.col-md-3.col-md-pull-9
			form.product-filters.filters
				a(ng-click="resetFilters()").btn.btn-md.btn-green.hidden {{:: "TEXT_RESET_FILTERS" | translate}}

app/dist/views/admin/products-to-merge.html

<div class="container">
  <h3>{{ "PRODUCTS_TO_VERIFY" | translate }}</h3>
  <div class="row">
    <div class="col-xs-12">
      <div class="well row">
        <form ng-submit="doMergeProducts(prodsToMerge)" ng-init="prodsToMerge={}">
          <p class="col-xs-12 col-sm-6 text-center">
            <input class="margin-auto" type="text" placeholder="Primary Product ID" ng-model="prodsToMerge.primary"/>
          </p>
          <p class="col-xs-12 col-sm-6 text-center">
            <input class="margin-auto" type="text" placeholder="Duplicate Product ID" ng-model="prodsToMerge.duplicate"/>
          </p>
          <p class="col-xs-12 text-center">
            <button class="btn-primary" type="submit"> <i class="fa fa-paperclip fa-fw"></i><span> Merge products</span></button>
          </p>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <h4>{{:: "SEARCH_PRODUCTS" | translate}} : 
          <input type="text" ng-change="searchChanged(searchText)" ng-model="searchText" ng-init="searchText=''" placeholder="Product Number"/>
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12" ng-if="products.length == 0">
          <h5 class="text-center">{{:: "NO_PRODUCTS_FOUND_MATCHING_SEARCH_COMMAND" | translate}}</h5>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="item in products">
          <div class="product-block">
            <h6 ng-click="clickToCopy(item._id)" id="id-{{item._id}}" title="Click To Copy to Clipboard">{{item._id}}</h6><a class="hidden" href="" ng-click="selectItem(item.en.nameSlug, $index)" ng-init="item.selected = false"><i class="fa fa-check-square-o fa-lg" ng-if="item.selected == true"></i><i class="fa fa-square-o fa-lg" ng-if="item.selected == false"></i></a>
            <div class="product-image"><a ui-sref="admin.product({nameSlug:item.en.nameSlug})"><img ng-src="{{awsUrl + item.images[0].src}}" alt="{{item.images[0].alt}}" onerror="this.src = &quot;../images/no-photo-available.jpg&quot;"/>
                <div class="hover-overlay"></div></a><a class="product-details" ui-sref="admin.product({nameSlug:item.en.nameSlug})">
                <div class="product-title" ng-bind="item[language].name"></div></a></div>
          </div>
        </div>
      </div>
      <p class="no-products-found" ng-if="noProductsFound == true">{{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}</p>
    </div>
    <div class="col-xs-12 col-md-3 col-md-pull-9">
      <form class="product-filters filters"><a class="btn btn-md btn-green hidden" ng-click="resetFilters()">{{:: "TEXT_RESET_FILTERS" | translate}}</a></form>
    </div>
  </div>
</div>
