app/dist/views/admin/shop-edit.html

<div class="container">
  <div class="row" ng-init="loadShop()">
    <div class="col-md-12">
      <h3>{{:: "EDIT_SHOP" | translate}}</h3>
    </div>
    <div class="col-md-12"><a class="btn btn-green pull-right" href="https://prismanote.com/shop/{{shop.nameSlug}}/home" target="_blank">
         {{:: "PREVIEW" | translate}}</a>
      <div ng-hide="!shop.website"><a class="btn btn-dark pull-right button-margin-right" href="{{shop.website}}" target="_blank">
           {{:: "GO_TO_WEBSITE" | translate}}</a></div>
      <h5>{{:: "SHOP" | translate}}</h5>
      <div class="row"></div>
      <uib-tabset active="active">
        <uib-tab heading="{{:: &quot;SHOP_DATA&quot; | translate}}">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="shopname">{{:: "TEXT_STORENAME" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.name" id="shopname" placeholder="{{:: &quot;TEXT_STORENAME&quot; | translate}}"/>
                <label for="slug">Slug</label>
                <input class="form-control disabled" type="text" disabled="disabled" ng-model="shop.nameSlug" id="slug" placeholder="Slug"/><br/>
                <toggle-switch id="active" name="active" ng-model="shop.isPublished" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="active">{{:: "TEXT_SHOPISACTIVE" | translate}}</label><br/><br/>
                <toggle-switch id="webshop" name="active" ng-model="shop.webshopActive" ng-init="checkForWebshop()" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="webshop">{{:: "ACTIVATE_WEBSHOP" | translate}}</label><br/><br/>
                <toggle-switch id="premium" name="premium" ng-model="shop.isPremium" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="premium">{{:: "TEXT_SENDPRODUCTSTOCONSUMERS" | translate}}</label><br/><br/>
                <toggle-switch id="dropshipper" name="dropshipper" ng-model="shop.isDropShipper" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="dropshipper">{{:: "TEXT_EXPLANATION_PRODUCT_SENDING_TO_RETAILER" | translate}}</label><br/><br/>
                <toggle-switch id="showall" name="showall" ng-model="shop.showAllProducts" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
                <label for="showall">{{:: "TEXT_EXPLAINATION_DISPLAY_ALL_PRODUCTS" | translate}}</label>
              </div>
            </div>
            <div class="col-md-4">
              <h5>{{:: "CONTACT" | translate}}</h5>
              <div class="form-group">
                <label for="email">{{:: "INPUT_EMAILADRESS" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.email" id="email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}"/>
                <label for="website">{{:: "TEXT_WEBSITE" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.website" id="website" placeholder="{{:: &quot;TEXT_WEBSITE&quot; | translate}}"/>
                <label for="kvk">{{:: "PVC" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.pvc" id="kvk" placeholder="{{:: &quot;PVC&quot; | translate}}"/>
                <label for="btw">{{:: "VAT_NUMBER" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.vatNumber" id="btw" placeholder="{{:: &quot;VAT_NUMBER&quot; | translate}}"/>
              </div>
            </div>
            <div class="col-md-4">
              <h5>{{:: "PHONE_NUMBER" | translate}}</h5>
              <div class="form-group">
                <label for="countrycode">{{:: "COUNTRY_CODE" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.phone.countryCode" id="countrycode" placeholder="{{:: &quot;COUNTRY_CODE&quot; | translate}}"/>
                <label for="phone">{{:: "FIXED_LINE" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.phone.landLine" id="phone" placeholder="{{:: &quot;FIXED_LINE&quot; | translate}}"/>
                <label for="mobile">{{:: "MOBILE" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.phone.mobilePhone" id="mobile" placeholder="{{:: &quot;MOBILE&quot; | translate}}"/>
                <label for="fax">{{:: "FAX" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.phone.fax" id="fax" placeholder="{{:: &quot;FAX&quot; | translate}}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-green pull-right" ng-click="newSocialMedia()">{{:: "NEW_LINK" | translate}}</button>
              <h5>{{:: "SOCIAL_MEDIA" | translate}}</h5><br/><br/>
              <div class="list-group"><a class="list-group-item clearfix" ng-repeat="sm in shop.socialMedia" ng-click="openSocialMedia($index)" ng-class="{'active': currentSocialMedia.index == $index}"><span><i class="fa fa-facebook-official" ng-show="sm.name == &quot;facebook&quot;"> </i><i class="fa fa-instagram" ng-show="sm.name == &quot;instagram&quot;"> </i><i class="fa fa-twitter" ng-show="sm.name == &quot;twitter&quot;"> </i><i class="fa fa-whatsapp" ng-show="sm.name == &quot;whatsapp&quot;"></i> {{sm.name}} ({{sm.username}})</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteSocialMedia($index)"></i></span></a><br/>
                <div ng-show="currentSocialMedia || addNewSocialMedia">
                  <select class="form-control" ng-model="currentSocialMedia.name">
                    <option value="facebook">Facebook</option>
                    <option value="instagram">Instagram</option>
                    <option value="twitter">Twitter</option>
                    <option value="whatsapp">Whatsapp</option>
                  </select>
                  <input class="form-control" type="text" ng-model="currentSocialMedia.url" placeholder="URL"/>
                  <input class="form-control" type="text" ng-model="currentSocialMedia.username" placeholder="{{:: &quot;USERNAME&quot; | translate}}"/>
                  <input class="btn btn-lg btn-green" type="button" ng-click="pushSocialMedia(currentSocialMedia)" ng-show="addNewSocialMedia" value="{{:: &quot;ADD&quot; | translate}}"/>
                  <input class="btn btn-lg" type="button" ng-click="cancelSocialMedia()" ng-show="addNewSocialMedia" value="{{:: &quot;CANCEL&quot; | translate}}"/>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h5>{{:: "OPENING_HOURS" | translate}}</h5>
              <div ng-show="shop.openingHoursOld.length == 1">
                <table class="table">
                  <tr>
                    <td>{{:: "SUNDAY" | translate}}</td>
                    <td>
                      <input class="form-control" type="text" ng-model="shop.openingHoursOld[0].sunday"/>
                    </td>
                  </tr>
                  <tr>
                    <td>{{:: "MONDAY" | translate}}</td>
                    <td> 
                      <input class="form-control" type="text" ng-model="shop.openingHoursOld[0].monday"/>
                    </td>
                  </tr>
                  <tr>
                    <td>{{:: "TUESDAY" | translate}}</td>
                    <td> 
                      <input class="form-control" type="text" ng-model="shop.openingHoursOld[0].tuesday"/>
                    </td>
                  </tr>
                  <tr>
                    <td>{{:: "WEDNESDAY" | translate}}</td>
                    <td>
                      <input class="form-control" type="text" ng-model="shop.openingHoursOld[0].wednesday"/>
                    </td>
                  </tr>
                  <tr>
                    <td>{{:: "THURSDAY" | translate}}</td>
                    <td>
                      <input class="form-control" type="text" ng-model="shop.openingHoursOld[0].thursday"/>
                    </td>
                  </tr>
                  <tr>
                    <td>{{:: "FRIDAY" | translate}}</td>
                    <td>
                      <input class="form-control" type="text" ng-model="shop.openingHoursOld[0].friday"/>
                    </td>
                  </tr>
                  <tr>
                    <td>{{:: "SATURDAY" | translate}}</td>
                    <td>
                      <input class="form-control" type="text" ng-model="shop.openingHoursOld[0].saturday"/>
                    </td>
                  </tr>
                </table>
                <p style="color:red">{{:: "OPENING_HOURS_MUST_BE_RE_ENTERED" | translate}}</p>{{:: "MONDAY" | translate}}
                <input type="number" ng-model="shop.openingHours[0].monday[0]" style="width: 80px"/>
                <input type="number" ng-model="shop.openingHours[0].monday[1]" style="width: 80px"/><br/>{{:: "TUESDAY" | translate}}
                <input type="number" ng-model="shop.openingHours[0].tuesday[0]" style="width: 80px"/>
                <input type="number" ng-model="shop.openingHours[0].tuesday[1]" style="width: 80px"/><br/>{{:: "WEDNESDAY" | translate}}
                <input type="number" ng-model="shop.openingHours[0].wednesday[0]" style="width: 80px"/>
                <input type="number" ng-model="shop.openingHours[0].wednesday[1]" style="width: 80px"/><br/>{{:: "THURSDAY" | translate}}
                <input type="number" ng-model="shop.openingHours[0].thursday[0]" style="width: 80px"/>
                <input type="number" ng-model="shop.openingHours[0].thursday[1]" style="width: 80px"/><br/>{{:: "FRIDAY" | translate}}
                <input type="number" ng-model="shop.openingHours[0].friday[0]" style="width: 80px"/>
                <input type="number" ng-model="shop.openingHours[0].friday[1]" style="width: 80px"/><br/>{{:: "SATURDAY" | translate}}
                <input type="number" ng-model="shop.openingHours[0].saturday[0]" style="width: 80px"/>
                <input type="number" ng-model="shop.openingHours[0].saturday[1]" style="width: 80px"/><br/>{{:: "SUNDAY" | translate}}
                <input type="number" ng-model="shop.openingHours[0].sunday[0]" style="width: 80px"/>
                <input type="number" ng-model="shop.openingHours[0].sunday[1]" style="width: 80px"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <h4>{{:: "CHANGE_ADDRESS" | translate}}</h4>
                <label for="street">{{:: "STREET" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.address.street" id="street" placeholder="{{:: &quot;STREET&quot; | translate}}"/>
                <label for="housenumber">{{:: "HOUSE_NUMBER" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.address.houseNumber" id="housenumber" placeholder="{{:: &quot;HOUSE_NUMBER&quot; | translate}}"/>
                <label for="housenumbersuffix">{{:: "ADDITION" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.address.houseNumberSuffix" id="housenumbersuffix" placeholder="{{:: &quot;ADDITION&quot; | translate}}"/>
                <label for="postalcode">{{:: "POST_CODE" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.address.postalCode" id="postalcode" placeholder="{{:: &quot;POST_CODE&quot; | translate}}"/>
                <label for="city">{{:: "CITY" | translate}}</label>
                <input class="form-control" type="text" ng-model="shop.address.city" id="city" placeholder="{{:: &quot;CITY&quot; | translate}}"/>
                <country-list ng-required="true" ng-model="shop.address.country"></country-list>
              </div>
            </div>
            <div class="row"></div>
            <div class="col-md-4" ng-init="getBrands()">
              <h5>{{:: "TEXT_YOUR_BRANDS" | translate}}</h5>
              <angucomplete-alt id="ex1" placeholder="{{:: &quot;TEXT_SEARCH_A_BRAND&quot; | translate}}" pause="100" clear-selected="true" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" input-class="form-control"></angucomplete-alt><br/>
              <div class="list-group"><a class="list-group-item clearfix" ng-repeat="brand in shop.brands" ui-sref="admin.brand({nameSlug:brand.nameSlug})" target="_blank"><span>{{brand.name}}</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteBrand($index)"></i></span></a></div>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Layout">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group" dnd-list="shop.home">
                <li class="list-group-item clearfix" ng-repeat="h in shop.home" ng-click="openHome($index)" dnd-draggable="h" dnd-moved="shop.home.splice($index, 1)" dnd-effect-allowed="move" ng-class="{'list-group-item-danger': h.enabled == false}">{{h.type}}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <div ng-show="currentHome">
                <h5>{{:: "EDIT" | translate}}</h5>
                <select class="form-control" ng-model="currentHome.type">
                  <option value="slider">{{:: "SLIDER" | translate}}</option>
                  <option value="video">{{:: "VIDEO" | translate}}</option>
                  <option value="featuredProducts">{{:: "EXPOSED_PRODUCTS" | translate}}</option>
                  <option value="text">{{:: "TEXT" | translate}}</option>
                  <option value="grid">{{:: "GRID" | translate}}</option>
                  <option value="maps">{{:: "MAP" | translate}}</option>
                </select><br/>
                <toggle-switch id="active" name="active" ng-model="currentHome.enabled" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
                <label for="active">{{:: "ACTIVE" | translate}}</label><br/><br/>
                <div ng-show="currentHome.type == 'video'">
                  <input class="form-control" type="text" ng-model="currentHome.src"/>
                </div>
                <div ng-show="currentHome.type == 'slider'">
                  <label for="height">{{:: "HEIGHT" | translate}}</label>
                  <input class="form-control" type="text" id="height" ng-model="currentHome.height"/><br/>
                  <button class="btn btn-green pull-right" ng-click="addSlide()">{{:: "NEW_SLIDE" | translate}}</button>
                  <h5>{{:: "SLIDES" | translate}}</h5>
                  <ul class="list-group" dnd-list="currentHome.slides">
                    <li class="list-group-item clearfix" ng-repeat="slide in currentHome.slides" dnd-draggable="slide" dnd-moved="currentHome.slides.splice($index, 1)" dnd-effect-allowed="move" ng-click="openSlide($index)"><span>{{slide.title}}</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteSlide($index)"></i></span></li>
                  </ul>
                  <div ng-show="currentSlide || addNewSlide">
                    <label for="title">{{:: "TITLE" | translate}}</label>
                    <input class="form-control" type="text" id="title" ng-model="currentSlide.title"/>
                    <label for="content">{{:: "CONTENT" | translate}}</label>
                    <input class="form-control" type="text" id="content" ng-model="currentSlide.content"/>
                    <label for="buttontext">{{:: "BUTTON" | translate}}</label>
                    <input class="form-control" type="text" id="buttontext" ng-model="currentSlide.buttonText"/>
                    <label for="external">{{:: "EXTERNAL_BUTTON_LINK" | translate}}</label>
                    <toggle-switch id="active" name="active" ng-model="currentSlide.external" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch><br/>
                    <div ng-show="!currentSlide.external">
                      <label for="currentSlideButtonlink">{{:: "BUTTONLINK" | translate}}</label>
                      <select class="form-control" name="currentSlideButtonlink" id="currentSlideButtonlink" ng-model="currentSlide.buttonLink">
                        <option ng-repeat="link in linkOptions" ng-value="link.link">{{link.nlName}}</option>
                      </select>
                      <p>{{currentSlide.buttonLink}}</p>
                    </div>
                    <div ng-show="currentSlide.external">
                      <label for="currentSlideButtonlink">{{:: "BUTTONLINK" | translate}}</label>
                      <input class="form-control" name="currentSlideExternalButtonlink" id="currentSlideExternalButtonlink" ng-model="currentSlide.buttonLink"/>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="alt">{{:: "ALT_TEXT" | translate}}</label>
                        <input class="form-control" type="text" id="alt" ng-model="currentSlide.alt"/><img ng-src="{{awsUrl}}{{currentSlide.src}}" ng-show="currentSlide"/>
                      </div>
                      <div class="col-md-6"><br/><br/><br/>
                        <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="currentSlide.sliderPhoto" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "SELECT_FILE" | translate}}
                          <div ng-show="dropAvailable">{{:: "OR_DRAG_AND_DROP_FILE" | translate}}</div><img ngf-thumbnail="currentSlide.sliderPhoto"/>
                        </div><br/>
                        <button class="btn btn-lg" ng-click="uploadSlidePhoto()">{{:: "UPLOAD_AND_SAVE" | translate}}</button>
                        <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="currentHome.type == 'grid'"><br/>
                  <button class="btn btn-green pull-right" ng-click="addNewItem()">{{:: "NEW_ITEM" | translate}}</button>
                  <label for="container">{{:: "PLACE_GRID_IN_A_CONTAINER" | translate}}</label>
                  <toggle-switch id="active" name="active" ng-model="currentHome.container" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
                  <h5>{{:: "ITEMS" | translate}}</h5>
                  <ul class="list-group" dnd-list="currentHome.items">
                    <li class="list-group-item clearfix" ng-repeat="item in currentHome.items" dnd-draggable="slide" dnd-moved="currentHome.items.splice($index, 1)" dnd-effect-allowed="move" ng-click="openItem($index)"><span>{{item.title}}</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteItem($index)"></i></span></li>
                  </ul>
                  <div ng-show="currentItem || addNewItem">
                    <label for="title">{{:: "TITLE" | translate}}</label>
                    <input class="form-control" type="text" id="title" ng-model="currentItem.title"/>
                    <label for="content">{{:: "CONTENT" | translate}}</label>
                    <input class="form-control" type="text" id="buttontext" ng-model="currentItem.content"/>
                    <label for="external">{{:: "EXTERNAL_BUTTON_LINK" | translate}}</label>
                    <toggle-switch id="active" name="active" ng-model="currentItem.external" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
                    <div ng-show="!currentItem.external">
                      <label for="currentItemUrl">{{:: "URL" | translate}}</label>
                      <select class="form-control" name="currentItemUrl" id="currentItemUrl" ng-model="currentItem.url">
                        <option ng-repeat="link in linkOptions" ng-value="link.link">{{link.nlName}}</option>
                      </select>
                      <p>{{currentItem.url}}</p>
                    </div>
                    <div ng-show="currentItem.external">
                      <label for="currentItemExternalUrl">{{:: "EXTERNAL_URL" | translate}}</label>
                      <input class="form-control" name="currentItemExternalUrl" id="currentItemExternalUrl" ng-model="currentItem.url"/>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="alt" uib-tooltip="&quot;{{:: &quot;EXPLAIN_ALT_TEXT&quot; | translate}}&quot;">{{:: "ALT_TEXT" | translate}}</label>
                        <input class="form-control" type="text" id="alt" ng-model="currentItem.alt"/><img ng-src="{{awsUrl}}{{currentItem.src}}" ng-show="currentItem"/>
                      </div>
                      <div class="col-md-6"><br/><br/><br/>
                        <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="currentItem.itemGridPhoto" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "SELECT_FILE" | translate}}
                          <div ng-show="dropAvailable">{{:: "OR_DRAG_AND_DROP_FILE" | translate}}</div><img ngf-thumbnail="currentItem.itemGridPhoto"/>
                        </div><br/>
                        <button class="btn btn-lg" ng-click="uploadItemPhoto()">{{:: "UPLOAD_AND_SAVE" | translate}}</button>
                        <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="currentHome.type == 'text'"><br/>
                  <label for="title">{{:: "TITLE" | translate}}</label>
                  <input class="form-control" type="text" id="title" ng-model="currentHome.title"/>
                  <button class="btn btn-green pull-right" ng-click="addNewItem()">{{:: "NEW_TEXT_COLUM" | translate}}</button>
                  <h5>{{:: "ITEMS" | translate}}</h5>
                  <ul class="list-group" dnd-list="currentHome.items">
                    <li class="list-group-item clearfix" ng-repeat="item in currentHome.items" dnd-draggable="slide" dnd-moved="currentHome.items.splice($index, 1)" dnd-effect-allowed="move" ng-click="openItem($index)"><span>{{item.title}}</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteItem($index)"></i></span></li>
                  </ul>
                  <div ng-show="currentItem || addNewItem">
                    <label for="title">{{:: "TITLE" | translate}}</label>
                    <input class="form-control" type="text" id="title" ng-model="currentItem.title"/>
                    <label for="content">{{:: "CONTENT" | translate}}</label>
                    <textarea class="form-control" type="text" id="buttontext" ng-model="currentItem.content"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Statische objecten">
          <div class="col-md-4">
            <h5>{{:: "HEADER" | translate}}</h5><br/>
            <toggle-switch id="active" name="active" ng-model="shop.searchBarVisible" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
            <label for="active">{{:: "SEARCHBAR_IS_VISIBLE" | translate}}</label><br/><br/>
            <toggle-switch id="active" name="active" ng-model="shop.header.overlay" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
            <label for="active">{{:: "TRANSPARENT_MENU" | translate}}</label><br/><br/>
            <toggle-switch id="active" name="active" ng-model="shop.header.container" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
            <label for="active">{{:: "MENU_IN_CENTRALIZED_CONTAINER" | translate}}</label><br/>
          </div>
          <div class="col-md-4">
            <h4>{{:: "LOGO" | translate}}</h4>
            <h6>{{:: "LOGO_FOR_DARK_BACKGROUND" | translate}}
              <div style="background-color:#333" ng-show="shop.logoLight"><img src="{{awsUrl}}{{shop.logoLight.src}}"/><br/><br/><br/><br/></div>
              <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="shop.logoLight" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "SELECT_FILE" | translate}}
                <div ng-show="dropAvailable">{{:: "OR_DRAG_AND_DROP_FILE" | translate}}</div><img ngf-thumbnail="shop.logoLight"/>
              </div><br/>
              <button class="btn btn-lg" ng-click="logoUpload('light')">{{:: "UPLOAD_AND_SAVE" | translate}}</button>
              <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
              <p>{{:: "UPLOAD" | translate}} </p>
            </h6>
            <h6>{{:: "LOGO_FOR_LIGHT_BACKGROUND" | translate}}<img src="{{awsUrl}}{{shop.logoDark.src}}" ng-show="shop.logoDark"/><br/>
              <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="shop.logoDark" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "SELECT_FILE" | translate}}
                <div ng-show="dropAvailable">{{:: "OR_DRAG_AND_DROP_FILE" | translate}}</div><img ngf-thumbnail="shop.logoDark"/>
              </div><br/>
              <button class="btn btn-lg" ng-click="logoUpload('dark')">{{:: "UPLOAD_AND_SAVE" | translate}}</button>
              <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
            </h6>
          </div>
        </uib-tab>
        <uib-tab heading="Countr instellingen" ng-click="initCountr()">
          <div class="row">
            <div class="col-md-12">
              <div uib-alert="uib-alert" ng-show="result" ng-class="'alert-' + result.type">{{result.msg}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Koppeling</h4>
              <p>Gebruikersnaam: {{shop.countr.username}}</p>
              <p> </p>
              <pre>{{shop.countr | json}}</pre>
            </div>
            <div class="col-md-4">
              <h4>Winkels</h4>
              <table>
                <tr>
                  <th>Winkelnaam</th>
                  <th>Actie</th>
                </tr>
                <tr ng-repeat="store in countr.stores">
                  <td>{{store.name}}</td>
                  <td> <a class="btn btn-sm btn-danger" ng-click="deleteAllProducts(store._id)">Alle producten verwijderen</a><a class="btn btn-sm btn-danger" ng-click="deleteAllCategories(store._id)">Alle categorieën verwijderen</a></td>
                </tr>
              </table>
            </div>
            <div class="col-md-4">
              <h4>Webhooks</h4><a class="btn btn-lg btn-green" ng-click="webhookSetup()">Reset webhooks</a>
              <div class="list-group"><a class="list-group-item" ng-repeat="hook in countr.webhooks"><span>{{hook.topic}}</span><span class="pull-right button-group"><i class="fa fa-times delete-icon" style="padding-left:10px" ng-click="deleteHook(hook._id, $index)"></i></span></a></div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-md-12">
      <input class="btn btn-lg btn-green" type="submit" ng-click="updateShop()" value="{{:: &quot;BUTTON_SAVE&quot; | translate}}"/>
    </div>
  </div>
</div>

app/src/views/admin/shop-edit.pug
.container
    .row(ng-init="loadShop()")
        .col-md-12
            h3 {{:: "EDIT_SHOP" | translate}}
        .col-md-12
            a.btn.btn-green.pull-right(href="https://prismanote.com/shop/{{shop.nameSlug}}/home", target='_blank') 
                | {{:: "PREVIEW" | translate}}
            div(ng-hide="!shop.website")
                a.btn.btn-dark.pull-right.button-margin-right(href="{{shop.website}}", target='_blank') 
                    | {{:: "GO_TO_WEBSITE" | translate}}
            h5 {{:: "SHOP" | translate}}
            .row
            uib-tabset(active)
                uib-tab(heading='{{:: "SHOP_DATA" | translate}}')
                    .row
                        .col-md-4
                            .form-group
                                label(for="shopname") {{:: "TEXT_STORENAME" | translate}}
                                input(type="text", ng-model="shop.name" id="shopname", placeholder='{{:: "TEXT_STORENAME" | translate}}').form-control
                                label(for="slug") Slug
                                input(type="text", disabled="disabled" ng-model="shop.nameSlug" id="slug", placeholder="Slug").form-control.disabled
                                br
                                toggle-switch(id="active", name="active", ng-model="shop.isPublished", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="active") {{:: "TEXT_SHOPISACTIVE" | translate}}
                                br
                                br
                                toggle-switch(id="webshop", name="active", ng-model="shop.webshopActive", ng-init="checkForWebshop()" on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="webshop") {{:: "ACTIVATE_WEBSHOP" | translate}}
                                br
                                br
                                toggle-switch(id="premium", name="premium", ng-model="shop.isPremium", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="premium") {{:: "TEXT_SENDPRODUCTSTOCONSUMERS" | translate}}
                                br
                                br
                                toggle-switch(id="dropshipper", name="dropshipper", ng-model="shop.isDropShipper", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="dropshipper") {{:: "TEXT_EXPLANATION_PRODUCT_SENDING_TO_RETAILER" | translate}}
                                br
                                br
                                toggle-switch(id="showall", name="showall", ng-model="shop.showAllProducts", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="showall") {{:: "TEXT_EXPLAINATION_DISPLAY_ALL_PRODUCTS" | translate}}
                        .col-md-4
                            h5 {{:: "CONTACT" | translate}}
                            .form-group
                                label(for="email") {{:: "INPUT_EMAILADRESS" | translate}}
                                input(type="text", ng-model="shop.email" id="email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}').form-control
                                label(for="website") {{:: "TEXT_WEBSITE" | translate}}
                                input(type="text", ng-model="shop.website" id="website", placeholder='{{:: "TEXT_WEBSITE" | translate}}').form-control
                                label(for="kvk") {{:: "PVC" | translate}}
                                input(type="text", ng-model="shop.pvc" id="kvk", placeholder='{{:: "PVC" | translate}}').form-control
                                label(for="btw") {{:: "VAT_NUMBER" | translate}}
                                input(type="text", ng-model="shop.vatNumber" id="btw", placeholder='{{:: "VAT_NUMBER" | translate}}').form-control
                        .col-md-4
                            h5 {{:: "PHONE_NUMBER" | translate}}
                            .form-group
                                label(for="countrycode") {{:: "COUNTRY_CODE" | translate}}
                                input(type="text", ng-model="shop.phone.countryCode" id="countrycode", placeholder='{{:: "COUNTRY_CODE" | translate}}').form-control
                                label(for="phone") {{:: "FIXED_LINE" | translate}}
                                input(type="text", ng-model="shop.phone.landLine" id="phone", placeholder='{{:: "FIXED_LINE" | translate}}').form-control
                                label(for="mobile") {{:: "MOBILE" | translate}}
                                input(type="text", ng-model="shop.phone.mobilePhone" id="mobile", placeholder='{{:: "MOBILE" | translate}}').form-control
                                label(for="fax") {{:: "FAX" | translate}}
                                input(type="text", ng-model="shop.phone.fax" id="fax", placeholder='{{:: "FAX" | translate}}').form-control
                    .row
                        .col-md-4
                            button(ng-click="newSocialMedia()").btn.btn-green.pull-right {{:: "NEW_LINK" | translate}}
                            h5 {{:: "SOCIAL_MEDIA" | translate}}
                            br
                            br
                            .list-group
                                a(ng-repeat="sm in shop.socialMedia", ng-click="openSocialMedia($index)", ng-class="{'active': currentSocialMedia.index == $index}").list-group-item.clearfix
                                    span
                                        i.fa.fa-facebook-official(ng-show='sm.name == "facebook"') 
                                        i.fa.fa-instagram(ng-show='sm.name == "instagram"') 
                                        i.fa.fa-twitter(ng-show='sm.name == "twitter"') 
                                        i.fa.fa-whatsapp(ng-show='sm.name == "whatsapp"')
                                        |  {{sm.name}} ({{sm.username}})
                                    span.pull-right.button-group
                                        i.fa.fa-times(ng-click="deleteSocialMedia($index)")
                                br
                                div(ng-show="currentSocialMedia || addNewSocialMedia")
                                    select(ng-model="currentSocialMedia.name").form-control
                                        option(value="facebook") Facebook
                                        option(value="instagram") Instagram
                                        option(value="twitter") Twitter
                                        option(value="whatsapp") Whatsapp
                                    input(type="text", ng-model="currentSocialMedia.url", placeholder="URL").form-control
                                    input(type="text", ng-model="currentSocialMedia.username", placeholder='{{:: "USERNAME" | translate}}').form-control
                                    input(type="button", ng-click="pushSocialMedia(currentSocialMedia)", ng-show="addNewSocialMedia", value='{{:: "ADD" | translate}}').btn.btn-lg.btn-green
                                    input(type="button", ng-click="cancelSocialMedia()", ng-show="addNewSocialMedia", value='{{:: "CANCEL" | translate}}').btn.btn-lg
                        .col-md-4
                            h5 {{:: "OPENING_HOURS" | translate}}
                            div(ng-show='shop.openingHoursOld.length == 1')
                                table.table
                                    tr
                                        td {{:: "SUNDAY" | translate}}
                                        td
                                            input(type="text" ng-model="shop.openingHoursOld[0].sunday").form-control
                                    tr
                                        td {{:: "MONDAY" | translate}}
                                        td 
                                            input(type="text" ng-model="shop.openingHoursOld[0].monday").form-control
                                    tr
                                        td {{:: "TUESDAY" | translate}}
                                        td 
                                            input(type="text" ng-model="shop.openingHoursOld[0].tuesday").form-control
                                    tr
                                        td {{:: "WEDNESDAY" | translate}}
                                        td
                                            input(type="text" ng-model="shop.openingHoursOld[0].wednesday").form-control
                                    tr
                                        td {{:: "THURSDAY" | translate}}
                                        td
                                            input(type="text" ng-model="shop.openingHoursOld[0].thursday").form-control
                                    tr
                                        td {{:: "FRIDAY" | translate}}
                                        td
                                            input(type="text" ng-model="shop.openingHoursOld[0].friday").form-control
                                    tr
                                        td {{:: "SATURDAY" | translate}}
                                        td
                                            input(type="text" ng-model="shop.openingHoursOld[0].saturday").form-control
                                p(style="color:red")
                                    | {{:: "OPENING_HOURS_MUST_BE_RE_ENTERED" | translate}}
                                |{{:: "MONDAY" | translate}}
                                input(type="number", ng-model="shop.openingHours[0].monday[0]", style="width: 80px")
                                input(type="number", ng-model="shop.openingHours[0].monday[1]", style="width: 80px")
                                br
                                |{{:: "TUESDAY" | translate}}
                                input(type="number", ng-model="shop.openingHours[0].tuesday[0]", style="width: 80px")
                                input(type="number", ng-model="shop.openingHours[0].tuesday[1]", style="width: 80px")
                                br
                                |{{:: "WEDNESDAY" | translate}}
                                input(type="number", ng-model="shop.openingHours[0].wednesday[0]", style="width: 80px")
                                input(type="number", ng-model="shop.openingHours[0].wednesday[1]", style="width: 80px")
                                br
                                |{{:: "THURSDAY" | translate}}
                                input(type="number", ng-model="shop.openingHours[0].thursday[0]", style="width: 80px")
                                input(type="number", ng-model="shop.openingHours[0].thursday[1]", style="width: 80px")
                                br
                                |{{:: "FRIDAY" | translate}}
                                input(type="number", ng-model="shop.openingHours[0].friday[0]", style="width: 80px")
                                input(type="number", ng-model="shop.openingHours[0].friday[1]", style="width: 80px")
                                br
                                |{{:: "SATURDAY" | translate}}
                                input(type="number", ng-model="shop.openingHours[0].saturday[0]", style="width: 80px")
                                input(type="number", ng-model="shop.openingHours[0].saturday[1]", style="width: 80px")
                                br
                                |{{:: "SUNDAY" | translate}}
                                input(type="number", ng-model="shop.openingHours[0].sunday[0]", style="width: 80px")
                                input(type="number", ng-model="shop.openingHours[0].sunday[1]", style="width: 80px")
                        .col-md-4
                            .form-group
                                h4 {{:: "CHANGE_ADDRESS" | translate}}
                                label(for="street") {{:: "STREET" | translate}}
                                input(type="text", ng-model="shop.address.street" id="street", placeholder='{{:: "STREET" | translate}}').form-control

                                label(for="housenumber") {{:: "HOUSE_NUMBER" | translate}}
                                input(type="text", ng-model="shop.address.houseNumber" id="housenumber", placeholder='{{:: "HOUSE_NUMBER" | translate}}').form-control
                                
                                label(for="housenumbersuffix") {{:: "ADDITION" | translate}}
                                input(type="text", ng-model="shop.address.houseNumberSuffix" id="housenumbersuffix", placeholder='{{:: "ADDITION" | translate}}').form-control

                                label(for="postalcode") {{:: "POST_CODE" | translate}}
                                input(type="text", ng-model="shop.address.postalCode" id="postalcode", placeholder='{{:: "POST_CODE" | translate}}').form-control

                                label(for="city") {{:: "CITY" | translate}}
                                input(type="text", ng-model="shop.address.city" id="city", placeholder='{{:: "CITY" | translate}}').form-control

                                country-list(ng-required="true" ng-model="shop.address.country")

                        .row
                        .col-md-4(ng-init="getBrands()")
                            h5 {{:: "TEXT_YOUR_BRANDS" | translate}}
                            angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
                            br
                            .list-group
                                a(ng-repeat="brand in shop.brands" ui-sref="admin.brand({nameSlug:brand.nameSlug})", target="_blank").list-group-item.clearfix
                                    span
                                        | {{brand.name}}
                                    span.pull-right.button-group
                                        i.fa.fa-times(ng-click="deleteBrand($index)")
                uib-tab(heading="Layout")
                    .row
                        .col-md-6
                            ul(dnd-list="shop.home").list-group
                                li(ng-repeat="h in shop.home", ng-click="openHome($index)", dnd-draggable="h", dnd-moved="shop.home.splice($index, 1)", dnd-effect-allowed="move", ng-class="{'list-group-item-danger': h.enabled == false}").list-group-item.clearfix
                                    | {{h.type}}
                        .col-md-6
                            div(ng-show="currentHome")
                                h5 {{:: "EDIT" | translate}}
                                select(ng-model="currentHome.type").form-control
                                    option(value="slider") {{:: "SLIDER" | translate}}
                                    option(value="video") {{:: "VIDEO" | translate}}
                                    option(value="featuredProducts") {{:: "EXPOSED_PRODUCTS" | translate}}
                                    //-option(value="spotlight") {{:: "SPOTLIGHT" | translate}}
                                    //-option(value="info") {{:: "INFO" | translate}}
                                    option(value="text") {{:: "TEXT" | translate}}
                                    option(value="grid") {{:: "GRID" | translate}}
                                    option(value="maps") {{:: "MAP" | translate}}
                                br
                                toggle-switch(id="active", name="active", ng-model="currentHome.enabled", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                                label(for="active") {{:: "ACTIVE" | translate}}
                                br
                                br
                                div(ng-show="currentHome.type == 'video'")
                                    input(type="text", ng-model="currentHome.src").form-control
                                div(ng-show="currentHome.type == 'slider'")
                                    label(for="height") {{:: "HEIGHT" | translate}}
                                    input(type="text", id="height", ng-model="currentHome.height").form-control
                                    br
                                    button(ng-click="addSlide()").btn.btn-green.pull-right {{:: "NEW_SLIDE" | translate}}
                                    h5 {{:: "SLIDES" | translate}}
                                    ul(dnd-list="currentHome.slides").list-group
                                        li(ng-repeat="slide in currentHome.slides", dnd-draggable="slide", dnd-moved="currentHome.slides.splice($index, 1)" dnd-effect-allowed="move", ng-click='openSlide($index)').list-group-item.clearfix
                                            span
                                                | {{slide.title}}
                                            span.pull-right.button-group
                                                i.fa.fa-times(ng-click="deleteSlide($index)")
                                    div(ng-show="currentSlide || addNewSlide")
                                        label(for="title") {{:: "TITLE" | translate}}
                                        input(type="text", id="title", ng-model="currentSlide.title").form-control
                                        label(for="content") {{:: "CONTENT" | translate}}
                                        input(type="text", id="content", ng-model="currentSlide.content").form-control
                                        label(for="buttontext") {{:: "BUTTON" | translate}}
                                        input(type="text", id="buttontext", ng-model="currentSlide.buttonText").form-control
                                        //- label(for="buttonlink") {{:: "BUTTON_LINK" | translate}}
                                        //- input(type="text", id="buttonlink", ng-model="currentSlide.buttonLink").form-control
                                        label(for="external") {{:: "EXTERNAL_BUTTON_LINK" | translate}}
                                        toggle-switch(id="active", name="active", ng-model="currentSlide.external", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                                        br
                                        div(ng-show="!currentSlide.external")
                                            label(for="currentSlideButtonlink") {{:: "BUTTONLINK" | translate}}
                                            select(name="currentSlideButtonlink", id="currentSlideButtonlink", ng-model="currentSlide.buttonLink").form-control
                                                option(ng-repeat="link in linkOptions" ng-value="link.link") {{link.nlName}}
                                            p {{currentSlide.buttonLink}}
                                        div(ng-show="currentSlide.external")
                                            label(for="currentSlideButtonlink") {{:: "BUTTONLINK" | translate}}
                                            input(name="currentSlideExternalButtonlink", id="currentSlideExternalButtonlink", ng-model="currentSlide.buttonLink").form-control
                                        .row
                                            .col-md-6
                                                label(for="alt") {{:: "ALT_TEXT" | translate}}
                                                input(type="text", id="alt", ng-model="currentSlide.alt").form-control
                                                img(ng-src="{{awsUrl}}{{currentSlide.src}}", ng-show="currentSlide")
                                            .col-md-6
                                                br
                                                br
                                                br
                                                div(ngf-drop, ngf-select, ng-model="currentSlide.sliderPhoto", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
                                                    |{{:: "SELECT_FILE" | translate}}
                                                    div(ng-show="dropAvailable") {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
                                                    img(ngf-thumbnail="currentSlide.sliderPhoto")
                                                br
                                                button(ng-click="uploadSlidePhoto()").btn.btn-lg {{:: "UPLOAD_AND_SAVE" | translate}}
                                                uib-progressbar(max="100", value="uploadProgress" type="succes", ng-show="upload").progress-striped.active
                                                    | {{uploadProgress}} / 100
                                div(ng-show="currentHome.type == 'grid'")
                                    br
                                    button(ng-click="addNewItem()").btn.btn-green.pull-right {{:: "NEW_ITEM" | translate}}
                                    label(for="container") {{:: "PLACE_GRID_IN_A_CONTAINER" | translate}}
                                    toggle-switch(id="active", name="active", ng-model="currentHome.container", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                                    h5 {{:: "ITEMS" | translate}}
                                    ul(dnd-list="currentHome.items").list-group
                                        li(ng-repeat="item in currentHome.items", dnd-draggable="slide", dnd-moved="currentHome.items.splice($index, 1)" dnd-effect-allowed="move", ng-click='openItem($index)').list-group-item.clearfix
                                            span
                                                | {{item.title}}
                                            span.pull-right.button-group
                                                i.fa.fa-times(ng-click="deleteItem($index)")
                                    div(ng-show="currentItem || addNewItem")
                                        label(for="title") {{:: "TITLE" | translate}}
                                        input(type="text", id="title", ng-model="currentItem.title").form-control
                                        label(for="content") {{:: "CONTENT" | translate}}
                                        input(type="text", id="buttontext", ng-model="currentItem.content").form-control
                                        label(for="external") {{:: "EXTERNAL_BUTTON_LINK" | translate}}
                                        toggle-switch(id="active", name="active", ng-model="currentItem.external", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                                        div(ng-show="!currentItem.external")
                                            label(for="currentItemUrl") {{:: "URL" | translate}}
                                            select(name="currentItemUrl", id="currentItemUrl", ng-model="currentItem.url").form-control
                                                option(ng-repeat="link in linkOptions" ng-value="link.link") {{link.nlName}}
                                            p {{currentItem.url}}
                                        div(ng-show="currentItem.external")
                                            label(for="currentItemExternalUrl") {{:: "EXTERNAL_URL" | translate}}
                                            input(name="currentItemExternalUrl", id="currentItemExternalUrl", ng-model="currentItem.url").form-control
                                        .row
                                            .col-md-6
                                                label(for="alt" uib-tooltip='"{{:: "EXPLAIN_ALT_TEXT" | translate}}"') {{:: "ALT_TEXT" | translate}}
                                                input(type="text", id="alt", ng-model="currentItem.alt").form-control
                                                img(ng-src="{{awsUrl}}{{currentItem.src}}", ng-show="currentItem")
                                            .col-md-6
                                                br
                                                br
                                                br
                                                div(ngf-drop, ngf-select, ng-model="currentItem.itemGridPhoto", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
                                                    |{{:: "SELECT_FILE" | translate}}
                                                    div(ng-show="dropAvailable") {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
                                                    img(ngf-thumbnail="currentItem.itemGridPhoto")
                                                br
                                                button(ng-click="uploadItemPhoto()").btn.btn-lg {{:: "UPLOAD_AND_SAVE" | translate}}
                                                uib-progressbar(max="100", value="uploadProgress" type="succes", ng-show="upload").progress-striped.active
                                                    | {{uploadProgress}} / 100
                                div(ng-show="currentHome.type == 'text'")
                                    br
                                    label(for="title") {{:: "TITLE" | translate}}
                                    input(type="text", id="title", ng-model="currentHome.title").form-control
                                    button(ng-click="addNewItem()").btn.btn-green.pull-right {{:: "NEW_TEXT_COLUM" | translate}}
                                    h5 {{:: "ITEMS" | translate}}
                                    ul(dnd-list="currentHome.items").list-group
                                        li(ng-repeat="item in currentHome.items", dnd-draggable="slide", dnd-moved="currentHome.items.splice($index, 1)" dnd-effect-allowed="move", ng-click='openItem($index)').list-group-item.clearfix
                                            span
                                                | {{item.title}}
                                            span.pull-right.button-group
                                                i.fa.fa-times(ng-click="deleteItem($index)")
                                    div(ng-show="currentItem || addNewItem")
                                        label(for="title") {{:: "TITLE" | translate}}
                                        input(type="text", id="title", ng-model="currentItem.title").form-control
                                        label(for="content") {{:: "CONTENT" | translate}}
                                        textarea(type="text", id="buttontext", ng-model="currentItem.content").form-control
                uib-tab(heading="Statische objecten")
                    .col-md-4
                        h5 {{:: "HEADER" | translate}}
                        br
                        toggle-switch(id="active", name="active", ng-model="shop.searchBarVisible", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                        label(for="active") {{:: "SEARCHBAR_IS_VISIBLE" | translate}}
                        br
                        br
                        toggle-switch(id="active", name="active", ng-model="shop.header.overlay", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                        label(for="active") {{:: "TRANSPARENT_MENU" | translate}}
                        br
                        br
                        toggle-switch(id="active", name="active", ng-model="shop.header.container", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                        label(for="active") {{:: "MENU_IN_CENTRALIZED_CONTAINER" | translate}}
                        br
                    .col-md-4
                        h4 {{:: "LOGO" | translate}}
                        h6 {{:: "LOGO_FOR_DARK_BACKGROUND" | translate}}
                            div(style="background-color:#333" ng-show="shop.logoLight")
                                img(src="{{awsUrl}}{{shop.logoLight.src}}")
                                br
                                br
                                br
                                br
                            div(ngf-drop, ngf-select, ng-model="shop.logoLight", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
                                |{{:: "SELECT_FILE" | translate}}
                                div(ng-show="dropAvailable") {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
                                img(ngf-thumbnail="shop.logoLight")
                            br
                            button(ng-click="logoUpload('light')").btn.btn-lg {{:: "UPLOAD_AND_SAVE" | translate}}
                            uib-progressbar(max="100", value="uploadProgress" type="succes", ng-show="upload").progress-striped.active
                                | {{uploadProgress}} / 100
                            p {{:: "UPLOAD" | translate}} 
                        h6 {{:: "LOGO_FOR_LIGHT_BACKGROUND" | translate}}
                            //- img(src="{{logo('logoDark')}}" ng-show="currentShop.logoDark")
                            img(src="{{awsUrl}}{{shop.logoDark.src}}" ng-show="shop.logoDark")
                            br
                            div(ngf-drop, ngf-select, ng-model="shop.logoDark", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
                                |{{:: "SELECT_FILE" | translate}}
                                div(ng-show="dropAvailable") {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
                                img(ngf-thumbnail="shop.logoDark")
                            br
                            button(ng-click="logoUpload('dark')").btn.btn-lg {{:: "UPLOAD_AND_SAVE" | translate}}
                            uib-progressbar(max="100", value="uploadProgress" type="succes", ng-show="upload").progress-striped.active
                                | {{uploadProgress}} / 100
                uib-tab(heading='Countr instellingen' ng-click="initCountr()")
                    .row
                        .col-md-12
                            div(uib-alert='uib-alert', ng-show='result', ng-class="'alert-' + result.type") {{result.msg}}
                    .row
                        .col-md-4
                            h4 Koppeling
                            p Gebruikersnaam: {{shop.countr.username}}
                            p 
                            pre {{shop.countr | json}}
                        .col-md-4
                            h4 Winkels
                            table
                                tr
                                    th Winkelnaam
                                    th Actie
                                tr(ng-repeat="store in countr.stores")
                                    td {{store.name}}
                                    td 
                                        a.btn.btn-sm.btn-danger(ng-click="deleteAllProducts(store._id)") Alle producten verwijderen
                                        a.btn.btn-sm.btn-danger(ng-click="deleteAllCategories(store._id)") Alle categorieën verwijderen
                        .col-md-4
                            h4 Webhooks
                            a.btn.btn-lg.btn-green(ng-click="webhookSetup()") Reset webhooks
                            .list-group
                                a(ng-repeat="hook in countr.webhooks").list-group-item
                                    span {{hook.topic}}
                                    //- Verwijderen voorlopig even niet mogelijk maken, is alleen voor test doeleinden
                                    span.pull-right.button-group
                                        i.fa.fa-times.delete-icon(style="padding-left:10px" ng-click="deleteHook(hook._id, $index)")
    br
    .row
        .col-md-12
             input(type="submit", ng-click="updateShop()", value='{{:: "BUTTON_SAVE" | translate}}').btn.btn-lg.btn-green
