app/dist/views/admin/shops.html

<div class="container">
  <div class="row"></div>
  <div><a class="btn btn-md btn-dark pull-right" ng-click="openCreateShopModal()">{{:: "NEW_STORE" | translate}}</a><br/>
    <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type">{{alert.msg}}</div>
    <div class="col-md-12" ng-init="getShopList()">
      <h3>{{:: "TEXT_HEAD_STOREMANAGER_ADMIN_HOME" | translate}}</h3>
      <input class="form-control" ng-model="shopFilter" placeholder="{{:: &quot;INPUT_FILTER_SHOPS&quot; | translate}}"/><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
      <div class="list-group"><a class="list-group-item" ng-repeat="shop in shopsFilter | filter: shopFilter | limitTo:totalDisplayed" ui-sref="admin.shop({nameSlug:shop.nameSlug})">
          <div>{{shop.name}}</div></a></div><br/>
      <button class="btn" ng-click="loadMore()">{{:: "LOAD_MORE" | translate}}</button><br/><br/><br/>
    </div>
  </div>
</div>

app/src/views/admin/shops.pug
.container
    .row
    div
        a.btn.btn-md.btn-dark.pull-right(ng-click="openCreateShopModal()") {{:: "NEW_STORE" | translate}}
        br
        div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type") {{alert.msg}}
        .col-md-12(ng-init="getShopList()")
            h3 {{:: "TEXT_HEAD_STOREMANAGER_ADMIN_HOME" | translate}}
            input.form-control(ng-model="shopFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            .list-group
                a(ng-repeat="shop in shopsFilter | filter: shopFilter | limitTo:totalDisplayed", ui-sref="admin.shop({nameSlug:shop.nameSlug})").list-group-item
                    div {{shop.name}}
            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}
            br
            br
            br
