app/src/views/admin/users.pug
.container
    .row
        .col-md-12(ng-init="getUsers()")
            h3 {{:: "TEXT_HEAD_USERMANAGEMENT_ADMIN_USERMANAGEMENT" | translate}}
            input.form-control(ng-model="userFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
           
            .list-group
                a(ng-repeat="user in users | filter: userFilter | limitTo:totalDisplayed", ui-sref="admin.user({userId:user._id})").list-group-item
                    div {{user.firstName}} {{user.lastNamePrefix}} {{user.lastName}} ({{user.email}}) 
                        span.pull-right {{formatDate(user.lastLogin, "dddd, mmmm dS, yyyy, h:MM:ss TT")}}
            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}
            br
            br
            br

app/dist/views/admin/users.html

<div class="container">
  <div class="row">
    <div class="col-md-12" ng-init="getUsers()">
      <h3>{{:: "TEXT_HEAD_USERMANAGEMENT_ADMIN_USERMANAGEMENT" | translate}}</h3>
      <input class="form-control" ng-model="userFilter" placeholder="{{:: &quot;INPUT_FILTER_SHOPS&quot; | translate}}"/><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
      <div class="list-group"><a class="list-group-item" ng-repeat="user in users | filter: userFilter | limitTo:totalDisplayed" ui-sref="admin.user({userId:user._id})">
          <div>{{user.firstName}} {{user.lastNamePrefix}} {{user.lastName}} ({{user.email}}) <span class="pull-right">{{formatDate(user.lastLogin, "dddd, mmmm dS, yyyy, h:MM:ss TT")}}</span></div></a></div><br/>
      <button class="btn" ng-click="loadMore()">{{:: "LOAD_MORE" | translate}}</button><br/><br/><br/>
    </div>
  </div>
</div>
