app/dist/views/admin/wholesalers.html

<div class="container">
  <div class="row"></div>
  <div><a class="btn btn-md btn-dark pull-right" ng-click="openCreateWholeSalerModal()">{{:: "NEW_COMPANY" | translate}}</a><br/>
    <div class="col-md-12" ng-init="getWholesalerList()">
      <h3>{{:: "COMPANIES" | translate}}</h3>
      <input class="form-control" ng-model="wholesalerFilter" placeholder="{{:: &quot;INPUT_FILTER_SHOPS&quot; | translate}}"/><br/>
      <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-push-3">
      <div class="list-group"><a class="list-group-item" ng-repeat="ws in wholesalers | filter: wholesalerFilter | limitTo:totalDisplayed" ui-sref="admin.wholesaler({nameSlug:ws.nameSlug})">
          <div>{{ws.name}}</div></a></div><br/>
      <button class="btn" ng-click="loadMore()">{{:: "BUTTON_LOADMORE" | translate}}</button><br/><br/><br/>
    </div>
    <div class="col-xs-12 col-md-3 col-md-pull-9">
      <form class="product-filters filters"><a class="btn btn-md btn-green hidden" ng-click="resetFilters()">{{:: "TEXT_RESET_FILTERS" | translate}}</a>
        <div class="product-filter filter">
          <div class="filter-content">
            <ul class="fixed-height">
              <li>
                <input type="checkbox" name="isVerified" id="isVerified" ng-model="isVerified" ng-click="toggleIsVerified()" ng-change="verificationsChanged()"/>
                <label for="isVerified">{{:: "VERIFIED_COMPANIES" | translate}}</label>
              </li>
              <li>
                <input type="checkbox" name="isNotVerified" id="isNotVerified" ng-model="isNotVerified" ng-change="verificationsChanged()"/>
                <label for="isNotVerified">{{:: "UNVERIFIED_COMPANIES" | translate}}</label>
              </li>
            </ul>
          </div>
          <hr/>
        </div>
      </form>
    </div>
  </div>
</div>

app/src/views/admin/wholesalers.pug
.container
    .row
    div
        a.btn.btn-md.btn-dark.pull-right(ng-click="openCreateWholeSalerModal()") {{:: "NEW_COMPANY" | translate}}
        br
        .col-md-12(ng-init="getWholesalerList()")
            h3 {{:: "COMPANIES" | translate}}
            input.form-control(ng-model="wholesalerFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
            br
            div(uib-alert, ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                | {{alert.msg}}
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
    .row
        .col-xs-12.col-md-9.col-md-push-3
            .list-group
                a(ng-repeat="ws in wholesalers | filter: wholesalerFilter | limitTo:totalDisplayed", ui-sref="admin.wholesaler({nameSlug:ws.nameSlug})").list-group-item
                    div {{ws.name}}
            br
            button(ng-click="loadMore()").btn {{:: "BUTTON_LOADMORE" | translate}}
            br
            br
            br
        .col-xs-12.col-md-3.col-md-pull-9
            form.product-filters.filters
                a(ng-click="resetFilters()").btn.btn-md.btn-green.hidden {{:: "TEXT_RESET_FILTERS" | translate}}

                .product-filter.filter
                    .filter-content
                        ul.fixed-height
                            li
                                input(type="checkbox" name="isVerified" id="isVerified" ng-model="isVerified" ng-click="toggleIsVerified()"
                                ng-change="verificationsChanged()")
                                label(for="isVerified") {{:: "VERIFIED_COMPANIES" | translate}}
                            li
                                input(type="checkbox" name="isNotVerified" id="isNotVerified" ng-model="isNotVerified" ng-change="verificationsChanged()")
                                label(for="isNotVerified") {{:: "UNVERIFIED_COMPANIES" | translate}}
                                    
                    hr
