app/dist/views/admin/wholesaler-edit.html

<div class="container">
  <div class="row" ng-init="loadWholesaler()">
    <toggle-switch class="pull-right" name="toggle-verifyLater" ng-model="wholesaler.verifyLater" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
    <label class="pull-right">Admin must check this company</label><br/><br/>
    <toggle-switch class="pull-right" name="toggle-verifyLater" ng-model="wholesaler.isVerified" on-label="{{::'YES' | translate}}" off-label="{{::'NO' | translate}}"></toggle-switch>
    <label class="pull-right">{{:: "LAST_PROPOSED_CHANGES_ARE_EFFECTED" | translate }}</label>
    <div class="row">
      <h3>{{:: "EDIT_COMPANY" | translate}}</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5>{{:: "GENERAL_INFO" | translate}}</h5>
        <uib-tabset active="active">
          <uib-tab heading="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="shopname">{{:: "COMPANY_NAME" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.name" id="shopname" placeholder="{{:: &quot;COMPANY_NAME&quot; | translate}}"/>
                  <label for="slug">Slug</label>
                  <input class="form-control disabled" type="text" disabled="disabled" ng-model="wholesaler.nameSlug" id="slug" placeholder="Slug"/>
                </div>
              </div>
              <div class="col-md-4">
                <h5>{{:: "CONTACT" | translate}}</h5>
                <div class="form-group">
                  <label for="email">{{:: "TEXT_EMAILADRESS" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.email" id="email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}"/>
                  <label for="website">{{:: "TEXT_WEBSITE" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.website" id="website" placeholder="{{:: &quot;TEXT_WEBSITE&quot; | translate}}"/>
                  <label for="kvk">{{:: "PVC" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.pvc" id="kvk" placeholder="{{:: &quot;PVC&quot; | translate}}"/>
                  <label for="btw">{{:: "VAT_NUMBER" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.vatNumber" id="btw" placeholder="{{:: &quot;VAT_NUMBER&quot; | translate}}"/>
                </div>
              </div>
              <div class="col-md-4">
                <h5>{{:: "EDIT_PHONE" | translate}}</h5>
                <div class="form-group">
                  <label for="countrycode">{{:: "COUNTRY_CODE" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.phone.countryCode" id="countrycode" placeholder="{{:: &quot;COUNTRY_CODE&quot; | translate}}"/>
                  <label for="phone">{{:: "TEXT_PHONE" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.phone.landLine" id="phone" placeholder="{{:: &quot;TEXT_PHONE&quot; | translate}}"/>
                  <label for="mobile">{{:: "MOBILE" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.phone.mobilePhone" id="mobile" placeholder="{{:: &quot;MOBILE&quot; | translate}}"/>
                  <label for="fax">{{:: "FAX" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.phone.fax" id="fax" placeholder="{{:: &quot;FAX&quot; | translate}}"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <h4>{{:: "EDIT_ADDRESS" | translate}}</h4>
                  <label for="street">{{:: "STREET" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.address.street" id="street" placeholder="{{:: &quot;STREET&quot; | translate}}"/>
                  <label for="housenumber">{{:: "TEXT_NUMBER" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.address.houseNumber" id="housenumber" placeholder="{{:: &quot;TEXT_NUMBER&quot; | translate}}"/>
                  <label for="housenumbersuffix">{{:: "TEXT_ADDITION" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.address.houseNumberSuffix" id="housenumbersuffix" placeholder="{{:: &quot;TEXT_ADDITION&quot; | translate}}"/>
                  <label for="postalcode">{{:: "TEXT_ZIP" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.address.postalCode" id="postalcode" placeholder="{{:: &quot;TEXT_ZIP&quot; | translate}}"/>
                  <label for="city">{{:: "TEXT_CITY" | translate}}</label>
                  <input class="form-control" type="text" ng-model="wholesaler.address.city" id="city" placeholder="{{:: &quot;TEXT_CITY&quot; | translate}}"/>
                  <country-list ng-required="false" ng-model="wholesaler.address.country"></country-list>
                </div>
              </div>
              <div class="col-md-4" ng-init="getBrands()">
                <h5>{{:: "BRANDS" | translate}}</h5>
                <angucomplete-alt id="ex1" placeholder="{{:: &quot;TEXT_SEARCH_A_BRAND&quot; | translate}}" pause="100" clear-selected="true" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" input-class="form-control"></angucomplete-alt><br/>
                <div class="list-group"><a class="list-group-item clearfix" ng-repeat="brand in wholesaler.brands"><span>{{brand.name}}</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteBrand($index)"></i></span></a></div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset><br/>
        <div class="row">
          <div class="col-md-12">
            <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
            <input class="btn btn-lg btn-green" type="submit" ng-click="updateWholesaler()" value="{{:: &quot;SAVE&quot; | translate}}"/>
            <input class="btn btn-lg btn-warning" type="button" ng-click="removeWholesaler()" value="{{:: &quot;DELETE&quot; | translate}}"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h5>{{:: "NO_SUGGESTIONS" | translate}}</h5>
      </div>
    </div>
  </div>
</div>

app/src/views/admin/wholesaler-edit.pug
.container
    .row(ng-init="loadWholesaler()")
        toggle-switch.pull-right(name="toggle-verifyLater", ng-model="wholesaler.verifyLater", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
        label.pull-right Admin must check this company
        br
        br
        toggle-switch.pull-right(name="toggle-verifyLater", ng-model="wholesaler.isVerified", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
        label.pull-right {{:: "LAST_PROPOSED_CHANGES_ARE_EFFECTED" | translate }}
        .row
            h3 {{:: "EDIT_COMPANY" | translate}}
        .row
            .col-md-6
                h5 {{:: "GENERAL_INFO" | translate}}
                uib-tabset(active)
                    uib-tab(heading='{{:: "INPUT_EMAILADRESS" | translate}}')
                        .row
                            .col-md-4
                                .form-group
                                    label(for="shopname") {{:: "COMPANY_NAME" | translate}}
                                    input(type="text", ng-model="wholesaler.name" id="shopname", placeholder='{{:: "COMPANY_NAME" | translate}}').form-control
                                    label(for="slug") Slug
                                    input(type="text", disabled="disabled" ng-model="wholesaler.nameSlug" id="slug", placeholder="Slug").form-control.disabled
                            .col-md-4
                                h5 {{:: "CONTACT" | translate}}
                                .form-group
                                    label(for="email") {{:: "TEXT_EMAILADRESS" | translate}}
                                    input(type="text", ng-model="wholesaler.email" id="email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}').form-control
                                    label(for="website") {{:: "TEXT_WEBSITE" | translate}}
                                    input(type="text", ng-model="wholesaler.website" id="website", placeholder='{{:: "TEXT_WEBSITE" | translate}}').form-control
                                    label(for="kvk") {{:: "PVC" | translate}}
                                    input(type="text", ng-model="wholesaler.pvc" id="kvk", placeholder='{{:: "PVC" | translate}}').form-control
                                    label(for="btw") {{:: "VAT_NUMBER" | translate}}
                                    input(type="text", ng-model="wholesaler.vatNumber" id="btw", placeholder='{{:: "VAT_NUMBER" | translate}}').form-control
                            .col-md-4
                                h5 {{:: "EDIT_PHONE" | translate}}
                                .form-group
                                    label(for="countrycode") {{:: "COUNTRY_CODE" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.countryCode" id="countrycode", placeholder='{{:: "COUNTRY_CODE" | translate}}').form-control
                                    label(for="phone") {{:: "TEXT_PHONE" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.landLine" id="phone", placeholder='{{:: "TEXT_PHONE" | translate}}').form-control
                                    label(for="mobile") {{:: "MOBILE" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.mobilePhone" id="mobile", placeholder='{{:: "MOBILE" | translate}}').form-control
                                    label(for="fax") {{:: "FAX" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.fax" id="fax", placeholder='{{:: "FAX" | translate}}').form-control
                            .col-md-4
                                .form-group
                                    h4 {{:: "EDIT_ADDRESS" | translate}}
                                    label(for="street") {{:: "STREET" | translate}}
                                    input(type="text", ng-model="wholesaler.address.street" id="street", placeholder='{{:: "STREET" | translate}}').form-control

                                    label(for="housenumber") {{:: "TEXT_NUMBER" | translate}}
                                    input(type="text", ng-model="wholesaler.address.houseNumber" id="housenumber", placeholder='{{:: "TEXT_NUMBER" | translate}}').form-control
                                    
                                    label(for="housenumbersuffix") {{:: "TEXT_ADDITION" | translate}}
                                    input(type="text", ng-model="wholesaler.address.houseNumberSuffix" id="housenumbersuffix", placeholder='{{:: "TEXT_ADDITION" | translate}}').form-control

                                    label(for="postalcode") {{:: "TEXT_ZIP" | translate}}
                                    input(type="text", ng-model="wholesaler.address.postalCode" id="postalcode", placeholder='{{:: "TEXT_ZIP" | translate}}').form-control

                                    label(for="city") {{:: "TEXT_CITY" | translate}}
                                    input(type="text", ng-model="wholesaler.address.city" id="city", placeholder='{{:: "TEXT_CITY" | translate}}').form-control

                                    country-list(ng-required="false" ng-model="wholesaler.address.country")

                            .col-md-4(ng-init="getBrands()")
                                h5 {{:: "BRANDS" | translate}}
                                angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
                                br
                                .list-group
                                    a(ng-repeat="brand in wholesaler.brands").list-group-item.clearfix
                                        span
                                            | {{brand.name}}
                                        span.pull-right.button-group
                                            i.fa.fa-times(ng-click="deleteBrand($index)")
                br
                .row
                    .col-md-12
                        div(uib-alert, ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                            | {{alert.msg}}
                        input(type="submit", ng-click="updateWholesaler()", value='{{:: "SAVE" | translate}}').btn.btn-lg.btn-green
                        input(type="button", ng-click="removeWholesaler()", value='{{:: "DELETE" | translate}}').btn.btn-lg.btn-warning
            .col-md-6
                h5 {{:: "NO_SUGGESTIONS" | translate}}
