app/dist/views/modal/add-brands-modal.html

<div class="container">
  <div class="row" ng-init="getBrandList();">
    <div class="col-md-12">
      <h3>{{:: "ADD_BRAND" | translate}}</h3>
    </div>
    <!-- <div class="col-md-12">-->
    <!-- <div ng-hide="!brand.website"><a href="http://{{brand.website}}" target="_blank" class="btn btn-dark pull-right button-margin-right">Ga naar website</a></div>-->
    <!-- <h5>{{:: "BRAND" | translate}}</h5>-->
    <!-- <div class="row"></div>-->
    <!-- <uib-tabset active="active">-->
    <!-- <uib-tab heading="{{:: &quot;BRAND_DATA&quot; | translate}}">-->
    <div class="row">
      <div class="col-md-4" ng-hide="!enableImageFunction">
        <h5>{{:: "GENERAL" | translate}}</h5>
        <div class="form-group">
          <label for="brandname">{{:: "BRAND_NAME" | translate}}</label>
          <input class="form-control" id="brandname" type="text" ng-model="brand.name" placeholder="Merknaam"/>
          <label for="slug">Slug</label>
          <input class="form-control disabled" id="slug" type="text" ng-model="brand.nameSlug" placeholder="Slug"/>
          <label for="description">{{:: "DESCRIPTION" | translate}}</label>
          <textarea class="form-control" id="description" type="text" ng-model="brand.description" placeholder="{{:: &quot;DESCRIPTION&quot; | translate}}"></textarea><br/>
        </div>
      </div>
      <div class="col-md-4" ng-hide="!enableImageFunction">
        <h5>{{:: "CONTACT" | translate}}</h5>
        <div class="form-group">
          <label for="email">{{:: "INPUT_EMAILADRESS" | translate}}</label>
          <input class="form-control" id="email" type="text" ng-model="brand.email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}"/>
          <label for="website">{{:: "TEXT_WEBSITE" | translate}}</label>
          <input class="form-control" id="website" type="text" ng-model="brand.website" placeholder="{{:: &quot;TEXT_WEBSITE&quot; | translate}}"/>
          <label for="foundingYear">{{:: "FOUNDING_YEAR" | translate}}</label>
          <input class="form-control" id="foundingYear" type="number" ng-model="brand.foundingYear" placeholder="{{:: &quot;FOUNDING_YEAR&quot; | translate}}"/>
          <label for="categories">{{:: "CATEGORIES" | translate}}</label>
          <input class="form-control" id="categories" type="text" ng-model="brand.categories" placeholder="{{:: &quot;CATEGORIES&quot; | translate}}"/>
          <label for="manufacturer">{{:: "MANUFACTURER" | translate}}</label>
          <input class="form-control" id="manufacturer" type="text" ng-model="brand.manufacturer" placeholder="{{:: &quot;MANUFACTURER&quot; | translate}}"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 hidden">
        <div class="uib-carousel hidden-xs hidden-sm" active="activeSlide" interval="7000">
          <div ng-repeat="slide in brand.images" index="$index" style="height: 500px"><img ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}"/></div>
        </div>
        <div class="brand-image hidden-md hidden-lg"><img ng-src="{{awsUrl + brand.images[0].src}}" alt="brand.images[0].alt"/></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" ng-repeat="image in brand.images"><img src="{{awsUrl}}{{image.src}}"/><br/><br/>
        <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="image.imageFirst" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">{{:: "SELECT_FILE" | translate}}
          <div>{{:: "OR_DRAG_AND_DROP_FILE" | translate}}</div><img ngf-thumbnail="image.imageFirst"/>
        </div><br/>
        <button class="btn btn-lg" ng-click="imageUpload($index)">{{:: "UPLOAD_AND_SAVE" | translate}}</button>
        <input class="btn btn-lg btn-light" type="submit" ng-click="deleteImage($index)" value="X"/>
        <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
      </div>
      <div class="col-md-4"><br/><br/><br/><br/>
        <input class="btn btn-lg btn-dark" type="submit" ng-click="addImage(image)" ng-hide="enableImageFunction" value="{{:: &quot;ADD_IMAGE&quot; | translate}}"/>
      </div>
    </div>
  </div>
</div><br/>
<div class="row">
  <div class="col-md-12">
    <input class="btn btn-lg btn-green" type="submit" ng-hide="!enableImageFunction" ng-click="addBrand()" value="{{:: &quot;BUTTON_SAVE&quot; | translate}}"/>
  </div>
</div>

app/src/views/modal/add-brands-modal.pug
.container
  .row(ng-init='getBrandList();')
    .col-md-12
      h3 {{:: "ADD_BRAND" | translate}}
    // <div class="col-md-12">
    // <div ng-hide="!brand.website"><a href="http://{{brand.website}}" target="_blank" class="btn btn-dark pull-right button-margin-right">Ga naar website</a></div>
    // <h5>{{:: "BRAND" | translate}}</h5>
    // <div class="row"></div>
    // <uib-tabset active="active">
    // <uib-tab heading="{{:: &quot;BRAND_DATA&quot; | translate}}">
    .row
      .col-md-4(ng-hide='!enableImageFunction')
        h5 {{:: "GENERAL" | translate}}
        .form-group
          label(for='brandname') {{:: "BRAND_NAME" | translate}}
          input#brandname.form-control(type='text', ng-model='brand.name', placeholder='Merknaam')
          label(for='slug') Slug
          input#slug.form-control.disabled(type='text', ng-model='brand.nameSlug', placeholder='Slug')
          label(for='description') {{:: "DESCRIPTION" | translate}}
          textarea#description.form-control(type='text', ng-model='brand.description', placeholder='{{:: "DESCRIPTION" | translate}}')
          br
      .col-md-4(ng-hide='!enableImageFunction')
        h5 {{:: "CONTACT" | translate}}
        .form-group
          label(for='email') {{:: "INPUT_EMAILADRESS" | translate}}
          input#email.form-control(type='text', ng-model='brand.email', placeholder='{{:: "INPUT_EMAILADRESS" | translate}}')
          label(for='website') {{:: "TEXT_WEBSITE" | translate}}
          input#website.form-control(type='text', ng-model='brand.website', placeholder='{{:: "TEXT_WEBSITE" | translate}}')
          label(for='foundingYear') {{:: "FOUNDING_YEAR" | translate}}
          input#foundingYear.form-control(type='number', ng-model='brand.foundingYear', placeholder='{{:: "FOUNDING_YEAR" | translate}}')
          label(for='categories') {{:: "CATEGORIES" | translate}}
          input#categories.form-control(type='text', ng-model='brand.categories', placeholder='{{:: "CATEGORIES" | translate}}')
          label(for='manufacturer') {{:: "MANUFACTURER" | translate}}
          input#manufacturer.form-control(type='text', ng-model='brand.manufacturer', placeholder='{{:: "MANUFACTURER" | translate}}')
    .row
      .col-md-8.hidden
        .uib-carousel.hidden-xs.hidden-sm(active='activeSlide', interval='7000')
          div(ng-repeat='slide in brand.images', index='$index', style='height: 500px')
            img(ng-src='{{awsUrl + slide.src}}', alt='{{slide.alt}}')
        .brand-image.hidden-md.hidden-lg
          img(ng-src='{{awsUrl + brand.images[0].src}}', alt='brand.images[0].alt')
    .row
      .col-md-4(ng-repeat='image in brand.images')
        img(src='{{awsUrl}}{{image.src}}')
        br
        br
        .drop-box(ngf-drop='ngf-drop', ngf-select='ngf-select', ng-model='image.imageFirst', ngf-pattern="'image/*'", ngf-allow-dir='allowDir', ngf-drop-available='dropAvailable')
          | {{:: "SELECT_FILE" | translate}}
          div {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
          img(ngf-thumbnail='image.imageFirst')
        br
        button.btn.btn-lg(ng-click='imageUpload($index)') {{:: "UPLOAD_AND_SAVE" | translate}}
        input.btn.btn-lg.btn-light(type='submit', ng-click='deleteImage($index)', value='X')
        uib-progressbar.progress-striped.active(max='100', value='uploadProgress', type='succes', ng-show='upload') {{uploadProgress}} / 100
      .col-md-4
        br
        br
        br
        br
        input.btn.btn-lg.btn-dark(type='submit', ng-click='addImage(image)',ng-hide="enableImageFunction" value='{{:: "ADD_IMAGE" | translate}}')
 
br
.row
  .col-md-12
    input.btn.btn-lg.btn-green(type='submit', ng-hide='!enableImageFunction',ng-click='addBrand()', value='{{:: "BUTTON_SAVE" | translate}}')
