app/src/views/modal/admin-reset-password-modal.pug
.modal-header
    h4.modal-title {{:: "RESET_USER_PASSWORD" | translate}}
.modal-body
    p {{:: "RESET_THIS_USERS_PASSWORD" | translate}}
    form(name="resetPasswordForm" novalidate)
        .row
            .col-md-6
                input(type="text" ng-model="password", id="password" placeholder="Wachtwoord").form-control
            .col-md-6
                a.btn.btn-md.btn-primary(ng-click="generatePassword()") {{:: "GENERATE" | translate}}
        .row
            .col-md-12
                input(type="checkbox" id="mustResetPass" ng-model="mustResetPassword" value="1").form-control
                label(for="mustResetPass") {{:: "USER_MUST_CHANGE_PASSWORD_AFTER_FIRST_LOGIN" | translate}}
                br
                a.btn.btn-md.btn-success(ng-click="changePassword()") {{:: "MODIFY" | translate}}
            .col-md-12
                div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                    | {{alert.msg}}
.modal-footer
    a(ng-click='$dismiss()').btn.btn-md.btn-dark {{:: "TEXT_CANCEL" | translate}}

app/dist/views/modal/admin-reset-password-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "RESET_USER_PASSWORD" | translate}}</h4>
</div>
<div class="modal-body">
  <p>{{:: "RESET_THIS_USERS_PASSWORD" | translate}}</p>
  <form name="resetPasswordForm" novalidate="novalidate">
    <div class="row">
      <div class="col-md-6">
        <input class="form-control" type="text" ng-model="password" id="password" placeholder="Wachtwoord"/>
      </div>
      <div class="col-md-6"><a class="btn btn-md btn-primary" ng-click="generatePassword()">{{:: "GENERATE" | translate}}</a></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input class="form-control" type="checkbox" id="mustResetPass" ng-model="mustResetPassword" value="1"/>
        <label for="mustResetPass">{{:: "USER_MUST_CHANGE_PASSWORD_AFTER_FIRST_LOGIN" | translate}}</label><br/><a class="btn btn-md btn-success" ng-click="changePassword()">{{:: "MODIFY" | translate}}</a>
      </div>
      <div class="col-md-12">
        <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type">{{alert.msg}}</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer"><a class="btn btn-md btn-dark" ng-click="$dismiss()">{{:: "TEXT_CANCEL" | translate}}</a></div>
