app/src/views/modal/builder-changetheme-modal.pug
.modal-header
  h3.modal-title {{:: "CNANGE_TEMPLATE" | translate}}
.modal-body
  | {{:: "ARE_YOU_SURE_YOU_WANT_TO_DELETE_PREVIOUS_TEMPLATE" | translate}}
.modal-footer
  button.btn.btn-primary(type='button', ng-click='modalok();$dismiss()') {{:: "YES" | translate}}
  button.btn.btn-warning(type='button', ng-click='modalcancel();$dismiss()') {{:: "NO" | translate}}

app/dist/views/modal/builder-changetheme-modal.html

<div class="modal-header">
  <h3 class="modal-title">{{:: "CNANGE_TEMPLATE" | translate}}</h3>
</div>
<div class="modal-body">{{:: "ARE_YOU_SURE_YOU_WANT_TO_DELETE_PREVIOUS_TEMPLATE" | translate}}</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="modalok();$dismiss()">{{:: "YES" | translate}}</button>
  <button class="btn btn-warning" type="button" ng-click="modalcancel();$dismiss()">{{:: "NO" | translate}}</button>
</div>
