app/src/views/modal/choose-shop-modal.pug
div
	.modal-header
		button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
		h4.modal-title {{:: "CHOOSE_STORE" | translate}}
	.modal-body
		h5 
		p
			span {{:: "YOU_CAN_CHOOSE_WHERE_YOU" | translate}}
			strong &nbsp;{{item.name}}&nbsp;
			span {{:: "WANT_TO_ORDER_OVERVIEW_OF_JEWELLERS" | translate}}
		table
			tr
				th {{:: "TEXT_NAME" | translate}}
				th {{:: "TEXT_PRICE" | translate}}
				th &nbsp;
			tr(ng-repeat="shop in shops")
				td(ng-bind="shop.name")
				td(ng-bind="'€ ' + shop.price")
				td
					a(ng-click="chooseShop(shop)").btn.btn-md.btn-dark {{:: "TEXT_ORDER" | translate}}
		a(ng-click='$dismiss()').btn.btn-md.btn-dark {{:: "TEXT_CANCEL" | translate}}

app/dist/views/modal/choose-shop-modal.html

<div>
  <div class="modal-header">
    <button class="close pull-right" type="button" ng-click="$dismiss()" aria-hidden="true">×</button>
    <h4 class="modal-title">{{:: "CHOOSE_STORE" | translate}}</h4>
  </div>
  <div class="modal-body">
    <h5> </h5>
    <p><span>{{:: "YOU_CAN_CHOOSE_WHERE_YOU" | translate}}</span><strong>&nbsp;{{item.name}}&nbsp;</strong><span>{{:: "WANT_TO_ORDER_OVERVIEW_OF_JEWELLERS" | translate}}</span></p>
    <table>
      <tr>
        <th>{{:: "TEXT_NAME" | translate}}</th>
        <th>{{:: "TEXT_PRICE" | translate}}</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="shop in shops">
        <td ng-bind="shop.name"></td>
        <td ng-bind="'€ ' + shop.price"></td>
        <td><a class="btn btn-md btn-dark" ng-click="chooseShop(shop)">{{:: "TEXT_ORDER" | translate}}</a></td>
      </tr>
    </table><a class="btn btn-md btn-dark" ng-click="$dismiss()">{{:: "TEXT_CANCEL" | translate}}</a>
  </div>
</div>
