app/dist/views/modal/countr-signup-modal.html

<div modal="countrSignup" close="cancel()">
  <div class="modal-header">
    <h5 class="modal-title">{{:: "SIMPLY_TEST_CASH_REGISTER_FUNCTION" | translate}}</h5>
  </div>
  <div class="modal-body" ng-init="showSteps = false">
    <div ng-if="!showSteps">
      <div ng-if="language =='nl'" style="height: 272px">
        <div class="panel-body" style="padding: 0px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/276619627?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='en'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/276619627?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='de'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/276619627?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='fr'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/276619627?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div ng-if="language =='es'" style="height: 272px">
        <div class="panel-body" style="padding: 5px 0 0 0; text-align: center; height: 272px">
          <iframe src="https://player.vimeo.com/video/276619627?color=0ccfa8&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" style="display: inline-block"></iframe>
        </div>
      </div>
      <div class="row"></div>
      <div class="text-center"><a class="btn btn-lg btn-default" ng-click="step1()">Install the App yourself. Click here!</a><br/><br/></div>
    </div>
    <div ng-if="showSteps">
      <uib-tabset active="activeTab">
        <uib-tab index="0" heading="A. {{:: &quot;CHECK_INFO&quot; | translate}}">
          <div class="row">
            <div class="col-md-12">
              <p>{{:: "CHECK_THE_INFO_BELOW_AND_ADJUST_THIS_DATA_IS_SAVED_TO_YOUR_STORE" | translate}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" ng-init="getBrands()"><b>{{:: "TEXT_YOUR_BRANDS" | translate}}</b>
              <angucomplete-alt id="ex1" placeholder="{{:: &quot;TEXT_SEARCH_A_BRAND&quot; | translate}}" pause="100" clear-selected="true" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" input-class="form-control"></angucomplete-alt>
              <div class="list-group"><a class="list-group-item" ng-repeat="brand in currentShop.brands">{{brand.name}} </a></div>
            </div>
          </div>
          <div class="row"><a class="btn btn-lg btn-green" ng-click="step2()">{{:: "NEXT" | translate}}</a></div>
        </uib-tab>
        <uib-tab index="1" heading="B. Verbinden met Countr" ng-click="step2()">
          <div class="row" ng-show="modeAlert">
            <div class="col-md-12">
              <div uib-alert="uib-alert" ng-class="'alert-' + modeAlert.type">{{modeAlert.msg}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><a class="btn btn-md btn-success" ng-click="changeMode('login')" ng-disabled="countrMode == 'login'" ng-class="countrMode == 'login' ? 'disabled' : ''">{{:: "LOGIN_TO_COUNTR" | translate}}</a></div>
            <div class="col-md-6"><a class="btn btn-md btn-success" ng-click="changeMode('register')" ng-disabled="countrMode == 'register'" ng-class="countrMode == 'register' ? 'disabled' : ''">{{:: "REGISTER_WITH_COUNTR" | translate}}</a></div>
          </div>
          <form name="countrLoginForm" ng-submit="login(countrLoginForm.$valid)" ng-show="countrMode == 'login'" novalidate="novalidate">
            <div class="row">
              <div class="col-md-12">
                <p>{{:: "LOG_IN_WITH_THE_DETAILS_OF_YOUR_COUNTR_ACCOUNT_WE_DO_NOT_STORE_YOUR_PASSWORD" | translate}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="loginName">{{:: "USERNAME" | translate}}</label>
                <input class="form-control" type="text" ng-disabled="loading" required="required" ng-model="countr.email" id="loginName" name="loginName"/>
              </div>
              <div class="col-md-6">
                <label for="loginPass">{{:: "PASSWORD" | translate}}</label>
                <input class="form-control" type="password" ng-disabled="loading" required="required" ng-model="countr.password" id="loginPass" name="loginPass"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-lg btn-success" type="submit" ng-disabled="loading || !countrLoginForm.$valid"> <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="loading"></i>{{:: "LOGIN" | translate}}</button>
              </div>
            </div>
          </form>
          <div ng-show="connected">
            <div class="row">
              <div class="col-md-12">
                <h4> {{:: "PERFECT_WE_ARE_CONNECTED" | translate}}</h4>
                <p>{{:: "WE_STILL_NEED_SOME_DATA" | translate}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>{{:: "WHICH_STORE_SHOULD_WE_LINK" | translate}}</p>
                <select class="form-control" ng-model="currentShop.countr.countrId" ng-change="setCountrId()" id="countrshop">
                  <option ng-repeat="countr in countrShops" value="{{countr._id}}">{{countr.name}}</option>
                </select>
                <p>{{:: "ISNT_THE_RIGHT_SHOP_IN_BETWEEN_THEN_CONTACT_PRISMANOTE_SUPPORT" | translate}}</p>
              </div>
              <div class="col-md-6">
                <p>{{:: "WHAT_SHOULD_BE_THE_STANDARD_TAX_RATE_ON_PRODUCTS" | translate}}</p><a class="btn btn-default" ng-click="addTax = !addTax">{{:: "NEW_RATE" | translate}}</a>
                <div ng-show="addTax">
                  <label for="taxName">{{:: "NAME" | translate}}</label>
                  <input class="form-control" type="text" ng-model="newTax.name" placeholder="Naam" name="taxName" id="taxName"/>
                  <label for="taxRate">{{:: "PERCENTAGE" | translate}}</label>
                  <input class="form-control" type="number" ng-model="newTax.rate" name="taxRate" id="taxRate"/>
                  <input class="form-control" type="checkbox" ng-model="newTax.default" name="defaultTax" id="defaultTax"/>
                  <label for="defaultTax">{{:: "STANDARD_RATE" | translate}}</label><br/><a class="btn btn-default" ng-click="addNewTax()">{{:: "BUTTON_SAVE" | translate}}</a>
                </div>
                <div class="list-group"><a class="list-group-item" ng-repeat="tax in taxes"><span>{{tax.name}} ({{tax.rate * 100}}%) &nbsp;</span><span class="pull-right button-group"><span class="btn btn-sm btn-default" style="padding: 5px; margin-top: -5px;" ng-hide="tax._id == currentShop.countr.taxId" ng-click="defaultTax(tax._id)">{{:: "DEFAULT" | translate}}</span><span class="label label-info" ng-show="tax._id == currentShop.countr.taxId">{{:: "DEFAULT" | translate}}</span><i class="fa fa-times delete-icon" style="padding-left:10px" ng-click="deleteTax(tax._id, $index)"></i></span></a></div>
              </div>
            </div>
            <div class="row" ng-show="currentShop.countr.countrId &amp;&amp; currentShop.countr.taxId">
              <div class="col-md-12">
                <h4>{{:: "WE_HAVE_ALL_THE_DATA" | translate}}</h4>
                <p>{{:: "PROCEED_TO_THE_NEXT_STEP_TO_SET_UP_THE_APP" | translate}}</p><a class="btn btn-lg btn-success" ng-click="step3()">{{:: "NEXT_STEP" | translate}}</a>
              </div>
            </div>
          </div>
          <form name="countrSignupForm" ng-submit="signUp(countrSignupForm.$valid)" ng-show="countrMode == 'register'">
            <div class="row">
              <div class="col-md-12">
                <p>{{:: "CHOOSE_PASSWORD_FOR_COUNTR_RECOMMENDED_NOT_TO_USE_SAME" | translate}}</p>
                <p>{{:: "USE_THIS_PASSWORD_TO_INSTALL_THE_COUNTR_APP" | translate}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>{{:: "USERNAME" | translate}}</p>
                <label for="pw1">{{:: "INPUT_PASSWORD_REGISTER_FORM" | translate}}</label>
                <input class="form-control" type="password" id="pw1" name="pw1" required="required" ng-model="countr.password"/>
              </div>
              <div class="col-md-6">
                <p>{{countr.email}}</p>
                <label for="pw2">{{:: "INPUT_REPEATPASSWORD_REGISTER_FORM" | translate}}</label>
                <input class="form-control" type="password" id="pw2" name="pw2" required="required" ng-match="countr.password" ng-model="countr.confirmation"/>
              </div>
              <div class="col-md-12">
                <p class="help-block" ng-show="countrSignupForm.pw2.$error.match">{{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-lg btn-success" type="submit" ng-disabled="!countrSignupForm.$valid || countrSignupForm.pw2.$error.match">{{:: "SIGN_UP" | translate}}</button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12">
              <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type">{{alert.msg}}</div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="2" heading="C. {{:: &quot;TEST&quot; | translate}}" ng-init="showAndroidInfo = true"><br/>
          <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type">{{alert.msg}}</div>
          <p ng-init="tabletMode" ng-click="tabletMode = !tabletMode">{{:: "ARE_YOU_ON_TABLET_OR_PHONE_CLICK_HERE" | translate}}</p>
          <div class="row" ng-show="visible-xs &amp;&amp; visible-md || tabletMode">
            <div class="col-md-4"><a href="https://itunes.apple.com/nl/app/countr-pos/id897990614?mt=8" target="_blank"><i class="fa fa-apple fa-4x"></i>
                <p>{{:: "INSTALL_ON_APPLE_IPAD_OR_IPHONE" | translate}}</p></a></div>
            <div class="col-md-4"><a href="https://play.google.com/store/apps/details?id=com.shopperconcepts.pos" target="_blank"><i class="fa fa-android fa-4x"></i>
                <p>{{:: "DOWNLOAD_FOR_SAMSUNG_SONY_ANDROID_DEVICE" | translate}}</p></a></div>
            <div class="col-md-4"><i class="fa fa-male fa-4x"></i>
              <p>{{:: "CALL_US_TO_MAKE_APPOINTMENT_FOR_INSTALLATION_ON_EXISTING_CASH_REGISTER" | translate}}</p>
            </div>
          </div>
          <div class="row hidden-xs hidden-md"><b>{{:: "TABLET_CASH_REGISTER" | translate}}</b><br/><b>{{:: "RECOMMENDED_ADDITIONAL" | translate}}</b>
            <div class="row"></div><a href="" ng-init="showAndroidInfo" ng-click="showAndroidInfo = !showAndroidInfo">
              <p>{{:: "INSTALL_ON_SAMSUNG_SONY_OR_OTHER_ANDROID_DEVICE" | translate}} &nbsp;<span class="i fa" ng-class="showAndroidInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></p></a><br/>
            <div class="row" uib-collapse="!showAndroidInfo">
              <div class="col-md-6"><a href=""><i class="fa fa-android fa-4x"></i></a>
                <p></p><b>{{:: "ONE_OPEN_THE_PLAY_STORE_ON_YOUR_DEVICE" | translate}} </b><br/><br/>{{:: "YOU_CAN_ALSO_SCAN_QR_YOU_NEED_SCAN_APP" | translate}}<br/><br/><b>{{:: "TWO_SEARCH_FOR_COUNTR_POS_AND_DOWNLOAD_APP" | translate}}</b><br/><br/>{{:: "SATISFIED" | translate}}<a ui-sref="retailer.upgrade" target="_blank">{{:: "ACTIVATE_CASH_REGISTER_MODULE_VIA_UPGRADE_PAGE" | translate}} </a><a href="http://hardware.countrhq.com/" target="_blank">{{:: "VIEW_HARDWARE_HERE" | translate}}</a><br/>
              </div>
              <div class="col-md-6"><img ng-src="https://prismanote.s3.amazonaws.com/general/countr_playstore_qr.PNG" style="width: 55%"/></div>
              <hr/>
            </div><br/><br/>
            <div class="row"></div><a href="" ng-init="showAppleInfo" ng-click="showAppleInfo = !showAppleInfo">
              <p>{{:: "INSTALL_ON_APPLE_IPAD_OR_IPHONE" | translate}} &nbsp;<span class="i fa" ng-class="showAppleInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></p></a><br/>
            <div class="row" uib-collapse="!showAppleInfo">
              <div class="col-md-6"><a href=""><i class="fa fa-apple fa-4x"></i></a>
                <p> </p><b>{{:: "ONE_OPEN_APP_STORE_APPLE_ON_YOUR_TABLET_OR_PHONE" | translate}} </b><br/><br/>{{:: "YOU_CAN_ALSO_SCAN_QR_YOU_NEED_SCAN_APP" | translate}}<br/><br/><b>{{:: "TWO_SEARCH_FOR_COUNTR_POS_AND_DOWNLOAD_APP" | translate}}</b><br/><br/>{{:: "SATISFIED" | translate}}<a ui-sref="retailer.upgrade" target="_blank">{{:: "ACTIVATE_CASH_REGISTER_MODULE_VIA_UPGRADE_PAGE" | translate}} </a><a href="http://hardware.countrhq.com/" target="_blank">{{:: "VIEW_HARDWARE_HERE" | translate}}</a><br/>
              </div>
              <div class="col-md-6"><img ng-src="https://prismanote.s3.amazonaws.com/general/countr_itunes_qr.PNG" style="width: 55%"/></div>
              <hr/>
            </div><br/><br/><b>{{:: "EXISTING_CASH_REGISTER" | translate}}</b>
            <div class="row"></div><a href="" ng-init="showRepairmanInfo" ng-click="showRepairmanInfo = !showRepairmanInfo">
              <p>{{:: "INSTALL_CURRENT_CASH_REGISTER" | translate}} &nbsp;<span class="i fa" ng-class="showRepairmanInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></p></a><br/>
            <div class="row" uib-collapse="!showRepairmanInfo">
              <div class="col-md-6"><i class="fa fa-male fa-4x"></i></div>
              <div class="col-md-6">
                <p>{{:: "CALL_US_TO_MAKE_APPOINTMENT_FOR_INSTALLATION_ON_EXISTING_CASH_REGISTER" | translate}}</p>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div class="modal-footer"><a class="btn btn-md btn-default" ng-click="cancel()">{{:: "CANCEL" | translate}}</a></div>
  </div>
</div>

app/src/views/modal/countr-signup-modal.pug
div(modal="countrSignup", close="cancel()")
	.modal-header
		h5.modal-title {{:: "SIMPLY_TEST_CASH_REGISTER_FUNCTION" | translate}}
	.modal-body(ng-init="showSteps = false")
		div(ng-if="!showSteps")
			div(ng-if="language =='nl'" style="height: 272px")
				.panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
					iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			div(ng-if="language =='en'" style="height: 272px")
				.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
					iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			div(ng-if="language =='de'" style="height: 272px")
				.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
					iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			div(ng-if="language =='fr'" style="height: 272px")
				.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
					iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			div(ng-if="language =='es'" style="height: 272px")
				.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
					iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			.row
			div.text-center
				a.btn.btn-lg.btn-default(ng-click="step1()") Install the App yourself. Click here!
				br
				br
		div(ng-if="showSteps")
			uib-tabset(active='activeTab')
				uib-tab(index='0', heading='A. {{:: "CHECK_INFO" | translate}}')
					.row
						.col-md-12
							p {{:: "CHECK_THE_INFO_BELOW_AND_ADJUST_THIS_DATA_IS_SAVED_TO_YOUR_STORE" | translate}}
					.row
						.col-md-6(ng-init="getBrands()")
							b {{:: "TEXT_YOUR_BRANDS" | translate}}
							angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
							.list-group
								a(ng-repeat="brand in currentShop.brands").list-group-item
									| {{brand.name}} 

					.row
						a.btn.btn-lg.btn-green(ng-click="step2()") {{:: "NEXT" | translate}}

				uib-tab(index='1', heading='B. Verbinden met Countr' ng-click="step2()")
					.row(ng-show="modeAlert")
						.col-md-12
							div(uib-alert, ng-class="'alert-' + modeAlert.type")
								| {{modeAlert.msg}}
					.row
						.col-md-6
							a.btn.btn-md.btn-success(ng-click="changeMode('login')" ng-disabled="countrMode == 'login'" ng-class="countrMode == 'login' ? 'disabled' : ''") {{:: "LOGIN_TO_COUNTR" | translate}}
						.col-md-6
							a.btn.btn-md.btn-success(ng-click="changeMode('register')" ng-disabled="countrMode == 'register'" ng-class="countrMode == 'register' ? 'disabled' : ''") {{:: "REGISTER_WITH_COUNTR" | translate}}
					form(name="countrLoginForm" ng-submit="login(countrLoginForm.$valid)" ng-show="countrMode == 'login'" novalidate)
						.row
							.col-md-12
								p {{:: "LOG_IN_WITH_THE_DETAILS_OF_YOUR_COUNTR_ACCOUNT_WE_DO_NOT_STORE_YOUR_PASSWORD" | translate}}
						.row
							.col-md-6
								label(for="loginName") {{:: "USERNAME" | translate}}
								input(type="text" ng-disabled="loading" required ng-model="countr.email" id="loginName" name="loginName").form-control
							.col-md-6
								label(for="loginPass") {{:: "PASSWORD" | translate}}
								input(type="password" ng-disabled="loading" required ng-model="countr.password" id="loginPass" name="loginPass").form-control
						.row
							.col-md-12
								button(type='submit' ng-disabled="loading || !countrLoginForm.$valid").btn.btn-lg.btn-success 
									i(ng-show="loading").fa.fa-circle-o-notch.fa-spin.fa-fw
									|{{:: "LOGIN" | translate}}
					div(ng-show="connected")
						.row
							.col-md-12
								h4  {{:: "PERFECT_WE_ARE_CONNECTED" | translate}}
								p {{:: "WE_STILL_NEED_SOME_DATA" | translate}}
						.row
							.col-md-6
								p {{:: "WHICH_STORE_SHOULD_WE_LINK" | translate}}
								select(ng-model="currentShop.countr.countrId" ng-change="setCountrId()" id="countrshop").form-control
									option(ng-repeat="countr in countrShops", value="{{countr._id}}") {{countr.name}}
								p {{:: "ISNT_THE_RIGHT_SHOP_IN_BETWEEN_THEN_CONTACT_PRISMANOTE_SUPPORT" | translate}}
							.col-md-6
								p {{:: "WHAT_SHOULD_BE_THE_STANDARD_TAX_RATE_ON_PRODUCTS" | translate}}

								a.btn.btn-default(ng-click="addTax = !addTax") {{:: "NEW_RATE" | translate}}
								div(ng-show="addTax")
									label(for="taxName") {{:: "NAME" | translate}}
									input(type="text" ng-model="newTax.name" placeholder="Naam" name="taxName" id="taxName").form-control
									label(for="taxRate") {{:: "PERCENTAGE" | translate}}
									input(type="number" ng-model="newTax.rate" name="taxRate", id="taxRate").form-control
									input(type="checkbox" ng-model="newTax.default", name="defaultTax" id="defaultTax").form-control
									label(for="defaultTax") {{:: "STANDARD_RATE" | translate}}
									br
									a.btn.btn-default(ng-click="addNewTax()") {{:: "BUTTON_SAVE" | translate}}
								.list-group
									a(ng-repeat="tax in taxes").list-group-item
										span {{tax.name}} ({{tax.rate * 100}}%) &nbsp;
										span.pull-right.button-group
											span.btn.btn-sm.btn-default(style="padding: 5px; margin-top: -5px;" ng-hide="tax._id == currentShop.countr.taxId" ng-click="defaultTax(tax._id)") {{:: "DEFAULT" | translate}}
											span(ng-show="tax._id == currentShop.countr.taxId").label.label-info {{:: "DEFAULT" | translate}}
											i.fa.fa-times.delete-icon(style="padding-left:10px" ng-click="deleteTax(tax._id, $index)")
						.row(ng-show="currentShop.countr.countrId && currentShop.countr.taxId")
							.col-md-12
								h4 {{:: "WE_HAVE_ALL_THE_DATA" | translate}}
								p {{:: "PROCEED_TO_THE_NEXT_STEP_TO_SET_UP_THE_APP" | translate}}

								a.btn.btn-lg.btn-success(ng-click="step3()") {{:: "NEXT_STEP" | translate}}

					form(name="countrSignupForm", ng-submit="signUp(countrSignupForm.$valid)" ng-show="countrMode == 'register'")
						.row
							.col-md-12
								p {{:: "CHOOSE_PASSWORD_FOR_COUNTR_RECOMMENDED_NOT_TO_USE_SAME" | translate}}
								p {{:: "USE_THIS_PASSWORD_TO_INSTALL_THE_COUNTR_APP" | translate}}
						.row
							.col-md-6
								p {{:: "USERNAME" | translate}}
								label(for="pw1") {{:: "INPUT_PASSWORD_REGISTER_FORM" | translate}}
								input(type="password", id="pw1" name="pw1" required ng-model="countr.password").form-control
							.col-md-6
								p {{countr.email}}
								label(for="pw2") {{:: "INPUT_REPEATPASSWORD_REGISTER_FORM" | translate}}
								input(type="password", id="pw2" name="pw2" required ng-match="countr.password" ng-model="countr.confirmation").form-control
							.col-md-12
								p(ng-show="countrSignupForm.pw2.$error.match").help-block
									| {{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}
						.row
							.col-md-12
								button(type='submit' ng-disabled='!countrSignupForm.$valid || countrSignupForm.pw2.$error.match').btn.btn-lg.btn-success {{:: "SIGN_UP" | translate}}
					.row
						.col-md-12
							div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
								| {{alert.msg}}

				uib-tab(index='2', heading='C. {{:: "TEST" | translate}}' ng-init="showAndroidInfo = true")
					br
					div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
						| {{alert.msg}}
					p(ng-init='tabletMode', ng-click='tabletMode = !tabletMode') {{:: "ARE_YOU_ON_TABLET_OR_PHONE_CLICK_HERE" | translate}}
					.row(ng-show="visible-xs && visible-md || tabletMode")
						.col-md-4
							a(href="https://itunes.apple.com/nl/app/countr-pos/id897990614?mt=8" target="_blank")
								i.fa.fa-apple.fa-4x
								p {{:: "INSTALL_ON_APPLE_IPAD_OR_IPHONE" | translate}}
						.col-md-4
							a(href="https://play.google.com/store/apps/details?id=com.shopperconcepts.pos" target="_blank")
								i.fa.fa-android.fa-4x
								p {{:: "DOWNLOAD_FOR_SAMSUNG_SONY_ANDROID_DEVICE" | translate}}
						.col-md-4
							i.fa.fa-male.fa-4x
							p {{:: "CALL_US_TO_MAKE_APPOINTMENT_FOR_INSTALLATION_ON_EXISTING_CASH_REGISTER" | translate}}
					.row.hidden-xs.hidden-md
						b {{:: "TABLET_CASH_REGISTER" | translate}}
						br
						b {{:: "RECOMMENDED_ADDITIONAL" | translate}}
						.row
						a(href='', ng-init='showAndroidInfo', ng-click='showAndroidInfo = !showAndroidInfo')
							p {{:: "INSTALL_ON_SAMSUNG_SONY_OR_OTHER_ANDROID_DEVICE" | translate}} &nbsp;
								span.i.fa(ng-class="showAndroidInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
						br
						.row(uib-collapse='!showAndroidInfo')
							.col-md-6
								a(href="")
									i.fa.fa-android.fa-4x
								p
								b {{:: "ONE_OPEN_THE_PLAY_STORE_ON_YOUR_DEVICE" | translate}} 
								br
								br
								| {{:: "YOU_CAN_ALSO_SCAN_QR_YOU_NEED_SCAN_APP" | translate}}
								br
								br
								b {{:: "TWO_SEARCH_FOR_COUNTR_POS_AND_DOWNLOAD_APP" | translate}}
								br
								br
								| {{:: "SATISFIED" | translate}}
								a(ui-sref="retailer.upgrade" target="_blank") {{:: "ACTIVATE_CASH_REGISTER_MODULE_VIA_UPGRADE_PAGE" | translate}} 
								a(href="http://hardware.countrhq.com/" target="_blank") {{:: "VIEW_HARDWARE_HERE" | translate}}
								br
							.col-md-6
								img(ng-src="https://prismanote.s3.amazonaws.com/general/countr_playstore_qr.PNG" style="width: 55%")
							hr
						br
						br
						.row
						a(href='', ng-init='showAppleInfo', ng-click='showAppleInfo = !showAppleInfo')
							p {{:: "INSTALL_ON_APPLE_IPAD_OR_IPHONE" | translate}} &nbsp;
								span.i.fa(ng-class="showAppleInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
						br
						.row(uib-collapse='!showAppleInfo')
							.col-md-6
								a(href="")
									i.fa.fa-apple.fa-4x
								p 
								b {{:: "ONE_OPEN_APP_STORE_APPLE_ON_YOUR_TABLET_OR_PHONE" | translate}} 
								br
								br
								| {{:: "YOU_CAN_ALSO_SCAN_QR_YOU_NEED_SCAN_APP" | translate}}
								br
								br
								b {{:: "TWO_SEARCH_FOR_COUNTR_POS_AND_DOWNLOAD_APP" | translate}}
								br
								br
								| {{:: "SATISFIED" | translate}}
								a(ui-sref="retailer.upgrade" target="_blank") {{:: "ACTIVATE_CASH_REGISTER_MODULE_VIA_UPGRADE_PAGE" | translate}} 
								a(href="http://hardware.countrhq.com/" target="_blank") {{:: "VIEW_HARDWARE_HERE" | translate}}
								br
							.col-md-6
								img(ng-src="https://prismanote.s3.amazonaws.com/general/countr_itunes_qr.PNG" style="width: 55%")
							hr
						br
						br
						b {{:: "EXISTING_CASH_REGISTER" | translate}}
						.row
						a(href='', ng-init='showRepairmanInfo', ng-click='showRepairmanInfo = !showRepairmanInfo')
							p {{:: "INSTALL_CURRENT_CASH_REGISTER" | translate}} &nbsp;
								span.i.fa(ng-class="showRepairmanInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
						br
						.row(uib-collapse='!showRepairmanInfo')
							.col-md-6
								i.fa.fa-male.fa-4x
							.col-md-6
								p {{:: "CALL_US_TO_MAKE_APPOINTMENT_FOR_INSTALLATION_ON_EXISTING_CASH_REGISTER" | translate}}
		.modal-footer
			a.btn.btn-md.btn-default(ng-click="cancel()") {{:: "CANCEL" | translate}}
