app/src/views/modal/countr-create-store-modal.pug
div(modal="createStore", ng-init="loadModal()" close="cancel()")
    .modal-header
        h5.modal-title {{:: "CREATE_A_NEW_STORE_IN_COUNTR" | translate}}
    .modal-body
        form(name="createStoreForm" ng-submit="submit(createStoreForm.$valid)" novalidate)
            .row
                .col-md-10
                    label(for="shopname") {{:: "SHOP_NAME" | translate}}
                    input(required type="text" id="shopname" name="shopname" ng-model="store.name").form-control
            .row
                .col-md-4
                    label(for="shopstreet") {{:: "STREET_NAME" | translate}}
                    input(required type="text" id="shopstreet" name="shopstreet" ng-model="store.street").form-control
                .col-md-2
                    label(for="shopnumber") {{:: "HOUSE_NUMBER" | translate}}
                    input(required type="text" id="shopnumber" name="shopsshopnumbertreet" ng-model="store.number").form-control
                .col-md-2
                    label(for="shopnumbersuffix") {{:: "ADDITION" | translate}}
                    input(type="text" id="shopnumbersuffix" name="shopnumbersuffix" ng-model="store.numbersuffix").form-control
                .col-md-2
                    label(for="shopzip") {{:: "POSTAL_CODE" | translate}}
                    input(required type="text" id="shopzip" name="shopzip" ng-model="store.zip").form-control
            .row
                .col-md-5
                    label(for="shopcity") {{:: "CITY" | translate}}
                    input(required type="text" id="shopcity" name="shopcity" ng-model="store.city").form-control
                .col-md-5
                    country-list(ng-required="true" ng-model="store.country")

            .row
                .col-md-10
                    button.btn.btn-lg.btn-success(type="submit" ng-disabled="loading || createStoreForm.$invalid")
                        i(ng-show="loading").fa.fa-circle-o-notch.fa-spin.fa-fw
                        | {{:: "CREATE" | translate}}

                    br
                    br
                    div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                        | {{alert.msg}}


		
    .modal-footer
        a.btn.btn-md.btn-default(ng-click="cancel()") {{:: "CANCEL" | translate}}

app/dist/views/modal/countr-create-store-modal.html

<div modal="createStore" ng-init="loadModal()" close="cancel()">
  <div class="modal-header">
    <h5 class="modal-title">{{:: "CREATE_A_NEW_STORE_IN_COUNTR" | translate}}</h5>
  </div>
  <div class="modal-body">
    <form name="createStoreForm" ng-submit="submit(createStoreForm.$valid)" novalidate="novalidate">
      <div class="row">
        <div class="col-md-10">
          <label for="shopname">{{:: "SHOP_NAME" | translate}}</label>
          <input class="form-control" required="required" type="text" id="shopname" name="shopname" ng-model="store.name"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="shopstreet">{{:: "STREET_NAME" | translate}}</label>
          <input class="form-control" required="required" type="text" id="shopstreet" name="shopstreet" ng-model="store.street"/>
        </div>
        <div class="col-md-2">
          <label for="shopnumber">{{:: "HOUSE_NUMBER" | translate}}</label>
          <input class="form-control" required="required" type="text" id="shopnumber" name="shopsshopnumbertreet" ng-model="store.number"/>
        </div>
        <div class="col-md-2">
          <label for="shopnumbersuffix">{{:: "ADDITION" | translate}}</label>
          <input class="form-control" type="text" id="shopnumbersuffix" name="shopnumbersuffix" ng-model="store.numbersuffix"/>
        </div>
        <div class="col-md-2">
          <label for="shopzip">{{:: "POSTAL_CODE" | translate}}</label>
          <input class="form-control" required="required" type="text" id="shopzip" name="shopzip" ng-model="store.zip"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label for="shopcity">{{:: "CITY" | translate}}</label>
          <input class="form-control" required="required" type="text" id="shopcity" name="shopcity" ng-model="store.city"/>
        </div>
        <div class="col-md-5">
          <country-list ng-required="true" ng-model="store.country"></country-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <button class="btn btn-lg btn-success" type="submit" ng-disabled="loading || createStoreForm.$invalid"><i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="loading"></i>{{:: "CREATE" | translate}}</button><br/><br/>
          <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type">{{alert.msg}}</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"><a class="btn btn-md btn-default" ng-click="cancel()">{{:: "CANCEL" | translate}}</a></div>
</div>
