app/src/views/modal/create-email-modal.pug
.modal-header
	h4.modal-title {{:: "ADD_NEW_SCHEDULED_EMAIL" | translate}}
.modal-body
	.row
		.col-md-6
			input(ng-model='subject', placeholder='subject').form-control
		.col-md-6
			input(ng-model='date', ng-disabled="direct" type='date', name='date').form-control.loyalty-input-height
			button.btn.btn-green(ng-click="direct = !direct") {{:: "SEND_DIRECTLY" | translate}}
	.row
		.col-md-12
			h5 {{:: "TEXT_EDITOR" | translate}}
			text-angular(ng-model="newEmailTemplate").wysiwyg
.modal-footer
	a(ng-click="create()").btn.btn-lg {{direct ? "Sent now" : "Create"}}
	a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}

app/dist/views/modal/create-email-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "ADD_NEW_SCHEDULED_EMAIL" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <input class="form-control" ng-model="subject" placeholder="subject"/>
    </div>
    <div class="col-md-6">
      <input class="form-control loyalty-input-height" ng-model="date" ng-disabled="direct" type="date" name="date"/>
      <button class="btn btn-green" ng-click="direct = !direct">{{:: "SEND_DIRECTLY" | translate}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>{{:: "TEXT_EDITOR" | translate}}</h5>
      <text-angular class="wysiwyg" ng-model="newEmailTemplate"></text-angular>
    </div>
  </div>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="create()">{{direct ? "Sent now" : "Create"}}</a><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>
