app/dist/views/modal/create-retailer-tableoptions-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "TABLE_OPTION_SETTINGS" | translate}}</h4>
</div>
<div class="modal-body" style="width:100%"></div>
<div class="row" ng-init="tablecolumns()">
  <div class="col-md-4">
    <div>{{:: "TABLE CHOOSE_UP_TO_FIVE_OPTIONS SETTINGS" | translate}}
      <!-- <div class="input-group-addon">-->
      <table class="table table-hover">
        <tr>
          <td ng-show="showName" ng-click="addTabOptions('Name')">{{:: "NAME" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showPhoneNumber" ng-click="addTabOptions(&quot;Phone Number&quot;)">{{:: "PHONE_NUMBER" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showProductStatus" ng-click="addTabOptions(&quot;Product Status&quot;)">{{:: "PRODUCT_STATUS" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showProductKind" ng-click="addTabOptions(&quot;Product Kind&quot;)">{{:: "KIND_OF_PRODUCT" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showProductMaterial" ng-click="addTabOptions(&quot;Product Material&quot;)">{{:: "TYPE_OF_MATERIAL" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showCustomTag" ng-click="addTabOptions(&quot;Custom Tag&quot;)">{{:: "PERSONALIZED_TAG" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showComments" ng-click="addTabOptions(&quot;Comments&quot;)">{{:: "REMARKS" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showFillinDate" ng-click="addTabOptions(&quot;Fillin Date&quot;)">{{:: "REGISTRATION_DATE" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showRepairDate" ng-click="addTabOptions(&quot;Repair Date&quot;)">{{:: "REPAIR_DATE" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showRetailerComment" ng-click="addTabOptions(&quot;Retailer Comment&quot;)">{{:: "RETAILERS_COMMENT" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showPrice" ng-click="addTabOptions(&quot;Price&quot;)">{{:: "PRICE" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showEndWarranty" ng-click="addTabOptions(&quot;End Warranty&quot;)">{{:: "END_OF_WARRANTY" | translate}}</td>
        </tr>
        <tr>
          <td ng-show="showAddress" ng-click="addTabOptions(&quot;Address&quot;)">{{:: "ADDRESS"}}</td>
        </tr>
        <tr>
          <td ng-show="showBrandName" ng-click="addTabOptions(&quot;Brand Name&quot;)">{{:: "BRAND NAME"}}</td>
        </tr>
        <tr>
          <td ng-show="showZipCode" ng-click="addTabOptions(&quot;Zipcode,HouseNumber&quot;)">{{:: "ZIPCODE,HOUSE_NUMBER"}}</td>
        </tr>
      </table>
      <!-- </div>-->
    </div>
    <div class="col-md-4">
      <div>{{:: "SELECTED_OPTIONS" | translate}}
        <div ng-repeat="selectOpts in selectedOptions"><span class="input-group-addon">{{selectOpts | translate}}</span><span class="input-group-addon" ng-click="deleteTableOptions($index,selectOpts)">X</span></div>
      </div>
    </div>
  </div>
</div>

app/src/views/modal/create-retailer-tableoptions-modal.pug
.modal-header
  h4.modal-title {{:: "TABLE_OPTION_SETTINGS" | translate}}
.modal-body(style='width:100%')
.row(ng-init='tablecolumns()')
  .col-md-4
    div
      | {{:: "TABLE CHOOSE_UP_TO_FIVE_OPTIONS SETTINGS" | translate}}
      // <div class="input-group-addon">
      table.table.table-hover
        tr
          td(ng-show='showName', ng-click="addTabOptions('Name')") {{:: "NAME" | translate}}
        tr
          td(ng-show='showPhoneNumber', ng-click='addTabOptions("Phone Number")') {{:: "PHONE_NUMBER" | translate}}
        tr
          td(ng-show='showProductStatus', ng-click='addTabOptions("Product Status")') {{:: "PRODUCT_STATUS" | translate}}
        tr
          td(ng-show='showProductKind', ng-click='addTabOptions("Product Kind")') {{:: "KIND_OF_PRODUCT" | translate}}
        tr
          td(ng-show='showProductMaterial', ng-click='addTabOptions("Product Material")') {{:: "TYPE_OF_MATERIAL" | translate}}
        tr
          td(ng-show='showCustomTag', ng-click='addTabOptions("Custom Tag")') {{:: "PERSONALIZED_TAG" | translate}}
        tr
          td(ng-show='showComments', ng-click='addTabOptions("Comments")') {{:: "REMARKS" | translate}}
        tr
          td(ng-show='showFillinDate', ng-click='addTabOptions("Fillin Date")') {{:: "REGISTRATION_DATE" | translate}}
        tr
          td(ng-show='showRepairDate', ng-click='addTabOptions("Repair Date")') {{:: "REPAIR_DATE" | translate}}
        tr
          td(ng-show='showRetailerComment', ng-click='addTabOptions("Retailer Comment")') {{:: "RETAILERS_COMMENT" | translate}}
        tr
          td(ng-show='showPrice', ng-click='addTabOptions("Price")') {{:: "PRICE" | translate}}
        tr
          td(ng-show='showEndWarranty', ng-click='addTabOptions("End Warranty")') {{:: "END_OF_WARRANTY" | translate}}
        tr
          td(ng-show='showAddress', ng-click='addTabOptions("Address")') {{:: "ADDRESS"}}
        tr
          td(ng-show='showBrandName', ng-click='addTabOptions("Brand Name")') {{:: "BRAND NAME"}}
        tr
          td(ng-show='showZipCode', ng-click='addTabOptions("Zipcode,HouseNumber")') {{:: "ZIPCODE,HOUSE_NUMBER"}}
        //- tr
        //-   td(ng-show='showHouseNumber', ng-click='addTabOptions("HouseNumber")') {{:: "HOUSE_NUMBER"}}
      // </div>
    .col-md-4
      div
        | {{:: "SELECTED_OPTIONS" | translate}}
        div(ng-repeat='selectOpts in selectedOptions')
          span.input-group-addon {{selectOpts | translate}}
          span.input-group-addon(ng-click='deleteTableOptions($index,selectOpts)') X
