app/src/views/modal/create-wholesaler-modal.pug
.modal-header
    h4.modal-title {{:: "NEW_COMPANY" | translate}}
.modal-body
    p {{:: "COMPANY_NAME" | translate}}
    input(type="text", ng-model="wholesaler.name", placeholder='{{:: "COMPANY_NAME" | translate}}' uib-tooltip-html='{{:: "TITLE_MAY_NOT_BE_LONGER_THAN_HUNDERD_CHARACTERS" | translate}}' style='width: 500px').input-control
    p {{:: "TEXT_EMAILADRESS" | translate}}
    input(type="text", ng-model="wholesaler.email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}' uib-tooltip-html='{{:: "EMAIL_ADDRESS_USED_FOR_B2B" | translate}}' style='width: 500px').input-control

    .form-group
        h4 {{:: "EDIT_ADDRESS" | translate}}
        label(for="street") {{:: "STREET" | translate}}
        input(type="text", ng-model="wholesaler.address.street" id="street", placeholder='{{:: "STREET" | translate}}').form-control

        label(for="housenumber") {{:: "TEXT_NUMBER" | translate}}
        input(type="text", ng-model="wholesaler.address.houseNumber" id="housenumber", placeholder='{{:: "TEXT_NUMBER" | translate}}').form-control
        
        label(for="housenumbersuffix") {{:: "TEXT_ADDITION" | translate}}
        input(type="text", ng-model="wholesaler.address.houseNumberSuffix" id="housenumbersuffix", placeholder='{{:: "TEXT_ADDITION" | translate}}').form-control

        label(for="postalcode") {{:: "TEXT_ZIP" | translate}}
        input(type="text", ng-model="wholesaler.address.postalCode" id="postalcode", placeholder='{{:: "TEXT_ZIP" | translate}}').form-control

        label(for="city") {{:: "TEXT_CITY" | translate}}
        input(type="text", ng-model="wholesaler.address.city" id="city", placeholder='{{:: "TEXT_CITY" | translate}}').form-control
        
        country-list(ng-required="false" ng-model="wholesaler.address.country")

.modal-footer
    a.btn.btn-dark.pull-right(href='', ng-disabled="wholesaler.name == null" ng-click="closeModal()") {{:: "ADD_EDIT" | translate}}

app/dist/views/modal/create-wholesaler-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "NEW_COMPANY" | translate}}</h4>
</div>
<div class="modal-body">
  <p>{{:: "COMPANY_NAME" | translate}}</p>
  <input class="input-control" type="text" ng-model="wholesaler.name" placeholder="{{:: &quot;COMPANY_NAME&quot; | translate}}" uib-tooltip-html="{{:: &quot;TITLE_MAY_NOT_BE_LONGER_THAN_HUNDERD_CHARACTERS&quot; | translate}}" style="width: 500px"/>
  <p>{{:: "TEXT_EMAILADRESS" | translate}}</p>
  <input class="input-control" type="text" ng-model="wholesaler.email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}" uib-tooltip-html="{{:: &quot;EMAIL_ADDRESS_USED_FOR_B2B&quot; | translate}}" style="width: 500px"/>
  <div class="form-group">
    <h4>{{:: "EDIT_ADDRESS" | translate}}</h4>
    <label for="street">{{:: "STREET" | translate}}</label>
    <input class="form-control" type="text" ng-model="wholesaler.address.street" id="street" placeholder="{{:: &quot;STREET&quot; | translate}}"/>
    <label for="housenumber">{{:: "TEXT_NUMBER" | translate}}</label>
    <input class="form-control" type="text" ng-model="wholesaler.address.houseNumber" id="housenumber" placeholder="{{:: &quot;TEXT_NUMBER&quot; | translate}}"/>
    <label for="housenumbersuffix">{{:: "TEXT_ADDITION" | translate}}</label>
    <input class="form-control" type="text" ng-model="wholesaler.address.houseNumberSuffix" id="housenumbersuffix" placeholder="{{:: &quot;TEXT_ADDITION&quot; | translate}}"/>
    <label for="postalcode">{{:: "TEXT_ZIP" | translate}}</label>
    <input class="form-control" type="text" ng-model="wholesaler.address.postalCode" id="postalcode" placeholder="{{:: &quot;TEXT_ZIP&quot; | translate}}"/>
    <label for="city">{{:: "TEXT_CITY" | translate}}</label>
    <input class="form-control" type="text" ng-model="wholesaler.address.city" id="city" placeholder="{{:: &quot;TEXT_CITY&quot; | translate}}"/>
    <country-list ng-required="false" ng-model="wholesaler.address.country"></country-list>
  </div>
</div>
<div class="modal-footer"><a class="btn btn-dark pull-right" href="" ng-disabled="wholesaler.name == null" ng-click="closeModal()">{{:: "ADD_EDIT" | translate}}</a></div>
