app/src/views/modal/create-retailer-extradetails-modal.pug

.modal-header
  h4.modal-title {{:: "ADD_EXTRA_DETAILS" | translate}}
.modal-body
.row
  form(novalidate='novalidate', ng-submit='updateUser()')
    .col-md-4
      .form-group
        .input-group
          span.input-group-addon {{:: "TEXT_FIRSTNAME" | translate}}
          input#firstName.form-control(type='text', ng-model='newUser.firstName', placeholder='{{:: "TEXT_FIRSTNAME" | translate}}')
        br
        .input-group
          span.input-group-addon {{:: "TEXT_INSERTION" | translate}}
          input#lastNamePrefix.form-control(type='text', ng-model='newUser.insertion', placeholder='{{:: "TEXT_INSERTION" | translate}}')
        br
        .input-group
          span.input-group-addon {{:: "TEXT_LASTNAME" | translate}}
          input#lastName.form-control(type='text', ng-model='newUser.lastName', placeholder='{{:: "TEXT_LASTNAME" | translate}}')
    .col-md-4
      .form-group
        .input-group
          span.input-group-addon {{:: "TEXT_EMAILADRESS" | translate}}
          input#email.form-control(type='text', ng-model='newUser.email', placeholder='{{:: "TEXT_EMAILADRESS" | translate}}')
        br
    .col-md-4
      .form-group
        .input-group(style='margin-bottom: 13px')
          span.input-group-addon.loyalty-input-height {{:: "DATE_OF_BIRTH" | translate}}
          input#dateOfBirth.form-control.loyalty-input-height(type='date', ng-model='newUser.dateOfBirth', placeholder='{{:: "01-01-2000" | translate}}')
        br
    .col-md-4
      .form-group
        .input-group
          span.input-group-addon {{:: "HELPED_BY" | translate}}:
          input#helpedBy.form-control(type='text', ng-model='user.firstName', placeholder='')
        br
.row
  .col-md-4
    h4 {{:: "ADDRESSES" | translate}}
    button.btn.btn-primary(ng-click='newAddress()') {{:: "NEW_ADDRESS" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='address in user.address', ng-click='openAddress($index)')
        span
          | {{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deleteAddress($index)')
    
    .col-md-5(style='width: 100%')
      .form-group(ng-show='currentAddress || addNewAddress')
        h4 {{:: "EDIT_ADDRESS" | translate}}
        label(for='street') {{:: "TEXT_ADDRESS" | translate}}
        input#street.form-control(type='text', ng-model='currentAddress.street', placeholder='{{:: "TEXT_ADDRESS" | translate}}')
        label(for='housenumber') {{:: "TEXT_NUMBER" | translate}}
        input#housenumber.form-control(type='text', ng-model='currentAddress.houseNumber', placeholder='{{:: "TEXT_NUMBER" | translate}}')
        label(for='housenumbersuffix') {{:: "TEXT_ADDITION" | translate}}
        input#housenumbersuffix.form-control(type='text', ng-model='currentAddress.houseNumberSuffix', placeholder='{{:: "TEXT_ADDITION" | translate}}')
        label(for='postalcode') {{:: "TEXT_ZIP" | translate}}
        input#postalcode.form-control(type='text', ng-model='currentAddress.postalCode', placeholder='{{:: "TEXT_ZIP" | translate}}')
        label(for='city') {{:: "TEXT_CITY" | translate}}
        input#city.form-control(type='text', ng-model='currentAddress.city', placeholder='{{:: "TEXT_CITY" | translate}}')
        country-list(ng-required="false" ng-model="currentAddress.country")
        br
        input.btn.btn-lg.btn-dark(type='button', ng-click='pushAddress()', ng-show='addNewAddress', value='{{:: "ADD" | translate}}')
        input.btn.btn-lg(type='button', ng-click='cancelNewAddress()', ng-show='addNewAddress', value='{{:: "CANCEL" | translate}}')
    .row
    h4 {{:: "PHONE_NUMBERS" | translate}}
    button.btn.btn-primary(ng-click='newPhone()') {{:: "NEW_PHONE_NUMBER" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='phone in user.phone', ng-click='openPhone($index)', ng-class="{'active': currentPhone.index == $index}")
        span {{phone.countryCode}} {{phone.mobilePhone || phone.landLine}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deletePhone($index)')       
 
    .row(ng-show='currentPhone || addNewPhone')
      h4 {{:: "EDIT_PHONE" | translate}}
      label(for='countryCode') {{:: "COUNTRY_CODE" | translate}}
      input#countryCode.form-control(type='text', ng-model='currentAddress.country', placeholder='{{:: "COUNTRY_CODE" | translate}}')
      label(for='phone') {{:: "TEXT_PHONE" | translate}}
      input#phone.form-control(type='text', ng-model='currentPhone.landLine', placeholder='{{:: "TEXT_PHONE" | translate}}')
      label(for='mobile') {{:: "MOBILE" | translate}}
      input#mobile.form-control(type='text', ng-model='currentPhone.mobilePhone', placeholder='{{:: "MOBILE" | translate}}')
      label(for='fax') {{:: "FAX" | translate}}
      input#fax.form-control(type='text', ng-model='currentPhone.fax', placeholder='{{:: "FAX" | translate}}')
      br
      input.btn.btn-lg.btn-dark(type='button', ng-click='pushPhone()', ng-show='addNewPhone', value='{{:: "ADD" | translate}}')
      input.btn.btn-lg(type='button', ng-click='cancelNewPhone()', ng-show='addNewPhone', value='{{:: "CANCEL" | translate}}')
.row
  br
  div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type", close='closeAlert(alert)') {{alert.msg}}
.row
  br
  br
  .col-md-12
    input.btn.btn-lg.btn-dark.pull-right(type='submit', ng-click='updateUser()', value='{{:: "SAVE" | translate}}')

app/dist/views/modal/create-retailer-extradetails-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "ADD_EXTRA_DETAILS" | translate}}</h4>
</div>
<div class="modal-body"></div>
<div class="row">
  <form novalidate="novalidate" ng-submit="updateUser()">
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group"><span class="input-group-addon">{{:: "TEXT_FIRSTNAME" | translate}}</span>
          <input class="form-control" id="firstName" type="text" ng-model="newUser.firstName" placeholder="{{:: &quot;TEXT_FIRSTNAME&quot; | translate}}"/>
        </div><br/>
        <div class="input-group"><span class="input-group-addon">{{:: "TEXT_INSERTION" | translate}}</span>
          <input class="form-control" id="lastNamePrefix" type="text" ng-model="newUser.insertion" placeholder="{{:: &quot;TEXT_INSERTION&quot; | translate}}"/>
        </div><br/>
        <div class="input-group"><span class="input-group-addon">{{:: "TEXT_LASTNAME" | translate}}</span>
          <input class="form-control" id="lastName" type="text" ng-model="newUser.lastName" placeholder="{{:: &quot;TEXT_LASTNAME&quot; | translate}}"/>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group"><span class="input-group-addon">{{:: "TEXT_EMAILADRESS" | translate}}</span>
          <input class="form-control" id="email" type="text" ng-model="newUser.email" placeholder="{{:: &quot;TEXT_EMAILADRESS&quot; | translate}}"/>
        </div><br/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group" style="margin-bottom: 13px"><span class="input-group-addon loyalty-input-height">{{:: "DATE_OF_BIRTH" | translate}}</span>
          <input class="form-control loyalty-input-height" id="dateOfBirth" type="date" ng-model="newUser.dateOfBirth" placeholder="{{:: &quot;01-01-2000&quot; | translate}}"/>
        </div><br/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group"><span class="input-group-addon">{{:: "HELPED_BY" | translate}}:</span>
          <input class="form-control" id="helpedBy" type="text" ng-model="user.firstName" placeholder=""/>
        </div><br/>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>{{:: "ADDRESSES" | translate}}</h4>
    <button class="btn btn-primary" ng-click="newAddress()">{{:: "NEW_ADDRESS" | translate}}</button><br/><br/>
    <div class="list-group"><a class="list-group-item clearfix" ng-repeat="address in user.address" ng-click="openAddress($index)"><span>{{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteAddress($index)"></i></span></a></div>
    <div class="col-md-5" style="width: 100%">
      <div class="form-group" ng-show="currentAddress || addNewAddress">
        <h4>{{:: "EDIT_ADDRESS" | translate}}</h4>
        <label for="street">{{:: "TEXT_ADDRESS" | translate}}</label>
        <input class="form-control" id="street" type="text" ng-model="currentAddress.street" placeholder="{{:: &quot;TEXT_ADDRESS&quot; | translate}}"/>
        <label for="housenumber">{{:: "TEXT_NUMBER" | translate}}</label>
        <input class="form-control" id="housenumber" type="text" ng-model="currentAddress.houseNumber" placeholder="{{:: &quot;TEXT_NUMBER&quot; | translate}}"/>
        <label for="housenumbersuffix">{{:: "TEXT_ADDITION" | translate}}</label>
        <input class="form-control" id="housenumbersuffix" type="text" ng-model="currentAddress.houseNumberSuffix" placeholder="{{:: &quot;TEXT_ADDITION&quot; | translate}}"/>
        <label for="postalcode">{{:: "TEXT_ZIP" | translate}}</label>
        <input class="form-control" id="postalcode" type="text" ng-model="currentAddress.postalCode" placeholder="{{:: &quot;TEXT_ZIP&quot; | translate}}"/>
        <label for="city">{{:: "TEXT_CITY" | translate}}</label>
        <input class="form-control" id="city" type="text" ng-model="currentAddress.city" placeholder="{{:: &quot;TEXT_CITY&quot; | translate}}"/>
        <country-list ng-required="false" ng-model="currentAddress.country"></country-list><br/>
        <input class="btn btn-lg btn-dark" type="button" ng-click="pushAddress()" ng-show="addNewAddress" value="{{:: &quot;ADD&quot; | translate}}"/>
        <input class="btn btn-lg" type="button" ng-click="cancelNewAddress()" ng-show="addNewAddress" value="{{:: &quot;CANCEL&quot; | translate}}"/>
      </div>
    </div>
    <div class="row"></div>
    <h4>{{:: "PHONE_NUMBERS" | translate}}</h4>
    <button class="btn btn-primary" ng-click="newPhone()">{{:: "NEW_PHONE_NUMBER" | translate}}</button><br/><br/>
    <div class="list-group"><a class="list-group-item clearfix" ng-repeat="phone in user.phone" ng-click="openPhone($index)" ng-class="{'active': currentPhone.index == $index}"><span>{{phone.countryCode}} {{phone.mobilePhone || phone.landLine}}</span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deletePhone($index)">      </i></span></a></div>
    <div class="row" ng-show="currentPhone || addNewPhone">
      <h4>{{:: "EDIT_PHONE" | translate}}</h4>
      <label for="countryCode">{{:: "COUNTRY_CODE" | translate}}</label>
      <input class="form-control" id="countryCode" type="text" ng-model="currentAddress.country" placeholder="{{:: &quot;COUNTRY_CODE&quot; | translate}}"/>
      <label for="phone">{{:: "TEXT_PHONE" | translate}}</label>
      <input class="form-control" id="phone" type="text" ng-model="currentPhone.landLine" placeholder="{{:: &quot;TEXT_PHONE&quot; | translate}}"/>
      <label for="mobile">{{:: "MOBILE" | translate}}</label>
      <input class="form-control" id="mobile" type="text" ng-model="currentPhone.mobilePhone" placeholder="{{:: &quot;MOBILE&quot; | translate}}"/>
      <label for="fax">{{:: "FAX" | translate}}</label>
      <input class="form-control" id="fax" type="text" ng-model="currentPhone.fax" placeholder="{{:: &quot;FAX&quot; | translate}}"/><br/>
      <input class="btn btn-lg btn-dark" type="button" ng-click="pushPhone()" ng-show="addNewPhone" value="{{:: &quot;ADD&quot; | translate}}"/>
      <input class="btn btn-lg" type="button" ng-click="cancelNewPhone()" ng-show="addNewPhone" value="{{:: &quot;CANCEL&quot; | translate}}"/>
    </div>
  </div>
</div>
<div class="row"><br/>
  <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
</div>
<div class="row"><br/><br/>
  <div class="col-md-12">
    <input class="btn btn-lg btn-dark pull-right" type="submit" ng-click="updateUser()" value="{{:: &quot;SAVE&quot; | translate}}"/>
  </div>
</div>
