app/dist/views/modal/create-campaign-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "MAKE_A_PROMOTION" | translate}}</h4>
</div>
<div class="modal-body">
  <p>{{:: "THINK_ABOUT_A_SUITABLE_TITLE" | translate}}</p>
  <input class="input-control" type="text" ng-model="campaign.name" placeholder="Titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style="width: 500px"/>
  <p ng-init="getBrands()"></p>
  <label>{{:: "BRAND" | translate}}</label><span ng-if="campaign.brand.name">:&nbsp;<strong ng-bind="campaign.brand.name"></strong></span><br/>
  <angucomplete-alt id="ex1" pause="100" clear-selected="true" placeholder="{{:: &quot;CHOOSE_A_BRAND_NOT_OBLIGATED&quot; | translate}}" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" style="width: 500px" input-class="form-control"></angucomplete-alt>
</div>
<div class="modal-footer"><a class="btn btn-dark pull-right" href="/retailer/campaigns/{{campaign.nameSlug}}" ng-disabled="campaign.name == null" ng-click="closeModal()">{{:: "ADD_EDIT" | translate}}</a>
  <!--a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}-->
</div>

app/src/views/modal/create-campaign-modal.pug
.modal-header
    h4.modal-title {{:: "MAKE_A_PROMOTION" | translate}}
.modal-body
    p {{:: "THINK_ABOUT_A_SUITABLE_TITLE" | translate}}
    input(type="text", ng-model="campaign.name", placeholder="Titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style='width: 500px').input-control
    p(ng-init="getBrands()")
    label {{:: "BRAND" | translate}}
    span(ng-if="campaign.brand.name") :&nbsp;
        strong(ng-bind="campaign.brand.name")
    br
    angucomplete-alt(id="ex1", pause="100", clear-selected="true", placeholder='{{:: "CHOOSE_A_BRAND_NOT_OBLIGATED" | translate}}' selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", style='width: 500px', input-class="form-control")
.modal-footer
    a.btn.btn-dark.pull-right(href='/retailer/campaigns/{{campaign.nameSlug}}', ng-disabled="campaign.name == null" ng-click="closeModal()") {{:: "ADD_EDIT" | translate}}
    //a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}



//-ng-model="task.files"
