app/dist/views/modal/create-shop-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "NEW_STORE" | translate}}</h4>
</div>
<div class="modal-body">
  <p>{{:: "FILL_IN_THE_NAME_OF_THE_SHOP_WITHOUT_LEGAL_FORM" | translate}}</p>
  <input class="input-control" type="text" ng-model="shop.name" placeholder="{{:: &quot;TEXT_STORENAME&quot; | translate}}" uib-tooltip-html="{{:: &quot;TITLE_MAY_NOT_BE_LONGER_THAN_HUNDERD_CHARACTERS&quot; | translate}}" style="width: 500px"/>
  <p>{{:: "EMAIL_AFTER_WHICH_A_CONSUMER_CAN_MAIL" | translate}}</p>
  <input class="input-control" type="text" ng-model="shop.email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}" uib-tooltip-html="{{:: &quot;EMAIL_AFTER_WHICH_A_CONSUMER_CAN_MAIL&quot; | translate}}" style="width: 500px"/>
  <div class="form-group">
    <h4>{{:: "EDIT_ADDRESS" | translate}}</h4>
    <label for="street">{{:: "STREET" | translate}}</label>
    <input class="form-control" type="text" ng-model="shop.address.street" id="street" placeholder="{{:: &quot;STREET&quot; | translate}}"/>
    <label for="housenumber">{{:: "TEXT_NUMBER" | translate}}</label>
    <input class="form-control" type="text" ng-model="shop.address.houseNumber" id="housenumber" placeholder="{{:: &quot;TEXT_NUMBER&quot; | translate}}"/>
    <label for="housenumbersuffix">{{:: "TEXT_ADDITION" | translate}}</label>
    <input class="form-control" type="text" ng-model="shop.address.houseNumberSuffix" maxlength="10" id="housenumbersuffix" placeholder="{{:: &quot;TEXT_ADDITION&quot; | translate}}"/>
    <label for="postalcode">{{:: "TEXT_ZIP" | translate}}</label>
    <input class="form-control" type="text" ng-model="shop.address.postalCode" id="postalcode" placeholder="{{:: &quot;TEXT_ZIP&quot; | translate}}"/>
    <label for="city">{{:: "TEXT_CITY" | translate}}</label>
    <input class="form-control" type="text" ng-model="shop.address.city" id="city" placeholder="{{:: &quot;TEXT_CITY&quot; | translate}}"/>
    <country-list ng-required="false" ng-model="shop.address.country"></country-list>
  </div>
</div>
<div class="modal-footer"><a class="btn btn-dark pull-right" href="" ng-disabled="shop.name == null" ng-click="closeModal()">{{:: "ADD_EDIT" | translate}}</a></div>

app/src/views/modal/create-shop-modal.pug
.modal-header
    h4.modal-title {{:: "NEW_STORE" | translate}}
.modal-body
    p {{:: "FILL_IN_THE_NAME_OF_THE_SHOP_WITHOUT_LEGAL_FORM" | translate}}
    input(type="text", ng-model="shop.name", placeholder='{{:: "TEXT_STORENAME" | translate}}' uib-tooltip-html='{{:: "TITLE_MAY_NOT_BE_LONGER_THAN_HUNDERD_CHARACTERS" | translate}}' style='width: 500px').input-control
    p {{:: "EMAIL_AFTER_WHICH_A_CONSUMER_CAN_MAIL" | translate}}
    input(type="text", ng-model="shop.email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}' uib-tooltip-html='{{:: "EMAIL_AFTER_WHICH_A_CONSUMER_CAN_MAIL" | translate}}' style='width: 500px').input-control
    .form-group
        h4 {{:: "EDIT_ADDRESS" | translate}}
        label(for="street") {{:: "STREET" | translate}}
        input(type="text", ng-model="shop.address.street" id="street", placeholder='{{:: "STREET" | translate}}').form-control

        label(for="housenumber") {{:: "TEXT_NUMBER" | translate}}
        input(type="text", ng-model="shop.address.houseNumber" id="housenumber", placeholder='{{:: "TEXT_NUMBER" | translate}}').form-control
        
        label(for="housenumbersuffix") {{:: "TEXT_ADDITION" | translate}}
        input(type="text", ng-model="shop.address.houseNumberSuffix", maxlength="10", id="housenumbersuffix", placeholder='{{:: "TEXT_ADDITION" | translate}}').form-control

        label(for="postalcode") {{:: "TEXT_ZIP" | translate}}
        input(type="text", ng-model="shop.address.postalCode" id="postalcode", placeholder='{{:: "TEXT_ZIP" | translate}}').form-control

        label(for="city") {{:: "TEXT_CITY" | translate}}
        input(type="text", ng-model="shop.address.city" id="city", placeholder='{{:: "TEXT_CITY" | translate}}').form-control

        country-list(ng-required="false" ng-model="shop.address.country")


.modal-footer
    a.btn.btn-dark.pull-right(href='', ng-disabled="shop.name == null" ng-click="closeModal()") {{:: "ADD_EDIT" | translate}}
