app/dist/views/modal/crop-image-modal.html

<div class="modal-header">
  <button class="close pull-right" type="button" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h4 class="modal-title">{{:: "PICTURE_PREVIEW" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="cropArea col-sm-6 col-xs-6 col-md-6">
      <ui-cropper image="myCropImg[cropImgIndex]" area-type="rectangle" result-image-quality="1.0" result-image="myCroppedImage" init-max-area="true"></ui-cropper>
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6"><img ng-src="{{myCroppedImage}}"/></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-dark pull-right" ng-click="doneImgModel(cropImgIndex,myCroppedImage);$dismiss()">{{:: "DONE" | translate}}</button>
</div>

app/src/views/modal/crop-image-modal.pug
.modal-header
  button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
  h4.modal-title {{:: "PICTURE_PREVIEW" | translate}}
.modal-body
  .row
    .cropArea.col-sm-6.col-xs-6.col-md-6
      ui-cropper(image='myCropImg[cropImgIndex]', area-type='rectangle', result-image-quality='1.0', result-image='myCroppedImage', init-max-area='true')
    .col-sm-6.col-xs-6.col-md-6
      img(ng-src='{{myCroppedImage}}')
.modal-footer
  button.btn.btn-dark.pull-right(ng-click='doneImgModel(cropImgIndex,myCroppedImage);$dismiss()') {{:: "DONE" | translate}}
