app/src/views/modal/custom-page-modal.pug
div
  .modal-header
    h3.modal-title Add Custom Page
  .modal-body
    | Are you want to create custom page for website ?
    form.form-horizontal(role='form')
      .form-group
        .col-sm-10
          input#inputEmail3.form-control(type='text', ng-model='customPageName', placeholder='Enter the custom page name here')
      .modal-footer
        button.btn.btn-primary(type='button', ng-click='customOk(customPageName);$dismiss()') Yes
        button.btn.btn-warning(type='button', ng-click='customCancel();$dismiss()') No

app/dist/views/modal/custom-page-modal.html

<div>
  <div class="modal-header">
    <h3 class="modal-title">Add Custom Page</h3>
  </div>
  <div class="modal-body">Are you want to create custom page for website ?
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-10">
          <input class="form-control" id="inputEmail3" type="text" ng-model="customPageName" placeholder="Enter the custom page name here"/>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="customOk(customPageName);$dismiss()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="customCancel();$dismiss()">No</button>
      </div>
    </form>
  </div>
</div>
