app/src/views/modal/edit-email-modal.pug
.modal-header
	h4.modal-title {{:: "EDIT_EMAIL" | translate}}
.modal-body
	.row
	h5 {{:: "TEXT_EDITOR" | translate}}
	text-angular(ng-model="emailTemplate").wysiwyg
.modal-footer
	a(ng-click="update()").btn.btn-lg {{:: "UPDATE" | translate}}
	a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}

app/dist/views/modal/edit-email-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "EDIT_EMAIL" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row"></div>
  <h5>{{:: "TEXT_EDITOR" | translate}}</h5>
  <text-angular class="wysiwyg" ng-model="emailTemplate"></text-angular>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="update()">{{:: "UPDATE" | translate}}</a><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>
