app/src/views/modal/email-company-modal.pug
.modal-header
  h4.modal-title {{:: "SEND_AN_EMAIL_TO_THE_REPAIRER" | translate}}
.modal-body
// <div class="row">
// <input type="text" style="width:75%; margin-left:15px;" ng-focus="searchCompanyEmail()" ng-model="searchquery" placeholder="{{:: &quot;Search Company's Email Address&quot; | translate}}"/>
// </div><br/><br/>
div
  #ex2(angucomplete-alt='angucomplete-alt', placeholder='{{:: "HOW_CAN_WE_CALL_YOU" | translate}}', pause='100', selected-object='company.email', search-fields='name,email,nameSlug', title-field='email,name,nameSlug', maxlength='50', local-data='wholesalersList', input-class='form-control form-control-small', match-class='highlight')
  button.btn.btn-lg.btn-green(ng-if='company.email', ng-click='viewDetails()') {{:: "VIEW_DETAILS" | translate}}
// <div class="list-group"><a ng-repeat="wS in wholesalershh | filter:searchquery" ng-click="getCompanyEmail(wS.email)" class="list-group-item clearfix"><span>{{"Company Name: "+ wS.name + " Email: " + wS.email}}</span></a></div>
.row
  .col-xs-12.col-md-12
    div(ng-if='company.email')
      span {{"Company Email: "}} {{ company.email.title}}
    .input-group(style='margin-bottom: 13px')
      uib-progressbar.progress-striped.active(max='100', value='uploadProgress', type='succes', ng-show='upload') {{uploadProgress}} / 100
  .col-md-4.text-center(ng-show='data.isPhotoUploadModel==1')
    .drop-box(ngf-drop='ngf-drop', ngf-select='ngf-select', ng-model='customer.photo', ngf-pattern="'image/*'", ngf-allow-dir='allowDir', ngf-drop-available='dropAvailable')
    | {{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
    div .
    img(ngf-thumbnail='customer.photo')
  .col-md-4
    .input-group(style='margin-bottom: 13px')
      span.input-group-addon.loyalty-input-height {{:: "REPAIR_COSTS" | translate}}
      input#c2.form-control.currency.loyalty-input-height(ng-model='price', type='number', value='1000', min='0', step='0.01', data-number-to-fixed='2', data-number-stepfactor='100')
    // <div style="margin-bottom: 13px" class="input-group"><span class="input-group-addon loyalty-input-height">Status</span>
    // <div style="margin-top: 8px; margin-left: 5px;">{{repairStatus}}</div>
    // </div>
    .row
      .input-group
        span.input-group-addon {{:: "REPAIR_STATUS" | translate}}
        select.form-control(ng-model='repairStatus')
          option(value='To RepairMan') {{:: "TO_REPAIRER" | translate}}
          option(value='will have to delivered early') will have to delivered early
          option(value='Went Away') Went Away
  .col-md-4
    br
    br
    textarea.form-control(name='retailerComments', ng-model='crmUser.retailerComments[0].comment', placeholder='Type hier iets over deze klant', cols='30', rows='6')
.modal-footer
  a.btn.btn-lg(ng-click='sendRepairEmailCompany()', ng-disabled='!company.email') {{:: "SEND_EMAIL" | translate}}
  a.btn.btn-lg(ng-click='cancel()') {{:: "TEXT_CANCEL" | translate}}

app/dist/views/modal/email-company-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "SEND_AN_EMAIL_TO_THE_REPAIRER" | translate}}</h4>
</div>
<div class="modal-body"></div>
<!-- <div class="row">-->
<!-- <input type="text" style="width:75%; margin-left:15px;" ng-focus="searchCompanyEmail()" ng-model="searchquery" placeholder="{{:: &quot;Search Company's Email Address&quot; | translate}}"/>-->
<!-- </div><br/><br/>-->
<div>
  <div id="ex2" angucomplete-alt="angucomplete-alt" placeholder="{{:: &quot;HOW_CAN_WE_CALL_YOU&quot; | translate}}" pause="100" selected-object="company.email" search-fields="name,email,nameSlug" title-field="email,name,nameSlug" maxlength="50" local-data="wholesalersList" input-class="form-control form-control-small" match-class="highlight"></div>
  <button class="btn btn-lg btn-green" ng-if="company.email" ng-click="viewDetails()">{{:: "VIEW_DETAILS" | translate}}</button>
</div>
<!-- <div class="list-group"><a ng-repeat="wS in wholesalershh | filter:searchquery" ng-click="getCompanyEmail(wS.email)" class="list-group-item clearfix"><span>{{"Company Name: "+ wS.name + " Email: " + wS.email}}</span></a></div>-->
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div ng-if="company.email"><span>{{"Company Email: "}} {{ company.email.title}}</span></div>
    <div class="input-group" style="margin-bottom: 13px">
      <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
    </div>
  </div>
  <div class="col-md-4 text-center" ng-show="data.isPhotoUploadModel==1">
    <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="customer.photo" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable"></div>{{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
    <div>.</div><img ngf-thumbnail="customer.photo"/>
  </div>
  <div class="col-md-4">
    <div class="input-group" style="margin-bottom: 13px"><span class="input-group-addon loyalty-input-height">{{:: "REPAIR_COSTS" | translate}}</span>
      <input class="form-control currency loyalty-input-height" id="c2" ng-model="price" type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"/>
    </div>
    <!-- <div style="margin-bottom: 13px" class="input-group"><span class="input-group-addon loyalty-input-height">Status</span>-->
    <!-- <div style="margin-top: 8px; margin-left: 5px;">{{repairStatus}}</div>-->
    <!-- </div>-->
    <div class="row">
      <div class="input-group"><span class="input-group-addon">{{:: "REPAIR_STATUS" | translate}}</span>
        <select class="form-control" ng-model="repairStatus">
          <option value="To RepairMan">{{:: "TO_REPAIRER" | translate}}</option>
          <option value="will have to delivered early">will have to delivered early</option>
          <option value="Went Away">Went Away</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4"><br/><br/>
    <textarea class="form-control" name="retailerComments" ng-model="crmUser.retailerComments[0].comment" placeholder="Type hier iets over deze klant" cols="30" rows="6"></textarea>
  </div>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="sendRepairEmailCompany()" ng-disabled="!company.email">{{:: "SEND_EMAIL" | translate}}</a><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>
