app/src/views/modal/execute-campaign-modal.pug
div
	.modal-header
		button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
		h3.text-center.steps
			span.step-cart {{:: "VIEW_CAMPAIGN" | translate}} &nbsp;
			i.fa.fa-angle-right
			span.step-checkout {{:: "SELECT_PLAN" | translate}} &nbsp;
			i.fa.fa-angle-right
			span.step-order-complete.active {{:: "EXECUTE" | translate}}
	.modal-body
		div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
			| {{alert.msg}}
		p.hidden {{:: "TASKS_ARE_PLACED_ON_TASKLIST" | translate}}
		.row(ng-if="campaign.global")
			.col-md-12(ng-repeat="task in campaign.tasks")
				hr
				.col-md-4
					div(ng-if="!campaign.update && task.type != 'order'")
						span.i.fa.fa-check.fa-5x.pull-left(ng-show="task.completed")
						.input-group(ng-show="!task.completed")
							input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.fbPromotionSettings.promotionStartDate", is-open="task.dateOpened",  datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}", timepicker-options="timepickerOptions", close-text="Sluiten").form-control
							
							span.input-group-btn
								button(type="button" ng-click="openDate(task)").btn.btn-default
									span.i.fa.fa-calendar
						p(ng-show="task.completed && campaign.strategy != 'store-promotion'") {{task.datePlanned | date: 'dd-MM-yyyy'}}
						div(ng-hide="campaign.update == true")
							p {{:: "END_DATE" | translate}}: {{task.fbPromotionSettings.promotionEndDate | date: 'dd-MM-yyyy'}}
					div(ng-if="campaign.update && task.type != 'order'")
						span.i.fa.fa-check.fa-5x.pull-left(ng-show="task.completed")
						//- ingevoegd
						label(ng-show="!task.completed && campaign.strategy != 'store-promotion'") {{:: "SCHEDULE_ON_THIS_DATE_TIME" | translate}}:
						.input-group(ng-show="!task.completed && campaign.strategy != 'store-promotion'")
							input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.datePlanned", is-open="task.dateOpened", datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" timepicker-options="timepickerOptions", close-text="Sluiten" ng-disabled="task.completed").form-control

							span.input-group-btn
								button(type="button" ng-click="openDate(task)" ng-disabled="task.completed").btn.btn-default
									span.i.fa.fa-calendar

						p(ng-show="task.completed && campaign.strategy != 'store-promotion'") {{task.datePlanned | date: 'dd-MM-yyyy'}}
						div(ng-show="campaign.strategy == 'store-promotion'") 
							p {{:: "START_DATE" | translate}}: {{task.fbPromotionSettings.promotionStartDate | date: 'dd-MM-yyyy'}}
							p {{:: "END_DATE" | translate}}: {{task.fbPromotionSettings.promotionEndDate | date: 'dd-MM-yyyy'}}
				.col-md-4
					div(ng-if="!campaign.update && task.type != 'order'")
						b {{:: "PAID_PROMOTION" | translate}}:
					p {{task[language].name}}
					div(ng-if="!campaign.update && task.type != 'order'")
						p {{:: "BUDGET" | translate}}: € {{task.fbPromotionSettings.budget}}
							span(ng-show="task.fbPromotionSettings.perDayOrSpread == 'perDay'") &nbsp; {{:: "PER_DAY" | translate}}
							span(ng-show="task.fbPromotionSettings.perDayOrSpread != 'perDay'") &nbsp; {{:: "SPREAD_ON_DAYS" | translate}}
					div(ng-if="task.type != 'order' && campaign.strategy != 'store-promotion'")
						//Not showing in case of ordertasks and shop promotions.
						button.btn.btn-dark(ng-click="download(task._id, $index)")
							span.i.fa.fa-download
				.col-md-4.button-margin
					div(ng-if="!campaign.update && task.type != 'order'")
						//- //only show when campaign
						//- div
						//- 	ul
						//- 		li Pay with Ideal
						//- 		li Pay with PayPal
						//- 			br
						//- 			i.fa.fa-cc-paypal.fa-2x
						//- 		li Pay with Credit card
						//- 			br
						//- 			i.fa.fa-cc-visa.fa-2x
						//- 			i.fa.fa-cc-mastercard.fa-2x
						//- 			i.fa.fa-cc-discover.fa-2x
						//- 			i.fa.fa-cc-amex.fa-2x
						//- 		li Automatic incasso (online banking)
						//- 		hr
						p(ng-hide="campaign.strategy == 'store-promotion'") {{campaign.brand.name}} {{:: "_OF_YOUR_INVESTMENT_WITH_A_MAXIMUM_OF_25_THIS_AMOUNT_WILL_BE_REFUNDED_AFTER_THE_CAMPAIGN_HAS_BEEN_CARRIED_OUT" | translate}}
						//- button.btn.btn-dark(ng-init="showInfoExecute = false" ng-click="showInfoExecute = !showInfo2") Paying succeeded
						//- div(uib-collapse="!showInfoExecute")
						div
							div(ng-if="executed.index != $index && !task.completed" )
								a.btn.btn-yellow(ng-click="executeCampaign(task._id, $index)") {{:: "EXECUTE_PROMOTION" | translate}}
							div(uib-alert, ng-show="executed && executed.index == $index && executed.task =='uitvoeren'", ng-class="'alert-' + executed.type")
								| {{executed.msg}}
							div
								textarea(ng-if="!task.completed", type="text" style="width:267px", ng-model="task.comment" placeholder='{{:: "REMARKS_FOR_PRISMANOTE_TEAM" | translate}}').product-short-description.form-control.short
								p(ng-if="task.completed") {{task.comment}}
								br
						//- div(ng-if="campaign.strategy == 'store-promotion' && task.type != 'order'")
						//- 	hr
						//- 	button.btn.btn-dark(ng-init="showInfoPaymentRequest = false" ng-click="showInfoPaymentRequest = !showInfo2") Payment Request
						//- 	div(uib-collapse="!showInfoPaymentRequest")
						//- 		p [visible after payment/ and invisible after request is done]
						//- 		p {{:: "CONTRIBUTION_REQUEST_TO_SUPPLIER" | translate}}:
						//- 		p Leverancier: {{campaign.brand.name}}
						//- 		input(type="text", placeholder="Bijv. inkoop@uwleverancier.com")
						//- 		input(type="currency", placeholder="Bijv. 25 euro (max. {{task.fbPromotionSettings.budget}})").form-control
						//- 		textarea(type="text" style="width:267px", ng-model="task.comment" placeholder='{{:: "REMARKS_FOR_THE_BRAND" | translate}}').product-short-description.form-control.short
						//- 		div(ng-if="executed.index != $index" )
						//- 			a.btn.btn-dark(ng-click="executeCampaign(task._id, $index)") {{:: "SENT_PAYMENT_REQUEST" | translate}}
						//- 		a(href="paymentRequest-mail-a").pull-right
						//- 			| {{:: "VIEW_EMAIL" | translate}}
					div(ng-if="campaign.update && task.type != 'order'")
						//Show only in case of an update
						a.btn.btn-green(ng-show="task.type == 'facebook' && !task.completed && task.datePlanned != null", ng-click="postFacebookUpdate(task._id, true, $index)") {{:: "SCHEDULE_TO_FACEBOOK" | translate}}
						a.btn.btn-green(ng-show="task.type != 'facebook' && 1==0", ng-click="planTask(task)") {{:: "CREATE_TASK" | translate}}

						//Show only in case of updates an when Facebook is connected
						a.btn.btn-green(ng-if="user.facebook && task.type == 'facebook' && !task.completed", ng-click="postFacebookUpdate(task._id, false, $index)") 
							span.i.fa.fa-facebook
							|&nbsp; {{:: "POST_DIRECTLY" | translate}}
						img(src="/images/loading.gif", ng-show="facebookLoading && facebookLoading.index == $index", style="height:25px; width: 25px;")
						div(uib-alert, ng-show="facebookResponse && facebookResponse.index == $index", ng-class="'alert-' + facebookResponse.type")
							| {{facebookResponse.msg}}

					div(ng-if="task.type == 'order' && executed.index != $index")
						//Show only in case of ordertasks
						a.btn.btn-dark(ng-click="directOrder(task._id, $index)") {{:: "ORDER_DIRECT" | translate}}
					div(ng-if="task.type == 'order' && executed.index != $index && task.completed" ng-show="!task.completed")
						p {{:: "ORDER_IS_PLACED" | translate}}
					

					div(ng-if="executed && executed.index == $index && (executed.task =='bestellen' || executed.task == 'downloaden')")
						//Hide in case of a campaign, executing direct / download
						a.btn.btn-yellow(ng-click="confirmTask(task._id, executed.task, $index)") {{executed.task}} {{:: "COMPLETED" | translate}}
						a.btn.btn-primary(ng-click="retryTask(task._id, executed.task, $index)") {{:: "AGAIN" | translate}}
			.col-md-12
				hr
		br
		img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
		div(uib-alert, ng-show="confirmExecute", ng-class="'alert-' + confirmExecute.type")
			| {{confirmExecute.msg}}
			button(type="button", ng-if="confirmExecute.buttons", ng-click="executeAll()").btn.btn-green {{:: "EXECUTE" | translate}}
			button(type="button", ng-if="confirmExecute.buttons", ng-click="confirm(true)").btn.btn-primary {{:: "CANCEL" | translate}}
		
		//- a(ng-if="!confirmExecute && checkForOpenTasks()" ng-click='confirm()').btn.btn-md.btn-green 
		//- 	span.i.fa.fa-list
		//- 	|&nbsp; {{:: "EXECUTE_ALL_TASKS" | translate}}
		a(ng-click='$dismiss()').btn.btn-md.btn-light {{:: "BACK_TO_MY_CAMPAIGN" | translate}}

app/dist/views/modal/execute-campaign-modal.html

<div>
  <div class="modal-header">
    <button class="close pull-right" type="button" ng-click="$dismiss()" aria-hidden="true">×</button>
    <h3 class="text-center steps"><span class="step-cart">{{:: "VIEW_CAMPAIGN" | translate}} &nbsp;</span><i class="fa fa-angle-right"></i><span class="step-checkout">{{:: "SELECT_PLAN" | translate}} &nbsp;</span><i class="fa fa-angle-right"></i><span class="step-order-complete active">{{:: "EXECUTE" | translate}}</span></h3>
  </div>
  <div class="modal-body">
    <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    <p class="hidden">{{:: "TASKS_ARE_PLACED_ON_TASKLIST" | translate}}</p>
    <div class="row" ng-if="campaign.global">
      <div class="col-md-12" ng-repeat="task in campaign.tasks">
        <hr/>
        <div class="col-md-4">
          <div ng-if="!campaign.update &amp;&amp; task.type != 'order'"><span class="i fa fa-check fa-5x pull-left" ng-show="task.completed"></span>
            <div class="input-group" ng-show="!task.completed">
              <input class="form-control" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.fbPromotionSettings.promotionStartDate" is-open="task.dateOpened" datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" timepicker-options="timepickerOptions" close-text="Sluiten"/><span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="openDate(task)"><span class="i fa fa-calendar"></span></button></span>
            </div>
            <p ng-show="task.completed &amp;&amp; campaign.strategy != 'store-promotion'">{{task.datePlanned | date: 'dd-MM-yyyy'}}</p>
            <div ng-hide="campaign.update == true">
              <p>{{:: "END_DATE" | translate}}: {{task.fbPromotionSettings.promotionEndDate | date: 'dd-MM-yyyy'}}</p>
            </div>
          </div>
          <div ng-if="campaign.update &amp;&amp; task.type != 'order'"><span class="i fa fa-check fa-5x pull-left" ng-show="task.completed"></span>
            <label ng-show="!task.completed &amp;&amp; campaign.strategy != 'store-promotion'">{{:: "SCHEDULE_ON_THIS_DATE_TIME" | translate}}:</label>
            <div class="input-group" ng-show="!task.completed &amp;&amp; campaign.strategy != 'store-promotion'">
              <input class="form-control" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.datePlanned" is-open="task.dateOpened" datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" timepicker-options="timepickerOptions" close-text="Sluiten" ng-disabled="task.completed"/><span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="openDate(task)" ng-disabled="task.completed"><span class="i fa fa-calendar"></span></button></span>
            </div>
            <p ng-show="task.completed &amp;&amp; campaign.strategy != 'store-promotion'">{{task.datePlanned | date: 'dd-MM-yyyy'}}</p>
            <div ng-show="campaign.strategy == 'store-promotion'"> 
              <p>{{:: "START_DATE" | translate}}: {{task.fbPromotionSettings.promotionStartDate | date: 'dd-MM-yyyy'}}</p>
              <p>{{:: "END_DATE" | translate}}: {{task.fbPromotionSettings.promotionEndDate | date: 'dd-MM-yyyy'}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div ng-if="!campaign.update &amp;&amp; task.type != 'order'"><b>{{:: "PAID_PROMOTION" | translate}}:</b></div>
          <p>{{task[language].name}}</p>
          <div ng-if="!campaign.update &amp;&amp; task.type != 'order'">
            <p>{{:: "BUDGET" | translate}}: € {{task.fbPromotionSettings.budget}}<span ng-show="task.fbPromotionSettings.perDayOrSpread == 'perDay'">&nbsp; {{:: "PER_DAY" | translate}}</span><span ng-show="task.fbPromotionSettings.perDayOrSpread != 'perDay'">&nbsp; {{:: "SPREAD_ON_DAYS" | translate}}</span></p>
          </div>
          <div ng-if="task.type != 'order' &amp;&amp; campaign.strategy != 'store-promotion'">
            <!--Not showing in case of ordertasks and shop promotions.-->
            <button class="btn btn-dark" ng-click="download(task._id, $index)"><span class="i fa fa-download"></span></button>
          </div>
        </div>
        <div class="col-md-4 button-margin">
          <div ng-if="!campaign.update &amp;&amp; task.type != 'order'">
            <p ng-hide="campaign.strategy == 'store-promotion'">{{campaign.brand.name}} {{:: "_OF_YOUR_INVESTMENT_WITH_A_MAXIMUM_OF_25_THIS_AMOUNT_WILL_BE_REFUNDED_AFTER_THE_CAMPAIGN_HAS_BEEN_CARRIED_OUT" | translate}}</p>
            <div>
              <div ng-if="executed.index != $index &amp;&amp; !task.completed"><a class="btn btn-yellow" ng-click="executeCampaign(task._id, $index)">{{:: "EXECUTE_PROMOTION" | translate}}</a></div>
              <div uib-alert="uib-alert" ng-show="executed &amp;&amp; executed.index == $index &amp;&amp; executed.task =='uitvoeren'" ng-class="'alert-' + executed.type">{{executed.msg}}</div>
              <div>
                <textarea class="product-short-description form-control short" ng-if="!task.completed" type="text" style="width:267px" ng-model="task.comment" placeholder="{{:: &quot;REMARKS_FOR_PRISMANOTE_TEAM&quot; | translate}}"></textarea>
                <p ng-if="task.completed">{{task.comment}}</p><br/>
              </div>
            </div>
          </div>
          <div ng-if="campaign.update &amp;&amp; task.type != 'order'">
            <!--Show only in case of an update--><a class="btn btn-green" ng-show="task.type == 'facebook' &amp;&amp; !task.completed &amp;&amp; task.datePlanned != null" ng-click="postFacebookUpdate(task._id, true, $index)">{{:: "SCHEDULE_TO_FACEBOOK" | translate}}</a><a class="btn btn-green" ng-show="task.type != 'facebook' &amp;&amp; 1==0" ng-click="planTask(task)">{{:: "CREATE_TASK" | translate}}</a>
            <!--Show only in case of updates an when Facebook is connected--><a class="btn btn-green" ng-if="user.facebook &amp;&amp; task.type == 'facebook' &amp;&amp; !task.completed" ng-click="postFacebookUpdate(task._id, false, $index)"> <span class="i fa fa-facebook"></span>&nbsp; {{:: "POST_DIRECTLY" | translate}}</a><img src="/images/loading.gif" ng-show="facebookLoading &amp;&amp; facebookLoading.index == $index" style="height:25px; width: 25px;"/>
            <div uib-alert="uib-alert" ng-show="facebookResponse &amp;&amp; facebookResponse.index == $index" ng-class="'alert-' + facebookResponse.type">{{facebookResponse.msg}}</div>
          </div>
          <div ng-if="task.type == 'order' &amp;&amp; executed.index != $index">
            <!--Show only in case of ordertasks--><a class="btn btn-dark" ng-click="directOrder(task._id, $index)">{{:: "ORDER_DIRECT" | translate}}</a>
          </div>
          <div ng-if="task.type == 'order' &amp;&amp; executed.index != $index &amp;&amp; task.completed" ng-show="!task.completed">
            <p>{{:: "ORDER_IS_PLACED" | translate}}</p>
          </div>
          <div ng-if="executed &amp;&amp; executed.index == $index &amp;&amp; (executed.task =='bestellen' || executed.task == 'downloaden')">
            <!--Hide in case of a campaign, executing direct / download--><a class="btn btn-yellow" ng-click="confirmTask(task._id, executed.task, $index)">{{executed.task}} {{:: "COMPLETED" | translate}}</a><a class="btn btn-primary" ng-click="retryTask(task._id, executed.task, $index)">{{:: "AGAIN" | translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <hr/>
      </div>
    </div><br/><img src="/images/loading.gif" ng-hide="!loading" style="height:100px; width: 100px;"/>
    <div uib-alert="uib-alert" ng-show="confirmExecute" ng-class="'alert-' + confirmExecute.type">{{confirmExecute.msg}}
      <button class="btn btn-green" type="button" ng-if="confirmExecute.buttons" ng-click="executeAll()">{{:: "EXECUTE" | translate}}</button>
      <button class="btn btn-primary" type="button" ng-if="confirmExecute.buttons" ng-click="confirm(true)">{{:: "CANCEL" | translate}}</button>
    </div><a class="btn btn-md btn-light" ng-click="$dismiss()">{{:: "BACK_TO_MY_CAMPAIGN" | translate}}</a>
  </div>
</div>
