app/src/views/modal/payment-details-modal.pug
.modal-header
    h4.modal-title {{:: "INVOICE_DATA" | translate}}
.modal-body
    p {{:: "WHAT_IS_THE_NAME_OF_THE_INVOICE" | translate}}
    p {{:: "COMPANY_NAME" | translate}}
    input(type="text", ng-model="shop.name", placeholder="Titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style='width: 500px').input-control
    p {{:: "EMAIL_ADDRESS" | translate}}
    input(type="text", ng-model="shop.email", placeholder="Email" uib-tooltip-html="'waarna een consument kan mailen'" style='width: 500px').input-control

    label(for="street") {{:: "STREET" | translate}}
    input(type="text", ng-model="shop.address.street" id="street", placeholder="Straat").form-control

    label(for="housenumber") {{:: "HOUSE_NUMBER" | translate}}
    input(type="text", ng-model="shop.address.houseNumber" id="housenumber", placeholder="Huisnummer").form-control
    
    label(for="housenumbersuffix") {{:: "ADDITION" | translate}}
    input(type="text", ng-model="shop.address.houseNumberSuffix" id="housenumbersuffix", placeholder="Toevoeging").form-control

    label(for="postalcode") {{:: "POSTAL_CODE" | translate}}
    input(type="text", ng-model="shop.address.postalCode" id="postalcode", placeholder="Postcode").form-control

    label(for="city") {{:: "CITY" | translate}}
    input(type="text", ng-model="shop.address.city" id="city", placeholder="Stad").form-control

    country-list(ng-required="false" ng-model="shop.address.country")


.modal-footer
    a.btn.btn-dark.pull-right(ng-disabled="shop.name == null" ng-click="save()") {{:: "SAVE" | translate}}

app/dist/views/modal/payment-details-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "INVOICE_DATA" | translate}}</h4>
</div>
<div class="modal-body">
  <p>{{:: "WHAT_IS_THE_NAME_OF_THE_INVOICE" | translate}}</p>
  <p>{{:: "COMPANY_NAME" | translate}}</p>
  <input class="input-control" type="text" ng-model="shop.name" placeholder="Titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style="width: 500px"/>
  <p>{{:: "EMAIL_ADDRESS" | translate}}</p>
  <input class="input-control" type="text" ng-model="shop.email" placeholder="Email" uib-tooltip-html="'waarna een consument kan mailen'" style="width: 500px"/>
  <label for="street">{{:: "STREET" | translate}}</label>
  <input class="form-control" type="text" ng-model="shop.address.street" id="street" placeholder="Straat"/>
  <label for="housenumber">{{:: "HOUSE_NUMBER" | translate}}</label>
  <input class="form-control" type="text" ng-model="shop.address.houseNumber" id="housenumber" placeholder="Huisnummer"/>
  <label for="housenumbersuffix">{{:: "ADDITION" | translate}}</label>
  <input class="form-control" type="text" ng-model="shop.address.houseNumberSuffix" id="housenumbersuffix" placeholder="Toevoeging"/>
  <label for="postalcode">{{:: "POSTAL_CODE" | translate}}</label>
  <input class="form-control" type="text" ng-model="shop.address.postalCode" id="postalcode" placeholder="Postcode"/>
  <label for="city">{{:: "CITY" | translate}}</label>
  <input class="form-control" type="text" ng-model="shop.address.city" id="city" placeholder="Stad"/>
  <country-list ng-required="false" ng-model="shop.address.country"></country-list>
</div>
<div class="modal-footer"><a class="btn btn-dark pull-right" ng-disabled="shop.name == null" ng-click="save()">{{:: "SAVE" | translate}}</a></div>
