app/dist/views/modal/preview-campaign-fb-modal.html

<div class="modal-header">
  <button class="close pull-right" type="button" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h4 class="modal-title">{{:: "CAMPAIGN_PREVIEW_FACEBOOK" | translate}}</h4>
</div>
<div class="modal-body" ng-if="editFbModel">
  <div class="row">
    <div class="col-sm-8 fb-preview-section">
      <ul class="nav nav-tabs preview-modal">
        <li class="active"><a href="#desktop-prv" data-toggle="tab">{{:: "DESKTOP_NEWSFEED_PREVIEW" | translate}}</a></li>
        <li><a href="#mobile-prv" data-toggle="tab">{{:: "MOBILE_PREVIEW" | translate}}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="desktop-prv">
          <div ng-bind-html="desktopPreview"></div>
        </div>
        <div class="tab-pane" id="mobile-prv">
          <div ng-bind-html="mobilePreview"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <ul class="nav nav-pills nav-stacked preview-result">
        <li class="active">
          <h5>{{:: "AUDIENCE" | translate}}</h5>
          <ul class="nav nav-pills nav-stacked prv-res">
            <li>{{:: "COUNTRY" | translate}}: {{selectedCountryName}}</li>
            <li>{{:: "REGION" | translate}}: {{selectedRegionName}}</li>
            <li>{{:: "CITY" | translate}}: {{selectedCityName}}</li>
            <li>{{:: "AGE" | translate}}: {{age_min}}-{{age_max}}</li>
            <li>{{:: "GENDER" | translate}}: {{genderPreview}}</li>
            <li>{{:: "INTERESTS" | translate}}: {{selectedInterestName}}</li>
          </ul>
        </li>
        <li class="active">
          <h5>{{:: "BUDGET" | translate}}</h5>
          <ul class="nav nav-pills nav-stacked prv-res">
            <li>{{:: "DAILY_BUDGET" | translate}}: {{budgetPreview}}</li>
            <li>{{:: "DURATION" | translate}}: {{diffDays}} days</li>
            <li>{{:: "BILLING_AMOUNT" | translate}}: {{budgetPreview * diffDays}}</li>
            <li>{{:: "CURRENCY" | translate}}: EURO</li>
          </ul>
        </li>
        <li class="active">
          <h5>{{:: "ESTIMATED_REACH" | translate}}</h5>
          <ul class="nav nav-pills nav-stacked prv-res">
            <li>{{:: "ESTIMATED_VISITORS" | translate}}: {{reachUsers}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-body" ng-if="!editFbModel">
  <div class="row">
    <div class="col-sm-8 fb-preview-section">
      <ul class="nav nav-tabs preview-modal">
        <li class="active"><a href="#tab-id-0" data-toggle="tab">{{:: "DESKTOP_NEWSFEED_PREVIEW" | translate}}</a></li>
        <li><a href="#tab-id-1" data-toggle="tab">{{:: "MOBILE_PREVIEW" | translate}}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-id-0">
          <div ng-bind-html="desktopPreview"></div>
        </div>
        <div class="tab-pane" id="tab-id-1">
          <div ng-bind-html="mobilePreview"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <ul class="nav nav-pills nav-stacked preview-result">
        <li class="active">
          <h5>{{:: "AUDIENCE" | translate}}</h5>
          <ul class="nav nav-pills nav-stacked prv-res">
            <li>{{:: "COUNTRY" | translate}} : {{selectedCountryName}}</li>
            <li>{{:: "AGE" | translate}}: {{age_min}}-{{age_max}}</li>
            <li>{{:: "GENDER" | translate}}: {{genderPreview}}</li>
          </ul>
        </li>
        <li class="active">
          <h5>{{:: "BUDGET" | translate}}</h5>
          <ul class="nav nav-pills nav-stacked prv-res">
            <li>{{:: "DAILY_BUDGET" | translate}} : {{budgetPreview}}</li>
            <li>{{:: "DURATION" | translate}}: {{diffDays}} days</li>
            <li>{{:: "BILLING_AMOUNT" | translate}}: {{budgetPreview * diffDays}}</li>
            <li>{{:: "CURRENCY" | translate}}: EURO</li>
          </ul>
        </li>
        <li class="active">
          <h5>{{:: "ESTIMATED_REACH" | translate}}</h5>
          <ul class="nav nav-pills nav-stacked prv-res">
            <li>{{:: "ESTIMATED_VISITORS" | translate}}: {{reachUsers}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-dark pull-right" ng-click="callPaymentMethod()">{{:: "EXECUTE_ON_FACEBOOK" | translate}}</button>
  <p>{{:: "YOU_WILL_BE_REDIRECTED_TO_OUR_PAYMENT_PROVIDER" | translate}}</p>
</div>

app/src/views/modal/preview-campaign-fb-modal.pug
.modal-header
  button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
  h4.modal-title {{:: "CAMPAIGN_PREVIEW_FACEBOOK" | translate}}
.modal-body(ng-if='editFbModel')
  .row
    .col-sm-8.fb-preview-section
      ul.nav.nav-tabs.preview-modal
        li.active
          a(href='#desktop-prv', data-toggle='tab') {{:: "DESKTOP_NEWSFEED_PREVIEW" | translate}}
        li
          a(href='#mobile-prv', data-toggle='tab') {{:: "MOBILE_PREVIEW" | translate}}
      .tab-content
        #desktop-prv.tab-pane.active
          div(ng-bind-html='desktopPreview')
        #mobile-prv.tab-pane
          div(ng-bind-html='mobilePreview')
    .col-sm-4
      ul.nav.nav-pills.nav-stacked.preview-result
        li.active
          h5 {{:: "AUDIENCE" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "COUNTRY" | translate}}: {{selectedCountryName}}
            li {{:: "REGION" | translate}}: {{selectedRegionName}}
            li {{:: "CITY" | translate}}: {{selectedCityName}}
            li {{:: "AGE" | translate}}: {{age_min}}-{{age_max}}
            li {{:: "GENDER" | translate}}: {{genderPreview}}
            li {{:: "INTERESTS" | translate}}: {{selectedInterestName}}
        li.active
          h5 {{:: "BUDGET" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "DAILY_BUDGET" | translate}}: {{budgetPreview}}
            li {{:: "DURATION" | translate}}: {{diffDays}} days
            li {{:: "BILLING_AMOUNT" | translate}}: {{budgetPreview * diffDays}}
            li {{:: "CURRENCY" | translate}}: EURO
        li.active
          h5 {{:: "ESTIMATED_REACH" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "ESTIMATED_VISITORS" | translate}}: {{reachUsers}}
.modal-body(ng-if='!editFbModel')
  .row
    .col-sm-8.fb-preview-section
      ul.nav.nav-tabs.preview-modal
        li.active
          a(href='#tab-id-0', data-toggle='tab') {{:: "DESKTOP_NEWSFEED_PREVIEW" | translate}}
        li
          a(href='#tab-id-1', data-toggle='tab') {{:: "MOBILE_PREVIEW" | translate}}
      .tab-content
        #tab-id-0.tab-pane.active
          div(ng-bind-html='desktopPreview')
        #tab-id-1.tab-pane
          div(ng-bind-html='mobilePreview')
    .col-sm-4
      ul.nav.nav-pills.nav-stacked.preview-result
        li.active
          h5 {{:: "AUDIENCE" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "COUNTRY" | translate}} : {{selectedCountryName}}
            li {{:: "AGE" | translate}}: {{age_min}}-{{age_max}}
            li {{:: "GENDER" | translate}}: {{genderPreview}}
        li.active
          h5 {{:: "BUDGET" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "DAILY_BUDGET" | translate}} : {{budgetPreview}}
            li {{:: "DURATION" | translate}}: {{diffDays}} days
            li {{:: "BILLING_AMOUNT" | translate}}: {{budgetPreview * diffDays}}
            li {{:: "CURRENCY" | translate}}: EURO
        li.active
          h5 {{:: "ESTIMATED_REACH" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "ESTIMATED_VISITORS" | translate}}: {{reachUsers}}
.modal-footer
  button.btn.btn-dark.pull-right(ng-click='callPaymentMethod()') {{:: "EXECUTE_ON_FACEBOOK" | translate}}
  p {{:: "YOU_WILL_BE_REDIRECTED_TO_OUR_PAYMENT_PROVIDER" | translate}}
