app/src/views/modal/preview-newsItem-modal.pug
.modal-header
    button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
    h4.modal-title {{newsItem.name}}
.modal-body
            img(ng-src='{{awsUrl + newsItem.images[0].src}}' alt="{{newsItem.images[0].alt}}")
            .block-small
                h2(ng-bind="newsItem.name")
                p.date
                    i.fa.fa-calendar-o
                    |&nbsp;{{formatDate(newsItem.publicationDate)}}
                .news-item-page-content(ng-bind-html="newsItem.content")
            .block-small(ng-repeat="image in newsItem.images" ng-if="!$first")
                img(ng-src="{{awsUrl + image.src}}" alt="{{image.alt}}")
.modal-footer
    a.btn.btn-dark.pull-right(href='/retailer/news/{{newsItem.nameSlug}}', ng-click='confirm()') {{:: "ADD_AND_EDIT" | translate}}

app/dist/views/modal/preview-newsItem-modal.html

<div class="modal-header">
  <button class="close pull-right" type="button" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h4 class="modal-title">{{newsItem.name}}</h4>
</div>
<div class="modal-body"><img ng-src="{{awsUrl + newsItem.images[0].src}}" alt="{{newsItem.images[0].alt}}"/>
  <div class="block-small">
    <h2 ng-bind="newsItem.name"></h2>
    <p class="date"><i class="fa fa-calendar-o"></i>&nbsp;{{formatDate(newsItem.publicationDate)}}</p>
    <div class="news-item-page-content" ng-bind-html="newsItem.content"></div>
  </div>
  <div class="block-small" ng-repeat="image in newsItem.images" ng-if="!$first"><img ng-src="{{awsUrl + image.src}}" alt="{{image.alt}}"/></div>
</div>
<div class="modal-footer"><a class="btn btn-dark pull-right" href="/retailer/news/{{newsItem.nameSlug}}" ng-click="confirm()">{{:: "ADD_AND_EDIT" | translate}}</a></div>
