app/dist/views/modal/preview-new-campaign-modal.html

<div class="modal-header">
  <button class="close pull-right" type="button" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h4 class="modal-title">{{:: "CAMPAIGN_PREVIEW" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 fb-preview-section">
      <ul class="nav nav-tabs preview-modal">
        <li class="active"><a href="#desktop-prv" data-toggle="tab">Desktop Preview</a></li>
        <li><a href="#mobile-prv" data-toggle="tab">Mobile Preview</a></li>
        <li ng-show="isInstagramOrNot"><a href="#instagram-prv" data-toggle="tab">Instagram view</a></li>
        <li><a href="#column-prv" data-toggle="tab">Right-Column View</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="desktop-prv">
          <div ng-bind-html="desktopPreview"></div>
        </div>
        <div class="tab-pane" id="mobile-prv">
          <div ng-bind-html="mobilePreview"></div>
        </div>
        <div class="tab-pane" id="instagram-prv">
          <div ng-bind-html="instagramPreview"></div>
        </div>
        <div class="tab-pane" id="column-prv">
          <div ng-bind-html="columnPreview"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-dark pull-right" ng-click="viewResultFunc()">{{:: "VIEW_RESULT" | translate}}</button>
</div>

app/src/views/modal/preview-new-campaign-modal.pug
.modal-header
  button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
  h4.modal-title {{:: "CAMPAIGN_PREVIEW" | translate}}
.modal-body
  .row
    .col-sm-12.fb-preview-section
      ul.nav.nav-tabs.preview-modal
        li.active
          a(href='#desktop-prv', data-toggle='tab') Desktop Preview
        li
          a(href='#mobile-prv', data-toggle='tab') Mobile Preview
        li(ng-show="isInstagramOrNot")
          a(href='#instagram-prv', data-toggle='tab') Instagram view
        li
          a(href='#column-prv', data-toggle='tab') Right-Column View
      .tab-content
        #desktop-prv.tab-pane.active
          div(ng-bind-html='desktopPreview')
        #mobile-prv.tab-pane
          div(ng-bind-html='mobilePreview')
        #instagram-prv.tab-pane
          div(ng-bind-html='instagramPreview')
        #column-prv.tab-pane
          div(ng-bind-html='columnPreview')
.modal-footer
  button.btn.btn-dark.pull-right(ng-click='viewResultFunc()') {{:: "VIEW_RESULT" | translate}}
