app/dist/views/modal/preview-result-fb-modal.html

<div class="modal-header">
  <button class="close pull-right" type="button" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h4 class="modal-title">{{:: "ESTIMATED_RANGE_IF_THIS_CAMPAIGN_WOULD_RUN_ON_YOUR_LOCATION" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row first-row">
    <div class="col-sm-2 hidden">
      <ul id="list">{{:: "STATUS" | translate}}
        <li class="icons-color f-bold">{{:: "PAUSED" | translate}}<a href="#"></a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul id="list">{{:: "BUDGET" | translate}}
        <li class="icons-color f-bold">{{budgetPreview}}<a href="#"></a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul id="list">{{:: "DURATION" | translate}}
        <li class="icons-color f-bold">{{diffDays}}<a href="#"></a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul class="icons-color list">{{:: "TOTAL_SPENT" | translate}}
        <li><span class="f-bold">{{budgetPreview * diffDays}}</span></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul id="list">{{:: "POTENTIAL_REACH" | translate}}
        <li class="icons-color f-bold">{{reachUsers}}</li>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul class="icons-color list">{{:: "FREQUENCY_PER_PERSON" | translate}}
        <li><span class="f-bold">5.6</span></li>
      </ul>
    </div>
  </div><a class="pull-right" href="" ng-init="showGeneralPageInfo = false" ng-click="showGeneralPageInfo = !showGeneralPageInfo"><span>&nbsp; &nbsp; {{:: "GENERAL_STATISTICS_PAGE" | translate}}</span><span class="i fa" ng-class="showGeneralPageInfo ? 'fa-chevron-up' : 'fa-chevron-down'"></span></a>
  <div class="row second-row" uib-collapse="!showGeneralPageInfo">
    <div class="col-sm-2">
      <ul class="icons-color list">{{:: "PAGE_LIKES" | translate}}
        <li><span class="f-bold">{{prevPAgeLike}}</span></li>
      </ul>
    </div>
    <div class="col-sm-2 hidden">
      <ul class="icons-color list">{{:: "CAMPAIGN_RANGE" | translate}}
        <li><span class="f-bold">{{reachUsers}}</span></li>
      </ul>
    </div>
    <div class="col-sm-4" ng-if="!selectLikes">
      <div class="input-group custom-calender">
        <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-cal" ng-disabled="date" type="datetime-local" datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)" ng-model="task.fbPromotionSettings.promotionEndDate" ng-change="getEndDate(task)" ng-init="initPromotionTaskDate(task)" datepicker-options="{minDate: task.fbPromotionSettings.promotionStartDate || today}" is-open="endDate" timepicker-options="timepickerOptions" close-text="Sluiten" disabled="disabled"/>
        <!-- ngIf: isOpen && showPicker == 'date'-->
        <!-- ngIf: isOpen && showPicker == 'time'--><span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="endDate =! endDate" ng-disabled="false"><span class="i fa fa-calendar"></span></button></span>
      </div>
    </div>
    <div class="col-sm-4" ng-if="selectLikes">
      <select class="form-control disabled" ng-init="initLikeFunc()" ng-change="modalLikeFunc(obj)" ng-selected="{{ obj == 'this_month' }}" ng-options="obj for obj in getLikeArray" ng-model="obj" value="{{obj}}" uib-tooltip-html="&quot;{{:: &quot;SELECT_FACEBOOK_PAGE&quot; | translate}}&quot;"></select>
    </div>
  </div>
  <div class="row third-row" uib-collapse="!showGeneralPageInfo">
    <div class="col-sm-12">
      <div id="chartContriner1" style="min-width: 310px; height: 350px; margin: 0 auto;"></div>
    </div>
  </div>
  <div class="row fifth-row" uib-collapse="!showGeneralPageInfo">
    <div class="col-sm-12">
      <table class="table table-striped table-data">
        <thead>
          <tr>
            <th class="tbl-bdr">{{:: "NAME" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "STATUS" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "AD_REACH" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "FREQ" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "CLICKS" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "CLICK_THROUGH_RATE" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "AVERAGE_PRICE" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "TOTAL_SPENT" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "PAGE_LIKES" | translate}}</th>
            <th class="icons-color tbl-bdr">{{:: "COST_PER_PAGE_CLICK" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="obj in campaignPreview  | limitTo:&quot;5&quot;">
            <td class="txt-color">{{obj.name}}</td>
            <td>
              <div class="dropdown"><i class="fa fa-check" aria-hidden="true">{{obj.status}}</i></div>
            </td>
            <td class="tbl-td">{{obj.reach}}</td>
            <td class="tbl-td">{{obj.frequency}}</td>
            <td class="tbl-td">{{obj.clicks}}</td>
            <td class="tbl-td">{{obj.ctr}}</td>
            <td class="tbl-td">{{obj.cpm}}</td>
            <td class="tbl-td">{{obj.spend}}</td>
            <td class="tbl-td">{{obj.impressions}}</td>
            <td class="tbl-td">{{obj.cost_per_unique_click}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row footer">
    <div class="col-sm-2">
      <button class="btn btn-md btn-dark add-to-cart ng-binding" type="button" ng-click="$dismiss()">{{:: "BACK_TO_PREVIEW" | translate}}</button>
    </div>
  </div>
</div>

app/src/views/modal/preview-result-fb-modal.pug
.modal-header
  button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
  h4.modal-title {{:: "ESTIMATED_RANGE_IF_THIS_CAMPAIGN_WOULD_RUN_ON_YOUR_LOCATION" | translate}}
.modal-body
  .row.first-row
    .col-sm-2.hidden
      ul#list
        | {{:: "STATUS" | translate}}
        li.icons-color.f-bold
          | {{:: "PAUSED" | translate}}
          a(href='#')
    .col-sm-2
      ul#list
        | {{:: "BUDGET" | translate}}
        li.icons-color.f-bold
          | {{budgetPreview}}
          a(href='#')
    .col-sm-3
      ul#list
        | {{:: "DURATION" | translate}}
        li.icons-color.f-bold
          | {{diffDays}}
          a(href='#')
    .col-sm-2
      ul.icons-color.list
        | {{:: "TOTAL_SPENT" | translate}}
        li
          span.f-bold {{budgetPreview * diffDays}}
    .col-sm-3
      ul#list
        | {{:: "POTENTIAL_REACH" | translate}}
        li.icons-color.f-bold
          | {{reachUsers}}
    .col-sm-2
      ul.icons-color.list
        | {{:: "FREQUENCY_PER_PERSON" | translate}}
        li
          span.f-bold 5.6
  a(href='' ng-init="showGeneralPageInfo = false" ng-click="showGeneralPageInfo = !showGeneralPageInfo").pull-right
      span &nbsp; &nbsp; {{:: "GENERAL_STATISTICS_PAGE" | translate}}
      span.i.fa(ng-class="showGeneralPageInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
  .row.second-row(uib-collapse="!showGeneralPageInfo")
    .col-sm-2
      ul.icons-color.list
        | {{:: "PAGE_LIKES" | translate}}
        li
          span.f-bold {{prevPAgeLike}}
    .col-sm-2.hidden
      ul.icons-color.list
        | {{:: "CAMPAIGN_RANGE" | translate}}
        li
          span.f-bold {{reachUsers}}


    .col-sm-4(ng-if="!selectLikes")
      .input-group.custom-calender
        input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-empty.ng-cal(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionEndDate', ng-change='getEndDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options='{minDate: task.fbPromotionSettings.promotionStartDate || today}', is-open='endDate', timepicker-options='timepickerOptions', close-text='Sluiten', disabled='disabled')
        // ngIf: isOpen && showPicker == 'date'
        // ngIf: isOpen && showPicker == 'time'
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='endDate =! endDate', ng-disabled='false')
            span.i.fa.fa-calendar
    .col-sm-4(ng-if="selectLikes")
      select.form-control.disabled(ng-init="initLikeFunc()", ng-change='modalLikeFunc(obj)', ng-selected="{{ obj == 'this_month' }}", ng-options='obj for obj in getLikeArray' ng-model='obj', value='{{obj}}', uib-tooltip-html='"{{:: "SELECT_FACEBOOK_PAGE" | translate}}"')
        //- option(ng-repeat='obj in getLikeArray', value='{{obj}}') {{:: obj | translate}}
    //- .row
    //-   .col-sm-2.custom-drop-btn
    //-     button.btn.dropdown-toggle.btn-text(type='button', data-toggle='dropdown')
    //-       | Custom
    //-       span.caret
    //-     ul.dropdown-menu
    //-       li
    //-         a(href='#') HTML
  .row.third-row(uib-collapse="!showGeneralPageInfo")
    .col-sm-12
      #chartContriner1(style='min-width: 310px; height: 350px; margin: 0 auto;')
  .row.fifth-row(uib-collapse="!showGeneralPageInfo")
    .col-sm-12
      table.table.table-striped.table-data
        thead
          tr
            th.tbl-bdr {{:: "NAME" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "STATUS" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "AD_REACH" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "FREQ" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "CLICKS" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "CLICK_THROUGH_RATE" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "AVERAGE_PRICE" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "TOTAL_SPENT" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "PAGE_LIKES" | translate}}
            th.icons-color.tbl-bdr
              | {{:: "COST_PER_PAGE_CLICK" | translate}}
        tbody
            tr(ng-repeat='obj in campaignPreview  | limitTo:"5"')
              td.txt-color {{obj.name}}
              td
                .dropdown
                  i.fa.fa-check(aria-hidden='true')
                    | {{obj.status}}
              td.tbl-td {{obj.reach}}
              td.tbl-td {{obj.frequency}}
              td.tbl-td {{obj.clicks}}
              td.tbl-td {{obj.ctr}}
              td.tbl-td {{obj.cpm}}
              td.tbl-td {{obj.spend}}
              td.tbl-td {{obj.impressions}}
              td.tbl-td {{obj.cost_per_unique_click}}
  .row.footer
    .col-sm-2
      button.btn.btn-md.btn-dark.add-to-cart.ng-binding(type='button', ng-click='$dismiss()') {{:: "BACK_TO_PREVIEW" | translate}}
