app/dist/views/modal/remove-products-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "TEXT_DELETE_PRODUCTS_FROM" | translate}} {{shop.name}}</h4>
</div>
<div class="modal-body text-center">
  <h5>{{:: "TEXT_DELETE_BRAND" | translate}}</h5>
  <p>{{:: "TEXT_WHAT_DO_YOU_WANT_TO_DO_WITH" | translate}}</p>
  <p><a class="btn btn-lg btn-green" ng-click="close({all:true})">{{:: "DELETE_EVERYTHING" | translate}}</a></p>
  <p><a class="btn btn-lg btn-green" ng-click="close({all:false})">{{:: "DELETE_ONLY_ONLINE_AVAILABLE_PRODUCTS" | translate}}</a></p>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>

app/src/views/modal/remove-products-modal.pug
.modal-header
	h4.modal-title {{:: "TEXT_DELETE_PRODUCTS_FROM" | translate}} {{shop.name}}
.modal-body.text-center
	h5 {{:: "TEXT_DELETE_BRAND" | translate}}
	p {{:: "TEXT_WHAT_DO_YOU_WANT_TO_DO_WITH" | translate}}
	p
		a(ng-click="close({all:true})").btn.btn-lg.btn-green {{:: "DELETE_EVERYTHING" | translate}}
	p
		a(ng-click="close({all:false})").btn.btn-lg.btn-green {{:: "DELETE_ONLY_ONLINE_AVAILABLE_PRODUCTS" | translate}}
.modal-footer
	a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}
