app/dist/views/modal/repair-photo-upload.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "RESTORE_EMAIL_SENDING" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group" style="margin-bottom: 13px">
        <uib-progressbar class="progress-striped active" max="100" value="uploadProgress" type="succes" ng-show="upload">{{uploadProgress}} / 100</uib-progressbar>
      </div>
    </div>
    <div class="col-md-4 text-center" ng-show="data.isPhotoUploadModel==1">
      <div class="drop-box" ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="customer.photo" ngf-pattern="'image/*'" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable"></div>{{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
      <div>.<img ngf-thumbnail="customer.photo"/></div>
    </div>
    <div class="col-md-4">
      <div class="input-group" style="margin-bottom: 13px"><span class="input-group-addon loyalty-input-height">Price</span>
        <input class="form-control currency loyalty-input-height" id="c2" ng-model="price" type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"/>
      </div>
      <div class="input-group" style="margin-bottom: 13px"><span class="input-group-addon loyalty-input-height">Was Finished</span>
        <div>{{date | date : format : timezone}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <textarea class="form-control" name="retailerComments" ng-model="repairWithPic.comment" placeholder="Type hier iets over deze klant" cols="30" rows="6"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="sendRepairEmailWithPic()" ng-show="data.isPhotoUploadModel==1">Send Email</a><a class="btn btn-lg" ng-click="sendRepairEmailWithoutPic()" ng-show="data.isPhotoUploadModel==0">Send Email</a><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>

app/src/views/modal/repair-photo-upload.pug
.modal-header
  h4.modal-title {{:: "RESTORE_EMAIL_SENDING" | translate}}
.modal-body
  .row
    .col-xs-12
      .input-group(style='margin-bottom: 13px')
        uib-progressbar.progress-striped.active(max='100', value='uploadProgress', type='succes', ng-show='upload') {{uploadProgress}} / 100
    .col-md-4.text-center(ng-show='data.isPhotoUploadModel==1')
      .drop-box(ngf-drop='ngf-drop', ngf-select='ngf-select', ng-model='customer.photo', ngf-pattern="'image/*'", ngf-allow-dir='allowDir', ngf-drop-available='dropAvailable')
      | {{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
      div .
        img(ngf-thumbnail='customer.photo')
    .col-md-4
      .input-group(style='margin-bottom: 13px')
        span.input-group-addon.loyalty-input-height Price
        input#c2.form-control.currency.loyalty-input-height(ng-model='price', type='number', value='1000', min='0', step='0.01', data-number-to-fixed='2', data-number-stepfactor='100')
      .input-group(style='margin-bottom: 13px')
        span.input-group-addon.loyalty-input-height Was Finished
        div {{date | date : format : timezone}}
    .col-md-4
      textarea.form-control(name='retailerComments', ng-model='repairWithPic.comment', placeholder='Type hier iets over deze klant', cols='30', rows='6')
.modal-footer
  a.btn.btn-lg(ng-click='sendRepairEmailWithPic()', ng-show='data.isPhotoUploadModel==1') Send Email
  a.btn.btn-lg(ng-click='sendRepairEmailWithoutPic()', ng-show='data.isPhotoUploadModel==0') Send Email
  a.btn.btn-lg(ng-click='cancel()') {{:: "TEXT_CANCEL" | translate}}
