app/dist/views/modal/retailer-product-modal.html

<div class="modal-header">
  <button class="close pull-right" type="button" ng-click="cancel()" aria-hidden="true">×</button>
  <h4 class="modal-title">{{:: "TEXT_PRODUCT_FEATURES" | translate}}</h4>
</div>
<div class="modal-body retailer-product-modal">
  <h5>{{product.name}}</h5>
  <div class="row">
    <div class="col-md-4">
      <h6>{{:: "TEXT_PRODUCT" | translate}}</h6>
      <div class="uib-carousel hidden-xs hidden-sm" uib-carousel="uib-carousel" active="activeSlide" interval="7000">
        <div uib-slide="uib-slide" ng-repeat="slide in product.images" index="$index" style="height: 220px"><img ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}"/></div>
      </div>
      <p>&nbsp;</p>
      <p><strong>{{product[language].name}}</strong><br/><span>EAN: {{product.variants[0].ean}}</span><br/><span>{{:: "TEXT_PRODUCT_NUMBER" | translate}} {{product.variants[0].productNumber}}</span>
        <p><i class="fa fa-pencil"></i><a href="" ui-sref="retailer.edit-product({nameSlug: product.en.nameSlug})" ng-click="cancel()" id="webshopTourEditProductDetails">&nbsp;{{:: "UPDATE_PRODUCT_DETAILS" | translate}}</a></p>
        <p><i class="fa fa-trash"></i><a href="" ui-sref="" ng-click="deleteProductFromShop(product)">&nbsp;{{:: "REMOVE_FROM_SHOP" | translate}}</a></p>
      </p>
    </div>
    <div class="col-md-4">
      <h6>{{:: "TEXT_PRODUCT" | translate}}</h6>
      <p>
        <toggle-switch id="bestseller" name="bestseller" ng-model="product.isBestseller" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        <label for="bestseller">&nbsp;{{:: "TEXT_BESTSELLER" | translate}}</label>
      </p>
      <p>
        <toggle-switch id="active" name="active" ng-model="product.show" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}" uib-tooltip-html="productGeneral.product.containsFilterInfo ? '' : 'Product filters zijn niet voldoende ingevuld om dit product goed te kunnen tonen op uw website. Bewerk de verplichte product details om dit product te kunnen tonen.' " ng-disabled="productGeneral.product.containsFilterInfo == false"></toggle-switch>
        <label for="active">&nbsp;{{:: "TEXT_SELL_THIS_PRODUCT" | translate}}</label>
      </p><a href="" ui-sref="retailer.edit-product({nameSlug: product.en.nameSlug})" ng-hide="productGeneral.product.containsFilterInfo" ng-click="cancel()">{{:: "TOP_UP_PRODUCT" | translate}}</a>
      <p uib-tooltip="{{:: &quot;TEXT_WHICH_EXPLAINS_WHAT_ABOUT_DROPSHIPPER_25_DOES_WHEN_PRODUCT_NOT_IN_STOCK&quot; | translate}}" id="webshopTourStockLevel">
        <toggle-switch id="inStock" name="inStock" ng-change="stockStatusChange(inStock)" ng-model="inStock" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        <label for="inStock">&nbsp;{{:: "TEXT_IN_STOCK" | translate}}</label>
      </p>
      <p ng-show="inStock">
        <label for="stock">{{:: "TEXT_STOCK" | translate}}</label>
        <input class="form-control" id="stock" ng-model="product.stock" ng-value="(product.stock)?product.stock:1"/>
      </p>
      <p>
        <toggle-switch id="onSale" name="onSale" ng-model="onSale" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        <label for="onSale">&nbsp;{{:: "TEXT_DISCOUNT" | translate}}</label>
      </p>
      <p uib-tooltip="{{:: &quot;TEXT_WHICH_EXPLAINS_TO_ORDER&quot; | translate}}">
        <toggle-switch id="toOrder" name="toOrder" ng-model="toOrder" on-label="{{'YES' | translate}}" off-label="{{'NO' | translate}}"></toggle-switch>
        <label for="toOrder">&nbsp;{{:: "TO_ORDER" | translate}}</label>
      </p>
      <p ng-show="toOrder">
        <label for="order">{{:: "QUANTITY" | translate}}</label>
        <input class="form-control" id="order" ng-model="product.toOrder"/>
      </p>
      <p ng-init="usePercentage = false" ng-show="onSale">
        <input id="usePercentage" type="checkbox" name="usePercentage" ng-model="usePercentage" ng-change="setDiscount()"/>
        <label for="usePercentage">{{:: "TEXT_PERCENTAGE" | translate}}</label><br/>
        <input class="form-control" id="discount" ng-model="discount" ng-change="setDiscount()"/>
      </p><a ng-click="openPrintLabelModal()" href="" uib-tooltip="{{:: &quot;MAKE_SURE_THE_LABEL_SOFTWARE_IS_INSTALLED&quot; | translate}}">{{:: "PRINT_LABEL" | translate}}</a>
      <div ng-init="getCollections()">
        <h6>{{:: "YOUR_COLLECTIONS" | translate}}</h6>
        <angucomplete-alt class="auto-complete-text-box-for-collection" ng-show="language == 'nl'" id="collection-auto-complete[0]" clear-selected="true" placeholder="{{:: &quot;SEARCH_COLLECTION&quot; | translate}}" pause="100" selected-object="collectionSelected" local-data="currentShop.collections" local-search="searchCollections" title-field="nl.name" minlength="2" input-class="form-control"></angucomplete-alt>
        <angucomplete-alt class="auto-complete-text-box-for-collection" ng-show="language == 'en'" id="collection-auto-complete[1]" clear-selected="true" placeholder="{{:: &quot;SEARCH_COLLECTION&quot; | translate}}" pause="100" selected-object="collectionSelected" local-data="currentShop.collections" local-search="searchCollections" title-field="en.name" minlength="2" input-class="form-control"></angucomplete-alt>
        <angucomplete-alt class="auto-complete-text-box-for-collection" ng-show="language == 'de'" id="collection-auto-complete[2]" clear-selected="true" placeholder="{{:: &quot;SEARCH_COLLECTION&quot; | translate}}" pause="100" selected-object="collectionSelected" local-data="currentShop.collections" local-search="searchCollections" title-field="de.name" minlength="2" input-class="form-control"></angucomplete-alt>
        <angucomplete-alt class="auto-complete-text-box-for-collection" ng-show="language == 'fr'" id="collection-auto-complete[3]" clear-selected="true" placeholder="{{:: &quot;SEARCH_COLLECTION&quot; | translate}}" pause="100" selected-object="collectionSelected" local-data="currentShop.collections" local-search="searchCollections" title-field="fr.name" minlength="2" input-class="form-control"></angucomplete-alt>
        <angucomplete-alt class="auto-complete-text-box-for-collection" ng-show="language == 'es'" id="collection-auto-complete[4]" clear-selected="true" placeholder="{{:: &quot;SEARCH_COLLECTION&quot; | translate}}" pause="100" selected-object="collectionSelected" local-data="currentShop.collections" local-search="searchCollections" title-field="es.name" minlength="2" input-class="form-control"></angucomplete-alt>
        <div class="list-group"><a class="list-group-item" ng-repeat="collection in product.collections"><span>{{getTheCollectionName(collection)}}<span class="label label-info" ng-show="collection.isVerified">{{:: "VERIFIED" | translate}}</span></span><span class="pull-right button-group"><i class="fa fa-times" ng-click="deleteCollection($index)"></i></span></a></div>
      </div>
      <fieldset ng-show="addNewCollectionForm" style="padding:5px; display:block; border-style: ridge; border-color:#444; border-radius:5px; width:450px;">
        <legend>{{:: "ADD_COLLECTION" | translate}}</legend>
        <form name="collectionProperties">
          <ul style="list-style:none">
            <li>
              <input class="input-control form-control" type="text" ng-model="collection.nl.name" id="collection-nl-name" placeholder="Nederlandse titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" ng-required="true"/>
            </li>
            <li>
              <input class="input-control form-control" type="text" ng-model="collection.en.name" id="collection-en-name" placeholder="English title" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" ng-required="true"/>
            </li>
            <li>
              <input class="input-control form-control" type="text" ng-model="collection.de.name" id="collection-de-name" placeholder="Deutsche Titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" ng-required="true"/>
            </li>
            <li>
              <input class="input-control form-control" type="text" ng-model="collection.fr.name" id="collection-fr-name" placeholder="Titre francais" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" ng-required="true"/>
            </li>
            <li>
              <input class="input-control form-control" type="text" ng-model="collection.es.name" id="collection-es-name" placeholder="Título en español" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" ng-required="true"/>
            </li>
          </ul><br/>
          <h6>{{collection.brand.name}}</h6>
          <angucomplete-alt id="ex1" pause="100" clear-selected="true" placeholder="{{:: &quot;CHOOSE_A_BRAND_NOT_OBLIGATED&quot; | translate}}" selected-object="brandSelected" local-data="brands" local-search="searchBrands" title-field="name" minlength="2" style="width: 500px" input-class="form-control"></angucomplete-alt>
          <btn class="btn btn-dark pull-right" ng-click="addCollection(collection)" type="submit" ng-disabled="collectionProperties.$invalid" ng-class="{ 'disabled' : collectionProperties.$invalid}">{{editMode ? "EDIT" : "ADD" | translate}}</btn>
        </form>
      </fieldset>
    </div>
    <div class="col-md-4">
      <h6>{{:: "TEXT_PRICES" | translate}}</h6>
      <p>{{:: "TEXT_RECOMMENDED_PRICE" | translate}} {{product.suggestedRetailPrice | currency: '€ '}} ({{:: 'INCLUDING_VAT' | translate}})</p>
      <p class="hidden">
        <label for="shippingPrice">{{:: "TEXT_SHIPPING_PRICE" | translate}} ({{:: 'INCLUDING_VAT' | translate}})<br/><i class="fa fa-percent"></i><em>&nbsp; {{:: "SETTINGS" | translate}}</em></label>
        <input class="form-control" id="shippingPrice" ng-model="product.shippingPrice"/><span class="price-stats" uib-tooltip="{{:: &quot;TEXT_THE_HIGH_AND_LOWEST_SEND_PRICES&quot; | translate}}"></span>
      </p>
      <p>
        <label for="price">{{:: "TEXT_SELLING_PRICE" | translate}} ({{:: 'INCLUDING_VAT' | translate}})</label>
        <input class="form-control" id="price" ng-model="product.sellingPrice" ng-change="product.price = product.sellingPrice / 1.21"/><span class="price-stats" uib-tooltip="{{:: &quot;TEXT_THE_HIGH_AND_LOWEST_SELLING_PRICES&quot; | translate}}"></span>
      </p>
      <p class="hidden">
        <input id="calculateMediationFee" type="checkbox" name="calculateMediationFee" ng-model="calculateMediationFee"/>
        <label for="calculateMediationFee" uib-tooltip="{{:: &quot;TEXT_DIFFERENCE_IN_COMMISSION_TO_SELL_VIA_PRISMANOTEDOTCOM&quot; | translate}}">{{:: "TEXT_CALULATE_MEDIATION_FEE" | translate}}</label><br/>
      </p>
      <p><span>{{:: "TEXT_SELLING_PRICE_WITHOUT_VAT" | translate}} {{product.price | currency: '€ '}}</span><br/><span class="discount" ng-if="product.discount &gt; 0 &amp;&amp; onSale">{{:: "TEXT_DISCOUNT_WITHDOTS" | translate}} {{product.discount | currency: '€ '}}</span><br ng-if="product.discount &gt; 0 &amp;&amp; onSale"/><strong class="discount" ng-if="product.discount &gt; 0 &amp;&amp; onSale">{{:: "TEXT_DISCOUNTPRICE_INCLUDING_VAT_WITHDOTS" | translate}} {{product.sellingPrice - product.discount | currency: '€ '}}</strong><br ng-if="product.discount &gt; 0 &amp;&amp; onSale"/><strong class="discount" ng-if="product.discount &gt; 0 &amp;&amp; onSale">{{:: "TEXT_DISCOUNTPRICE_EXCLUDING_VAT_WITHDOTS" | translate}} {{(product.sellingPrice - product.discount) / 1.21 | currency: '€ '}}</strong><br ng-if="product.discount &gt; 0 &amp;&amp; onSale"/><span ng-if="calculateMediationFee">{{:: "TEXT_MEDIATIONFEE_WITHDOTS" | translate}} {{(product.sellingPrice - product.discount) * 0.15 | currency: '€ '}}</span><br ng-if="calculateMediationFee"/><span>{{:: "TEXT_SHIPPING_COST_WITHDOTS" | translate}} {{product.shippingCosts | currency: '€ '}}</span><br/><strong ng-if="calculateMediationFee &amp;&amp; onSale">{{:: "TEXT_YOUR_INCOME" | translate}} {{(((product.sellingPrice - product.discount) / 1.21) - product.shippingCosts) * 0.85 | currency: '€ '}}</strong><strong ng-if="calculateMediationFee &amp;&amp; !onSale">{{:: "TEXT_YOUR_INCOME" | translate}} {{(product.price - product.shippingCosts) * 0.85 | currency: '€ '}}</strong><strong ng-if="!calculateMediationFee &amp;&amp; onSale">{{:: "TEXT_YOUR_INCOME" | translate}} {{(((product.sellingPrice - product.discount) / 1.21) - product.shippingCosts) | currency: '€ '}}</strong><strong ng-if="!calculateMediationFee &amp;&amp; !onSale">{{:: "TEXT_YOUR_INCOME" | translate}} {{product.price - product.shippingCosts | currency: '€ '}}</strong></p>
      <div ng-show="countrModule" ng-init="getCountrProduct()">
        <hr/>
        <h6>Countr</h6>
        <div ng-show="counter">
          <p>{{:: "THIS_PRODUCT_INFORMATION_IS_KNOWN" | translate}}</p>
          <p>{{product.countr.name}}</p>
          <p>{{:: "VARIANTS" | translate}}</p>
          <p ng-repeat="var in product.countr.variants">{{var.name}} - {{var.price | currency: "€"}} - {{var.tax.rate * 100}}% {{:: "VAT" | translate}}</p>
        </div>
        <div ng-show="!counter">
          <p>{{:: "THIS_PRODUCT_IS_NOT_SYNCHRONIZED_WITH_COUNTR" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-md-12"><a class="btn btn-lg btn-green" ng-click="saveProduct()">{{:: "BUTTON_SAVE" | translate}}<i class="fa fa-refresh fa-spin" ng-if="productUpdateLoading"></i></a><a class="btn btn-lg btn-green" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>
  </div>
</div>

app/src/views/modal/retailer-product-modal.pug
.modal-header
	button.close.pull-right(type='button', ng-click='cancel()', aria-hidden='true') ×
	h4.modal-title {{:: "TEXT_PRODUCT_FEATURES" | translate}}
.modal-body.retailer-product-modal
	h5 {{product.name}}
	.row
		.col-md-4
			h6 {{:: "TEXT_PRODUCT" | translate}}
			.uib-carousel.hidden-xs.hidden-sm(uib-carousel active="activeSlide" interval="7000")
					div(uib-slide ng-repeat="slide in product.images" index="$index" style="height: 220px")
						img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
			p &nbsp;
			p
				strong {{product[language].name}}
				br
				span EAN: {{product.variants[0].ean}}
				br
				span {{:: "TEXT_PRODUCT_NUMBER" | translate}} {{product.variants[0].productNumber}}
				p
					i.fa.fa-pencil
					a(href="" ui-sref="retailer.edit-product({nameSlug: product.en.nameSlug})" ng-click="cancel()")#webshopTourEditProductDetails &nbsp;{{:: "UPDATE_PRODUCT_DETAILS" | translate}}
				p
					i.fa.fa-trash
					a(href="" ui-sref="" ng-click="deleteProductFromShop(product)") &nbsp;{{:: "REMOVE_FROM_SHOP" | translate}}
				//- lines below can be used in the future to let users mark products as duplicate or ask the admin to remove products because they got unapropriated content
				//- p
				//- 	i.fa.fa-sign-language
				//- 	a(href="" ui-sref="" ng-click="duplicateSearch = true") &nbsp;{{:: "Mark product as duplicate" | translate}}
				//- input(ng-if="duplicateSearch" type="text" placeholder="Search product to merge with").form-control
				//- p
				//- 	i.fa.fa-exclamation
				//- 	a(href="" ui-sref="" ng-click="") &nbsp;{{:: "This product is not ok" | translate}}
		.col-md-4
			h6 {{:: "TEXT_PRODUCT" | translate}}
			p
				toggle-switch(id="bestseller", name="bestseller", ng-model="product.isBestseller", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="bestseller") &nbsp;{{:: "TEXT_BESTSELLER" | translate}}
			p
				toggle-switch(id="active", name="active", ng-model="product.show", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}", uib-tooltip-html="productGeneral.product.containsFilterInfo ? '' : 'Product filters zijn niet voldoende ingevuld om dit product goed te kunnen tonen op uw website. Bewerk de verplichte product details om dit product te kunnen tonen.' ", ng-disabled="productGeneral.product.containsFilterInfo == false")
				label(for="active") &nbsp;{{:: "TEXT_SELL_THIS_PRODUCT" | translate}}
			a(href="" ui-sref="retailer.edit-product({nameSlug: product.en.nameSlug})" ng-hide='productGeneral.product.containsFilterInfo' ng-click="cancel()") {{:: "TOP_UP_PRODUCT" | translate}}
			p(uib-tooltip='{{:: "TEXT_WHICH_EXPLAINS_WHAT_ABOUT_DROPSHIPPER_25_DOES_WHEN_PRODUCT_NOT_IN_STOCK" | translate}}')#webshopTourStockLevel
				toggle-switch(id="inStock", name="inStock",ng-change="stockStatusChange(inStock)", ng-model="inStock", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="inStock") &nbsp;{{:: "TEXT_IN_STOCK" | translate}}
			p(ng-show="inStock")
				label(for="stock") {{:: "TEXT_STOCK" | translate}}
				input(id="stock" ng-model="product.stock" ng-value="(product.stock)?product.stock:1").form-control
			p
				toggle-switch(id="onSale", name="onSale", ng-model="onSale", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="onSale") &nbsp;{{:: "TEXT_DISCOUNT" | translate}}
			p(uib-tooltip='{{:: "TEXT_WHICH_EXPLAINS_TO_ORDER" | translate}}')
				toggle-switch(id="toOrder", name="toOrder", ng-model="toOrder", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="toOrder") &nbsp;{{:: "TO_ORDER" | translate}}
			p(ng-show="toOrder")
				label(for="order") {{:: "QUANTITY" | translate}}
				input(id="order" ng-model="product.toOrder").form-control
			p(ng-init="usePercentage = false" ng-show="onSale")
				input#usePercentage(type='checkbox' name='usePercentage' ng-model="usePercentage" ng-change="setDiscount()")
				label(for='usePercentage') {{:: "TEXT_PERCENTAGE" | translate}}
				br
				input(id="discount" ng-model="discount" ng-change="setDiscount()").form-control
			a(ng-click='openPrintLabelModal()' href="" uib-tooltip='{{:: "MAKE_SURE_THE_LABEL_SOFTWARE_IS_INSTALLED" | translate}}')
				|{{:: "PRINT_LABEL" | translate}}
			//- .col-md-4(ng-init="getBrands()")
			//- 	h4 {{:: "TEXT_YOUR_BRANDS" | translate}}
			//- 	angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
			//- 	.list-group
			//- 			a(ng-repeat="brand in currentShop.brands").list-group-item
			//- 					span
			//- 							| {{brand.name}}
			//- 							span(ng-show="!brand.restricted").label.label-info
			//- 									| Dealer
			//- 					span.pull-right.button-group
			//- 							i.fa.fa-times(ng-click="deleteBrand($index)")
			div(ng-init="getCollections()")
				h6 {{:: "YOUR_COLLECTIONS" | translate}}
				angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'nl'" id="collection-auto-complete[0]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="nl.name", minlength="2", input-class="form-control")
				angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'en'" id="collection-auto-complete[1]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="en.name", minlength="2", input-class="form-control")
				angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'de'" id="collection-auto-complete[2]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="de.name", minlength="2", input-class="form-control")
				angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'fr'" id="collection-auto-complete[3]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="fr.name", minlength="2", input-class="form-control")
				angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'es'" id="collection-auto-complete[4]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="es.name", minlength="2", input-class="form-control")
				.list-group
						a(ng-repeat="collection in product.collections").list-group-item
								span
										| {{getTheCollectionName(collection)}}
										span(ng-show="collection.isVerified").label.label-info
												| {{:: "VERIFIED" | translate}}
								span.pull-right.button-group
										i.fa.fa-times(ng-click="deleteCollection($index)")
			//- .btn-group(uib-dropdown='', is-open='status.isopen')
			//- 	a(uib-dropdown-toggle='', ng-disabled='disabled' uib-tooltip='{{:: "MAKE_SURE_THE_LABEL_SOFTWARE_IS_INSTALLED" | translate}}') {{:: "PRINT_LABEL" | translate}}
			//- 	ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
			//- 		li(role='menuitem')
			//- 			a(ng-click="openPrintLabelModal()") {{:: "LABEL" | translate}} 1
			//- 		li(role='menuitem')
			//- 			a(ng-click="") {{:: "LABEL" | translate}} 2 (barcode)
			//- 		li(role='menuitem')
			//- 			a(ng-click="") {{:: "LABEL" | translate}} 3
			//- 		li.divider
			//- 		li(role='menuitem')
			//- 			a(ng-click="") {{:: "DESIGN_LABEL" | translate}}
			fieldset(ng-show="addNewCollectionForm", style="padding:5px; display:block; border-style: ridge; border-color:#444; border-radius:5px; width:450px;")
				legend {{:: "ADD_COLLECTION" | translate}}
				form(name="collectionProperties")
					ul(style="list-style:none")
						li
							input(type="text", ng-model="collection.nl.name",id="collection-nl-name", placeholder="Nederlandse titel", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
						li
							input(type="text", ng-model="collection.en.name",id="collection-en-name", placeholder="English title", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
						li
							input(type="text", ng-model="collection.de.name",id="collection-de-name", placeholder="Deutsche Titel", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
						li
							input(type="text", ng-model="collection.fr.name",id="collection-fr-name", placeholder="Titre francais", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
						li
							input(type="text", ng-model="collection.es.name",id="collection-es-name", placeholder="Título en español", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control

					br
					h6 {{collection.brand.name}}
					angucomplete-alt(id="ex1", pause="100", clear-selected="true", placeholder='{{:: "CHOOSE_A_BRAND_NOT_OBLIGATED" | translate}}' selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", style='width: 500px', input-class="form-control")
					btn.btn.btn-dark.pull-right(ng-click="addCollection(collection)", type="submit", ng-disabled="collectionProperties.$invalid" ng-class="{ 'disabled' : collectionProperties.$invalid}") {{editMode ? "EDIT" : "ADD" | translate}}



		.col-md-4
			h6 {{:: "TEXT_PRICES" | translate}}
			p {{:: "TEXT_RECOMMENDED_PRICE" | translate}} {{product.suggestedRetailPrice | currency: '€ '}} ({{:: 'INCLUDING_VAT' | translate}})
			p.hidden
				label(for="shippingPrice") {{:: "TEXT_SHIPPING_PRICE" | translate}} ({{:: 'INCLUDING_VAT' | translate}})
					br
					i.fa.fa-percent
					em &nbsp; {{:: "SETTINGS" | translate}}
				input(id="shippingPrice" ng-model="product.shippingPrice").form-control
				span.price-stats(uib-tooltip='{{:: "TEXT_THE_HIGH_AND_LOWEST_SEND_PRICES" | translate}}')
			p
				label(for="price") {{:: "TEXT_SELLING_PRICE" | translate}} ({{:: 'INCLUDING_VAT' | translate}})
				input(id="price" ng-model="product.sellingPrice" ng-change="product.price = product.sellingPrice / 1.21").form-control
				span.price-stats(uib-tooltip='{{:: "TEXT_THE_HIGH_AND_LOWEST_SELLING_PRICES" | translate}}')
					//- i.fa.fa-bar-chart
					//- em &nbsp;€ 79.99 - € 109.99
			p.hidden
				input#calculateMediationFee(type='checkbox' name='calculateMediationFee' ng-model="calculateMediationFee")
				label(for='calculateMediationFee' uib-tooltip='{{:: "TEXT_DIFFERENCE_IN_COMMISSION_TO_SELL_VIA_PRISMANOTEDOTCOM" | translate}}') {{:: "TEXT_CALULATE_MEDIATION_FEE" | translate}}
				br
			p
				span {{:: "TEXT_SELLING_PRICE_WITHOUT_VAT" | translate}} {{product.price | currency: '€ '}}
				br
				span.discount(ng-if="product.discount > 0 && onSale") {{:: "TEXT_DISCOUNT_WITHDOTS" | translate}} {{product.discount | currency: '€ '}}
				br(ng-if="product.discount > 0 && onSale")
				strong.discount(ng-if="product.discount > 0 && onSale") {{:: "TEXT_DISCOUNTPRICE_INCLUDING_VAT_WITHDOTS" | translate}} {{product.sellingPrice - product.discount | currency: '€ '}}
				br(ng-if="product.discount > 0 && onSale")
				strong.discount(ng-if="product.discount > 0 && onSale") {{:: "TEXT_DISCOUNTPRICE_EXCLUDING_VAT_WITHDOTS" | translate}} {{(product.sellingPrice - product.discount) / 1.21 | currency: '€ '}}
				br(ng-if="product.discount > 0 && onSale")
				span(ng-if="calculateMediationFee") {{:: "TEXT_MEDIATIONFEE_WITHDOTS" | translate}} {{(product.sellingPrice - product.discount) * 0.15 | currency: '€ '}}
				br(ng-if="calculateMediationFee")
				span {{:: "TEXT_SHIPPING_COST_WITHDOTS" | translate}} {{product.shippingCosts | currency: '€ '}}
				br
				strong(ng-if="calculateMediationFee && onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{(((product.sellingPrice - product.discount) / 1.21) - product.shippingCosts) * 0.85 | currency: '€ '}}
				strong(ng-if="calculateMediationFee && !onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{(product.price - product.shippingCosts) * 0.85 | currency: '€ '}}
				strong(ng-if="!calculateMediationFee && onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{(((product.sellingPrice - product.discount) / 1.21) - product.shippingCosts) | currency: '€ '}}
				strong(ng-if="!calculateMediationFee && !onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{product.price - product.shippingCosts | currency: '€ '}}
			div(ng-show="countrModule", ng-init="getCountrProduct()")
				hr
				h6 Countr
				div(ng-show="counter")
					p {{:: "THIS_PRODUCT_INFORMATION_IS_KNOWN" | translate}}
					p {{product.countr.name}}
					p {{:: "VARIANTS" | translate}}
					p(ng-repeat="var in product.countr.variants")
						| {{var.name}} - {{var.price | currency: "€"}} - {{var.tax.rate * 100}}% {{:: "VAT" | translate}}
				div(ng-show="!counter")
					p {{:: "THIS_PRODUCT_IS_NOT_SYNCHRONIZED_WITH_COUNTR" | translate}}
	.row
	.row
		.col-md-12
			a(ng-click="saveProduct()").btn.btn-lg.btn-green {{:: "BUTTON_SAVE" | translate}}
				i.fa.fa-refresh.fa-spin(ng-if="productUpdateLoading")
			a(ng-click="cancel()").btn.btn-lg.btn-green {{:: "TEXT_CANCEL" | translate}}
