app/src/views/modal/return-order-modal.pug
.modal-header
    h4.modal-title {{:: "RETURN_ORDER" | translate}}
.modal-body
    .row
        .col-md-12
            a.btn.btn-green(ng-click="returnOrder()") {{:: "I_AM_SENDING_A_REPLACEMENT_PRODUCT" | translate}}
            a.btn.btn-green(ng-click="getPayment()") {{:: "I_PAY_BACK_THE_CUSTOMER" | translate}}
    .row(ng-show="return")
        .col-md-12
            p {{:: "YOU_HAVE_TO_ADJUST_THE_REPLACEMENT_PRODUCT_IN_STOCK_YOURSELF_AND_MAKE_AN_ORDER_FOR_IT" | translate}}
            a.btn.btn-green(ng-click="returnOrder('true')") {{:: "SENDING_A_REPLACEMENT_PRODUCT" | translate}}
    .row(ng-show="refund")
        .col-md-6
            h5 {{:: "PAYMENT" | translate}}
            p {{:: "METHOD" | translate}}: {{payment.method}}
            p {{:: "PAID" | translate}}: €{{payment.amount}}
            p(ng-show="payment.method == 'ideal'") {{:: "ACCOUNT_NUMBER" | translate}}: {{payment.details.consumerAccount}} / {{payment.details.consumerName}}
            div(ng-init="getRefunds()", ng-hide="refunds.totalCount == 0")
                h5(ng-init="getRefunds()") {{:: "REFUNDS" | translate}}
                ul
                    li(ng-repeat="refund in refunds")
                        |€{{refund.amount}} / {{refund.refundedDatetime | date: 'dd-MM-yyyy HH:mm'}} / {{payment.status}}

        .col-md-6
            h6 REPAY
            p {{:: "YOU_CAN_REPAY_UP_TO_25_EUROS_AS_AN_EXTRA_REIMBURSEMENT_FOR_THE_SHIPPING_COSTS_FOR_EXAMPLE" | translate}}
            p {{:: "MAXIMUM_REIMBURSABLE" | translate}}: €{{payment.amountRemaining}}
            div(uib-alert, ng-show='payment.amountRemaining == 0' class='alert-warning')
                | {{:: "THIS_ORDER_IS_FULLY_REFUNDED" | translate}}
            div(ng-show='payment.amountRemaining != 0')
                input(type='number', ng-model='refundAmount', ng-change="checkRefundAmount()").form-control
                a.btn.btn-green(ng-click='refundOrder()', ng-disabled='!amountAccepted') {{:: "REPAY" | translate}}

    div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
        | {{alert.msg}}
.modal-footer
    a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}

app/dist/views/modal/return-order-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "RETURN_ORDER" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12"><a class="btn btn-green" ng-click="returnOrder()">{{:: "I_AM_SENDING_A_REPLACEMENT_PRODUCT" | translate}}</a><a class="btn btn-green" ng-click="getPayment()">{{:: "I_PAY_BACK_THE_CUSTOMER" | translate}}</a></div>
  </div>
  <div class="row" ng-show="return">
    <div class="col-md-12">
      <p>{{:: "YOU_HAVE_TO_ADJUST_THE_REPLACEMENT_PRODUCT_IN_STOCK_YOURSELF_AND_MAKE_AN_ORDER_FOR_IT" | translate}}</p><a class="btn btn-green" ng-click="returnOrder('true')">{{:: "SENDING_A_REPLACEMENT_PRODUCT" | translate}}</a>
    </div>
  </div>
  <div class="row" ng-show="refund">
    <div class="col-md-6">
      <h5>{{:: "PAYMENT" | translate}}</h5>
      <p>{{:: "METHOD" | translate}}: {{payment.method}}</p>
      <p>{{:: "PAID" | translate}}: €{{payment.amount}}</p>
      <p ng-show="payment.method == 'ideal'">{{:: "ACCOUNT_NUMBER" | translate}}: {{payment.details.consumerAccount}} / {{payment.details.consumerName}}</p>
      <div ng-init="getRefunds()" ng-hide="refunds.totalCount == 0">
        <h5 ng-init="getRefunds()">{{:: "REFUNDS" | translate}}</h5>
        <ul>
          <li ng-repeat="refund in refunds">€{{refund.amount}} / {{refund.refundedDatetime | date: 'dd-MM-yyyy HH:mm'}} / {{payment.status}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h6>REPAY</h6>
      <p>{{:: "YOU_CAN_REPAY_UP_TO_25_EUROS_AS_AN_EXTRA_REIMBURSEMENT_FOR_THE_SHIPPING_COSTS_FOR_EXAMPLE" | translate}}</p>
      <p>{{:: "MAXIMUM_REIMBURSABLE" | translate}}: €{{payment.amountRemaining}}</p>
      <div class="alert-warning" uib-alert="uib-alert" ng-show="payment.amountRemaining == 0">{{:: "THIS_ORDER_IS_FULLY_REFUNDED" | translate}}</div>
      <div ng-show="payment.amountRemaining != 0">
        <input class="form-control" type="number" ng-model="refundAmount" ng-change="checkRefundAmount()"/><a class="btn btn-green" ng-click="refundOrder()" ng-disabled="!amountAccepted">{{:: "REPAY" | translate}}</a>
      </div>
    </div>
  </div>
  <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>
