app/dist/views/modal/send-order-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "TEXT_THIS_ORDER" | translate}} {{order.number}} {{:: "TEXT_THIS_ORDER_SEND" | translate}}</h4>
</div>
<div class="modal-body">
  <div class="row hidden">
    <div class="col-md-6">
      <label for="company">{{:: "TEXT_SENT_WITH_COMPANY" | translate}}</label>
      <select class="form-control disabled" name="company" id="company" disabled="disabled" ng-model="send.company">
        <option>PostNL</option>
        <option>DHL</option>
        <option>Sandd</option>
        <option>Bpost</option>
      </select>
    </div>
    <div class="col-md-6"></div>
    <label for="tt">{{:: "TEXT_TRACK_AND_TRACE_CODE" | translate}}
      <input class="form-control disabled" type="text" id="tt" ng-model="send.tt" disabled="disabled" placeholder="{{:: &quot;TEXT_TRACK_AND_TRACE_CODE&quot; | translate}}"/>
    </label>
  </div>
  <div class="row">
    <div class="col-md-12"><a class="btn btn-lg btn-green" ng-click="sendOrder()">{{:: "TEXT_SENT" | translate}}</a><br/><br/>
      <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
    </div>
  </div>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>

app/src/views/modal/send-order-modal.pug
.modal-header
    h4.modal-title {{:: "TEXT_THIS_ORDER" | translate}} {{order.number}} {{:: "TEXT_THIS_ORDER_SEND" | translate}}
.modal-body
    .row.hidden
        .col-md-6
            label(for="company") {{:: "TEXT_SENT_WITH_COMPANY" | translate}}
            select(name="company", id="company", disabled='disabled', ng-model="send.company").form-control.disabled
                option PostNL
                option DHL
                option Sandd
                option Bpost
        .col-md-6
        label(for="tt") {{:: "TEXT_TRACK_AND_TRACE_CODE" | translate}}
            input(type="text", id="tt", ng-model="send.tt", disabled="disabled", placeholder='{{:: "TEXT_TRACK_AND_TRACE_CODE" | translate}}').form-control.disabled
    .row
        .col-md-12
            a(ng-click="sendOrder()").btn.btn-lg.btn-green {{:: "TEXT_SENT" | translate}}
            br
            br
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                | {{alert.msg}}
.modal-footer
    a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}
