app/src/views/modal/upgrade-modal.pug
.modal-header
    h4.modal-title Upgrade voltooien
.modal-body(ng-init="getOptions()")
    p U staat op het punt om uw account te upgraden naar:
    table.upgrade-overview
        tr
            td
            td
            th.text-right Prijs per maand
        tr
            th Pakket
            td {{upgrade.name}}
            td.text-right {{upgrade.price | currency: '€'}}
        tr(ng-repeat="option in options")
            th {{option.name}}
            td {{option.option}}
            td.text-right {{option.price | currency: '€'}}          
        tr
            th Totaalprijs
            td
            td.total-price.text-right {{upgrade.totalPrice | currency: '€'}}
    h5 Hoe verder?
    p Na het klikken op 'Upgrade' zal u doorgestuurd worden naar onze betaalprovider Mollie. U zal een betaling van 1 cent moeten doen om toestemming te geven voor een automatische incasso.
    p Daarna zullen de gekozen modules direct actief zijn en ontvangt u maandelijks een factuur wanneer er een nieuwe incasso gepland is.

.modal-footer
    a(ng-click="startUpgrade()").btn.btn-md.btn-green {{:: "UPGRADE" | translate}}
    a(ng-click="cancel()").btn.btn-md.btn-default {{:: "TEXT_CANCEL" | translate}}

app/dist/views/modal/upgrade-modal.html

<div class="modal-header">
  <h4 class="modal-title">Upgrade voltooien</h4>
</div>
<div class="modal-body" ng-init="getOptions()">
  <p>U staat op het punt om uw account te upgraden naar:</p>
  <table class="upgrade-overview">
    <tr>
      <td></td>
      <td></td>
      <th class="text-right">Prijs per maand</th>
    </tr>
    <tr>
      <th>Pakket</th>
      <td>{{upgrade.name}}</td>
      <td class="text-right">{{upgrade.price | currency: '€'}}</td>
    </tr>
    <tr ng-repeat="option in options">
      <th>{{option.name}}</th>
      <td>{{option.option}}</td>
      <td class="text-right">{{option.price | currency: '€'}}          </td>
    </tr>
    <tr>
      <th>Totaalprijs</th>
      <td></td>
      <td class="total-price text-right">{{upgrade.totalPrice | currency: '€'}}</td>
    </tr>
  </table>
  <h5>Hoe verder?</h5>
  <p>Na het klikken op 'Upgrade' zal u doorgestuurd worden naar onze betaalprovider Mollie. U zal een betaling van 1 cent moeten doen om toestemming te geven voor een automatische incasso.</p>
  <p>Daarna zullen de gekozen modules direct actief zijn en ontvangt u maandelijks een factuur wanneer er een nieuwe incasso gepland is.</p>
</div>
<div class="modal-footer"><a class="btn btn-md btn-green" ng-click="startUpgrade()">{{:: "UPGRADE" | translate}}</a><a class="btn btn-md btn-default" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>
