app/dist/views/modal/view-task-modal.html

<div class="modal-header">
  <h4 class="modal-title">{{:: "VIEW_TASK" | translate}}</h4>
</div>
<div class="modal-body" ng-init="getTaskDetails()">
  <h3>{{todoTask.title}}</h3>
  <p>{{task[language].description}}</p>
  <p>{{:: "PLANNED_ON" | translate}} {{todoTask.date | date: 'dd-MM-yyyy'}}</p>
  <div ng-show="task.type == 'facebook'"><a class="btn btn-green" ng-click="downloadFiles()">{{:: "DOWNLOAD_FILES_FOR_" | translate}}Facebook</a> <a class="btn btn-yellow" ng-click="executeTaskFacebook()">Facebook{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}</a></div>
  <div ng-show="task.type == 'instagram'"><a class="btn btn-green" ng-click="downloadFiles()">{{:: "DOWNLOAD_FILES_FOR_" | translate}}Instagram</a> <a class="btn btn-yellow" ng-click="executeTaskInstagram()">Instagram{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}</a></div>
  <div ng-show="task.type == 'pinterest'"><a class="btn btn-green" ng-click="downloadFiles()">{{:: "DOWNLOAD_FILES_FOR_" | translate}}Pinterest</a> <a class="btn btn-yellow" ng-click="executeTaskPinterest()">Pinterest{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}</a></div>
  <div ng-show="task.type =='order'"><a class="btn btn-green" ng-click="orderTask()">{{:: "TO_ORDER" | translate}}</a></div>
</div>
<div class="modal-footer"><a class="btn btn-lg" ng-click="closeModal()">{{:: "SAVE_AND_CLOSE" | translate}}</a><a class="btn btn-lg" ng-click="cancel()">{{:: "TEXT_CANCEL" | translate}}</a></div>

app/src/views/modal/view-task-modal.pug
.modal-header
    h4.modal-title {{:: "VIEW_TASK" | translate}}
.modal-body(ng-init="getTaskDetails()")
    h3 {{todoTask.title}}
    p {{task[language].description}}

    p {{:: "PLANNED_ON" | translate}} {{todoTask.date | date: 'dd-MM-yyyy'}}

    div(ng-show="task.type == 'facebook'")
        a.btn.btn-green(ng-click="downloadFiles()") {{:: "DOWNLOAD_FILES_FOR_" | translate}}Facebook
        | 
        a.btn.btn-yellow(ng-click="executeTaskFacebook()") Facebook{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}
    div(ng-show="task.type == 'instagram'")
        a.btn.btn-green(ng-click="downloadFiles()") {{:: "DOWNLOAD_FILES_FOR_" | translate}}Instagram
        | 
        a.btn.btn-yellow(ng-click="executeTaskInstagram()") Instagram{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}
    div(ng-show="task.type == 'pinterest'")
        a.btn.btn-green(ng-click="downloadFiles()") {{:: "DOWNLOAD_FILES_FOR_" | translate}}Pinterest
        | 
        a.btn.btn-yellow(ng-click="executeTaskPinterest()") Pinterest{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}
    div(ng-show="task.type =='order'")
        a.btn.btn-green(ng-click="orderTask()") {{:: "TO_ORDER" | translate}}

.modal-footer
    a(ng-click="closeModal()").btn.btn-lg {{:: "SAVE_AND_CLOSE" | translate}}
    a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}
