app/dist/views/modal/wholesaler-details-modal.html

<div class="container">
  <div class="row" ng-init="loadWholesaler()">
    <div class="col-md-12">
      <h3>{{:: "EDIT_COMPANY" | translate}}</h3>
    </div>
    <div class="col-md-12">
      <h5>{{:: "GENERAL_INFO" | translate}}</h5>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="shopname">{{:: "COMPANY_NAME" | translate}}</label>
            <input class="form-control" id="shopname" type="text" disabled="disabled" ng-model="wholesaler.name" placeholder="{{:: &quot;COMPANY_NAME&quot; | translate}}"/>
            <label for="slug">Slug</label>
            <input class="form-control disabled" id="slug" type="text" disabled="disabled" ng-model="wholesaler.nameSlug" placeholder="Slug"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="email">{{:: "TEXT_EMAILADRESS" | translate}}</label>
            <input class="form-control" id="email" type="text" ng-model="wholesaler.email" placeholder="{{:: &quot;INPUT_EMAILADRESS&quot; | translate}}" disabled="disabled"/>
            <label for="website">{{:: "TEXT_WEBSITE" | translate}}</label>
            <input class="form-control" id="website" type="text" ng-model="wholesaler.website" placeholder="{{:: &quot;TEXT_WEBSITE&quot; | translate}}" disabled="disabled"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <h5>{{:: "ADDRESS" | translate}}</h5><br/>{{wholesaler.address.houseNumber}}{{space}}{{wholesaler.address.houseNumberSuffix }}{{space}}{{wholesaler.address.street }}{{space}}{{wholesaler.address.city }}{{space}}{{wholesaler.address.country }}{{space}}{{wholesaler.address.postalCode }}
        </div>
      </div>
      <div class="col-md-4" ng-init="getBrands()">
        <h5>{{:: "BRANDS" | translate}}</h5>
        <div class="list-group"><a class="list-group-item clearfix" ng-repeat="brand in wholesaler.brands"><span>{{brand.name}}</span></a></div>
      </div>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-md-12">
      <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">{{alert.msg}}</div>
      <input class="btn btn-lg btn-green" type="submit" ng-click="modalClosed()" style="float:right" value="{{:: &quot;OK&quot; | translate}}"/>
    </div>
  </div>
</div>

app/src/views/modal/wholesaler-details-modal.pug
.container
  .row(ng-init='loadWholesaler()')
    .col-md-12
      h3 {{:: "EDIT_COMPANY" | translate}}
    .col-md-12
      h5 {{:: "GENERAL_INFO" | translate}}
      .row
        .col-md-4
          .form-group
            label(for='shopname') {{:: "COMPANY_NAME" | translate}}
            input#shopname.form-control(type='text', disabled='disabled',ng-model='wholesaler.name', placeholder='{{:: "COMPANY_NAME" | translate}}')
          
            label(for='slug') Slug
            input#slug.form-control.disabled(type='text', disabled='disabled', ng-model='wholesaler.nameSlug', placeholder='Slug')
        .col-md-4
          .form-group
            label(for='email') {{:: "TEXT_EMAILADRESS" | translate}}
            input#email.form-control(type='text', ng-model='wholesaler.email', placeholder='{{:: "INPUT_EMAILADRESS" | translate}}', disabled='disabled')
            label(for='website') {{:: "TEXT_WEBSITE" | translate}}
            input#website.form-control(type='text', ng-model='wholesaler.website', placeholder='{{:: "TEXT_WEBSITE" | translate}}', disabled='disabled')
      .row
        .form-group
          h5 {{:: "ADDRESS" | translate}}
          br
          | {{wholesaler.address.houseNumber}}{{space}}{{wholesaler.address.houseNumberSuffix }}{{space}}{{wholesaler.address.street }}{{space}}{{wholesaler.address.city }}{{space}}{{wholesaler.address.country }}{{space}}{{wholesaler.address.postalCode }}
        
      .col-md-4(ng-init='getBrands()')
        h5 {{:: "BRANDS" | translate}}
        
        .list-group
          a.list-group-item.clearfix(ng-repeat='brand in wholesaler.brands')
            span {{brand.name}}
  br
  .row
    .col-md-12
      div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type", close='closeAlert(alert)') {{alert.msg}}
      input.btn.btn-lg.btn-green(type='submit', ng-click='modalClosed()', style="float:right" value='{{:: "OK" | translate}}')
