app/src/views/grapes/editor-page.pug
style.
      /*--slick slider image--*/
    .slick-dots li button{
      display:none;
    }
    .content {
      background: #e4e4e494 !important;
      padding-top: 1px !important;
    }
    .slick-next, .slick-prev {
      font-size: 0;
      line-height: 0;
      top: 35% !important;
      width: 20px;
      height: 20px;
      
      transform: translate(0,-50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: 0;
      background: 0 0;
    }
div
  nav.navbar.navbar-inverse.nav-page-builder(ng-if='editorHide')
    .container-fluid
      .navbar-header
        a.navbar-brand(ui-sref='editor') {{:: "DESIGN_YOUR_WEBSITE" | translate}}
      button#homePage.btn.btn-default.navbar-btn(type='button', ng-click="path('index','homePage')") {{:: "HOME" | translate}}
      button#productsPage.btn.btn-primary.navbar-btn(type='button', ng-click="path('products','productsPage')") {{:: "PRODUCTS" | translate}}
      button#brandsPage.btn.btn-primary.navbar-btn(type='button', ng-click="path('brands','brandsPage')") {{:: "BRANDS" | translate}}
      button#campaignsPage.btn.btn-primary.navbar-btn(type='button', ng-click="path('campaigns','campaignsPage')") {{:: "CAMPAIGNS" | translate}}
      button#reviewsPage.btn.btn-primary.navbar-btn(type='button', ng-click="path('reviews','reviewsPage')") {{:: "REVIEWS" | translate}}
      button#contactPage.btn.btn-primary.navbar-btn(type='button', ng-click="path('contact','contactPage')") {{:: "CONTACT" | translate}}
      button#changeTemplate.btn.btn-primary.navbar-btn(type='button', ng-click="chooseTemplate()") {{:: "CHANGE TEMPLATE" | translate}}
      //-button#tosPage.btn.btn-primary.navbar-btn(type='button', ng-click="") {{:: "TOS" | translate}}
      //-button#privacyPolicyPage.btn.btn-primary.navbar-btn(type='button', ng-click="") {{:: "PRIVACY POLICY" | translate}}
	   
      button.btn.btn-warning.navbar-btn(type='button', ng-click='save()') {{:: "SAVE" | translate}}
      //- these buttons can be combined into one dropdown button
      button.btn.btn-primary.navbar-btn(type='button', ng-click='') {{:: "MENU_LAYOUT" | translate}}
      button.btn.btn-primary.navbar-btn(type='button', ng-click='addCustomPage()') {{:: "ADD PAGE" | translate}}
      button.btn.btn-danger.navbar-btn(type='button', style='float:right', ng-click='exit()') {{:: "EXIT" | translate}}
      button.btn.btn-success.navbar-btn(type='button', style='float:right', ng-click='publish()') {{:: "PUBLISH" | translate}}
      span.navbar-btn.btn(style='color:white !important; float:right') {{websiteName}}
#gjs(style='height: 100%; overflow: hidden; width: 100%; margin-top:-20px')

app/dist/views/grapes/editor-page.html

<style>
    /*--slick slider image--*/
  .slick-dots li button{
    display:none;
  }
  .content {
    background: #e4e4e494 !important;
    padding-top: 1px !important;
  }
  .slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 35% !important;
    width: 20px;
    height: 20px;
    
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
  }
</style>
<div>
  <nav class="navbar navbar-inverse nav-page-builder" ng-if="editorHide">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" ui-sref="editor">{{:: "DESIGN_YOUR_WEBSITE" | translate}}</a></div>
      <button class="btn btn-default navbar-btn" id="homePage" type="button" ng-click="path('index','homePage')">{{:: "HOME" | translate}}</button>
      <button class="btn btn-primary navbar-btn" id="productsPage" type="button" ng-click="path('products','productsPage')">{{:: "PRODUCTS" | translate}}</button>
      <button class="btn btn-primary navbar-btn" id="brandsPage" type="button" ng-click="path('brands','brandsPage')">{{:: "BRANDS" | translate}}</button>
      <button class="btn btn-primary navbar-btn" id="campaignsPage" type="button" ng-click="path('campaigns','campaignsPage')">{{:: "CAMPAIGNS" | translate}}</button>
      <button class="btn btn-primary navbar-btn" id="reviewsPage" type="button" ng-click="path('reviews','reviewsPage')">{{:: "REVIEWS" | translate}}</button>
      <button class="btn btn-primary navbar-btn" id="contactPage" type="button" ng-click="path('contact','contactPage')">{{:: "CONTACT" | translate}}</button>
      <button class="btn btn-primary navbar-btn" id="changeTemplate" type="button" ng-click="chooseTemplate()">{{:: "CHANGE TEMPLATE" | translate}}</button>
      <button class="btn btn-warning navbar-btn" type="button" ng-click="save()">{{:: "SAVE" | translate}}</button>
      <button class="btn btn-primary navbar-btn" type="button" ng-click="">{{:: "MENU_LAYOUT" | translate}}</button>
      <button class="btn btn-primary navbar-btn" type="button" ng-click="addCustomPage()">{{:: "ADD PAGE" | translate}}</button>
      <button class="btn btn-danger navbar-btn" type="button" style="float:right" ng-click="exit()">{{:: "EXIT" | translate}}</button>
      <button class="btn btn-success navbar-btn" type="button" style="float:right" ng-click="publish()">{{:: "PUBLISH" | translate}}</button><span class="navbar-btn btn" style="color:white !important; float:right">{{websiteName}}</span>
    </div>
  </nav>
</div>
<div id="gjs" style="height: 100%; overflow: hidden; width: 100%; margin-top:-20px"></div>
